
@大規模エリア建設条件_海エリア(建築位置)
#DIM 建築位置
;一個まで
SIF MATCH(開拓エリア開発番号, 大規模番号_海エリア) > 0
	RETURN 0
;イベント見ること
SIF 海作成許可フラグ < 1
	RETURN 0

RETURN 1

@大規模エリア解説文章_海エリア
LOCALS = 
LOCALS += "借助星晶兽之力生成的海洋区域。<br>"
LOCALS += "角色在此区域默认以泳装状态行动。更衣室内可窥视异性侧。<br>"
LOCALS += "海水浴场设有抢滩旗游戏，码头配备钓鱼等专属指令。<br>"
LOCALS += "<br>"
LOCALS += "※其他设施将在后续开发中陆续追加。<br>"

詳細文文字列受け渡し変数 = %LOCALS%

;建設値段を返す
RETURN 3000000

@MAP_VIEWING_3(AA)
#DIMS REF AA, 0
TRYCALLFORM MAP_RESORT_3_{TFLAG:マップ種別}(AA)

@エリア情報登録_3(ARGS)
SELECTCASE ARGS
	CASE "エリア名"
		TSTR:場所名受渡 = 海エリア
	CASE "エリア移動可能場所"
		RETURN 1
ENDSELECT



@MAP_RESORT_3_0(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
AA:(MAP++) = ＼＿..　..　..　..　..　..　..　..　..　..　↑　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　＼..　..　..　..　..　..　..　..　..　..08..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ
AA:(MAP++) = 　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　　　丶..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ
AA:(MAP++) = 　　　　├───┐　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　06　├───┘..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　　　├───┐　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／ 
AA:(MAP++) = 　　　　├───┘..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／ 
AA:(MAP++) = 　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　
AA:(MAP++) = 　　　　 丶　 ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　
AA:(MAP++) = 　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　
AA:(MAP++) = 　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　　
AA:(MAP++) = 　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ＿＿＿／　　　　　　　　
AA:(MAP++) = 　　　　　 丶 ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　　　　　
AA:(MAP++) = 　　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.ォ｜　　　　　　　　　　　　　
AA:(MAP++) = 　　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　 ＿＿　　　　
AA:(MAP++) = 　　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.. ォ｜　　　　　  ／　　＼　　　
AA:(MAP++) = 　　　　　　丶..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.ォ｜　　　　　 ┃　　　┃　　　
AA:(MAP++) = 　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　┃　　　┃　　　
AA:(MAP++) = 　　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.. ォ｜　 　　　　　┃　　　┃　　　
AA:(MAP++) = 　　　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　┃　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　＼＿＿..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　 　／　　 　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　＼＿＿＿　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　＼＿＿＿..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　　┃　　　　┃　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　＼＿　..　..　..　..ォ＿＿＿＿＿＿＿＿＿／　　　　　　　　　　┃　　　　┃　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　＼＿＿＿＿＿＿／　　　　　　　　　　　　　　　　　　 　／　　　　／　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　03　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　◯　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　◯　　◯　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　◯　　◯　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　＿／　　　 　┃　　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃07　　　　
AA:(MAP++) = 　　　　　　　　┌─────┐　　┌─┐┌─┐　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃　　　　　
AA:(MAP++) = 　　　　　　　　│　　　　　│　　│　││　│　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　│　　02　　│　　│04││05│　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　 　＼　　　　
AA:(MAP++) = 　　01　　　　　│　　　　　│　　│　││　│　　　　　　　　　　　　　　　　　　　　　　　 　／　　　　　　　　＼　　　
AA:(MAP++) = 　　　　　　　　└─────┘　　└─┘└─┘　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　　　 　＼
AA:(MAP++) = 
AA:(MAP++) = 01：海水浴场入口　　02：海之家　　　　　03：海水浴场　　　　04：男更衣室　　　　05：女更衣室
AA:(MAP++) = 06：码头　　　　　　07：礁石区　　　　　08：前往外海




@GETPLACENAME_3_0(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 海水浴场入口
	CASE 2
		TSTR:場所名受渡 = 海之家
	CASE 3
		TSTR:場所名受渡 = 海水浴场
	CASE 4
		TSTR:場所名受渡 = 男更衣间
	CASE 5
		TSTR:場所名受渡 = 女更衣间
	CASE 6
		TSTR:場所名受渡 = 码头
	CASE 7
		TSTR:場所名受渡 = 礁石区
	CASE 8
		TSTR:場所名受渡 = 外海
ENDSELECT

@DRAW_MAP_BG_3_0(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
#DIM 改行フラグ

SELECTCASE SLICED
	CASE "."
		IF STRFIND(表示文字列, "<font color='#0073E6'>") < 0
			表示文字列 += @"<font color='#0073E6'>%SLICED%"
		ELSE
			表示文字列 += "."
		ENDIF
	CASE "ォ"
		表示文字列 += "</font>"
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT

改行フラグ = 0


@エリア来訪時イベント_3

IF 海初来訪イベントフラグ == 0
	DRAWLINE
	PRINTL ［初次造访：海洋区域］
	DRAWLINE
	PRINTW
	PRINTFORMW %CALLNAME:PLAYER%开拓岛屿后造访了新建的海洋区域。
	PRINTFORMW 已有数名消息灵通的游客在此游玩，或在沙滩戏浪，或于海之家享用美食。
	PRINTL 
	PRINTFORMW 运用星晶兽之力与ZP构筑的海洋澄澈美丽，白浪轻抚着静谧的沙滩。
	PRINTFORMW 目前虽是平平无奇的海水浴场，未来可逐步增添更多娱乐设施。
	PRINTFORMW 诸如漫步深海古战场副本般的海底步道、乘船出海垂钓等构想皆有可能（※尚未实装）。
	PRINTL
	PRINTFORMW 此外，当前仅有普通鱼类栖息，未来或许会出现奥古斯提的海产生物（※尚未实装）。
	PRINTFORMW 虽能成为特色物产，但作为度假村需提前规划应对措施。
	PRINTFORMW 不过眼下不必思虑过多。
	PRINTFORMW 沐浴阳光健康地在海边嬉戏，便是此刻的最佳选择。
	PRINTL
	SETCOLOR カラーパレット("黄")
	PRINTFORMW 海洋区域建成后获得普通服装「泳装」。
	PRINTFORMW 海洋区域建成后获得普通服装「浴袍」。
	RESETCOLOR
	CALL 制服登録処理("泳装")
	CALL 制服登録処理("浴衣")
	海初来訪イベントフラグ = 1
ENDIF


@海改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 发展海洋区域，增加区域功能和设施。<br><br>
LOCALS += @"■[海洋区域发展] Lv{海改造度:0:0}：上限<br>"
LOCALS += "└■活用外海区域<br>"
LOCALS += "　├"
IF 海改造度:6:0 < 1
	LOCALS += "<button value='260'>[购买渔船]</button><br>"
ELSE
	LOCALS += "[购买渔船]　已购买<br>"
ENDIF
LOCALS += @"　├"
IF 海改造度:6:1 < 1
	LOCALS += "<button value='261'>[购买观光船]</button><br>"
ELSE
	LOCALS += "[购买观光船]　已购买<br>"
ENDIF
LOCALS += @"　└"
IF 海改造度:6:2 < 1
	LOCALS += "<button value='262'>[海底漫步实用化]</button>"
ELSE
	LOCALS += "[海底漫步实用化]　已实用化"
ENDIF


RETURNF LOCALS


@海系列改造実行関数(ARG)

SELECTCASE ARG
	CASE 260
		DRAWLINE
		PRINTL 购买渔船后，将开始前往外海捕鱼。
		PRINTL 每日可获得随机鱼类素材。
		PRINTL 
		PRINTL 要购买渔船吗？（需要:30,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 30000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				海改造度:6:0 = 1
				MONEY -= 30000
				PRINTL 已购买渔船！
				PRINTW (每日获得随机鱼类素材)
				CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"在海洋区域购买了渔船","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
	CASE 261
		DRAWLINE
		PRINTL 购买观光船后，将开始搭载游客观察海洋生物之旅。
		PRINTL 度假村的人气度上限提升。
		PRINTL 
		PRINTL 要购买观光船吗？（需要:20,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 20000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				海改造度:6:1 = 1
				MONEY -= 20000
				PRINTL 已购买观光船！
				PRINTW (度假村人气度上限提升)
				CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"在海洋区域购买了观光船","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
	CASE 262
		DRAWLINE
		PRINTL 将能在海底漫步的魔法实用化，用于观光事业。
		PRINTL 度假村人气度上限提升，战斗时水属性抗性小幅提升。
		PRINTL 
		PRINTL 要研究魔法吗？（需要:50,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 50000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				海改造度:6:2 = 1
				MONEY -= 50000
				PRINTL 海底漫步魔法已实用化！
				PRINTW (度假村人气度上限提升，水属性抗性提升)
				CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"在海洋区域实用化了海底漫步魔法","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
ENDSELECT


@海エリア漁処理()
#DIM 入手量
#DIM 入手カウント
#DIM 候補数
#DIMS 入手名
#DIM 改行カウント

VARSET RESULT
;ランダムに魚をランダムな数入手
入手量 = RAND:5 + 3
候補数 = DT_SELECT("所持素材データベース", "素材カテゴリ = '食物素材' And 食材分類 = '魚'")

RSTR:その他報告_記録文字列 += "　　乘渔船捕鱼"
改行カウント = STRLENS("　　乘渔船捕鱼")
FOR 入手カウント, 0, 入手量
	;とりあえず完全ランダム
	入手名 '= DT_CELL_GETS("所持素材データベース", RESULT:(RAND:候補数 + 1), "素材アイテム名", 1)
	CALL 素材入手処理(入手名, 1)
	IF 入手カウント > 0
		RSTR:その他報告_記録文字列 += "，"
		改行カウント += STRLENS(入手名) + 2
	ELSE
		改行カウント += STRLENS(入手名)
	ENDIF
	IF 改行カウント >= 55
		改行カウント = 0
		RSTR:その他報告_記録文字列 += "<br>"
	ENDIF
	RSTR:その他報告_記録文字列 += @"%入手名%"
NEXT
RSTR:その他報告_記録文字列 += @"获得了！"

;従業員分を追加
RSTR:その他報告_記録文字列 += RSTR:漁師結果一時保存
