;-------------------------------------------------
;各種打招呼
;-------------------------------------------------
@KOJO_GREETING_K57, ARGS
#DIM MEMO_LINECOUNT
;イベント発生中の角色
#DIM ACTOR
;イベント発生中の角色の默认のCALLNAME
#DIMS CALLNAME_ACTOR

MEMO_LINECOUNT = LINECOUNT

SELECTCASE ARGS
CASE "朝拘束"

;朝のＨイベントでのセリフ。下の"打招呼"だけ書いてあれば十分だと思います
;ここでCALL SETFLAG, "地の文スキップ"すると地の文、経験表示、本来なら続いて表示される下のCASE "打招呼"の台詞、を全てすっ飛ばせます(上級者向け)
;詳しくは@EVENT_NEWDAYの注釈などを見てください
CASE "朝袭"
		SELECTCASE CSTR:朝袭
		CASE "朝逆正常位"

		CASE "朝舐陰"

		CASE "朝足交"

		CASE "朝の新妻PLAY"

		CASE "朝乳交"

		CASE "朝騎乗位"

		CASE "朝Ａ騎乗位"

		CASE "朝接吻"

		CASE "朝添い寝"

		CASE "朝口交", "朝六九式"

		ENDSELECT
;朝のＨイベント終了後にする打招呼
CASE "打招呼"
	IF AIZOU() && CSTR:朝袭 != ""
		CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "通常")%」"
		CALL PRINT_STRW, @"「%CNAME("二人称")%什么的……%CNAME("二人称")%讨厌死了……%PANT_K57(TARGET, "要", "通常")%」"
	ELSE
		SELECTCASE CSTR:朝袭
		CASE "朝拘束"
			PRINTFORMW 「%CNAME("一人称")%、一直在等你哦？」
			PRINTFORMW 「还在想什么时候会来、又会做些什么呢……」
			PRINTFORMW 「但是%CNAME("二人称")%、一直都在和其他孩子做H的事情」
			PRINTFORMW 「所以除了这样没有其他办法了嘛」
			CALL PRINT_STRW, @"「……%CNAME("二人称")%、做好觉悟了吗_H_」"
		CASE "朝口交"
			IF CEVENT("接吻の虜")
				CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 5)%」"
				CALL PRINT_STRW, @"「……啊、早上好……%PANT_K57(TARGET, "要", "Ｍ異物")%」"
				SELECTCASE RAND:5
				CASE 0
					CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 2+RAND:2)%\@SIZE("阴茎", PLAYER) >= 2 ? 好大 # 好硬\@……_H_」"
				CASE 1
					CALL PRINT_STRW, @"「这个……光是舔着就要去了……%PANT_K57(TARGET, "要", "Ｍ異物", 3)%」"
				CASE 2
					CALL PRINT_STRW, @"「啊哈……味道好色哦……_H_」"
				CASE 3
					PRINTFORMW 「啊、鸡鸡跳了一下」
					CALL PRINT_STRW, @"「……要%CNAME("一人称")%继续一边舔一边说话吗_H_」"
				CASE 4
					CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 5)%」"
					CALL PRINT_STRW, @"「再等一下……%PANT_K57(TARGET, "要", "Ｍ異物", 3)%」"
				ENDSELECT
			ELSEIF TALENT:淫乱
				PRINTFORMW 「早、早上好~、%CNAME("二人称")%」
				SELECTCASE RAND:5
				CASE 0
					CALL PRINT_STRW, @"「……然后、谢谢招待_H_」"
				CASE 1
					CALL PRINT_STRW, @"「……还可以、再舔一会儿吗_H_」"
				CASE 2
					CALL PRINT_STRW, @"「呼呼_H_黏黏的精液还在流出来呢……_H_」"
				CASE 3
					PRINTFORMW 「对不起、再等一下……」
					CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 5)%」"
				CASE 4
					PRINTFORMW 「……还没满足吗？」
					CALL PRINT_STRW, @"「不过，%CNAME("一人称")%也是呢_H_」"
				ENDSELECT
			ELSE
				CALL PRINT_STRW, @"「啊……早、早上好……%CNAME("二人称")%……_H_」"
				PRINTDATAW
					DATA 「……刚才的事就当没看到吧」
					DATA 「……呃，那个……」
					DATA 「……刚才的不算……」
				ENDDATA
			ENDIF
		CASE "朝の新妻PLAY"
			PRINTFORMW 「啊，早上好！」
			PRINTFORMW 「饭已经做好放那儿了……诶，等等……！」
			IF TALENT:淫乱
				SELECTCASE RAND:5
				CASE 0
					CALL PRINT_STRW, @"「……真是的，%CNAME("一人称")%也有感觉了_H_」"
				CASE 1
					CALL PRINT_STRW, @"「……%CNAME("二人称")%真色啊_H_」"
				CASE 2
					PRINTFORMW 「……一大早就做这种色色的事啊」
					CALL PRINT_STRW, @"「嘿嘿，和%CNAME("二人称")%在一起就会变得越来越色呢_H_」"
				CASE 3
					PRINTFORMW 「……呵呵，%CNAME("二人称")%这个色鬼」
					CALL PRINT_STRW, @"「今天还要上学呢，别迟到了哟_H_」"
				CASE 4
					CALL PRINT_STRW, @"「早上就来一发中出爱爱，怎么样_H_」"
				ENDSELECT
			ELSE
				IF RAND:2
					PRINTFORMW 「……难、难道一大早就想做那种事吗……？」
				ELSE
					PRINTFORMW 「唔、唔……」
					CALL PRINT_STRW, @"「……%CNAME("二人称")%真色……_H_」"
				ENDIF
			ENDIF
		CASE "朝Ａ騎乗位"
			CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "通常")%早上好……%CNAME("二人称")%……_H_」"
			IF CEVENT("肛門の虜")
				SELECTCASE RAND:6
				CASE 0
					CALL PRINT_STRW, @"「啊_H_屁穴好舒服_H_」"
					CALL PRINT_STRW, @"「再来……再激烈点操屁穴……_H_」"
				CASE 1
					CALL PRINT_STRW, @"「好腻害……插到屁穴深处了……_H_」"
					CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "通常", 5)%」"
				CASE 2
					CALL PRINT_STRW, @"「啊哈_H_啊_H_啊嗯_H_啊_H_」"
					CALL PRINT_STRW, @"「这样的话_H_肯定会上瘾的_H_」"
				CASE 3
					CALL PRINT_STRW, @"「还要_H_还要更多的被这样操_H_」"
					CALL PRINT_STRW, @"「更过分地侵犯%CNAME("一人称")%的屁穴,把%CNAME("一人称")%变成女孩子吧_H_」"
				CASE 4
					CALL PRINT_STRW, @"「啊_H_早_H_早上好_H_」"
					CALL PRINT_STRW, @"「等下_H_怎么变得这么大了啊_H_」"
				CASE 5
					CALL PRINT_STRW, @"「啊哈_H_这个_H_好厉害_H_」"
					CALL PRINT_STRW, @"「一大早就这么激烈_H_啊_H_啊_H_啊_H_」"
				ENDSELECT
			ELSEIF TALENT:淫乱
				IF RAND:2
					CALL PRINT_STRW, @"「啊_H_这个_H_好棒_H_」"
					CALL PRINT_STRW, @"「操我_H_操我_H_嗯_H_啊_H_啊_H_啊嗯_H_」"
				ELSE
					CALL PRINT_STRW, @"「啊哈_H_啊_H_啊_H_」"
					CALL PRINT_STRW, @"「操我_H_更激烈地侵犯我吧_H_」"
				ENDIF
			ELSE
				SELECTCASE RAND:5
				CASE 0
					CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "通常")%对不起~_H_好好射出来%CNAME("一人称")%就离開~……%PANT_K57(TARGET, "要", "通常")%」"
				CASE 1
					CALL PRINT_STRW, @"「……%CNAME("二人称")%的鸡鸡、好硬啊……_H_」"
				CASE 2
					CALL PRINT_STRW, @"「做这种事被知道了的话~_H_%PANT_K57(TARGET, "要", "通常")%肯定会变奇怪的啦……~_H_%PANT_K57(TARGET, "要", "通常")%」"
				CASE 3
					CALL PRINT_STRW, @"「啊哈，鸡鸡还是这么硬呢……_H_」"
				CASE 4
					CALL PRINT_STRW, @"「呼呼，再来做……嗯……_H_」"
				ENDSELECT
			ENDIF
		CASE "朝騎乗位"
			CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "通常")%早上好……%CNAME("二人称")%……_H_」"
			IF TALENT:淫乱
				SELECTCASE RAND:5
				CASE 0
					CALL PRINT_STRW, @"「啊_H_%CNAME("二人称")%的鸡巴变得更硬了_H_」"
				CASE 1
					CALL PRINT_STRW, @"「啊哈_H_忍不住了，把床弄得湿漉漉的……_H_」"
				CASE 2
					CALL PRINT_STRW, @"「赶紧来惩罚一下%CNAME("一人称")%这淫乱的小穴吧_H_」"
				CASE 3
					CALL PRINT_STRW, @"「%CNAME("一人称")%已经离不開插入肉棒的生活了……_H_」"
				CASE 4
					CALL PRINT_STRW, @"「啊_H_对不起_H_腰停不下来了_H_」"
				ENDSELECT
			ELSEIF TALENT:淫壷 || TALENT:Ｖ性向
				SELECTCASE RAND:5
				CASE 0
					CALL PRINT_STRW, @"「啊哈_H_好舒服_H_%CNAME("一人称")%一直这样当女孩子也可以_H_」"
				CASE 1
					CALL PRINT_STRW, @"「小穴那边_H_一直好舒服_H_」"
				CASE 2
					CALL PRINT_STRW, @"「啊哈_H_咕啾咕啾的，发出好色的声音……_H_」"
				CASE 3
					CALL PRINT_STRW, @"「一直有色色的%TEXTS("气味")%_H_小穴也好舒服_H_」"
				CASE 4
					CALL PRINT_STRW, @"「啊哈_H_再来_H_肉棒再插进来_H_」"
				ENDSELECT
			ELSE
				SELECTCASE RAND:5
				CASE 0
					CALL PRINT_STRW, @"「明明很害羞，腰却停不下来……_H_」"
				CASE 1
					CALL PRINT_STRW, @"「啊_H_别突然动啊_H_」"
				CASE 2
					CALL PRINT_STRW, @"「脑袋里，全是色色的事情……_H_」"
				CASE 3
					CALL PRINT_STRW, @"「……啊，%CNAME("一人称")%的鸡鸡，又变大了……_H_」"
				CASE 4
					CALL PRINT_STRW, @"「……就这样，在里面射精吧……_H_」"
				ENDSELECT
			ENDIF
		CASE "朝接吻"
			SELECTCASE RAND:3
			CASE 0
				CALL PRINT_STRW, @"「……嘿嘿~_H_%CNAME("二人称")%早啊」"
				CALL PRINT_STRW, @"「这个样子接吻、有点像、恋人一样呢……_／／／_」"
			CASE 1
				CALL PRINT_STRW, @"「唔、呜哇——……亲、亲亲了……_H_」"
				PRINTFORMW 「嘿嘿嘿、诶嘿嘿……」
			CASE 2
				PRINTFORMW 「……呐、呐！　这样是不是有点像大人？」
				PRINTFORMW 「这、这、这样子，早上刚睡醒就亲亲……」
			ENDSELECT
		CASE "Ｗ朝口交"
			CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 3+RAND:3)%」"
			PRINTFORMW 「……诶、%CNAME("二人称", "どもり")%……！？」
			PRINTFORMW 「……呜……」
			PRINTFORMW 「……诶！　这、这个！」
		CASE "朝添い寝"
			IF AIZOU()
				PRINTFORMW 「………………………………」
				PRINTFORMW 「…………仅限今天，就让%CNAME("一人称")%这么做吧……」
			ELSE
				SELECTCASE RAND:5
				CASE 0
					PRINTFORM 「嘿嘿嘿……%CNAME("二人称")%，好暖和。
					SELECTCASE TEXTS("季節")
					CASE "春"
						PRINTFORMW 真想就这样一直睡下去……」
					CASE "夏"
						PRINTFORMW 外面那么热，但是还想贴着你，不可思议……」
					CASE "秋"
						PRINTFORMW 外面越来越冷了，但是%CNAME("二人称")%还是一样暖和……」
					CASE "冬"
						PRINTFORMW 外は寒いのに%CNAME("二人称")%だけ暖かくて、なんか不思議……」
					ENDSELECT

					IF COND("種族：吸血鬼")
						PRINTFORMW 「……%CNAME("二人称")%，不会觉得%CNAME("一人称")%的身体冷吗？　没问题？　太好了……」
					ELSE
						PRINTFORMW 「……真的吗？　……无所谓啦。不管是真是假，对%CNAME("一人称")%来说都是温暖安心的……」
					ENDIF
				CASE 1
					CALL PRINT_STRW, @"「……嘿嘿嘿~_H_%CNAME("二人称", "かな")%……_H_」"
					CALL PRINT_STRW, @"「嗯~……%CNAME("二人称")%好暖和……_H_」"
				CASE 2
					PRINTFORMW 「呼呼……早上好，%CNAME("二人称")%」
					PRINTFORMW 「……再多待一会儿，不行吗？」
				CASE 3
					PRINTFORMW 「呼……嗯……」
					PRINTFORMW 「……唔！？　早、早上好……」
				CASE 4
					PRINTFORMW 「嘿嘿、%CNAME("二人称")%早上好」
					PRINTFORMW 「……嗯，仔、仔细想想，这个，怎么说呢……」
					CALL PRINT_STRW, @"「有、有点像热恋的感觉呢……_／／／_」"
				ENDSELECT
			ENDIF
		ENDSELECT
	ENDIF

	;何か発言してたらここまで
	SIF LINECOUNT > MEMO_LINECOUNT
		RETURN 1

	IF AIZOU()
		PRINTDATAW
			DATA 「……早上了哦」
			DATA 「……」
		ENDDATA
	ELSEIF COND("体育")
		PRINTFORMW 「今天是体育课哦~！」
		PRINTDATAW
			DATAFORM 「%CNAME("二人称")%，课后一起跑步吧！」
			DATAFORM 「快点！　%CNAME("二人称")%也快来！」
			DATALIST
				DATA 「有个跑得特别快的家伙——！」
				DATA 「绝对绝对，总有一天要追上他……！」
			ENDLIST
			DATALIST
				DATA 「跑步也好，踢足球也行……！」
				DATA 「……啊，但排球就有点苦手了……」
			ENDLIST
			DATA 「今天也要加油——！」
		ENDDATA
	ELSEIF DAYEV("新年")
		PRINTFORMW 「喂——！　今天是正月了哦~！」
		PRINTFORMW 「%CNAME("二人称")%说过喜欢的那个节目、再不起来就要開始咯！」
	ELSEIF DAYEV("万圣节")
		PRINTFORMW 「%CNAME("二人称")%！　不给糖就捣蛋！」
		PRINTFORMW 「……啊、难道说%CNAME("二人称")%家里不会做这些吗？」
		IF COND("種族：吸血鬼") == 0 || CEVENT("極夜の和解")
			PRINTFORMW 「我家的话、每到万圣节的时候都会打扮成这样讨要糖果哦、该怎么说呢、就像变装一样？　差不多就像这样的感觉」
			PRINTFORMW 「\@COND("種族：吸血鬼") ? 说不定这是父亲以前的衣服也说不定 # 也不知道是为什么\@、我家就会穿上这样昂贵的衣服」
			IF COND("種族：吸血鬼") && RAND:2
				PRINTFORMW 「哼~哼~哼~、现在可是真正的吸血鬼哦。怎么样？　合身吗？」
			ELSE
				PRINTFORMW 「……啊！　当然现在不会这样了！」
				PRINTFORMW 「这只是为了让社团里的大家大吃一惊什么的……」
				IF TALENT:相思相愛 && RAND:3 == 0
					PRINTFORMW 「……对不起%CNAME("一人称")%撒谎了」
					PRINTFORMW 「其实是想让%CNAME("二人称")%高兴才穿的，嗯」
				ENDIF
			ENDIF
		ENDIF
	ELSEIF DAYEV("情人節")
		PRINTFORMW 「说起来今天是情人节啊——」
		IF TALENT:恋慕
			PRINTFORMW 「……那、那个！」
			PRINTFORMW 「这、这个，给你……」
			CALL PRINT_STRW, @"_黄色_从%CALLNAME:TARGET%那里收到了巧克力！"
		ELSE
			PRINTFORMW 「那些从很多女孩子那里收到巧克力的家伙真厉害啊——」
			PRINTFORMW 「……难道%CNAME("二人称")%也是那种会收到很多的类型吗？」
		ENDIF
	ELSEIF DAYEV("圣诞节")
		PRINTFORMW 「今天是圣诞节呢！」
		PRINTFORMW 「以前爸爸妈妈也给%CNAME("一人称")%送过很多礼物呢」
		PRINTFORMW 「放在非常漂亮的盒子里，缎带也是%CNAME("一人称")%喜欢的那种」
		PRINTFORMW 「……%CNAME("二人称")%，你会送%CNAME("一人称")%礼物吗？　会吗？」
	ELSEIF DAYEV("七夕")
		PRINTFORMW 「今天是七夕呢！」
		;天気は晴天になる比率が低くなるようにする
		SELECTCASE RAND:10
		CASE IS >= 5
			PRINTFORMW 「虽然很遗憾今天是阴天，但还有各种庙会啊集市啊，好期待啊！」
		CASE IS >= 2
			PRINTFORMW 「嘛，虽然今天内衣大雨……」
			PRINTFORMW 「但是呢，还有各种各样的集市啊庙会啊，好期待啊！」
		CASEELSE
			PRINTFORMW 「今天是晴天呢，一起去看星星吧吧！」
		ENDSELECT
	ELSEIF DAYEV("文化祭")
		PRINTFORMW 「啊，说起来今天是文化祭的日子啊！」
		PRINTFORMW 「%CNAME("一人称")%的班级也很努力，一起去看看吧！」
	ELSE
		PRINTFORMW 「喂——！　早上了哦！」
		IF COND("種族：吸血鬼") && RAND:4 == 0
			PRINTFORMW 「……真是的，%CNAME("一人称")%也想晚上起床中午睡觉啊」
		ELSEIF RAND:3 == 0
			PRINTFORMW 「……唔，迟到了也不関我的事哦——」
		ELSEIF RAND:2
			PRINTFORMW 「真是的，%CNAME("一人称")%其实也想再睡一会儿」
		ELSE
			PRINTFORMW 「……真是的、%CNAME("一人称")%可是比你小哦？」
		ENDIF
	ENDIF
CASE "登校"
	IF CEVENT("お休み")
		PRINTFORMW 今天少见得没遇到%CALLNAME:TARGET%……
	ELSEIF AIZOU()
		;意図的に発言させない
	ELSEIF DAYEV("試験当日")
		PRINTFORMW 「说起来，今天是考试的日子呢」
		IF RAND:2
			IF BASE:学力 >= 90
				PRINTDATAW
					DATA 「へっへー、今回のヤツはものすっごく自信満々だぞー！」
					DATAFORM 「嘿嘿嘿——这次多亏了%CNAME("二人称")%感觉能考得很好——！」
					DATA 「这次我好好学习了，应该能得高分！」
					DATA 「这次……我超有自信的！」
					DATA 「哼哼哼，看到分数别吃惊哦——？」
				ENDDATA
			ELSE
				PRINTDATAW
					DATA 「……咕呜，今天努力就有奖励，今天努力就有奖励了……」
					DATA 「应该能行……大概，可能」
					DATA 「分、分数嘛……不、不用担心哦——？」
					DATALIST
						DATA 「啊，不会挂科的！」
						DATA 「……も、もしかしたら」
					ENDLIST
					DATA 「……能、能应付过去吗……」
				ENDDATA
			ENDIF
		ELSE
			IF BASE:学力 >= 70
				PRINTDATAW
					DATA 「……应、应该没问题的……！」
					DATA 「这次考试我有自信！　想、想这么说……」
					DATA 「这次应该没问题！　我觉得！」
					DATA 「这次我好好学习了，应该没问题……应该…………可能………………」
				ENDDATA
			ELSE
				PRINTDATAW
					DATA 「……应、应该没问题吧……」
					DATA 「……总感觉，突然有点不安……」
					DATA 「今天的考试应该能应付！　……希望如此」
				ENDDATA
			ENDIF
		ENDIF
	ELSEIF DAYEV("試験返却日")
		PRINTFORMW 「今天是考试成绩公布的日子呢——」
		IF RAND:2
			PRINTFORMW 「说起来，%CNAME("二人称")%考得怎么样？」
			SELECTCASE BASE:MASTER:学力
			CASE IS >= 70
				PRINTFORMW 「……哼—，感觉很胜券在握啊ー」
				PRINTFORMW 「……不知道为什么，虽然知道你很聪明，但听到%CNAME("二人称")%能考那么高分总觉得有点意外」
			CASE IS >= 50
				PRINTFORMW 「挺不错呢」
				PRINTFORMW 「因为%CNAME("一人称")%不喜欢学习嘛……啊，对了！」
				PRINTFORMW 「下次教教%CNAME("一人称")%怎么才能提高成绩吧！」
			CASE IS <= 10
				PRINTFORMW 「……啊—感觉没什么自信啊ー」
				PRINTFORMW 「まあ%CNAME("二人称")%もそんなに自信ないからなー」
				;そう言いつつ赤点回避してること多いけどな！
			CASE IS <= 30
				PRINTFORMW 「……感觉还行吧」
				PRINTFORMW 「不过在做很多事的同时考到这样的分数，已经很厉害了——」
			CASEELSE
				PRINTFORMW 「……呼——，感觉还行嘛——」
				PRINTFORMW 「该怎么评论呢……不是！我是说，恰到好处可能才是最好的呢！」
			ENDSELECT
		ELSE
			PRINTFORMW 「……嗯？　%CNAME("一人称")%的分数吗？」
			SELECTCASE BASE:学力
			CASE IS >= 70
				PRINTFORMW 「那当然，我超有自信的！」
				PRINTFORMW 「虽然平时有不懂的地方，但这次几乎都搞懂了，也都回答上了！」
				IF TALENT:恋慕
					PRINTFORMW 「……那、那个……」
					CALL PRINT_STRW, @"「……如果考得好的话，你多夸夸我我会很開心的……_／／／_」"
				ELSE
					PRINTFORMW 「……嘿嘿嘿，这样的话那个孩子也……」
				ENDIF
			CASE IS >= 50
				PRINTFORMW 「对拿到了不错的分数很有自信！」
				PRINTFORMW 「哼哼哼，虽然学习一直不太好，但最近感觉变得能行了——」
				PRINTFORMW 「难道是因为加入了%CNAME("二人称")%的社团？」
			CASE IS <= 10
				PRINTFORMW 「……那、那个……呃……」
				PRINTFORMW 「……大概，挂科了。嗯」
			CASE IS <= 30
				PRINTFORMW 「……那个——不太、不太好，但也不、不太差」
				PRINTFORMW 「但可能还好……希望如此吧……」
			CASEELSE
				PRINTFORMW 「嗯，算是普通吧，不是特别差但也不好……」
				PRINTFORMW 「……嗯，没那么糟糕吧——」
			ENDSELECT
		ENDIF
	ELSEIF COND("朝袭相手")
		IF TALENT:淫乱
			IF RAND:2
				PRINTFORMW 「真是的，都是%CNAME("二人称")%的错」
				PRINTFORM 「%CNAME("二人称")%总是放任我做那些色色的事情，
				SELECTCASE CSTR:朝袭
				CASE "朝逆正常位"
					PRINTFORMW 身体变成了一碰就想插进去的状态」
				CASE "朝舐陰"
					PRINTFORMW 朝に%CNAME("二人称")%のおまんこ舐めたくなっちゃうようになっちゃったじゃん」
				CASE "朝Ａ騎乗位"
					PRINTFORMW 变成早上就把想鸡鸡插进屁股还发出娇喘的身体了」
				CASE "朝接吻"
					PRINTFORMW 只是亲亲就会想色色了」
				CASE "朝添い寝"
					PRINTFORMW 只是陪睡就感觉想色色了」
				CASE "朝口交", "朝六九式"
					PRINTFORMW 变成早上就想吸%CNAME("二人称")%的鸡鸡的身体了」
				CASEELSE
					PRINTFORMW 变成早上就能做这种色情的事情的身体了」
				ENDSELECT
				PRINTFORMW 「%CNAME("二人称")%色鬼！　大变态！」
			ELSE
				PRINTFORMW 「……」
				CALL PRINT_STRW, @"「……突然想起刚才的事情，有点躁动难耐了……_H_」"
			ENDIF
		ELSE
			IF RAND:2
				CALL PRINT_STRW, @"「…………_／／／_」"
				PRINTFORMW 「……那、那个！」
				IF RAND:2
					SELECTCASE TEXTS("季節")
					CASE "春"
						PRINTFORMW 「……花、花真漂亮呢！」
					CASE "夏"
						PRINTFORMW 「……天、天气真热呢！」
					CASE "秋"
						PRINTFORMW 「……叶、叶子真漂亮呢！」
					CASE "冬"
						PRINTFORMW 「……天、天气真冷呢！」
					ENDSELECT
				ELSE
					PRINTFORMW 「……天、天气真好呢！」
				ENDIF
			ELSE
				PRINTFORMW 「……%CNAME("二人称")%，总是能够很轻松地做到……」
			ENDIF
		ENDIF
	ELSEIF COND("体育")
		PRINTFORMW 「今天有体育课呢！」
		PRINTDATAW
			DATA 「一起尽情奔跑吧！」
			DATA 「嘿嘿，感觉可以玩的很開心～♪」
			DATAFORM 「对了，%CNAME("一人称")%这边是排球来着……好的！　我会加油的——！」
		ENDDATA
	ELSEIF COND("水泳")
		PRINTFORMW 「今天有游泳课呢！」
		PRINTFORMW 「%CNAME("一人称")%喜欢游泳，所以每到这一天都很兴奋！」
	ELSE
		PRINTFORMW 「嘿嘿♪和%CNAME("二人称")%一起的早晨真新鲜啊ー♪」
	ENDIF
CASE "一番乗り"
	IF CEVENT("お休み")
		PRINTFORMW 以为有谁进来了，但看来好像是错觉
	ELSEIF AIZOU()
		PRINTDATAW
			DATA 「…………」
			DATAFORM 「……%CNAME("二人称")%………………早上好」
		ENDDATA
	ELSEIF RAND:4 == 0
		PRINTFORMW 「哦！　只有%CNAME("二人称")%一个人吗！」
		IF TALENT:相思相愛
			PRINTFORMW 「……那、那个」
			PRINTFORMW 「机会难得，稍微亲热一下吧……？」
		ELSE
			PRINTFORMW 「对了对了，我有个想学的魔法——」
		ENDIF
	ELSEIF RAND:3 == 0
		PRINTFORMW 「お！　今日はまだ%CNAME("二人称")%だけか～」
		PRINTFORMW 「怎么说呢，这种时候的活动室也和平时不一样，感觉真好！」
	ELSEIF RAND:2
		PRINTFORMW 「哦！　第一个到啦ー！」
	ELSE
		PRINTFORMW 「啊！　%CNAME("二人称")%！」
		PRINTFORMW 「……嘿嘿、两个人独处呢」
	ENDIF
CASE "ただいま"
	IF CEVENT("お休み")
		PRINTFORMW 以为有谁在，看来好像只是错觉
	ELSEIF AIZOU()
		PRINTDATAW
			DATA 「……我回来了」
			DATA 「…………」
		ENDDATA
	ELSE
		IF COND("夏")
			PRINTDATAW
				DATA 「呼——好热啊——」
				DATA 「啊——好凉快——……」
				DATA 「突然下雨了吓我一跳——」
				DATA 「哈——好热！　汗流浃背了——……」
				DATA 「哦——……空调好凉快……」
			ENDDATA
		ELSEIF COND("冬")
			PRINTDATAW
				DATA 「啊——暖和……」
				DATA 「嘶……好冷啊……」
				DATA 「外面下了好大的雪……」
				DATA 「今天真是暖和——」
				DATA 「呜——……突然变得好冷啊……」
			ENDDATA
		ELSE
			PRINTDATAW
				DATA 「我回来了——」
				DATA 「呐呐！　外面超漂亮！」
				DATA 「跟朋友聊天聊到这个点了！　抱歉！」
				DATA 「唔哦！　……还好……突然下雨了——……」
			ENDDATA
		ENDIF
	ENDIF
CASE "既に入室"
	IF CEVENT("お休み")
		PRINTFORMW 看来%CALLNAME:TARGET%今天请假了……
	ELSEIF AIZOU()
		PRINTFORMW 「……欢迎回来」
	;家で出迎えてくれる時
	ELSEIF COND("夜")
		PRINTDATAW
			DATA 「哦！　欢迎回来！」
			DATALIST
				DATAFORM 「哦，%CNAME("二人称")%也回来了呢——」
				DATAFORM 「唔嗯，%CNAME("一人称")%也是——」
			ENDLIST
			DATAFORM 「%CNAME("二人称")%欢迎回来——」
		ENDDATA
	ELSE
		PRINTDATAW
			DATAFORM 「%CNAME("二人称")%，我先走了——」
			DATAFORM 「啊！　是%CNAME("二人称")%——！」
			DATAFORM 「%CNAME("二人称")%！」
		ENDDATA
	ENDIF

CASE "入室打招呼"
	IF CEVENT("お休み")
		PRINTFORMW 以为有谁进来了，但好像只是错觉……
	ELSEIF CFLAG:呼び出された
		IF AIZOU()
			PRINTFORMW 「……有什么事吗」
		ELSE
			PRINTFORMW 「%CNAME("二人称")%、收到了『有空就来玩吧』的消息……」
			PRINTFORMW 「有什么事吗——？」
		ENDIF
	;你が現在的partnerにＨ的悪戯をしている最中に入室した
	ELSEIF COND("Ｈ的いちゃつき中", MASTER)
		IF AIZOU()
			PRINTFORMW 「大家、好…………」
			PRINTFORMW 「…………………………」
		ELSE
			PRINTFORMW 「大家、好…………」
			IF TALENT:恋慕 && RAND:2
				PRINTDATAW
					DATAFORM 「……唔，之后也和%CNAME("一人称")%做吧——」
					DATAFORM 「……又和别的\@COND("池面") ? 家伙 # 孩子\@亲亲抱抱……」
				ENDDATA
			ELSE
				IF RAND:2
					PRINTFORMW 「……啊、之后就交给你们两个年轻人了……」
				ELSE
					PRINTFORMW 「诶？　那个……」
					PRINTFORMW 「…………诶？」
				ENDIF
			ENDIF
		ENDIF
	ELSE
		IF AIZOU()
			PRINTFORMW 「嗨……%CNAME("二人称")%啊」
		ELSE
			SELECTCASE RAND:3
			CASE 0
				PRINTFORMW 「嗨——」
				IF RAND:2
					SELECTCASE TEXTS("季節")
					CASE "春"
						PRINTFORMW 「话说回来最近開始变的有点暖和了啊——」
					CASE "夏"
						PRINTFORMW 「好热——……%CNAME("二人称")%感觉还好吗？」
					CASE "秋"
						PRINTFORMW 「街上好吃的东西变多了呢——」
					CASE "冬"
						PRINTFORMW 「啊——好暖和~……还好社团活动室有空调——……」
					ENDSELECT
				ENDIF
			CASE 2
				PRINTFORMW 「啊！　是%CNAME("二人称")%！」
				IF CFLAG:好感度 >= 200
					PRINTFORMW 「嘿嘿，%CNAME("二人称")%已经在这了，好開心啊——」
				ELSE
					PRINTFORMW 「呐ー呐ー快点教我魔法啊！」
				ENDIF
			CASEELSE
				PRINTFORMW 「啊！　%CNAME("二人称")%也来了！」
				PRINTFORMW 「嘿嘿，下课后就直接过来了——♪」
			ENDSELECT
		ENDIF
	ENDIF
;部屋にいる他の人から打招呼を返される打招呼。WAITの使用は一回が望ましい
CASE "簡易入室打招呼"
	IF CEVENT("お休み")
		;簡易なので何も話させない
	;遅れた時のセリフ（既に部員の４分の３が集合済）
	ELSEIF CHARA_NUM("入室打招呼時の室内人数") >= CHARANUM*3/4 && RAND:3 == 0
		PRINTFORMW 「对不起！　迟到了！」
	ELSEIF CFLAG:呼び出された
		PRINTFORMW 「嗯ー？　有什么事吗ー？」
	ELSE
		PRINTFORMW 「嗨——」
	ENDIF
;簡易入室打招呼に対する返し。WAITの使用は一回が望ましい
;誰が入室してきた人はCOND("入室打招呼中")がONなのでFIND_COND("入室打招呼中")で検索可能
;また、入ってきた人数はCHARA_NUM("入室打招呼中")で調べられる
CASE "打招呼返し"
	;打招呼してきた人の中から一人選ぶ
	ACTOR = FIND_COND("入室打招呼中")
	;選ばれた角色の默认のCALLNAME。この角色への呼びかけはCNAME(CALLNAME_ACTOR) で出来る
	CALLNAME_ACTOR = %CSVCALLNAME(NO:ACTOR)%

	;ここでは括弧に『』を使う

	;打招呼してきた人に老师が混じっている
	IF FIND_COND("教員", "入室打招呼中")
		ACTOR = FIND_COND("教員", "入室打招呼中")
		CALLNAME_ACTOR = %CSVCALLNAME(NO:ACTOR)%

		PRINTFORML 『%CNAME(CALLNAME_ACTOR)%！　来的正好、有个不懂的地方教教%CNAME("一人称")%！』
	;相手が現れるのが遅かった（既に部員の４分の３が集合済）
	ELSEIF CHARA_NUM("入室打招呼時の室内人数") >= CHARANUM*3/4 && RAND:3 == 0
		IF RAND:2
			PRINTFORM 『%CNAME(CALLNAME_ACTOR)%ー。等%CNAME(CALLNAME_ACTOR)%等的
			IF COND("夏")
				PRINTFORMW 冰棍都化了——』
			ELSEIF COND("冬")
				PRINTFORMW 饮料都凉了——』
			ELSE
				PRINTFORMW 饮料都变得温热了——』
			ENDIF
		ELSE
			PRINTFORMW 「啊！　%CNAME(CALLNAME_ACTOR)%辛苦了！」
			PRINTFORMW 「今天好忙啊ー」
		ENDIF
	ELSE
		PRINTDATAL
			DATAFORM 『啊！　是%CNAME(CALLNAME_ACTOR)%！』
			DATAFORM 『%CNAME(CALLNAME_ACTOR)%！』
		ENDDATA
	ENDIF

CASE "居間に現れた"
	IF CEVENT("お休み")
		PRINTFORMW 以为有谁进来了，但看来好像是感觉出错……
	ELSEIF CFLAG:呼び出された
		IF AIZOU()
			PRINTFORMW 「……有事就快做」
		ELSE
			PRINTDATAW
				DATAFORM 「%CNAME("二人称")%——，有什么事吗——？」
				DATA 「有什么事吗——？」
				DATA 「什么——？」
				DATAFORM 「%CNAME("二人称")%ー？」
			ENDDATA
		ENDIF
	;一度居間から別の場所に行って、居間に帰って来た時
	ELSEIF CMOVE("居間")
		IF COND("夏") && RAND:2
			PRINTDATAW
				DATA 「呼——好凉快——」、
				DATA 「活过来了——……」
			ENDDATA
		ELSEIF COND("冬") && RAND:2
			PRINTDATAW
				DATA 「啊——好暖和——……」
				DATA 「活过来了——……」
			ENDDATA
		ELSE
			PRINTDATAW
				DATA 「啊——，今天还是想待在这边——」
				DATA 「我回来了——……開玩笑的」
			ENDDATA
		ENDIF
	ELSE
		PRINTFORMW 「啊！　是%CNAME("二人称")%！」
	ENDIF
CASE "抜け出された"
	PRINTFORMW 「唔——那么讨厌我吗——？」
CASE "便当"
	IF AIZOU()
		PRINTFORMW 「…………便当」
		PRINTFORMW 「……因为约好了嘛」
	ELSE
		PRINTFORMW 「啊、%CNAME("二人称")%！」
		PRINTFORMW 「这是今天的便当！」
		PRINTFORMW 「嘿嘿、今天呢、做了有%TEXTR("三文鱼便当/煎蛋/炒面/汉堡肉/可乐饼便当/猪肉饭")%哦！」
	ENDIF
;同じ部屋にいる他の人がＨを開始した際のセリフです
CASE "他の人がＨ開始"
	IF CEVENT("お休み")
		PRINTFORMW %REST_K57()%
	ELSEIF AIZOU()
		CALL EMOTION_PLUS, "心情差", TARGET
		PRINTFORMW 「……」
	ELSEIF TALENT:恋慕
		CALL EMOTION_PLUS, "心情差", TARGET
		SELECTCASE RAND:6
		CASE 0
			PRINTFORMW 「嘿~、咳咳~」
			PRINTFORMW 「那么、就慢慢来吧——」
			PRINTFORMW 「……之后就交给%CNAME("一人称")%了」
		CASE 1
			PRINTFORMW 「……呼—嗯」
		CASE 2
			PRINTFORMW 「……嘛，算了」
			PRINTFORMW 「知道%CNAME("二人称")%是这样的人，也还是喜欢」
		CASE 3
			PRINTFORMW 「……没节操的家伙」
		CASE 4
			PRINTFORMW 「……之后和%CNAME("一人称")%做的话就原谅一下」
		CASE 5
			PRINTFORMW 「在%CNAME("一人称")%面前这样亲热……」
			PRINTFORMW 「……%CNAME("二人称")%恶趣味。」
		ENDSELECT
	ELSE
		CALL EMOTION_PLUS, "惊嚇", TARGET
		PRINTDATAW
			DATALIST
				DATA 「诶」
				DATA 「……你们俩好好享受——……」
			ENDLIST
			DATA 「诶，等、等一下，突然在这里！？」
			DATALIST
				DATA 「等，诶……！？」
				DATA 「我、我马上就出去，稍等！」
			ENDLIST
			DATA 「突、突然做这个！？」
			DATA 「呜哇，啊，诶！？！？」
			DATA 「唔、呜哇——……呜哇ー……」
			DATA 「等、等等等等！!！」
		ENDDATA
	ENDIF
ENDSELECT

;-------------------------------------------------
;メイン画面での台詞。いわゆる一言イベント強化版
;ちなみに画面随机属性しても同じセリフを喋ります
;選択肢に挟まれた場所で出力するのでWAITの使用は禁止
;-------------------------------------------------
@KOJO_DAILY_K57, ARGS
#DIM MEMO_LINECOUNT
#DIM ACTOR

MEMO_LINECOUNT = LINECOUNT

IF CEVENT("お休み")
	PRINTFORML %REST_K57()%
	RETURN 1
ENDIF

SELECTCASE ARGS
;初回のセリフ
CASE "初回台詞"
	PRINTFORML 「诶~、这里就是社团活动室啊……」
	PRINTFORML 「……接下了各种各样的事就请多照顾了、%CNAME("二人称")%！」
CASE "浑身是汗"
	IF CEVENT("お休み")
		PRINTFORML %REST_K57()%
	ELSEIF COND("夏")
		SELECTCASE RAND:5
		CASE 0
			PRINTFORML 「哈——好热！」
			PRINTFORML 「这么热的话%CNAME("一人称")%都要融化了——……」
		CASE 1
			PRINTFORML 「呜诶……」
			PRINTFORML 「太热了衣服都湿透了……」
		CASE 2
			PRINTFORML 「呜呕——……」
			PRINTFORML 「这样下去回去要换衣服了——……」
		CASE 3
			PRINTFORML 「嘛——好热……」
			PRINTFORML 「没听说会这么热啊——……」
		CASE 4
			PRINTFORML 「啊——真是的，今天好热……」
			PRINTFORML 「天气预报没说会这么热啊——……」
		ENDSELECT
	ELSEIF COND("水泳")
		SELECTCASE RAND:4
		CASE 0
			PRINTFORML 「呼——！」
			PRINTFORML 「果然游泳很舒服啊！」
		CASE 1
			PRINTFORML 「嗯……」
			PRINTFORML 「游泳果然很有意思啊！」
			SIF COND("種族：吸血鬼")
				PRINTFORML 「能用这身体进入游泳池真是太好了！」
		CASE 2
			PRINTFORML 「这样好好活动身体之后，感觉真的很舒畅啊ー」
		CASE 3
			PRINTFORML 「呼——！」
			PRINTFORML 「运动好開心——！」
		ENDSELECT
	ELSE
		IF RAND:2
			PRINTFORML 「呼——！」
			PRINTFORML 「果然尽情跑起来很爽啊！」
		ELSE
			PRINTFORML 「嗯？　啊啊！　我刚才在外面跑了一大圈！」
			IF COND("種族：吸血鬼") && RAND:2
				PRINTFORML 「是不是因为变成了吸血鬼？比以前跑得更快了，吓了一跳！」
			ELSEIF COND("夏")
				PRINTFORML 「外面虽然很热，但超级開心！」
			ELSE
				PRINTFORML 「从早上開始都在迷惑，但跑了一会儿之后就感觉神清气爽了！」
			ENDIF
		ENDIF
	ENDIF
CASE "刚睡醒"
	PRINTDATAL
		DATA 「呼啊……」
		DATA 「嗯……还有点困……」
		DATA 「啊——那个梦……」
		DATA 「怎么可能，平之助成了世界的毁灭者……嗯嗯……」
		DATA 「还想再赖床一会儿……」
		DATA 「已经要起床了吗……？」
		DATA 「嗯，现在……」
		DATA 「还不能睡觉……？」
	ENDDATA
CASE "Cosplay中"
	SELECTCASE SHIRT(TARGET)
	CASE "女教師"
		IF TALENT:伪娘 || VAGINA(TARGET)
			PRINTFORML 「这、这个合身吗……？」
		ELSE
			PRINTFORML 「……不是，这不就是女装吗……」
		ENDIF
	CASE "和服"
		IF RAND:2
			PRINTFORMW 「诶——原来和服是这样穿的啊……」
			PRINTFORMW 「呜哇！　……如果动作不小心点的话，下面会敞開的……」
		ELSE
			PRINTFORMW 「……感觉有点不方便……」
		ENDIF
	CASE "女仆装"
		IF TALENT:伪娘 || VAGINA(TARGET)
			PRINTFORML 「主人，欢迎回家！」
			IF TALENT:淫乱
				PRINTFORML 「是先吃饭？　先洗澡？」
				CALL PRINT_STRL, @"「还是先吃我？　……開玩笑的_H_」"
			ELSE
				PRINTFORML 「……開、開玩笑的……」
				PRINTFORML 「以前的漫画里好像有这种场景……喏，怎么样？」
			ENDIF
		ELSE
			PRINTFORML 「诶诶……」
			PRINTFORML 「不是，%CNAME("二人称")%……」
			PRINTFORML 「怎么说呢……唔嗯」
		ENDIF
	CASE "体操服"
		IF RAND:2
			PRINTFORML 「嗯——！　这身打扮好方便活动！」
			PRINTFORML 「太好了！　一開始听说是Cosplay的时候有点担心，但同意穿这件真是太好了！」
		ELSE
			PRINTFORML 「哦，这个好方便活动！」
			PRINTFORML 「……不过，要说是Cosplay的话感觉有点微妙」
			PRINTFORML 「……不过，这个和我们学校的不太一样，从这个意义上说，应该算是Cosplay吧……？」
		ENDIF
	CASE "护士服"
		IF TALENT:伪娘 || VAGINA(TARGET)
			PRINTFORML 「呐呐%CNAME("二人称")%，我想问下」
			PRINTFORML 「我知道是Cosplay护士，但这顶帽子是什么啊……？」
			PRINTFORML 「……诶，以前的护士是这样的帽子吗……！？」
		ELSE
			PRINTFORML 「诶——就算穿成这样也没什么用吧……」
			PRINTFORML 「还被强迫戴了个奇怪的帽子……」
		ENDIF
	CASE "旗袍"
		IF TALENT:伪娘
			PRINTFORML 「うわ、すっごいヒラヒラする……」
		ELSEIF VAGINA(TARGET)
			PRINTFORML 「这个，要是不注意点的话，里面都要被看光了……」
		ELSE
			PRINTFORML 「こ、これは絶対似合わないだろ……」
		ENDIF
	CASE "水手服"
		IF VAGINA(TARGET)
			PRINTFORML 「……别说是%CNAME("一人称")%的，为什么%CNAME("二人称")%会拿着这个啊……」
		ELSEIF TALENT:伪娘
			PRINTFORML 「怎、怎么样？适合……吗？」
		ELSEIF CFLAG:好感度 >= 150
			PRINTFORML 「诶——……%CNAME("二人称")%真是变态……」
		ELSE
			PRINTFORML 「水、水手服吗，诶、诶诶——……」
		ENDIF
	CASE "情趣内衣"
		IF TALENT:伪娘
			IF TALENT:淫乱
				CALL PRINT_STRL, @"「让我穿这样的衣服，是在期待什么吗……_H_」"
			ELSE
				PRINTFORML 「呜、呜哇，布料好少……」
				PRINTFORML 「而且哪里都很透……」
			ENDIF
		ELSE
			PRINTFORML 「……有点反感」
		ENDIF
	CASE "婚纱礼服"
		IF VAGINA(TARGET)
			IF TALENT:相思相愛
				PRINTFORML 「……呵呵，婚纱啊……」
			ELSE
				PRINTFORML 「……那、那个，现在的话，应该只有%CNAME("一人称")%穿这个吧……」
			ENDIF
		ELSEIF TALENT:伪娘
			PRINTFORML 「诶……穿上之后是这种感觉啊……」
			PRINTFORML 「没想到会穿上这种东西，感觉挺新鲜的」
		ELSE
			PRINTDATAL
				DATA 「诶，这样……？」
				DATAFORM 「……理解不了%CNAME("二人称")%的兴趣……」
			ENDDATA
		ENDIF
	CASE "哥特蘿莉礼服"
		IF TALENT:伪娘
			IF CEVENT("極夜の和解")
				PRINTFORML 「这种打扮，有没有一种吸血鬼的感觉？」
				PRINTFORML 「既可爱又帅气……」
			ELSEIF COND("種族：吸血鬼") == 0
				PRINTFORML 「……说起来，妈妈以前有这种风格的衣服」
				PRINTFORML 「虽然没有这么华丽？以前是这样的风格吗……」
			ELSE
				PRINTFORML 「怎么说呢，心情有点复杂……」
			ENDIF
		ELSE
			PRINTDATAL
				DATAFORM 「……%CNAME("二人称")%，你是不是把%CNAME("一人称")%当成换装娃娃了？」
				DATA 「不管怎么看，这完全不适合啊……」
				DATA 「那个，为什么……为什么要穿这个？」
			ENDDATA
		ENDIF
	CASE "啦啦队制服"
		IF TALENT:伪娘
			IF TALENT:淫乱
				PRINTFORML 「呵呵，穿成这样的话，就要努力应援了哦！」
				CALL PRINT_STRL, @"「……比如说为%CNAME("二人称")%的鸡鸡加油_H_」"
			ELSE
				PRINTFORML 「那个，既然穿成这样，是不是应该好好应援……？」
			ENDIF
		ELSE
			PRINTFORML 「%CNAME("二人称")%的喜好啊……」
		ENDIF
	CASE "睡衣"
		PRINTFORML 「呼啊……」
		PRINTFORML 「穿起来比想象中的要舒服，这么一来就想睡觉了……」
	CASE "怪獣睡衣"
		PRINTDATAL
			DATAFORM 「唔……%CNAME("二人称")%是不是把%CNAME("一人称")%当成小孩子了？」
			DATA 「等、等等，有点羞耻……！」
			DATA 「唔……为什么要穿这种小孩子的衣服……」
		ENDDATA
	CASEELSE
		PRINTFORML 「呐呐，我穿这个合适吗——？」
	ENDSELECT
CASE "点心の感想"
	IF CEVENT("お休み")
		PRINTFORML %REST_K57()%
	;今日の点心を用意したのは自分
	ELSEIF COND("点心当番")
		PRINTDATAL
			DATAFORM 「今天%CNAME("一人称")%带了点心来……怎么样？」
			DATAFORM 「今天的点心是%CNAME("一人称")%带来的……好吃吗？」
			DATAFORM 「今天的点心\@RAND:2 ? 看起来很好吃 # 很好吃\@所以我带来了……怎么样？」
			DATALIST
				DATA 「……！　真的好好吃！」
				DATAFORM 「%CNAME("二人称")%也尝尝看，来！」
			ENDLIST
		ENDDATA
	;今日の点心は誰かの亲手自制
	ELSEIF COND("亲手自制点心")
		;今日の点心当番の人の亲手自制を初めて食べた
		IF DEVENT(@"%TEXTS("点心当番")%の亲手自制") == 0
			;点心当番が[料理擅長]
			IF COND("点心の作り手が料理擅長")
				PRINTFORML 「而且好好吃！　这个是谁做的……！？　可能会成为专家呢……！」
				PRINTFORML 「诶！？　%CNAME(@"%TEXTS("点心当番")%")%！？　……好、好强……！」
			ELSE
				PRINTFORML 「哦，我喜欢这个味道！」
				PRINTFORML 「……诶，这个是%CNAME(@"%TEXTS("点心当番")%")%做的？　%CNAME(@"%TEXTS("点心当番")%")%、谢谢！」
			ENDIF
		ELSE
			PRINTFORML 「哦、今天也是%CNAME(@"%TEXTS("点心当番")%")%的自制点心吗！」
			PRINTFORML 「嘿嘿、好期待呢～」
		ENDIF
	;点心が亲手自制でない
	ELSE
		SELECTCASE RAND:3
		CASE 0
			PRINTFORML 「哦！　这个好好吃呢！」
			PRINTFORML 「这个哪里有卖啊告诉%CNAME("一人称")%嘛——」
		CASE 1
			PRINTFORML 「啊！　这个好好吃！」
			PRINTFORML 「这个的话我怎么吃都不会腻的哟！」
		CASE 2
			PRINTFORML %CALLNAME:TARGET%一边露出满足的笑容一边吃着%TEXTS("点心当番")%带来的点心……
		ENDSELECT
	ENDIF
;沉眠著
CASE "睡眠"
	;梦话
	CALL KOJO_SLEEP_K57
	;梦话用の汎用地の文呼出
	CALL DAILY_MESSAGE, "梦话"
ENDSELECT

;何か発言してたらここまで
SIF LINECOUNT > MEMO_LINECOUNT
	RETURN 1

;前回指令対応台詞
SELECTCASE CONDS("直前行動")
CASE "愛の告白"
	PRINTFORML 「呜、呜哇哇……好、好害羞……」
	CALL PRINT_STRW, @"「整个脸都变得通红……_H_」"
CASE "约会的约定"
	IF AIZOU()
		PRINTFORML 「…………」
	ELSE
		SELECTCASE RAND:3
		CASE 0
			PRINTFORML 「嘿~嘿~嘿~、这次周末要去约会ー♪」
		CASE 1
			IF EXP:约会経験 >= 5 && TALENT:相思相愛
				PRINTFORML 「……そういえば、%CNAME("二人称")%とはもう何回も约会行ってるんだなぁ……」
				PRINTFORML 「……な、なんか急にドキドキしてきた……」
			ELSE
				PRINTFORML 「えっと、えっと、约会するんだから……」
			ENDIF
		CASE 2
			IF EXP:约会経験 <= 10
				PRINTFORML 「要、要去约会啊……」
				PRINTFORML 「嗯，%CNAME("一人称")%要穿帅帅的衣服，好好准备一下，嗯，嗯……」
			ELSE
				PRINTFORML 「约会啊……」
				PRINTFORML 「……嘿嘿，今天%CNAME("一人称")%要努力让%CNAME("二人称")%夸%CNAME("一人称")%帅」
			ENDIF
		ENDSELECT
	ENDIF
;これは悪魔や天使や驱魔人のみ
CASE "契約成立"
	;[IF_DEBUG]
	;	PRINTFORML KOJO_DAILY_K57, %CSTR:PREV_DAILYCOM%後
	;[ENDIF]
;你にお願いされて、自分の力で巨根になってあげた(悪魔と天使のみ)
CASE "巨根化契約成立"
	PRINTFORML 
CASE "短小化契約成立"
	PRINTFORML 
CASE "摆脱"
	PRINTFORML 
CASE "泡茶"
	IF AIZOU()
		PRINTFORML 「……谢谢」
	ELSE
		SELECTCASE RAND:4
		CASE 0
			PRINTFORML 「唔咕，好苦……」
			PRINTFORML 「但、但是、能喝下苦的东西才更像个大人……！」
		CASE 1
			PRINTFORML 「嗯~……啊、好好喝……！」
			PRINTFORML 「意料之外的技能呢、%CNAME("二人称")%」
		CASE 2
			PRINTFORML 「……！　好好喝……！」
		CASE 3
			PRINTFORML 「嘿——这个不苦……」
			PRINTFORML 「……就、就算苦也没関系的！」
		ENDSELECT
	ENDIF
;你と一緒に、主人公的房間に移動した
CASE "主人公的房間に連れ込まれた"
	IF AIZOU()
		PRINTFORML 「……为什么、带%CNAME("一人称")%来这儿啊」
		PRINTFORML 「%CNAME("一人称")%作为对象也可以吗……」
	ELSE
		PRINTFORML 「诶~……这里就是%CNAME("二人称")%的房间吗……」
		PRINTFORML 「……那、色色视频文件夹的密码是，嗯……」
	ENDIF
;你と一緒に、partner的房間に移動した
CASE "自室に招待"
	IF AIZOU()
		PRINTFORML 「……」
	ELSE
		SELECTCASE RAND:11
		CASE 0
			PRINTFORML 「还没来得及收拾……」
		CASE 1
			PRINTFORML 「嘿嘿、像这样到别人的房里、有点兴奋呢！」
		CASE 2
			PRINTFORML 「啊，对了！　前几天%CNAME("一人称")%买了游戏，要不要一起玩？」
		CASE 3
			PRINTFORML 「电视的电源在旁边……诶，这里是%CNAME("二人称")%的家，%CNAME("一人称")%在说什么呢」
		CASE 4
			PRINTFORML 「哼~哼~哼~ー、就算被翻床底下%CNAME("一人称")%也不怕ー。%CNAME("一人称")%是用电子设备看色色的类型」
		CASE 5
			PRINTFORML 「啊，那个手办？　和朋友一起玩扭蛋机的时候拿到的」
		CASE 6
			IF COND("種族：吸血鬼") == 0 || CEVENT("極夜の和解")
				PRINTFORML 「『%CNAME("一人称")%在%CNAME("二人称")%家过得很好』……嗯」
			ELSE
				PRINTFORML 「啊，打电话讲的话怎么说呢……有点尴尬……」
			ENDIF
		CASE 7
			PRINTFORML 「诶，这是重播……嗯、诶、唔唔……」
			PRINTFORML 「没，没什么！　女性向动画什么的，我我我才没看过呢！！！」
		CASE 8
			PRINTFORML 「啊，说起来%CNAME("二人称")%玩这个卡牌游戏吗？」
			PRINTFORML 「从柜子里翻出了以前的卡牌。要不要久违地再玩一次呢……」
		CASE 9
			PRINTFORML 「嗯，游戏机——？　在电视下面，对对，右边那里——」
		CASE 10
			PRINTFORML 「嗯……」
			PRINTFORML %CALLNAME:TARGET%伸了个大大的懒腰……
		ENDSELECT
	ENDIF
;partnerが既に居る部屋に、你が移動した
CASE "自室に訪問された"
	IF AIZOU()
		PRINTFORML 「……有什么事吗」
	;指导者を伴っている場合
	ELSEIF FIND_COND("現在存在", "助手")
		PRINTFORML 「啊！　%CNAME("二人称")%と%CNAME("助手")%！」
		PRINTFORML 「嘿嘿、稍微有点乱……」
	ELSE
		PRINTFORML 「哦、%CNAME("二人称")%」
		PRINTFORML 「有什么事找%CNAME("一人称")%吗——？」
	ENDIF
CASE "指导者部屋訪問"
	PRINTFORML 
;自宅移動の後に你に連れられて居間に回来了場合など。優先度は低いです
CASE "帰還"
	PRINTFORML 
CASE "オナバレ"
	PRINTFORML 「诶……啊……那个……」
	PRINTDATAL
		DATA 「能、能当作没看到吗？」
		DATA 「……今、今天天气不错！」
		DATA 「那个，那个……」
		DATAFORM 「……早、早上好？　%CNAME("二人称")%……」
	ENDDATA
CASE "露脐装超短裙胖次チラ"
	PRINTFORML 「……啊咧」
	PRINTFORML 「……难道说、看见了？」
CASE "低腰臀圍"
	PRINTFORML 
CASE "掀起裙子"
	IF VAGINA(TARGET)
		PRINTDATAL
			DATAFORM 「等，%CNAME("二人称")%！　在干什么啊！？」
			DATA 「唔、唔哇！」
			DATA 「等、等一下，好害羞……」
		ENDDATA
	ELSEIF CEVENT("女装")
		PRINTDATAL
			DATAFORM 「别、别看得那么仔细啊！」
			DATA 「那、那个很害羞的……！」
			DATA 「诶，等等？！」
		ENDDATA
	ELSE
		PRINTDATAL
			DATA 「唔哦？！　吓了一跳——……！」
			DATA 「咿呀——，開玩笑的」
			DATA 「……看那里有什么好開心的？」
		ENDDATA
	ENDIF
CASE "检查内褲"
	IF COND("合意：检查内褲")
		IF CEVENT("女装")
			CALL PRINT_STRL, @"「等、等下啊、很害羞啊……_H_」"
		ELSE
			PRINTDATAL
				DATA 「……差不多该结束了吧？」
				DATA 「……难道还要继续这样……？」
				DATA 「那个，这个要持续多久……」
			ENDDATA
		ENDIF
	ENDIF
CASE "检查阴部"
	IF COND("合意：检查阴部")
		IF ABL:露出癖 >= 3
			SELECTCASE RAND:5
			CASE 0
				CALL PRINT_STRL, @"「感、感觉要变得奇怪了……_H_」"
			CASE 1
				CALL PRINT_STRL, @"「不、不要那样盯着看啊……_H_」"
			CASE 2
				PRINTFORML 「别、别那么看着……」
				CALL PRINT_STRL, @"「感觉有点兴奋起来了……_H_」"
			CASE 3
				CALL PRINT_STRL, @"「等、等一下……_H_」"
			CASE 4
				CALL PRINT_STRL, @"「怎、怎么会这样……_H_」"
				CALL PRINT_STRL, @"「明明很羞耻，但羞耻的感觉却让人兴奋……_H_」"
			ENDSELECT
		ELSE
			IF RAND:2
				CALL PRINT_STRL, @"「已、已经可以了吧……_H_」"
			ELSE
				PRINTFORML 「……已经，羞耻的快到极限了……」
			ENDIF
		ENDIF
	ENDIF
CASE "拜托処理性欲"
	IF RAND:2
		CALL PRINT_STRL, @"「呜呜~……总感觉还有点躁动啊……_H_」"
	ELSE
		CALL PRINT_STRL, @"「好、好羞耻，但是好舒服……_H_」"
	ENDIF
CASE "进行性処理"
	PRINTFORML 
CASE "帮忙消除性欲"
	PRINTFORML 
CASE "清洁口交"
	IF TALENT:淫乱
		IF RAND:2
			CALL PRINT_STRL, @"「……好了、已经打扫干净了_H_」"
		ELSE
			CALL PRINT_STRL, @"「……んぁ……_H_」"
			CALL PRINT_STRL, @"「……佳肴大人_H_」"
		ENDIF
	ELSE
		PRINTDATAL
			DATA 「……啊……这样可以结束了吗？」
			DATA 「结、结束了……」
		ENDDATA
	ENDIF
CASE "買東西"
	;買ってきた道具などで分岐
	;IF COND("巨大振動棒購入")

	;	CALL SET_DEVENT, "巨大振動棒感想"
	;ELSE
		;単純にいっぱい買ったかどうかで分岐
		SELECTCASE COND("買上品数")
		CASE IS >= 4
			PRINTFORML 「好、好厉害的数量……」
			PRINTFORML 「这些全都是色情的东西、总感觉怪怪的……」
		CASEELSE
			PRINTFORML 「这个、有点…………」
			PRINTFORML 「…………好厉害」
		ENDSELECT
	;ENDIF
CASE "隐秘摄影失敗"
	PRINTFORML 「诶！？　等……」
	PRINTFORML 「……这、这种的不行的！」
CASE "变成裸体"
	;他に人がいる
	IF CHARA_NUM("室内の邪魔者")
		IF ABL:露出癖 >= 3
			CALL PRINT_STRL, @"「呜哇……被、被看见了……_H_」"
		ELSE
			PRINTFORML 「等、被、被看到了……」
		ENDIF
	;まさかの野外
	ELSEIF PLACE("野外")
		IF COND("冬")
			PRINTFORML 「……在害羞之前，先觉得很冷呢」
		ELSE
			PRINTFORML 「……马、马上换好衣服啦」
		ENDIF
	;不在個室
	ELSEIF PLACE("個室") == 0
		PRINTDATAL
			DATA 「刚、刚才有没有听到什么声音……？」
			DATA 「不、不会有人进来吧……？」
			DATA 「这、这真的不会被发现吗……？」
			DATA 「呜、真、真的没问题吗……」
			DATA 「有、有种奇怪的感觉……」
			DATA 「……要是被发现了我会记恨你的」
			DATA 「这、这种事是绝对的不行吧……」
			DATA 「……这种事绝对不可以习惯啊……」
			DATA 「好、好像看到了人影……」
			DATA 「不、不会有什么地方能看到吧……！？」
		ENDDATA
	;個室で二人きり
	ELSE
		IF AIZOU()
			PRINTFORML 「……这样就满足了吧」
		ELSEIF TALENT:相思相愛
			PRINTFORML 「%CNAME("二人称", "どもり")%……怎、怎么样……？」
		ELSEIF TALENT:MASTER:男性 == 0 || TALENT:MASTER:伪娘 || MARK:屈服刻印 >= 2
			PRINTFORML 「……哇、很羞耻啊……别盯着看啊……」
		ELSE
			PRINTFORML 「%CNAME("二人称")%——、这样就好了吗——？」
		ENDIF
	ENDIF
CASE "Ｈ目的で呼び出された"
	IF PLACE("情人旅館")
		SELECTCASE RAND:5
		CASE 0
			PRINTFORML 「呜哇——……来情人旅馆了……呜哇——……」
		CASE 1
			PRINTFORML 「那、那个、就是……」
			PRINTFORML 「……请、请多指教」
		CASE 2
			IF TALENT:淫乱
				PRINTFORML 「今天在这里和%CNAME("二人称")%……」
				CALL PRINT_STRL, @"「……不知不觉就兴奋起来了……_H_」"
			ELSE
				PRINTFORML 「……感觉好像已经习惯了，这是好还是不好呢……」
			ENDIF
		CASE 3
			PRINTFORML 「……呜哇，这里放着避孕套，呜哇ー……」
		CASE 4
			PRINTFORML 「……%CNAME("一人称")%、%CNAME("一人称")%去洗澡……」
		ENDSELECT
	;做爱房
	ELSE
		SELECTCASE RAND:6
		CASE 0
			PRINTFORML 「这里是那个对吧……」
			PRINTFORML 「那个、晚上可以听到H的声音……」
			PRINTFORML 「……就、就是在、做那种事吧？」
		CASE 1
			PRINTFORML 「呜哇，装着精液的避孕套滚过来了……」
		CASE 2
			CALL PRINT_STRL, @"「呜……色色的%TEXTS("气味")%……_／／／_」"
		CASE 3
			PRINTFORML 「快、快把窗帘拉上……」
		CASE 4
			PRINTFORML 「啊咧，这个笔记本是……」
			PRINTFORML 「……诶！？　『○×的小穴像处女一样紧，但害羞的表情很色情」……难、难道这是……」
		CASE 5
			PRINTFORML 「那、那边好像听到了社团活动的声音……」
		ENDSELECT
	ENDIF
ENDSELECT

;何か発言してたらここまで
SIF LINECOUNT > MEMO_LINECOUNT
	RETURN 1

;標語の反応。書いたらコメントアウトを外してください
IF CFLAG:標語実践
	IF STRCOUNT(SAVESTR:標語, "注意口渴")
		IF DEVENT("標語茶") == 0
			PRINTFORML 「啊——、确实摄入水分也很重要呢——」
			PRINTFORML 「%CNAME("一人称")%都这么努力、%CNAME("二人称")%也要努力了——」
			CALL SET_DEVENT, "標語茶"
		ENDIF
	ELSEIF STRCOUNT(SAVESTR:標語, "体操服")
		SELECTCASE SAVESTR:標語
		CASE "体操服はやっぱり布鲁马"
			;IF DEVENT("標語布鲁马") == 0
			;	PRINTFORML 
			;	CALL SET_DEVENT, "標語布鲁马"
			;ENDIF
			IF CDAYEV("初布鲁马")
				PRINTFORMW 「……那个、这是什么」
				PRINTFORML 「诶，运动短褲？　这个以前真的有人穿过吗？」
				HTML_PRINT @"<p align= 'left'>「怎么说呢……那个……	<font color= '#303030'>感觉像内褲……嘟嘟囔囔……</font>」</p>"
				CALL SET_CDAYEV, "初布鲁马"
			ELSE
				PRINTFORML 「呜……又、又是运动短褲……」
				IF TALENT:伪娘
					PRINTFORML 「虽、虽然挺可爱的……」
				ELSE
					PRINTFORML 「为什么这么喜欢让我女装啊……」
				ENDIF
				PRINTFORM 「为什么讨厌，因为
				IF CFLAG:メス堕ち度 >= 3
					CALL PRINT_STR, @"会有点兴奋啊……_H_」_L_"
				ELSE
					PRINTFORML 很羞耻啊……」
				ENDIF
			ENDIF
		CASE "体操服はやっぱり运动短褲"
			PRINTFORML 「哦！这身打扮挺方便活动的」
			IF CEVENT("女装") && CEVENT("初女装运动短褲") == 0
				IF VAGINA(TARGET)
					PRINTFORML 「……嘛，虽然有女生款的短褲让人感觉心情复杂……」
				ELSEIF TALENT:伪娘
					PRINTFORML 「好的，得找找看有没有女生风格的短褲」
				ELSE
					PRINTFORML 「……但是，得找女生款的，是吧……」
				ENDIF
				CALL SET_CEVENT, "初女装运动短褲"
			ELSE
				PRINTFORML 「总之，得把现在放着的洗一洗……」
			ENDIF
		CASE "体操服はやっぱり紧身短褲"
			IF TALENT:淫乱
				CALL PRINT_STRL, @"「……呵呵_H_只是想看看穿紧身褲的下半身吧？」"
				CALL PRINT_STRL, @"「特地给你看，%CNAME("一人称")%的色色之处，请看吧_H_」"
			ELSEIF ABL:Ｃ感覚 >= 3
				PRINTFORML 「唔、唔咕……」
				PRINTFORML 「虽、虽然紧身褲方便活动……」
				PRINTFORML 「最近紧身的感觉越来越舒服了……」
			ELSE
				PRINTFORML 「紧身褲啊」
				PRINTFORML 「虽然紧贴身体不太舒服，但确实方便活动」
			ENDIF
		CASE "体操服はやっぱり运动衫"
			PRINTFORML 「嗯—？要我穿运动衫吗？」
			IF COND("夏")
				PRINTFORML 「虽然无所谓，但可能会有点热……」
			ELSEIF COND("冬")
				PRINTFORML 「嗯—，冬天嘛，想穿暖和点的，所以还好」
			ELSE
				PRINTFORML 「虽然没问题……但%CNAME("二人称")%突然说这种普通的事情反而让人感觉怪怪的」
				PRINTFORML 「有点、怎么说呢」
			ENDIF
		;各分岐を細かく埋めずに、上の分岐を消して望みの体操服に着替えてやったぞ発言をここに書くのも良いと思います
		CASEELSE

		ENDSELECT
	ELSEIF STRCOUNT(SAVESTR:標語, "学生服")
		SELECTCASE SAVESTR:標語
		CASE "学生服は露脐装超短裙に限る"
			;IF DEVENT("標語露脐装超短裙") == 0
			;	PRINTFORML 
			;	CALL SET_DEVENT, "標語露脐装超短裙"
			;ENDIF
		CASE "学生服は超短迷你に限る"
		;各分岐を細かく埋めずに、上の分岐を消して望みの学生服に着替えてやったぞ発言をここに書くのも良いと思います
		CASEELSE

		ENDSELECT
	ENDIF
ENDIF

;何か発言してたらここまで
SIF LINECOUNT > MEMO_LINECOUNT
	RETURN 1

IF AIZOU() == 0
	;イベント台詞。CFLAG:日常事件回数が10増えるたびに一つ叫醒ぐらいで良いでしょう
	IF FINDCHARA(NO, 48) == 0 && DEVENT("気になるあの娘") == 0
		PRINTFORML 「话说来啊、%CNAME("二人称")%认识一个叫『望木莉』的孩子吗？」
		PRINTFORML 「和%CNAME("一人称")%一个班级的女生啦，考试总是在年级前列哦」
		PRINTFORML 「而且长相也很可爱、在班上很有人气。……因为是背地里传開的、本人并不知道」
		PRINTFORML 「……只是、那个叫莉的女生并不善于交际」
		PRINTFORML 「该怎么说呢……不仅是强硬的个性、好像……还隐瞒了很多事」
		PRINTFORML 「就是这样，%CNAME("一人称")%担心情况会变得糟糕……」
		IF TALENT:恋慕
			PRINTFORML 「……诶？　你喜欢那个人吗？」
			PRINTFORML 「明明知道%CNAME("一人称")%的心意、%CNAME("二人称")%是鬼、恶魔、花心大萝卜」
		ELSE
			PRINTFORML 「……哇、哇啊！？」
			PRINTFORML 「才、才才才、才不是！　才、才、才不、喜、喜欢那家伙！」
		ENDIF
		CALL SET_DEVENT, "気になるあの娘"
	ELSEIF CNUM("莉") && COND("相性○", CNUM("莉") ) && DEVENT("新たな悩み") == 0 && TALENT:恋慕 == 0
		ACTOR = CNUM("莉")
		PRINTFORMW 「……%CNAME("二人称")%，%CNAME("一人称")%有点事想问你」
		IF DEVENT("気になるあの娘") && CEVENT("莉初会話")
			PRINTFORMW 「不是说，%CNAME(CALLNAME:ACTOR)%是后来才加入进来的嘛」
			PRINTFORMW 「一開始%CNAME("一人称")%吓了一跳，不知道会发生什么」
			PRINTFORMW 「……呃，不是那个！　最近%CNAME("一人称")%和%CNAME(CALLNAME:ACTOR)%関系变好了……」
			PRINTFORMW 「唔嗯，怎么说呢，有点和%CNAME("一人称")%想要的方向不同……不过%CNAME("一人称")%很高兴啦」
			PRINTFORMW 「那个，%CNAME("二人称")%啊，如果你，你……对某个人感兴趣，想要建立新的関系的话会怎么做呢……」
		ELSE
			PRINTFORMW 「实、实际上，%CNAME("一人称")%有个心仪的人，最近和那个人関系变好了……」
			PRINTFORMW 「可是那个家伙，好像并没有把%CNAME("一人称")%当成喜欢的人看待……不过%CNAME("一人称")%很高兴啦」
			PRINTFORMW 「……那、那个啊，%CNAME("二人称")%你觉得要让喜欢的人把%CNAME("一人称")%当作异性看待应该怎么做呢……？」
			PRINTFORMW 「拜托了！　只有%CNAME("二人称")%能帮%CNAME("一人称")%了！」
		ENDIF
		CALL SET_DEVENT, "新たな悩み"
	ELSEIF CFLAG:日常事件回数 >= 5 && DEVENT("うち的家族") == 0
		PRINTFORML 「『吃了晚饭吗』……」
		PRINTFORML 「啊，不是%CNAME("二人称")%嘛」
		PRINTFORML 「啊~、是父母发的晚餐的消息、正在回复」
		PRINTFORML 「……嗯？　果然还是有点奇怪吗？」
		PRINTFORML 「我家的双亲是在一起工作的。而且不知道为什么两人都是上的夜班、过着日夜颠倒的生活」
		PRINTFORML 「肌肤也很娇柔，外出时必须带着太阳伞、也是没有办法的」
		PRINTFORML 「嘛、就是因为这样经常不能一起吃饭、就这样、总是收到这样晚餐的消息并回复他们」
		PRINTFORML 「……啊、先说在前面父母他们都是正经的人哦？　但总是喝着像番茄汁一样的东西有点让人担心……」
		CALL SET_DEVENT, "うち的家族"
	ELSEIF DAYEV("文化祭") && DEVENT("初文化祭") == 0
		PRINTFORML 「呵呵呵，今天终于迎来了期待已久的文化祭……！」
		PRINTFORML 「因为嘛因为嘛！会有各种摊位对吧，还有很多食物对吧，还有还有……」
		IF TALENT:相思相愛
			PRINTFORML 「反正%CNAME("二人称")%也会有空吧？」
			PRINTFORML 「既然这样，一起去吧！」
		ELSEIF CNUM("莉") || DEVENT("気になるあの娘")
			PRINTFORML 「……ハッ！　こ、これ、もしかして……」
			PRINTFORML 「莉酱を约会に誘ったりできちゃう……！？」
		ELSE
			PRINTFORML 「……も、もしかしたらあの子と一緒に约会出来るかなぁ……」
		ENDIF
		CALL SET_DEVENT, "初文化祭"
	ENDIF
ENDIF

;何か発言してたらここまで
SIF LINECOUNT > MEMO_LINECOUNT
	RETURN 1

;他の人といちゃついた後にpartner変更
IF COND("いちゃいちゃ") == 0 && FIND_COND("Ｈ的いちゃつき中")
	IF TALENT:相思相愛
		IF RAND:2
			PRINTFORML 「……虽然知道%CNAME("二人称")%就是那种人……」
			PRINTFORML 「但还是觉得心里不是滋味……」
		ELSE
			PRINTFORML 「……既然让我看到了那样的场面，那就也要和%CNAME("一人称")%好好甜蜜甜蜜」
		ENDIF
	ELSE
		IF VAGINA(TARGET)
			SELECTCASE RAND:3
			CASE 0
				CALL PRINT_STRL, @"「诶……啊、唔、唔嗯……_H_」"
			CASE 1
				CALL PRINT_STRL, @"「%CNAME("一人称", "どもり")%也想像那样……_H_」"
			CASE 2
				PRINTFORML 「诶、这个、那个……」
				CALL PRINT_STRL, @"「……刚、刚才的好色……_H_」"
			ENDSELECT
		ELSEIF CFLAG:メス堕ち度
			IF RAND:2
				CALL PRINT_STRL, @"「看、看到那样色色的场面之后……_H_」"
			ELSE
				CALL PRINT_STRL, @"「……%CNAME("二人称")%のエッチ……_H_」"
			ENDIF
		ELSE
			PRINTDATAL
				DATA 「……毕竟看到了那样的场面，现在不太想……」
				DATA 「不是，看到刚才那个场面后感觉有点尴尬……」
			ENDDATA
		ENDIF
	ENDIF
ENDIF

;何か発言してたらここまで
SIF LINECOUNT > MEMO_LINECOUNT
	RETURN 1

;以下は随机台詞など

IF CEVENT("『のぞき』見") && CEVENT("覗き後") == 0
	PRINTFORML 「………………」
	PRINTFORML 「……啊、 啊啊！　早、早上好！」
	CALL SET_CEVENT, "覗き後"
;時間帯と場所と関係で変化有些
ELSEIF FLAG:二人きり
	IF AIZOU()
		PRINTFORML 「…………」
	ELSEIF TALENT:恋慕
		PRINTFORML 「嘿、嘿嘿……这样两人独处、有点心动啊」
	ELSE
		PRINTDATAL
			DATAFORM 「%CNAME("二人称")%！　マンツーマンで魔法を教えてくれ！」
			DATAFORM 「%CNAME("二人称")%～、まだ魔法教えてくれないのか～？」
		ENDDATA
	ENDIF
ELSEIF STATE("酔酒")
	PRINTFORML 
ELSEIF COND("夜")
	IF DAYEV("大晦日")
		PRINTFORML 「啊、除夕的钟声啊」
		PRINTFORML 「对啊、今年已经结束了——」
		PRINTFORML 「……希望来年也是快乐的一年啊！」
	ELSEIF DAYEV("圣诞节") && PLACE("野外")
		PRINTFORML 「あ、あっちの方でイルミネーションやってる……」
	ELSE
		SELECTCASE RAND:4
		CASE 0
			PRINTFORML 「啊、已经是晚上啦」
			PRINTFORML 「……晚上、总感觉很成熟呢——」
		CASE 1
			PRINTFORML 「其实挺喜欢晚上的」
			PRINTFORML 「就像这样，偷偷熬夜感觉自己做了坏事一样……」
		CASE 2
			PRINTFORML 「哼……」
			PRINTFORML 「明明还想继续醒着，却困得不行……」
		CASE 3
			PRINTFORML 「……今天怎么感觉完全睡不着……」
		ENDSELECT
	ENDIF
ELSE
	IF AIZOU()
		PRINTFORML 「…………」
		PRINTFORML %CALLNAME:TARGET%正\@TALENT:恋慕 ? 有些尴尬地 # 仿佛心怀怨恨地\@盯着……%CALLNAME:MASTER%。
	ELSEIF COND("春")
		SELECTCASE RAND:7
		CASE 0
			PRINTFORML 「呜诶……春天来了……」
			PRINTFORML 「……不，樱花确实很美哦？　……但是很讨厌虫子……」
		CASE 1
			PRINTFORML 「春天、春天啊……」
			PRINTFORML 「到处都是蝴蝶和瓢虫飞来飞去……呜，起鸡皮疙瘩……」
		CASE 2
			PRINTFORML 「说到春天，还有花粉症呢……」
			PRINTFORML 「虽然%CNAME("一人称")%没那个问题，但有个朋友有花粉症」
			PRINTFORML 「每到这个时候总是带着一整盒纸巾，看着他就觉得好辛苦」
		CASE 3
			PRINTFORML 「春天、春天啊……」
			PRINTFORML 「很多人可能更喜欢春天而不是秋天，但%CNAME("一人称")%其实更喜欢秋天」
			PRINTFORML 「天气凉爽，慢慢的虫子也少了……」
		CASE 4
			PRINTFORML 「春天有各种花開，看着很漂亮」
			PRINTFORML 「如果没有那些讨厌的虫子就更好了……」
		CASE 5
			PRINTFORML 「春天意味着是草莓美味的季节！」
			PRINTFORML 「还有樱饼……那种咸咸的叶子，我挺喜欢的」
		ENDSELECT
	ELSEIF COND("夏")
		SELECTCASE RAND:6
		CASE 0
			PRINTFORML 「啊，热死了……%CNAME("二人称")%藤本喝水了吗？」
			PRINTFORML 「%CNAME("一人称")%吗？　%CNAME("一人称")%有定时喝水，所以没问题的」
		CASE 1
			PRINTFORML 「啊゛——……夏天啊——……」
			PRINTFORML 「……虽然很热……但可以去海边避暑所以并不怎么讨厌……」
		CASE 2
			PRINTFORML 「夏天！说到夏天就是海！」
			PRINTFORML 「……但是有水母，挺危险的……」
		CASE 3
			PRINTFORML 「夏天！说到夏天就是山！」
			PRINTFORML 「……但是虫子太多了……」
		CASE 4
			PRINTFORML 「……そういえばクラゲってたまーに売ってるじゃん。%CNAME("一人称")%、あれ食べたことないんだよなー」
			PRINTFORML 「到底是什么味道呢……」
		CASE 5
			PRINTFORML 「……说起来，差不多到抓虫子的季节了」
			PRINTFORML 「唔，虽然讨厌虫子，但甲虫和锹形虫感觉又有点不一样……」
		ENDSELECT
	ELSEIF COND("秋")
		PRINTFORM 「秋天！　说到秋天的话
		SELECTCASE RAND:5
		CASE 0
			PRINTFORML 就是食物哒！」
			PRINTFORML 「柿子……栗子……烤红薯……光想着就已经流口水了」
		CASE 1
			PRINTFORML 果然是运动啊！」
			PRINTFORML 「棒球和足球、不想去室外还有羽毛球和乒乓球、可以做很多事呢！」
			PRINTFORML 「……诶、游戏？　……肯定哪里搞错了。但也没搞错……」
		CASE 2
			PRINTFORML 当然是读书啦！」
			PRINTFORML 「……话虽这么说，但、%CNAME("一人称")%也不怎么读书呢……哈哈……」
		CASE 3
			PRINTFORML 就是艺术啊！」
			IF COND("種族：吸血鬼") == 0 || CEVENT("極夜の和解")
				PRINTFORML 「嘛虽然%CNAME("一人称")%并不太感兴趣，但爸爸妈妈都很喜欢古典音乐」
			ELSE
				PRINTFORML 「……嘛，不过%CNAME("一人称")%并没有对艺术那么感兴趣……」
			ENDIF
		CASE 4
			PRINTFORML ……是什么来着」
			PRINTFORML 「唔嗯……好像有点模糊的印象……」
			PRINTFORML 「…….这个年纪就这么健忘真是不妙啊……！」
		ENDSELECT
	ELSE
		SELECTCASE RAND:5
		CASE 0
			PRINTFORML 「呼诶~……变得相当冷了呢……」
		CASE 1
			PRINTFORML 「……啊、下雪了」
			PRINTFORML 「在里面滑雪或滑雪板应该很好玩吧……虽然感觉很可能会遇难」
		CASE 2
			PRINTFORML 「呜哦哦、好冷……不能開空调吗……？」
		CASE 3
			PRINTFORML 「冬天总是让人感觉有点寂寞啊」
			PRINTFORML 「也许是因为没有什么生物活动的缘故吧……」
		CASE 4
			PRINTFORML 「冬天的天空总觉得比平常更深沉一些」
			PRINTFORML 「那到底是为什么呢」
		ENDSELECT
	ENDIF
ENDIF

;-------------------------------------------------
;梦话。随意むにゃむにゃ言わせてください
;-------------------------------------------------
@KOJO_SLEEP_K57
IF CEVENT("お休み")
	PRINTFORML %REST_K57()%
ELSEIF CEVENT("『のぞき』見") && TALENT:相思相愛 == 0 && RAND:4
	PRINTFORML 「等…………啊…………嗯~……」
	PRINTFORML 「%CNAME("一人称", "ふりがな")%………………明明……我先………………来着……」
;上から順に発言頻度が高いようにする(== 0の付け忘れではない)
ELSEIF RAND:3
	PRINTFORML 「去吧……地方战队……用鞭子来……」
ELSEIF RAND:2
	PRINTFORML 「这样…… 啊…………」
	PRINTFORML 「今天……是荞麦面……吗……嘶……」
ELSE
	PRINTFORML 「姆妞~……巨大戦艦就在前面……」
ENDIF

;-------------------------------------------------
;メイン画面で選択肢として独立している日常イベントでのセリフ。WAIT使って大丈夫です
;こっちはあくまで選択肢で選ばれた場合に限るのに注意。
;ARGSの各CASEでの分岐において、ARGSの文字列後半に ：地の文前 を追加する事で地の文前に喋らせることもできる。
;また、そこでTFLAG:地の文スキップ = 1 とすると、本来出て来る地の文を飛ばすこともできる
;CASE "掀起裙子"の地の文の前に喋らせたりスキップさせたい場合にはCASE "掀起裙子：地の文前"を用意すればよい
;例）CASE "掀起裙子：地の文前"
;		PRINTW 試しにスキップ
;		TFLAG:地の文スキップ = 1
;-------------------------------------------------
@KOJO_DAILYCOM_K57, ARGS
;打招呼
#DIMS GREETING
#DIM ACTOR
#DIMS ACTNAME

IF CEVENT("お休み")
	PRINTFORMW %REST_K57()%
	RETURN 1
ENDIF

SELECTCASE ARGS
;通話などでの呼出なので括弧は「」ではなく『』推奨。TFLAG:地の文スキップ = 1とすると地の文をスキップ出来ます
CASE "Ｈ目的で呼び出された"
	;台詞を書いたらRETURN 0 を消してください
	;RETURN 0
	IF PLACE("情人旅館")
		IF CEVENT("初情人旅館") == 0
			PRINTFORMW 『哦、%CNAME("二人称")%！　今天要做……情、情人、情人旅馆！？』
			PRINTFORMW 『情人旅馆就是、这个、那个H的那个对吧？！』
			PRINTFORMW 『去哪里就是说、那个、就是、就是那种事对吧……！？』
			PRINTFORMW 『……%CNAME("一人称")%、%CNAME("一人称")%知道了』
			CALL PRINT_STRW, @"「只是、那个、从来都没来过……就请你多多指教了……_／／／_」"
			CALL SET_CEVENT, "初情人旅館"
		ELSE
			SELECTCASE RAND:3
			CASE 0
				PRINTFORMW 『今、今天要去情人旅馆吗……？』
				CALL PRINT_STRW, @"『唔唔……%CNAME("一人称")%、%CNAME("一人称")%知道了……_／／／_』"
			CASE 1
				PRINTFORMW 『……在、在这里……？』
				CALL PRINT_STRW, @"『知、知道「……准备好了，開始吧……_／／／_』"
			CASE 2
				PRINTFORMW 『哎，那、那个地方？！』
				PRINTFORMW 『啊、还、还没习惯……』
				CALL PRINT_STRW, @"「……我、我知道啦……_／／／_」"
			ENDSELECT
		ENDIF
	;做爱房
	ELSE
		IF CEVENT("初做爱房") == 0
			PRINTFORMW 『哦！　%CNAME("二人称")%！　突然给%CNAME("一人称")%打电话是有什么事？』
			PRINTFORMW 『……咦、诶、那里好像是、有名的做爱房……』
			PRINTFORMW 『……%CNAME("一人称")%、%CNAME("一人称")%知道了！　%CNAME("一人称")%知道了啦！』
			CALL PRINT_STRW, @"『过、过会儿%CNAME("一人称")%就过去，稍等一下……_／／／_』"
			CALL SET_CEVENT, "初做爱房"
		ELSE
			PRINTFORMW 『去，去那里就好了？』
			CALL PRINT_STRW, @"『唔……了、了解了……_／／／_』"
		ENDIF
	ENDIF
CASE "学園での日常"
	IF VAMP_K57() && CEVENT("ＴＳ吸血鬼フラグ") && CEVENT("吸血鬼化") == 0
		CALL TRANS_VAMP_K57
	ELSEIF CEVENT("入部") == 0
		PRINTL
		PRINTFORML  - A太 -
		PRINTFORMW 『喂！　回家的时候一起去买东西吧！』
		PRINTL
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「抱歉！　因为有社团活动所以没法一起走！」
		PRINTFORMW 「下次休息日再一起去吧！」
		PRINTL 
		PRINTFORML - A太 -
		PRINTFORMW 『嗯？　这么说，你参加社团了？』
		PRINTFORMW 『之前一直都是帰宅部的啊』
		PRINTL 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「对对，有些想做的事情，所以」
		PRINTL 
		PRINTFORML - A太 -
		PRINTFORMW 『诶ー、那你参加的是哪个社团啊？』
		PRINTL 
		PRINTFORMW - %CALLNAME:TARGET% -
		PRINTFORMW 「这个嘛――」
		PRINTL
		PRINTL
		PRINTFORMW %CALLNAME:TARGET%和同級生谈笑着
		PRINTFORMW 好像对%CALLNAME:TARGET%加入的社团很感兴趣……

		CALL SET_CEVENT, "入部"
	;なんとなく連続すると良くないので夏あたりにしてみる
	ELSEIF TEXTS("季節") == "夏" && CEVENT("卡拉OK") == 0
		PRINTL
		PRINTFORML  - B郎 -
		PRINTFORMW 『对了，回去的时候去唱卡拉OK吗？』
		PRINTL
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「卡拉OK啊，B郎唱得很好呢」
		PRINTFORMW 「%CNAME("一人称")%完全不行，真是气人」
		PRINTL 
		PRINTFORML - B郎 -
		PRINTFORMW 『我也没那么擅长啦』
		PRINTFORMW 『那么，去吗？不去吗？』
		PRINTL
		PRINTFORMW %CALLNAME:TARGET%和同級生谈笑着
		PRINTFORMW 看来%CALLNAME:TARGET%打算和朋友去唱卡拉OK……

		CALL SET_CEVENT, "卡拉OK"
	ELSEIF COND("種族：吸血鬼") && CEVENT("吸血鬼と友人") == 0
		PRINTL
		PRINTFORML  - A太 -
		PRINTFORMW 『对了，最近身体不舒服吗？』
		PRINTL
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「え、何で突然」
		PRINTFORMW 「%CNAME("一人称")%は全然元気だぞー」
		PRINTL 
		PRINTFORML - B郎 -
		PRINTFORMW 『最近出門的时候看起来不太舒服啊』
		PRINTFORMW 『大家都在担心你是不是生病了』
		PRINTL
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「啊，原来如此……」
		PRINTFORMW 「……是啊，确实最近有点怕太阳，很容易累……」
		PRINTFORMW 「但医生说没问题，所以不用担心！」
		PRINTL 
		PRINTFORML - A太 -
		PRINTFORMW 『哦，这样啊！那就一起出去玩吧！』
		PRINTL 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「哦！」
		PRINTL 
		PRINTFORMW %CALLNAME:TARGET%和同級生谈笑着
		PRINTFORMW 看来朋友们都在担心他的身体状况……

		CALL SET_CEVENT, "吸血鬼と友人"
	ELSEIF COND("身嗜み：Ａ拡張") && CEVENT("塞子登校") == 0
		PRINTFORML - Ｃ子 -
		PRINTFORMW 『呐%CALLNAME:TARGET%君，没事吧？』
		PRINTL 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「诶，什、什么！？」
		PRINTL 
		PRINTFORML - Ｃ子 -
		PRINTFORMW 『不是，那个。说不出是什么……』
		PRINTFORMW 『……%CALLNAME:TARGET%君，感觉你最近没有平时那么有精神……』
		PRINTL 
		PRINTFORML - Ｄ地 -
		PRINTFORMW 『大概是玩游戏玩太多，犯困了吧？』
		PRINTL 
		PRINTFORML - Ｃ子 -
		PRINTFORMW 『真是的！　别在旁边搅和！』
		PRINTFORMW 『……%CALLNAME:TARGET%君真的没事吗？要不要我陪你去保健室？』
		PRINTL 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「没、没事的」
		PRINTFORMW 「最近迷上了刚開始玩的游戏，不小心睡得太晚了而已……」
		PRINTL 
		PRINTFORML - Ｃ子 -
		PRINTFORMW 『是吗？那就好……』
		PRINTL 
		PRINTFORML - Ｄ地 -
		PRINTFORMW 『看吧！不就是我说的这样吗！』
		PRINTL 
		PRINTFORML - Ｃ子 -
		PRINTFORMW 『那只是巧合好吗！？总之你――』
		PRINTFORML 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW （实际上是因为插着肛塞兴奋了，这种事绝对说不出口啊……）
		CALL SET_CEVENT, "塞子登校"
	ELSEIF TALENT:伪娘 && CEVENT("女装") == 0 && CEVENT("初伪娘") == 0
		PRINTFORML - Ｅ多 -
		PRINTFORMW 『……说起来，最近有发生什么事吗？』
		PRINTL 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「唔嗯？没有，没什么特别的……」
		PRINTFORMW 「有什么奇怪的地方吗？」
		PRINTL 
		PRINTFORML - Ｅ多 -
		PRINTFORMW 『如果没什么就好。也没有要特意说的事』
		PRINTL 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「诶？被这么一说更让人在意了！」
		PRINTFORMW 「干嘛突然问这个啊」
		PRINTL 
		PRINTFORML - Ｅ多 -
		PRINTFORMW 『好了！好了啦！』
		PRINTFORMW 『……就是，最近感觉气质变了……』
		PRINTL 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「气质？」
		PRINTL 
		PRINTFORML - Ｅ多 -
		PRINTFORMW 『对，就是变得有点像女孩子……』
		PRINTL 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「啊，原来如此……」
		PRINTL 
		PRINTFORML - Ｅ多 -
		PRINTFORMW 『原来如此？那你有什么頭绪吗？』
		PRINTFORML 
		PRINTFORML - %CALLNAME:TARGET% -
		PRINTFORMW 「没、没有！不是那个意思！」
		PRINTFORMW （没想到会被朋友说变得像女孩子了……）
		IF TALENT:縦深菊穴
			PRINTFORMW （屁股的洞也完全变成了奇怪的形状……）
		ELSE
			PRINTFORMW （……果然，是%CNAME("二人称")%的错啊……）
		ENDIF
		CALL SET_CEVENT, "初伪娘"
	ELSEIF RAND:5 == 0
		SELECTCASE RAND:3
		CASE 0
			SELECTCASE RAND:12
			CASE 0
				PRINTFORML 「呐，你看了最新話了吗！？」
			CASE 1
				PRINTFORML 「啊哈哈、爸爸妈妈不怎么在家呢」
			CASE 2
				PRINTFORML 「哼，你也差不多吧」
			CASE 3
				IF COND("春") && RAND:3 == 0
					PRINTFORML 「欸……？」
					PRINTFORML 「唔，虫子很多的地方有点……」
				ELSE
					PRINTFORML 「哦，走走走！」
				ENDIF
			CASE 4
				PRINTFORML 「诶—，真的很详细啊……」
			CASE 5
				PRINTFORML 「……唔，好吃」
			CASE 6
				IF COND("夏")
					PRINTFORML 「这种时候不能游泳真是太糟糕了……」
				ELSE
					PRINTFORML 「啊，那就踢足球吧！」
				ENDIF
			CASE 7
				PRINTFORML 「诶诶！？　……那，那是什么ＡＶ啊？」
			CASE 8
				PRINTFORML 「啊，那就加个好友吧？」
			CASE 9
				PRINTFORML 「今天的话……好，%CNAME("一人称")%带了游戏机！」
			CASE 10
				PRINTFORML 「欸、那是什么！？」
			CASE 11
				PRINTFORML 「那边開了一家新的游戏店，不过那里……」
			ENDSELECT
			PRINTFORMW %CALLNAME:TARGET%%TEXTR("和朋友愉快地聊天/准备出去玩/昏昏欲睡地发呆")%……
		CASE 1
			PRINTDATAL
				DATA 「呃，如果是这个公式的话就会这样……」
				DATA 「作者的心情是什么意思啊……」
				DATA 「呃，“而”这个汉字是……」
				DATA 「根号……？」
				DATA 「热带草原气候和苔原气候……」
				DATA 「……啊，感觉在哪里见过类似的」
				DATA 「哇，所以物体会那样飞行啊……」
				DATA 「被动态……形容词……？」
				DATA 「这里建立幕府后，武家的势力逐渐变强……」
				DATA 「接下来是体育课时间了！」
				DATA 「呃……第十个元素是……」
				DATA 「呃，把这个和这个混合的话会变成这样……」
				DATA 「……啊，这个是什么来着……？」
				DATA 「这一年是，呃，一千……呃……？」
			ENDDATA
			PRINTFORMW %CALLNAME:TARGET%在课堂上%TEXTR("认真思考着课堂内容/打着哈欠/茫然地看着黑板/拼命抄写着课堂内容")%……
		CASE 2
			SELECTCASE RAND:3
			CASE 0
				PRINTFORMW 『呐……这个超色的吧？』
				PRINTFORMW 「诶，那是什么……！」
				PRINTFORMW 『呐？　对吧？』
				PRINTFORMW 「……这个真的很色啊……！」
			CASE 1
				IF TALENT:恋慕
					PRINTFORMW 『说起来，%CALLNAME:TARGET%最近气质变了啊』
					PRINTFORMW 「诶，真的吗？」
					PRINTFORMW 『对啊，因为嘛，感觉你和那个女生说话的气氛变了……』
					PRINTFORMW 「……被发现了？」
					PRINTFORMW 『当然，関系好的人一眼就能看出来啦』
				ELSE
					PRINTFORMW 『%CALLNAME:TARGET%って、あの女子のこと好きだよな』
					PRINTFORMW 「ゴフッ！　……え、な、なんでそんなこと？」
					PRINTFORMW 『いや、見てりゃすぐにわかるだろ……』
				ENDIF
			CASE 3
				PRINTFORMW 『%CALLNAME:TARGET%君。一起出去玩吗？』
				PRINTFORMW 「哦，好啊！去哪里玩啊？」
			ENDSELECT
		ENDSELECT
	ENDIF

CASE "お仕事"

CASE "归途"
	;SAVESTR:現在位置 と SAVESTR:归途の行動 を決定する
	CALL SETFLAG, "遭遇地点"

	IF DEVENT("うち的家族") && DAY - CFLAG:加入日 >= 3 && ABL:信頼 >= 3 && CEVENT("昼と夜") == 0
		CALL K57_LONG, "昼と夜"
		CALL SET_CEVENT, "昼と夜"
	ELSEIF AIZOU()
		CALL DAILY_MESSAGE, "归途"
	ELSE
		;地の文の前の台詞がある場合はここに書く
		SELECTCASE SAVESTR:現在位置
		CASE "阵雨"
			PRINTDATAW
				DATA 「哇，突然下起来了」
				DATA 「哇——真的吗。回去会很麻烦啊」
				DATA 「诶下雨了！？没带伞怎么办……」
				DATA 「糟了，今天没带折叠伞……」
				DATA 「哇——下得挺大的。这怎么办……」
				DATA 「哇——……忘记看天气预报了……」
			ENDDATA
		ENDSELECT

		;地の文を出す
		CALL DAILY_MESSAGE, "归途"

		SELECTCASE SAVESTR:归途の行動
		CASE "相合傘"
			PRINTFORMW 「……诶、让%CNAME("一人称")%进来吗？　认真的？」
		CASE "内衣選び", "泳装選び"
			IF RAND:2
				PRINTFORMW 「诶~！？　对、对呢——……」
				PRINTFORMW 「……这、这件合不合适……？」
			ELSE
				PRINTFORMW 「唔嗯……这样啊……」
				PRINTFORMW 「……那么，这样怎么样？」
			ENDIF
		;特定行動でのセリフ。DAILY_MESSAGE, "归途"の地の文を参考に随意場合分けしてください。
		CASE "站着读书"
			PRINTDATAW
				DATA 「哦，是新刊！」
				DATA 「……啊、这、这个、好色……」
				DATA 「嗯……『德古拉』……？」
				DATA 「姆……完全不明白！」
				DATA 「……唔哇，突然感觉好色……」
				DATA 「啊，这个看起来超有趣的……！」
			ENDDATA
		CASE "打情骂俏", "買食物"
			SELECTCASE RAND:5
			CASE 0
				PRINTFORMW 「啊%CNAME("二人称")%！　那家店看起来很好吃！」
			CASE 1
				PRINTFORMW 「啊，是新干线」
				PRINTFORMW 「……说起来，%CNAME("二人称")%小时候喜欢新干线这类的？」
				PRINTFORMW 「%CNAME("二人称")%？　%CNAME("二人称")%是这样的…嘛，可能会觉得很意外」
			CASE 2
				PRINTFORMW 「诶ー……这附近的小路是这样的啊」
			CASE 3
				PRINTFORMW 「这附近还真有不少天地啊……呜哇、虫子！」
			CASE 4
				PRINTFORMW 「啊，那边新開了一家店啊」
				IF TALENT:相思相愛
					PRINTFORMW 「……下、下次一起去吧……？」
				ELSE
					PRINTFORMW 「……希望有一天能和\@CNUM("莉") ? %CNAME("莉")% # 那家伙\@一起去啊」
				ENDIF
			ENDSELECT
		CASE "物色游戏"
			PRINTDATAW
				DATA 「哦！　这个游戏好像很有意思！」
				DATAFORM 「%CNAME("二人称")%，一起玩这个游戏吧？」
				DATALIST
					DATAFORM 「%CNAME("二人称", "どもり")%……」
					DATAFORM 「……想、想买这个黄游所以，那个……一起去收银台，可以吗……」
				ENDLIST
				DATA 「哇，感觉有点像以前的游戏呢……啊这么贵！？」
				DATA 「啊，这个是在班上引起过话题的那个游戏」
				DATA 「这个看起来挺有趣的……可、可是好贵啊～……」
			ENDDATA
		CASE "检查新刊"
			IF RAND:10 == 0
				PRINTFORMW 「诶……！？　下、下一卷就是最终卷了……！？」
			ELSEIF RAND:3
				PRINTFORMW 「姆~……还没出吗——……」
			ELSE
				SELECTCASE RAND:4
				CASE 0
					PRINTFORMW 「哦！　不是新刊吗！！」
				CASE 1
					PRINTFORMW 「…………唔哇！」
					CALL PRINT_STRW, @"「……找、找到了一本看起来很色情的漫画……\@ TALENT:淫乱 ? _H_ # _／／／_\@」"
				CASE 2
					PRINTFORMW 「那个……『攻略本』……？」
					PRINTFORMW 「在玩这个游戏，但是……这里面有写攻略情报吗……？」
				CASE 3
					PRINTFORMW 「读了这个肯定……！」
					PRINTFORM %CALLNAME:TARGET%
					IF TALENT:相思相愛
						PRINTFORM %TEXTR("料理本/なぜか女性誌/豊満的胸が魅力的なグラビア雑誌")%
					ELSE
						PRINTFORM %TEXTR("占い本/魔術について書かれたライトノベル/胡散臭い自己啓発本")%
					ENDIF
					PRINTFORMW を片手に闘志を燃やしている……
				ENDSELECT
			ENDIF
		CASE "繞道"
			SELECTCASE RAND:10
			CASE 0
				PRINTFORMW 「呐——%CNAME("二人称")%！　稍微绕下道吧！」
			CASE 1
				PRINTFORMW 「诶——、这里还有这样的地方啊——」
				PRINTFORMW 「没怎么来这边不怎么清楚呢——」
				IF CEVENT("極夜の和解")
					PRINTFORMW 「父亲他们不怎么喜欢过桥」
					PRINTFORMW 「现在%CNAME("一人称")%知道是因为吸血鬼不喜欢流水的原因了」
					IF RAND:10 == 0 && TALENT:相思相愛
						PRINTFORMW 「……嗯？　%CNAME("一人称")%不害怕吗？」
						PRINTFORMW 「有%CNAME("二人称")%在所以完全没问题啦！」
					ENDIF
				ENDIF
			CASE 2
				PRINTFORMW 「哦，那家店卖的东西看起来很有格调呢」
				SIF CEVENT("極夜の和解") || COND("種族：吸血鬼") == 0
					PRINTFORMW 「妈妈应该会喜欢，回頭告诉她去！」
			CASE 3
				PRINTFORMW 「哇，这里居然有古董店……」
				SIF CEVENT("極夜の和解") || COND("種族：吸血鬼") == 0
					PRINTFORMW 「%CNAME("一人称")%也挺喜欢的，但比起我，爸爸更喜欢这些……」
			CASE 4
				PRINTFORMW 「哇，这附近还有商店街啊」
				PRINTFORMW 「这种地方总让人感到兴奋！」
			CASE 5
				PRINTFORMW 「啊，是河流」
				IF RAND:2 && COND("夏")
					IF COND("種族：吸血鬼")
						PRINTFORMW 「……诶，汗、汗水怪怪的？真的吗？」
						PRINTFORMW 「不是，那个……变成吸血鬼后，看到河流就会感到不安」
						PRINTFORMW 「然后因为外面很热，所以汗水就哗哗的……」
					ELSE
						PRINTFORMW 「……这么热，真想直接跳进去游泳啊……」
						PRINTFORMW 「……当、当然是開玩笑的！！」
					ENDIF
				ELSE
					IF COND("種族：吸血鬼")
						PRINTFORMW 「……啊，那个，变成吸血鬼后，看到河流就会有点不安……」
						PRINTFORMW 「不是说不能过桥什么的……但、但是没事的！！」
					ELSE
						PRINTFORMW 「老师说过，以前大家会在这种地方游泳」
						PRINTFORMW 「虽然觉得有点恐怖，但还是很向往啊」
					ENDIF
				ENDIF
			CASE 6
				PRINTFORMW 「不知为什么，这种有点像小巷子的地方感觉挺好的」
				PRINTFORMW 「虽然%CNAME("一人称")%这么说有点奇怪，但有种怀念的感觉……」
			CASE 7
				PRINTFORMW 「这边还有这样的店啊」
				PRINTFORMW 「下次大家一起来的时候，要去看看……」
			CASE 8
				PRINTFORMW 「通常都会開车直接走，很少慢慢走……」
				PRINTFORMW 「这样一看，感觉挺新鲜有趣的！」
			CASE 9
				SELECTCASE TEXTS("季節")
				CASE "春"
					PRINTFORMW 「……这附近，各种花都開了」
					PRINTFORMW 「呜……花很漂亮，但一想到会有很多虫子……」
				CASE "夏"
					PRINTFORMW 「……哦，是牵牛花」
					PRINTFORMW 「说到牵牛花，就想起暑假作业把它养死的回忆了……」
				CASE "秋"
					PRINTFORMW 「哦，树叶变得好红」
					PRINTFORMW 「不知为什么，秋天看到满是红叶就会有种奇妙的感觉」
				CASE "冬"
					PRINTFORMW 「这附近，下过雪」
					PRINTFORMW 「这种景色感觉很神秘，挺好的」
					PRINTFORMW 「有种让人兴奋的感觉」
				ENDSELECT
			ENDSELECT
		CASE "直帰"
			IF RAND:2
				PRINTFORMW 「哦、今天直接回家吗」
				IF COND("同居中")
					PRINTFORMW 「那我们一起回去吧，%CNAME("二人称")%」
				ELSE
					PRINTFORMW 「那么%CNAME("二人称")%，明天见！」
				ENDIF
			ELSE
				PRINTFORMW 「今天就这样回去了吗？」
				IF COND("同居中")
					PRINTFORMW 「嘿嘿嘿，那%CNAME("一人称")%也一起回去了」
				ELSE
					PRINTFORMW 「%CNAME("一人称")%要往另一个方向走，从这里分别了哦」
					PRINTFORMW 「それじゃ%CNAME("二人称")%、また明日！」
				ENDIF
			ENDIF
		CASE "圣诞节前夕"
			PRINTFORMW 「……啊，对了，快到圣诞节了」
			IF RAND:2
				PRINTFORMW 「……嗯，已经不再相信圣诞老人了」
			ELSE
				PRINTFORMW 「%CNAME("二人称")%打算给谁送礼物吗？」
				IF TALENT:恋慕
					PRINTFORMW 「%CNAME("一人称")%的话……嗯，那个……」
				ELSE
					PRINTFORMW 「%CNAME("一人称")%虽然有想送的人，但……」
				ENDIF
			ENDIF
		CASEELSE
			PRINTFORMW 「呵呵，和%CNAME("二人称")%在一起玩很開心！」
		ENDSELECT
	ENDIF

;归途イベントの後になんとなく情人旅館に行こっかとなった際のセリフです
;STR:Ｈする場所 で場所を情人旅館以外にする事も出来ます。（例 STR:Ｈする場所 = 部室
CASE "放課後Ｈ的邀请"
	;システムでどうにか出来るかもしれないけど、まあこれはこれでエッチなので書く
	IF AIZOU()
		PRINTFORMW 「……………」
		PRINTFORMW %CALLNAME:TARGET%一边转过頭去，一边抓着%CALLNAME:MASTER%的手臂想要走去某个地方
		PRINTFORMW 将目光投向那个方向时，一座装饰着炫目霓虹灯的爱情旅馆骄傲地矗立在那里……
	ELSEIF TALENT:相思相愛 && RAND:2
		PRINTFORMW 「那、那个……」
		PRINTFORMW %CALLNAME:TARGET%有些局促不安，说着指着某个方向，显得有些难以启齿
		PRINTFORMW 当%CALLNAME:MASTER%看向那里时，一座装饰着炫目霓虹灯的爱情旅馆骄傲地矗立在那里
		PRINTFORMW 「既然两个人独处……不行吗？」
	ELSE
		PRINTFORMW 「――啊」
		PRINTFORMW %CALLNAME:TARGET%似乎注意到了什么，目光投向了某个方向
		PRINTFORMW %CALLNAME:MASTER%也随之看去，那里有一座装饰着炫目霓虹灯的爱情旅馆骄傲地矗立着
		IF TALENT:淫乱
			IF CEVENT("初情人旅館") == 0
				PRINTFORMW 「……其实%CNAME("一人称")%，在一起回家的时候，我已经開始兴奋了」
				IF ABL:露出癖 >= 5
					PRINTFORMW 「如果在这种地方做爱会怎么样，被人看到了会怎么样……」
				ELSE
					PRINTFORMW 「在这样的市中心，很多地方都会被看到，到底在哪里做爱才好，哪里才安全呢……」
				ENDIF
				PRINTFORMW 「所以啊，看到那个就忍不住了」
				PRINTFORMW %CALLNAME:TARGET%情热地注视着,缠住%CALLNAME:MASTER%的手臂
				CALL PRINT_STRW, @"「两个人独处，回家前做很多爱爱的事情吧_H_」"
			ELSE
				IF RAND:2
					CALL PRINT_STRW, @"「呐，回家前做很多色色的事吧_H_」"
				ELSE
					CALL PRINT_STRW, @"「……就我们两个独处，做很多事情吧_H_」"
				ENDIF
			ENDIF
		ELSEIF CEVENT("初情人旅館") == 0
			PRINTFORMW 「爱情旅馆，虽然看过很多次，但其实从来没进去过」
			PRINTFORMW 「毕竟是做那种事情的地方，平常进去还是会觉得很害羞……」
			PRINTFORMW 「……诶！？不、不是，我不是说想进去看看什么的……」
		ELSE
			PRINTFORMW 「诶……不、不是，我不是想进去……！」
			PRINTFORMW 「……真、真的要进去吗……？」
		ENDIF
	ENDIF

;お浴室に一緒に入ろうと誘われた場合。TFLAG:床イン = 1とすることで強制的にエロにも行ける
;浴室でスタートする場合には、代わりにTFLAG:お浴室でＨ = 1として下さい
CASE "一緒にお浴室"
	IF TALENT:相思相愛
		PRINTFORMW 「那个……要一起洗澡吗？」
	ELSE
		PRINTFORMW 「呐、不一起洗个澡吗？」
	ENDIF

;[999]選択後の台詞。TFLAG:床イン = 1とすることで強制的にエロにも行ける
;浴室でスタートする場合には、代わりにTFLAG:お浴室でＨ = 1として下さい
CASE "休憩"
	;台詞を書いたらRETURN 0を消してください
	IF AIZOU()
		RETURN 0
	ELSE
		IF PLACE("自宅")
			IF COND("夜")
				;お浴室
				IF PLACE("居間")
					PRINTDATAW
						DATAFORM 「%CNAME("二人称")%！　一起去洗澡吧！」
						DATAFORM 「想和%CNAME("二人称")%一起洗澡……不行吗？」
						DATAFORM 「%CNAME("二人称")%！　既然这样，一起洗澡怎么样？」
					ENDDATA
				ELSE
					PRINTDATAW
						DATA 「哦！　晚安！」
						DATA 「晚安——」
						DATA 「嗯！　晚安！」
					ENDDATA
				ENDIF
			ELSE
				IF RAND:2
					PRINTFORMW 「哦、要午睡吗？」
					PRINTFORMW 「那样的话ー……那%CNAME("一人称")%也睡个午觉吧！」
				ELSE
					PRINTFORMW 「呼啊……%CNAME("一人称")%也困了」
					IF TALENT:相思相愛 && RAND:2
						PRINTFORMW 「……那个，呃」
						PRINTFORMW 「……可以和%CNAME("二人称")%一起睡吗？」
					ELSE
						PRINTDATAW
							DATA 「既然这样，一起睡吧！」
							DATAFORM 「%CNAME("一人称")%也一起睡……」
							DATAFORM 「那%CNAME("二人称")%也一起……」
						ENDDATA
					ENDIF
				ENDIF
			ENDIF
		;ここは実質昼のみ
		ELSEIF PLACE("部室")
			IF COND("同居")
				PRINTFORMW 「知道了！　那等会儿见！」
			ELSE
				PRINTFORMW 「知道了！　那明天见！」
			ENDIF
		;場所移動後
		ELSE
			PRINTFORMW 「唔嗯，知道了」
			PRINTFORMW 「那,%CNAME("一人称")%再在这里待会儿，再见！」
		ENDIF
	ENDIF

CASE "清洁口交：お誘い"
	PRINTFORMW 「……那个」
	IF TALENT:淫乱
		CALL PRINT_STRW, @"「%CNAME("二人称")%的鸡鸡，让我来舔干净吧_H_」"
	ELSEIF CEVENT("接吻の虜")
		CALL PRINT_STRW, @"「可以让我清洁%CNAME("二人称")%的小鸡鸡吗……_H_」"
	ELSE
		CALL PRINT_STRW, @"「那、那个，我想试试看……」"
		PRINTFORMW 「……对这个感到好奇，没関系吧」
	ENDIF

CASE "清洁口交：射精後"
	IF TALENT:淫乱
		CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 3)%」"
		CALL PRINT_STRW, @"「……嘿嘿，最喜欢%CNAME("二人称")%的鸡鸡了……_H_」"
	ELSE
		IF ABL:精液中毒 >= 3
			CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 3)%」"
			CALL PRINT_STRW, @"「有股臭味，还黏糊糊的……嗯……_H_」"
		ELSE
			PRINTFORMW 「%PANT_K57(TARGET, "不要", "Ｍ異物", 3)%」
			PRINTFORMW 「唔呕……好奇怪的味道……」
		ENDIF
	ENDIF

CASE "清洁口交：断った"
	IF TALENT:淫乱
		PRINTFORMW 「哎呀，不想做吗」
		PRINTFORMW 「%CNAME("二人称")%抱歉啊，我说了些过分的话」
	ELSE
		PRINTFORMW 「……对、对啊！做那种事情太奇怪了！」
		PRINTFORMW 「呜、呜哇……我怎么会说出那种话……」
	ENDIF

CASE "清洁口交よりＶ性処理"

CASE "清洁口交よりＡ性処理"

;NOWEXを分岐に用いることが出来る。また、TFLAG:地の文スキップで地の文を飛ばせる
CASE "性処理：前"
	;口上を書いた場合はRETURN 0を消してください
	RETURN 0
	;避孕套を使う場合
	IF TEQUIP:PLAYER:避孕套
		PRINTFORMW 
	ELSE
		PRINTFORMW 
	ENDIF
CASE "性処理：後"
	;口上を書いた場合はRETURN 0を消してください
	RETURN 0
	;避孕套を使う場合
	IF TEQUIP:PLAYER:避孕套
		PRINTFORMW 
	ELSE
		PRINTFORMW 
	ENDIF
;ここには特殊な条件での角色独自のイベントを書く。別に無くても構わない
;発生領帯ミングは日常イベント選択後の好感度を得た直後
CASE "特殊事件"
	;眠ってる時でも来るので書くことないならRETURN 0してください
	SIF CFLAG:睡眠
		RETURN 0
;場所を変えた際のセリフ。通常は没有で構いません。SAVESTR:現在位置 や @PLACE(ARGS)で場所を条件分けして使ってください
CASE "换地方"

;この角色が点心当番で、その時間帯で部室に最初からいる時のセリフ
CASE "点心を用意した"
	;本日の点心はこの角色の亲手自制
	IF COND("亲手自制点心")

	ELSE

	ENDIF
;これは昼か夜
CASE "打招呼"
	IF COND("夜")
		IF AIZOU()
			GREETING = 晚上好！
		ELSE
			GREETING = 晚上好！ー
		ENDIF
	ELSE
		IF AIZOU()
			GREETING = 早上好う
		ELSE
			GREETING = 早上好ー
		ENDIF
	ENDIF
	IF CFLAG:打招呼した
		PRINTFORMW 「……%GREETING%」
	;你に先に打招呼をされた
	ELSEIF CFLAG:打招呼した == 0
		PRINTFORMW 「哦%GREETING%！」
	ELSE
		PRINTFORMW 「%GREETING%」
		IF COND("夏")
			PRINTFORMW 「今天好热啊……」
		ELSEIF COND("冬")
			PRINTFORMW 「唔……今天不冷吗……？」
		ELSE
			PRINTFORMW 「今天天气真不错呢！」
		ENDIF
	ENDIF
CASE "叫醒"
	PRINTDATAW
		DATAFORM 「嗯……%CNAME("二人称")%……？」
		DATA 「啊咧，早上好……？」
	ENDDATA
;酔った際に眠くなって自分的房間に返回際のセリフ
CASE "眠い"
	PRINTDATAW
		DATALIST
			DATA 「呼哇~…………」
			DATA 「%CNAME("一人称")%还不困……再等一会儿…………晚an……」
		ENDLIST
		DATA 「好困……晚安……」
		DATA 「感觉有点飘飘然的……晚安……」
		DATA 「已经想睡了……睡觉……」
		DATA 「晚安……」
	ENDDATA
;全裸終了の際のセリフ
CASE "服を着た"
	PRINTDATAL
		DATA 「越来越冷了……」
		DATA 「呜……这样下去会感冒的……」
		DATA 「不该脱衣服的……嘶……」
	ENDDATA
;暑かったり躁动难忍してたり酔っぱらってたりで内衣姿变成了際のセリフ
CASE "薄着变成了"
	PRINTDATAW
		DATA 「啊——好热啊……」
		DATA 「这么热，索性全部脱掉吧！」
	ENDDATA
;易出汗状態の際に裙の中に扇風機の風を当てた際のセリフ。[粗野]or[開朗]or[小悪魔]限定
CASE "股間に扇風機"
	PRINTFORMW 
CASE "Talk"
	SELECTCASE STR:日常イベント名
	;これはCSTR:点心 に亲手自制属性のものが設定されている時のみ
	CASE "夸奖点心"
		IF RAND:2
			PRINTFORMW 「诶嘿嘿，能这么说%CNAME("一人称")%真的超開心的！」
		ELSE
			PRINTFORMW 「这、这样啊……嘿、嘿嘿~……」
			PRINTFORMW 「努力真的值得啊，好開心啊……」
		ENDIF
	CASE "夸奖"
		SELECTCASE RAND:3
		CASE 0
			PRINTFORMW 「可、可能是吧……嘿嘿嘿……」
		CASE 1
			PRINTFORMW 「是、是吗……？」
			CALL PRINT_STRW, @"「…………嘿嘿…………_／／／_」"
		CASE 2
			PRINTFORMW 「……能、能这么说真的超開心的……嘿嘿嘿……」
		ENDSELECT
	CASE "甜言蜜语"
		IF AIZOU()
			PRINTFORMW 「……哼~」
		ELSEIF TALENT:恋慕
			PRINTFORMW 「……真、真的吗？」
			CALL PRINT_STRW, @"「啊、这样……这样啊……欸嘿嘿……_H_」"
		ELSEIF CALCF("甜言蜜语成功")
			CALL PRINT_STRW, @"「呜啊~！　不、不要说那么肉麻的话啦……_H_」"
		ELSE
			PRINTFORMW 「嗯？　什么？」
			PRINTFORMW 「……啊！　难道说你要教%CNAME("一人称")%魔法啦！？」
		ENDIF
	CASEELSE
		IF CEVENT("お休み")
			PRINTFORMW %REST_K57()%
		ELSEIF AIZOU()
			PRINTDATAW
				DATAFORM 「……%CNAME("一人称")%不想和%CNAME("二人称")%说话……」
				DATA 「别跟我说话……会让我心情不好……」
				DATA 「……为什么要来找我聊天」
			ENDDATA
		ELSE
			SELECTCASE KABURAND(6)
			CASE 0
				IF COND("夜") && COND("春")
					IF COND("種族：吸血鬼")
						PRINTFORMW 「唔哇，開始困了……」
						PRINTFORMW 「身体变成这样后，晚上并不怎么困，但这个季节好像不一样……」
						PRINTFORMW 「为什么呢……因为暖和吗……？」
					ELSE
						PRINTFORMW 「这个季节的夜晚特别容易困呢」
						PRINTFORMW 「白天也是暖洋洋的，让人想睡觉，但到了晚上，感觉就像被轻柔地包围着一样……」
					ENDIF
				ELSEIF COND("夏")
					;夏バテ気味だが遥君は夏好きそうなので元気な口上を書く
					SELECTCASE RAND:6
					CASE 0
						PRINTFORMW 「话说已经夏天了啊——」
						PRINTFORMW 「难得有机会、一起去看烟花吧！」
						IF COND("種族：吸血鬼") && RAND:2
							PRINTFORMW 「……嗯？　在担心%CNAME("一人称")%的身体吗？」
							PRINTFORMW 「话说、烟花大会不是都在晚上吗——？」
						ENDIF
					CASE 1
						PRINTFORMW 「虽然夏天很热，但看着明亮的天空让人感觉精神奕奕！」
						IF COND("種族：吸血鬼")
							PRINTFORMW 「……嘛，现在%CNAME("一人称")%是吸血鬼，所以有些没干劲啊……」
							PRINTFORMW 「还有很多虫子……」
						ELSE
							PRINTFORMW 「……嘛、虫子很多也是个问题啊……」
						ENDIF
					CASE 2
						PRINTFORMW 「哎呀ー、下雨了」
						PRINTFORMW 「%CNAME("一人称")%喜欢看巨大的积雨云在空中漂浮，但是下大雨就不好了」
					CASE 3
						PRINTFORMW 「……哦！　这不是风铃吗！」
						PRINTFORMW 「难得拿出来用……该挂在哪里呢」
					CASE 4
						PRINTFORMW 「哦！　今天天气真好！」
						PRINTFORMW 「这时候就会想去海边或者泳池游泳呢」
					CASE 5
						PRINTFORMW 「……呜、呜哇~！」
						PRINTFORMW 「%CNAME("二人称", "どもり")%、有、有有有、虫啊！」
						PRINTFORMW 「求、求求你了赶快拿走、%CNAME("二人称")%！」
					ENDSELECT
				ENDIF
			CASE 1
				IF CFLAG:好感度 <= 30 && RAND:25 == 0
					PRINTFORMW 「……啊，%CNAME("二人称")%！」
					PRINTFORMW 「啊——就是，那个……」
					PRINTFORMW 「\@CNUM("莉") ? 呃……不是 # \@为了让喜欢的人注意到我，我该怎么做呢……」
					PRINTFORMW 「我想让你对我说喜欢，想和%CNAME("一人称")%聊天、一起笑……」
					PRINTFORMW 「……但是，到底该怎么做才能达到那样呢……」
				ELSEIF (COND("種族：吸血鬼") == 0 || CEVENT("極夜の和解")) && RAND:2
					SELECTCASE RAND:3
					CASE 0
						PRINTFORMW 「……啊啦？　这是国际象棋的棋盘吗？」
						PRINTFORMW 「父亲和母亲很喜欢下棋。%CNAME("一人称")%也经常陪他们一起玩」
						PRINTFORMW 「……是不是很擅长？……别问这个……」
					CASE 1
						PRINTFORMW 「是海派还是山派？　%CNAME("一人称")%当然是海派啦！」
						PRINTFORMW 「啊啊、但%CNAME("一人称")%也很喜欢山啊」
						PRINTFORMW 「只是啊，爸爸妈妈他们啊有点不喜欢山……水也不喜欢……」
					CASE 2
						PRINTFORMW 「嗯——？　料理吗？」
						PRINTFORMW 「呜~嗯……虽然帮母亲打过下手、但是没那么擅长啊」
						PRINTFORMW 「而且、父亲母亲平时光喝番茄汁啊——」
						PRINTFORMW 「拜其所赐、冰箱里总是堆满了番茄汁」
					ENDSELECT
				ELSE
					PRINTFORMW 「呼啊……有点困……」
					PRINTFORMW 「……啊，对不起。今天的最后一课是数学」
					PRINTFORMW 「可是数学到底有什么用啊……」
				ENDIF
			CASE 2
				;部員評価が長くて視認性を損ねていたのでLONGに移籍
				CALL K57_LONG, "部員評価"
			CASE 3
				IF COND("種族：吸血鬼")
					SELECTCASE RAND:4
					CASE 0
						PRINTFORMW 「嗯？　白天不会太难受吗？」
						PRINTFORMW 「比想象的要好点、但比起以前还是要难受许多」
					CASE 1
						PRINTFORMW 「最近河水有点让人痛苦呢ー」
						PRINTFORMW 「嗯？　啊啊，不是说不能游泳了，只是好像变得不太喜欢流动的水了」
						PRINTFORMW 「水龙頭的水倒没関系……」
					CASE 2
						PRINTFORMW 「%CNAME("二人称")%，听%CNAME("一人称")%说～」
						PRINTFORMW 「最近又陪爸爸妈妈下国际象棋了，但是一点都赢不了！」
						PRINTFORMW 「比以前更强了，他们那时候好像故意放水了」
						PRINTFORMW 「呜ー、怎么才能赢呢……」
					CASE 3
						PRINTFORMW 「变成吸血鬼后有什么变化吗？　唔嗯……」
						PRINTFORMW 「……啊ー、对大蒜有点不太行了呢ー」
						PRINTFORMW 「但是十字架之类的完全没问题，真不可思议呢」
					ENDSELECT
				ELSE
					SELECTCASE RAND:4
					CASE 0
						PRINTFORMW 「即使困了，出去走走，不知不觉就精神了」
						PRINTFORMW 「和朋友聊天时被说只有我这样,%CNAME("二人称")%你呢？」
					CASE 1
						PRINTFORMW 「说起来，%CNAME("二人称")%对鱼类没问题吗？」
						PRINTFORMW 「%CNAME("一人称")%？　%CNAME("一人称")%啊……」
						PRINTFORMW 「其实因为桌上不怎么有鱼料理，所以不是喜不喜欢的问题，不太清楚」
					CASE 2
						PRINTFORMW 「唔嗯，是梦吗？」
						PRINTFORMW 「呼呼呼——其实我想成为游泳选手！」
						PRINTFORMW 「啊，但足球也很酷，棒球也是……」
					CASE 3
						PRINTFORMW 「……啊，这个？是口气清新剂」
						PRINTFORMW 「诶，意外吗？……嗯，%CNAME("一人称")%也会注意形象的」
						PRINTFORMW 「……不过，用得多的原因，嗯，还有一点点别的……」
						PRINTFORMW 「因为爸爸妈妈不喜欢大蒜的味道。但毕竟偶尔还是会想吃那种重口味的东西对吧？」
						PRINTFORMW 「吃完那种东西后会经常用…………偶尔」
						PRINTFORMW 「偶尔！」
					ENDSELECT
				ENDIF
			CASE 4
				IF VAGINA(TARGET) && CEVENT("女装") == 0
					PRINTFORMW 「啊，制服吗？」
					PRINTFORMW 「不过，虽然也准备了水手服……」
					PRINTFORMW 「……但是，总觉得有点凉飕飕的，不太自在……」
					IF COND("冬")
						PRINTFORMW 「だって今冬だぞ？　说实话太冷了，真的受不了！」
					ELSE
						PRINTFORMW 「而且，果然还是这边的衣服更让人安心……」
					ENDIF
				ELSEIF TALENT:伪娘
					PRINTFORMW 「就这样穿上女装、周围的视线也变了啊」
					PRINTFORMW 「该怎么说呢、感觉更容易感觉到视线集中在哪里了……」
					PRINTFORMW 「……%CNAME("二人称")%的视线？　从以前開始不就很明显吗？」
				ELSEIF CHARANUM >= 4
					PRINTFORMW 「这里的社团成员都很漂亮呢」
					PRINTFORMW 「大家都很友好，很開心，但老实说，有时会有点紧张……」
				ELSE
					PRINTFORMW 「啊，%CNAME("二人称")%果然很有名啊？」
					PRINTFORMW 「果然很出名啊……」
				ENDIF
			CASE 5
				PRINTFORMW 「……话说、%CNAME("二人称")%有〇〇传说的游戏吗？」
				PRINTFORMW 「哈哈……那个boss有点难打啊……想要个技术达人帮忙打一下啊」
			ENDSELECT
		ENDIF
	ENDSELECT
;TFLAG:取引拒否 = 1とすることで、你のたわごとを却下できます
CASE "Ｈ的約定"
	;台詞を書いたら下のRETURN 0を消してください
	RETURN 0
	;この角色自身が前回赤点で、それどころではない（学生以外は、この分岐には来ません）
	IF COND("成績：赤点")
		PRINTFORMW 「对不起！　这次已经不是糟糕能形容的程度了！」
		PRINTFORMW 「测试什么的下次再做吧！　真的对不起！」
		TFLAG:取引拒否 = 1
	;以下はご褒美を给事にＯＫして给
	ELSE
		;前回既に你が良い点を取っている場合には”学年上位”を要求します
		IF COND("成績：優秀", MASTER)
			PRINTFORMW 「诶——？　话说%CNAME("二人称")%脑袋真灵光啊——……」
			PRINTFORMW 「……好！　如果你考到了年级上游%CNAME("一人称")%就和你约定！」
			PRINTFORMW 「虽然不是绝对的、但也请好好教%CNAME("一人称")%读书哦？」
		;そうでない場合には平均点を結構上回る程度でＯＫです
		ELSE
			PRINTFORMW 「唔嗯、但是呐ー……」
			PRINTFORMW 「……不过如果，%CNAME("二人称")%取得好成绩，也许可以腾出很多时间……」
			PRINTFORMW 「……好！　决定了！　如果%CNAME("二人称")%能取得好成绩的话就可以做H的事！」
			PRINTFORMW 「……不过代价是，能陪%CNAME("一人称")%一起学习吗……？」
		ENDIF
	ENDIF
CASE "拭汗"
	PRINTFORMW 「诶、要帮%CNAME("一人称")%擦干净吗？」
	SIF (TALENT:MASTER:男性 == 0 || TALENT:MASTER:伪娘) && RAND:3 == 0
		PRINTFORMW 「……实际上%CNAME("一人称")%还真做过这样的梦」
	PRINTFORMW 「嘿嘿，谢谢你！」
CASE "淋浴独り言"
	IF VAGINA(TARGET)
		PRINTDATAW
			DATA 「唔哇，胸好大……」
			DATA 「嗯……感觉，好敏感……」
			DATA 「原来胸这么重啊……」
			DATA 「唔……这里，好难洗……」
			DATA 「明明是自己的身体……感觉有点色……」
		ENDDATA
	ENDIF
CASE "淋浴"
	PRINTFORMW 「……哦、这不是%CNAME("二人称")%吗」
	;実は内衣を漁ったのに気づかれています
	IF COND("淋浴：内衣漁りバレ")
		IF CEVENT("女装の虜")
			PRINTFORMW 「……那么、那个、怎么样了？」
			PRINTFORMW 「啊是什么？……%CNAME("二人称")%的内褲啊」
		ELSEIF TALENT:恋慕
			PRINTFORMW 「……这还真是、%CNAME("二人称")%真是个了不得的变态呢ー」
			PRINTFORMW 「嘛、这样喜欢着%CNAME("二人称")%的%CNAME("一人称")%也是同类了」
		ELSE
			PRINTFORMW 「……不对，%CNAME("二人称")%」
			PRINTFORMW 「不是、那个、……呜嗯」
		ENDIF
	ELSEIF COND("冬")
		IF RAND:2
			PRINTFORMW 「好冷啊、来温暖一下%CNAME("一人称")%嘛」
		ELSE
			PRINTFORMW 「这里的浴室水温好暖和，真是太好了」
			PRINTFORMW 「来社团活动室就忍不住想用一下」
		ENDIF
	ELSEIF COND("夏")
		IF RAND:2
			PRINTFORMW 「浑身是汗呢、身体真是清爽了」
		ELSE
			PRINTFORMW 「虽然不知道为什么会有浴室，但真的超级方便啊」
			PRINTFORMW 「就算满身是汗也不用担心，而且最重要的是不会冷！」
		ENDIF
	ELSE
		PRINTFORMW 「%CNAME("二人称")%也来洗澡了吗？」
	ENDIF
CASE "淋浴後换装"
	;初めて
	IF DEVENT(STR:日常イベント名) == 0
		PRINTFORMW 
	ELSE
		PRINTFORMW 
	ENDIF

CASE "淋浴後换装失敗"
	;初めて
	IF DEVENT(STR:日常イベント名) == 0
		PRINTFORMW 「……诶？　怎么回事……？」
		PRINTFORMW 「……等、等等！　%CNAME("二人称")%、%CNAME("一人称")%的衣服怎么不见了！？」
	ELSE
		PRINTFORMW 「诶、等、等一下……！？」
		IF RAND:2
			PRINTFORMW 「……难道、是%CNAME("二人称")%……？」
		ELSE
			PRINTFORMW 「……而且这衣服是什么啊……」
		ENDIF
	ENDIF

;睡眠中の悪戯
CASE "趁睡袭击"
	;梦话
	CALL KOJO_SLEEP_K57
	WAIT
CASE "互动"
	SELECTCASE STR:日常イベント名
	CASE "一起学习"
		IF AIZOU()
			PRINTFORMW 「……不、不用看着、也可以」
		ELSE
			PRINTDATAW
				DATAFORM 「%CNAME("二人称")%，这边我不太懂……」
				DATA 「how muth……不对。how much……」
				;最近はプログラム教育が推進されていると聞くので取り込んでみた
				DATA 「欸——原来那个程序是这样的啊。……啊，所以这里是……」
				DATA 「欸——这里变成这样，所以这里是……」
			ENDDATA
		ENDIF
	CASE "托一托胸部"
		PRINTFORMW 
	CASE "撫摸股間"
		IF CFLAG:好感度 >= 100 && RAND:2
			CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "通常")%在、在这种地方……_H_」"
		ELSE
			PRINTFORMW 「等下、%CNAME("二人称", "どもり")%！」
		ENDIF
	CASE "按摩"
		PRINTFORMW 「嗯ー……好舒服……」
		IF RAND:2
			PRINTFORMW 「呼啊……有点想睡觉了……」
		ELSE
			PRINTFORMW 「%CNAME("二人称")%的按摩技术真厉害啊……」
		ENDIF
	CASE "接吻"
		IF CSTR:PREV_DAILYCOM == STR:日常イベント名
			CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "接吻", 3+RAND:3)%」"
		ELSE
			PRINTFORMW 「等、太、太突然了！」
		ENDIF
	CASE "膝枕"
		IF AIZOU()
			PRINTFORMW 「不要」
			PRINTFORMW 「……真的十分想要的话、让%CNAME("一人称")%稍微考虑一下吧……」
		ELSEIF TALENT:恋慕
			PRINTFORMW 「%CNAME("二人称")%的腿上、说不上来的很让人安心呢——」
			PRINTFORMW 「这样好像可以睡着了……」
		ELSE
			PRINTFORMW 「呜、呜呜……」
			PRINTFORMW 「像、像个小孩一样好害羞……」
		ENDIF
	CASE "泡茶"
		IF COND("夏") && RAND:2
			PRINTFORMW 「谢谢！　刚好稍微有点口渴了～」
		ELSE
			PRINTFORMW 「啊！　是茶啊！　谢谢你了！」
		ENDIF
	;CALL SET_CEVENT, "飲酒拒否"でお酒を飲まないようにできる。
	;このフラグはCALL DEL_CEVENT, "飲酒拒否"で消すことができる
	CASE "勸酒"
		IF DEVENT(STR:日常イベント名) == 0
			PRINTFORMW 「哦！　这是酒吧！　%CNAME("一人称")%可以尝一口吗？」
			PRINTFORMW 「……真的吗？　好耶ー！」
			PRINTFORMW 「呀ー、爸爸妈妈总是说“不可以喝酒”！　所以到现在都没尝过呢」
			PRINTFORMW 「但是他们俩总是喝着像红酒一样的东西，很难不想试试！」
			PRINTFORMW 「……嗯、现在不是说这个的时候。那么，让%CNAME("一人称")%来试试吧♪」
		ELSEIF STATE("烂醉", TARGET)
			PRINTFORMW 「%CNAME("二人称", "甘え")%～、%CNAME("二人称")%好温暖～」
		ELSE
			SELECTCASE RAND:3
			CASE 0
				PRINTFORMW 「呼~呼~呼~、%CNAME("一人称")%要喝了哦！」
			CASE 1
				PRINTFORMW 「呜咕……好苦……」
				PRINTFORMW 「……但、但是、喝了这个的话就是大人了吧……！」
			CASE 2
				PRINTFORMW 「好像医院的味道……」
			ENDSELECT
		ENDIF
	;当然だが尾巴がある相手のみ
	CASE "抚摸尾巴"
	CASE "摸頭"
		IF CFLAG:好感度 >= 500
			PRINTFORMW 「……！　等、等一下……！」
			PRINTFORMW 「怎、怎么说呢…………不、不是！　并不是讨厌的意思！」
			PRINTFORMW 「这个、稍微有点羞耻…………」
		ELSE
			PRINTFORMW 「？　怎么了突然摸我頭」
			PRINTFORMW 「……总之、虽然不是很懂但谢谢你！」
		ENDIF
	;胸元にチップを差し込まれます。兔女郎制服限定
	CASE "给小费"
		PRINTFORMW 
	;送禮貰った感想です。何を貰ったか含め、好きに書いてください
	CASE "送一份小礼物"
		PRINTFORMW 「哦！　是点心！」
		PRINTFORMW 「%CNAME("一人称")%不怎么吃粗点心所以感觉有点特别。%CNAME("二人称")%、谢谢！」
	CASE "送一份普通的礼物"
		PRINTFORMW 「等等，这是……」
		PRINTFORMW 「……诶，这支圆珠笔这么贵……！」
	CASE "送一份高价的礼物"
		PRINTFORMW 
	CASEELSE
		PRINTFORMW 
	ENDSELECT
CASE "整理睡姿"
	;梦话
	CALL KOJO_SLEEP_K57
	WAIT
CASE "被拒绝了学习的邀请"
	PRINTFORMW 「抱歉，今天稍微有点不太行……」
CASE "勉強前に胖次要求"

CASE "卖个破绽"
	SELECTCASE STR:日常イベント名
	CASE "邀请一起入浴"
		PRINTFORMW 「%CNAME("二人称")%——、不和%CNAME("一人称")%一起洗澡吗？」
	CASE "Ｈ的邀请"
		CALL PRINT_STRW, @"「那个……不、不做吗……？_H_」"
	CASE "邀请学习"
		;胖次を要求した
		IF CHOSE_DEVENT("勉強前に胖次要求")
			PRINTFORMW 
		ELSE
			PRINTFORMW 「%CNAME("二人称")%——、不和%CNAME("一人称")%一起学习一会儿吗？」
		ENDIF
	CASE "推倒"
		PRINTFORMW 「有破绽！」
	CASE "展示内褲"
		;複数人が並んで你に展示内褲ている場合
		IF FLAG:対複数
			CALL PRINT_STRW, @"「……这、这样站成一排，感觉有点奇怪……_H_」"
		ELSE
			PRINTFORMW 
		ENDIF
	CASE "清洁口交"
		CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 3+RAND:2)%」"
		CALL PRINT_STRW, @"「……呼啊、清洁干净了_H_」"
	CASE "口淫"
		CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "Ｍ異物", 3)%」"
		CALL PRINT_STRW, @"「……嘿嘿_H_%CNAME("二人称")%的鸡鸡，舒服地一直在跳动……_H_」"
	CASE "亲脸頬", "接吻"
		CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "接吻", 3+RAND:3)%」"
		CALL PRINT_STRW, @"「……嘿嘿，亲上了……_H_」"
	CASE "抱き着き"
		IF TALENT:相思相愛
			CALL PRINT_STRW, @"「%CNAME("二人称")%……_H_」"
		ELSE
			PRINTFORML 「……诶，为什么要做这种事呢？」
			PRINTFORMW 「唔嗯……随便吧？」
		ENDIF
	CASE "把胸部压了上去", "摩擦股間"
		PRINTFORMW 「……嗯？　碰到了什么？」
		CALL PRINT_STRW, @"「哼·哼·哼——，不知道是哪里碰到了呢——_H_」"
	CASE "抚摸", "手淫"
		PRINTFORMW 
	CASE "膝枕", "膝枕"
		PRINTFORMW 「%CNAME("二人称")%，难道困了吗？」
		PRINTFORMW 「那就给你膝枕吧——」
	CASE "沏茶"
		;CSTR:茶 を指定してある場合には、SAVESTR:茶 で何を用意したかが判定できる
		;例）PRINTFORMW 「よければ%SAVESTR:茶%どうぞ」
		PRINTDATAW
			DATAFORM 「来，%SAVESTR:茶%来了——」
			DATAFORM 「对对，这是%CNAME("二人称")%的份」
		ENDDATA
	;それ以外
	CASEELSE
		IF RAND:2
			PRINTFORMW 「嗯——？　你很闲吗——？」
		ELSE
			PRINTFORMW 「闲的话教%CNAME("一人称")%魔法啊，%CNAME("二人称")%——」
		ENDIF
	ENDSELECT
;これは素質に[開朗]ないし[粗野]を持っている角色のみです
CASE "構って欲しい！"
	PRINTFORMW 「%CNAME("二人称")%无聊的话，一起做点什么吧」
CASE "廁所"
	;廁所で用を済ませた後の台詞
	IF BASE:尿意 == 0
		;主人も廁所で済ませてきた
		IF BASE:MASTER:尿意 == 0
			PRINTFORMW 「啊，是%CNAME("二人称")%啊——」
			IF VAGINA(TARGET)
				PRINTFORMW 「%CNAME("二人称")%也来上厕所了吗——」
			ELSE
				PRINTFORMW 「啊咧，%CNAME("二人称")%也来厕所吗？」
			ENDIF
		ELSE
			IF VAGINA(TARGET) && RAND:3 == 0
				PRINTFORMW 「还、还是不太习惯……」
			ELSE
				PRINTFORMW 「呼——，舒服多了——」
			ENDIF
		ENDIF
	;廁所に行く際の台詞
	ELSE
		PRINTFORMW 「等、等等，去个厕所！」
	ENDIF
CASE "廁所詮索"
	IF VAGINA(TARGET)
		PRINTDATAW
			DATA 「啊——……唔，那个……」
			DATA 「不，不是说有什么不对，但总觉得不好意思说……」
			DATA 「不是，为什么要问这个啊？」
		ENDDATA
	ELSE
		PRINTDATAW
			DATA 「别，别让我猜心思」
			DATA 「当然是去厕所了」
			DATAFORM 「诶诶……%CNAME("二人称")%真想听吗……？」
		ENDDATA
	ENDIF
;これは你と角色が両方男性の際に限り起きます
CASE "連れション"
	PRINTFORMW 「啊咧、%CNAME("二人称")%也上厕所吗？」
	PRINTFORMW 「……嘿嘿、平时的话不觉得有什么、但想到和%CNAME("二人称")%一起去就有点害羞呢……」
;これは你と角色が両方男性でない際に限り起きます
CASE "廁所で井戸端会議"
	PRINTFORMW 「啊，%CNAME("二人称")%！？」
	PRINTFORMW 「啊——，那个，还是有点害羞……」
;你に廁所を覗かれた！
CASE "廁所ハプニング"
	PRINTFORMW 「呼啊！　诶、等、等等、%CNAME("二人称")%！？」
	PRINTFORMW 「难、难道忘记锁門了！？」
;廁所ハプニングから派生するＨイベント
CASE "廁所Ｈ"
	SELECTCASE STR:日常イベント名
	CASE "廁所イベント：見せつけくぱぁ"
		PRINTFORMW 「……其、其实，现在非常非常的兴奋……」
		CALL PRINT_STRW, @"「……想、想让你、看看……_H_」"
	CASE "廁所イベント：相互自慰"
		PRINTFORMW 
	CASE "廁所イベント：口交"
		PRINTFORMW 
	CASE "廁所イベント：Ｖ性交"
		PRINTFORMW 
	CASE "廁所イベント：Ａ性交"
		PRINTFORMW 
	ENDSELECT
CASE "检查阴部"
	;睡眠中の悪戯
	IF CFLAG:睡眠
		;梦话
		CALL KOJO_SLEEP_K57
		WAIT
	ELSEIF COND("合意：检查阴部") == 0
		PRINTFORMW 「等下！　你在干什么啊、%CNAME("二人称")%！」
	ELSE
		IF VAGINA(TARGET)
			SELECTCASE RAND:3
			CASE 0
				CALL PRINT_STRW, @"「等、等一下，实在是太羞人了……_H_」"
			CASE 1
				CALL PRINT_STRW, @"「呜……连%CNAME("一人称")%自己都不怎么敢看……」"
			CASE 2
				CALL PRINT_STRW, @"「被、被这么盯着看……_H_」"
			ENDSELECT
		ELSEIF CFLAG:メス堕ち度 >= 3
			IF RAND:2
				CALL PRINT_STRW, @"「……不、不要一直看啦……_H_」"
				CALL PRINT_STRW, @"「那个、会兴奋、的……_H_」"
			ELSE
				CALL PRINT_STRW, @"「……虽然害羞，但有点兴奋……_H_」"
			ENDIF
		ELSEIF CFLAG:メス堕ち度 >=1
			IF RAND:2
				PRINTFORMW 「……这、这样……？」
			ELSE
				CALL PRINT_STRW, @"「好、好羞耻但是……_H_」"
			ENDIF
		ELSE
			PRINTDATAW
				DATAFORM 「……%CNAME("二人称")%的眼神好可怕……」
				DATA 「……真、真的想看这个吗……？」
				DATAFORM 「……%CNAME("二人称")%真是……」
			ENDDATA
		ENDIF
	ENDIF
CASE "检查菊穴"
	;睡眠中の悪戯
	IF CFLAG:睡眠
		;梦话
		CALL KOJO_SLEEP_K57
		WAIT
	ELSE
		PRINTFORMW 「怎、怎么样……？」
		IF CEVENT("肛門の虜") && RAND:2
			CALL PRINT_STRW, @"（呜~……这样的也很很有感觉啊……_H_）"
		ELSE
			CALL PRINT_STRW, @"「哇、很害羞啊能快点吗……_H_」"
		ENDIF
	ENDIF
CASE "检查内褲"
	;睡眠中の悪戯
	IF CFLAG:睡眠
		;梦话
		CALL KOJO_SLEEP_K57
		WAIT
	ELSEIF COND("合意：检查内褲") == 0
		PRINTFORMW 「%CNAME("一人称")%——才——不——要——！」
		PRINTFORMW 「就算是%CNAME("二人称")%这也是不行的！」
	ELSE
		PRINTFORMW 「诶……又来……？」
		CALL PRINT_STRW, @"「……%CNAME("一人称")%、%CNAME("一人称")%知道了啦……_H_」"
	ENDIF
CASE "检查布鲁马", "股間観察"
	;睡眠中の悪戯
	IF CFLAG:睡眠
		;梦话
		CALL KOJO_SLEEP_K57
		WAIT
	;じっくり観察
	ELSEIF CFLAG:股間確認済
		IF TALENT:淫乱 && RAND:2
			CALL PRINT_STRW, @"「……明明平时也不厌其烦地看着……_H_」"
		ELSE
			CALL PRINT_STRW, @"「不、不要那样一直盯着看啊……_H_」"
		ENDIF
	ELSE
		IF RAND:2
			PRINTFORMW 「不，也不是什么大不了的事情……」
			PRINTFORMW 「……说实话看着%CNAME("一人称")%不会觉得開心吧？」
		ELSE
			PRINTFORMW 「这、这样吗……？」
		ENDIF
	ENDIF

CASE "掀起裙子"
	SELECTCASE STR:日常イベント名
	CASE "撩起裙子"
		;初めて
		IF DEVENT(STR:日常イベント名) == 0
			PRINTFORMW 「……诶？」
			PRINTFORMW 「不要、那个……」
			PRINTFORMW 「……诶？」
		;胖次チラ直後
		ELSEIF COND("胖次チラ直後")
			PRINTFORMW 「……呃」
			PRINTFORMW 「呜、呜哇~！　你、你干什么啊！」
			PRINTFORMW 「而、而且这个、说不定胖次……！　呜哇——~！！！」
		ELSE
			PRINTFORMW 「……就这样想看吗」
			IF TALENT:淫乱
				PRINTFORMW 「真是的——、%CNAME("二人称")%明明已经看过更糟糕的地方了——……」
			ELSE
				PRINTFORMW 「……怎么说呢、太气愤了发而更冷静了」
			ENDIF
		ENDIF
	;掀起裙子
	CASEELSE
		;刚睡醒の胡乱な状態を襲う
		IF CFLAG:刚睡醒
			PRINTFORMW 「……啊咧、难道有虫子吗……？」
		;睡眠中の悪戯
		ELSEIF CFLAG:睡眠
			;梦话
			CALL KOJO_SLEEP_K57
			WAIT
		;初めて
		ELSEIF DEVENT(STR:日常イベント名) == 0
			PRINTFORMW 「……」
			PRINTFORMW 「…………哇！？」
			PRINTFORMW 「不、虽然知道你的心思、但选%CNAME("一人称")%作为对象也不会有什么高兴的……嘚~」
		;胖次チラ直後
		ELSEIF COND("胖次チラ直後")
			SELECTCASE RAND:5
			CASE 0
				PRINTFORMW 「嘿~！？」
				PRINTFORMW 「不、等下、虽然知道你很在意胖次！」
			CASE 1
				PRINTFORMW 「诶、%CNAME("二人称")%对%CNAME("一人称")%的内褲感兴趣吗……？」
				IF TALENT:伪娘
					CALL PRINT_STRW, @"「等、等一下这个太羞耻了所以……_／／／_」"
				ELSE
					PRINTFORMW 「没有啦ー、真的没有啦ー……」
				ENDIF
			CASE 2
				PRINTFORMW 「不是、诶？　……%CNAME("一人称")%？」
			CASE 3
				PRINTFORMW 「……嗯？ ……！」
				PRINTFORMW 「哈！？　等、做、做什么！？！？」
			CASE 4
				PRINTFORMW 「……不是、什么啊这个」
				PRINTFORMW 「太震惊了连表情都摆不出来了」
			ENDSELECT
		ELSE
			IF COND("打招呼前")
				PRINTFORMW 「早~……」
				PRINTFORMW 「……%CNAME("二人称")%、在做什么啊」、
			ELSE
				;胖次沒穿
				IF EQUIP:胖次 == 0
					PRINTFORMW 「等、等下！　不要看啦！」
					CALL PRINT_STRW, @"「……现在、没有穿啦……_H_」"
				ELSE
					PRINTFORMW 「ちょ、ちょっと！」
					PRINTFORMW 「胖次は！　胖次は見ないでくれ！」
				ENDIF
			ENDIF
		ENDIF
	ENDSELECT
CASE "胖次ドーピング"
	;初回
	IF DEVENT(ARGS) == 0
		;自分の胖次
		;IF COND("胖次ドーピング")
			PRINTFORMW 「……诶、等等、诶……」
			PRINTFORMW 「……那个、%NAME:MASTER%前辈。那个、这是为了什么魔法做准备吗……？」
			PRINTFORMW 「不了、这次就请饶过%CNAME("一人称")%吧」	
		;ELSE
		;	PRINTFORMW 
		;ENDIF
	ELSE
		PRINTFORMW 「……啊啊、那个、嗯」
		PRINTFORMW 「不是，什么，都，没，嗯」
	ENDIF
CASE "裙下撮影"
	SELECTCASE STR:日常イベント名
	CASE "撮影失敗"
		PRINTFORMW 
	CASEELSE
		PRINTFORMW 
	ENDSELECT
CASE "股間撮影"
	SELECTCASE STR:日常イベント名
	CASE "撮影失敗"
		PRINTFORMW 「不、不不不……」
		PRINTFORMW 「要拍摄%CNAME("一人称")%的股間、%CNAME("二人称")%有点……」
	CASE "阴部のチラ見せ撮影"
		PRINTFORMW 
	CASEELSE
		IF TALENT:淫乱
			CALL PRINT_STRW, @"「呼呼，之后告诉%CNAME("一人称")%你会用照片做什么吧，%CNAME("二人称")%_H_」"
		ELSEIF CFLAG:メス堕ち度 >= 3
			IF RAND:2
				CALL PRINT_STRW, @"「好、好害羞但是好兴奋……_H_」"
			ELSE
				CALL PRINT_STRW, @"「那、那样做的话……_H_」"
			ENDIF
		ELSE
			PRINTFORMW 「这、这样吗……？」
			PRINTFORMW 「………………」
			PRINTFORMW 「……好、好羞耻所以快点吧！」
		ENDIF
	ENDSELECT
CASE "内褲摄影"
	SELECTCASE STR:日常イベント名
	CASE "撮影失敗"
		PRINTFORMW 「诶……！？」
		PRINTFORMW 「不、不不不！　不行！　那个绝对不行！」
	CASE "阴部のチラ見せ撮影"
		PRINTFORMW 
	CASEELSE
		PRINTFORMW 
	ENDSELECT
CASE "阴部摄影"
	SELECTCASE STR:日常イベント名
	CASE "撮影失敗"
		IF AIZOU()
			PRINTFORMW 「……干什么啊」
		ELSE
			PRINTFORMW 「诶、等、等一下……！」
			PRINTFORMW 「在、在干什么啊%CNAME("二人称")%大笨蛋！」
		ENDIF
	CASE "阴部の見せつけ撮影"
		PRINTFORMW 
	CASEELSE
		PRINTFORMW 
	ENDSELECT
CASE "性処理を頼んだ際の反応"
	;干劲がある場合
	IF COND("干劲性処理")
		SELECTCASE STR:PLAY内容
		CASE "口交"

		CASE "乳交"

		CASE "Ｖ性交"

		CASE "Ａ性交"

		CASE "尿道性交"

		CASE "乳頭奸"

		ENDSELECT
	;何かしながらで良いならして给よって場合。何をしながらなのかは SAVESTR:夢中 で参照できる。
	ELSEIF COND("进行性処理")
		SELECTCASE STR:PLAY内容
		CASE "手淫"

		CASE "Ｖ性交"

		CASE "Ａ性交"

		CASE "尿道性交"

		ENDSELECT
	ENDIF
CASE "見抜きを頼んだ際の反応"
	SELECTCASE STR:PLAY内容
	CASE "胖次見抜き"
		PRINTFORMW 「嘿、嘿啊~！？　%CNAME("一人称", "どもり")%吗！？！？」
		IF CFLAG:メス堕ち度 >= 3
			CALL PRINT_STRW, @"「呜~……虽、虽然不是说不行……_H_」"
			CALL PRINT_STRW, @"「很害羞但是有很高兴、很复杂的感觉……_H_」"
		ELSE
			PRINTFORMW 「欸欸……嘛、嘛、这里也不是说不行……」
			PRINTFORMW 「……看%CNAME("一人称")%的胖次会很兴奋？　真的？」
		ENDIF
	ENDSELECT
;これは見抜きされる(胖次を見せている)側の立場のセリフ。連れ見抜き参加者はPARTNER()で参照できる
CASE "連れ見抜き"
	;表情を変える場合はここで出来る
	CALL EMOTION_PLUS, "害羞", TARGET
	;PRINTFORMW 「……%CNAME("partner")%にそういう目で見られると、ちょっと恥ずかしいですね」
	IF TALENT:相思相愛
		PRINTFORMW 「……%CNAME("一人称", "どもり")%真的能这么兴奋吗……？」
		CALL PRINT_STRW, @"「……这样啊。如果是这样的话……可能会很開心……_H_」"
	ELSEIF TALENT:淫乱 || ABL:露出癖 >= 5
		CALL PRINT_STRW, @"「好、好害羞但是好兴奋……_H_」"
	ELSEIF VAGINA(TARGET)
		CALL PRINT_STRW, @"「呜……好像能、感觉到视线……_H_」"
	ELSEIF CEVENT("女装")
		CALL PRINT_STRW, @"「呜啊……有点，開始觉得害羞了……_H_」"
	ELSEIF TALENT:恋慕
		CALL PRINT_STRW, @"「唔哇、有，有点害羞……_H_」"
	ELSE
		PRINTFORMW 「诶、诶诶……」
	ENDIF

;これは見抜きする(你に誘われて自家発電する)側の立場のセリフ。胖次を見せている角色はPARTNER()で参照できる
CASE "連れ見抜きに誘われた"
	;表情を変える場合はここで出来る
	;CALL EMOTION_PLUS, "心情好", TARGET


CASE "性処理の内容変更を頼んだ際の反応"
	IF COND("干劲性処理")
		SELECTCASE STR:PLAY内容
		CASE "口交"

		CASE "乳交"

		CASE "Ｖ性交"

		CASE "Ａ性交"

		CASE "尿道性交"

		CASE "乳頭奸"

		ENDSELECT
	ELSEIF COND("进行性処理")
		SELECTCASE STR:PLAY内容
		CASE "手淫"

		CASE "Ｖ性交"

		CASE "Ａ性交"

		CASE "尿道性交"

		ENDSELECT
	ENDIF
CASE "拜托処理性欲"
	SELECTCASE NAMES("性処理")
	CASE "口交"

	CASE "乳交"

	CASE "Ｖ性交"

	CASE "Ａ性交"

	CASE "尿道性交"

	CASE "乳頭奸"

	ENDSELECT
CASE "进行性処理"
	SELECTCASE NAMES("性処理")
	;これは見抜きされる(胖次を見せている)側の立場のセリフ。連れ見抜き参加者がいる場合はPARTNER()で参照できる
	CASE "胖次見抜き"
		PRINTFORMW 「嗯——，那就这样吧，没问题吧？」
		;連れ見抜きされた場合
		IF PARTNER()
			IF RAND:2
				IF TALENT:伪娘
					PRINTFORMW 「感觉，有点開心又有点害羞……」
				ELSE
					PRINTFORMW 「盯着%CNAME("一人称")%看也没那么有意思吧……」
				ENDIF
			ELSE
				PRINTFORMW 「感觉不是可以大家一起看的东西……」
			ENDIF
		ELSE
			PRINTFORMW 「话说回来，感觉%CNAME("二人称")%，真像野兽……」
		ENDIF
	CASE "手淫"
		PRINTFORMW 「嗯唔，那就这样可以了吗？」
		PRINTFORMW 「……啊，稍微挪一下，看不到了」
	CASE "Ｖ性交"

	CASE "Ａ性交"
		IF TALENT:尻穴狂い && RAND:2
			CALL PRINT_STRW, @"「%PANT_K57(TARGET, "要", "通常", 5)%」"
			CALL PRINT_STRW, @"「不妙，这样，集中不了注意力了……_H_」"
		ELSE
			PRINTFORMW 「%PANT_K57(TARGET, "不要", "通常", 5)%」
			PRINTFORM 「……抱歉，能慢一点吗？因为　
			SELECTCASE SAVESTR:夢中
			CASE "スマホ"
				PRINTFORMW 手抖得很厉害……」
			CASE "游戏"
				PRINTFORMW 操作变得很困难……」
			CASE "読書", "漫画本"
				PRINTFORMW 不想让书本沾上精液……」
			CASE "勉強"
				PRINTFORMW 精液如果弄到材料上会很麻烦……」
			CASE "SNS"
				PRINTFORMW 现在不得不回复……」
			CASE "WEB配信"
				PRINTFORMW 听不清楚别人在说什么……」
			ENDSELECT
		ENDIF
	CASE "尿道性交"

	ENDSELECT

;TFLAG:指令中止 = 1 とすることで口上側から性欲解消を拒否できる
CASE "性欲解消を申し出た際の反応"
	PRINTFORMW 「那个……真、真的没问题吗？」
	PRINTFORM 「那个，如果可以的话
	SELECTCASE STR:PLAY要望
	CASE "舐陰"
		PRINTFORMW ……希、希望能舔一下那里……」
	CASE "舐陰莖"
		PRINTFORMW ……希望能舔舔鸡鸡？」
	CASE "口交"
		PRINTFORMW ……我可以舔舔鸡鸡吗？」
		IF CFLAG:メス堕ち度 >= 3 && RAND:5 == 0
			PRINTFORMW 「虽、虽然觉得有点变态……」
			PRINTFORMW 「但让我变成这样的是%CNAME("二人称")%啊……」
		ENDIF
	CASE "Ｖ性交"
		;避孕套没有の生性交を希望
		IF COND("女性主導生性交")
			PRINTFORMW ……な、ナマでしてみても大丈夫？」
		ELSE
			PRINTFORMW ……せ、性交させて、その、欲しい……です」
		ENDIF

	CASE "Ａ性交"
		PRINTFORMW ……想、想要做那种事……」
		PRINTFORMW 「那个……用屁股」
	CASE "尿道性交"
		PRINTFORMW ……那个，想做那种事，那个……」
		PRINTFORMW 「……想用尿道做」
		IF TALENT:淫乱 && RAND:5 == 0
			PRINTFORMW 「……烦、烦死了！」
			PRINTFORMW 「本来就是%CNAME("二人称")%害的！」
		ENDIF
	ENDSELECT
;STR:PLAY要望 が本来したいPLAY。STR:PLAY内容 が你がやりたいと言って交渉中のPLAY
;ここの中で STR:PLAY内容 を变更事で提案を蹴る事も出来る。什麼也不做場合は你の提案が通る
CASE "性欲解消の内容変更を頼んだ際の反応"
	SELECTCASE STR:PLAY内容
	CASE "舐陰"
		PRINTFORMW 「え、えっと……その、%CNAME("二人称")%のオマンコを舐めたいいの……？」
		CALL PRINT_STRW, @"「那、那么……请、请多指教……_H_」"
	CASE "舐陰莖"

	CASE "Ｖ性交"
		;今日は避孕套没有の生性交がＯＫな日
		IF COND("女性主導生性交")

		ELSE

		ENDIF

	CASE "Ａ性交"

	CASE "尿道性交"

	ENDSELECT
;性欲解消PLAY後の台詞
CASE "帮忙消除性欲"
	SELECTCASE NAMES("性処理")
	CASE "舐陰"

	CASE "舐陰莖"

	CASE "口交"

	CASE "Ｖ性交", "Ａ性交", "尿道性交"
		;挿入行為の後に口交も続けて行った場合
		IF STR:PLAY要望 == "口交"

		ELSE
			SELECTCASE NAMES("性処理")
			CASE "Ｖ性交"

			CASE "Ａ性交"

			CASE "尿道性交"

			ENDSELECT
		ENDIF
	ENDSELECT
;主人公のスマホに一緒にお昼食べようよと邀请際に送る連絡文です
;ここで TFLAG:地の文スキップ = 0 とすると下の"お昼ご飯のお誘い"での地の文をカットできる
CASE "お昼ご飯のお誘い"
	PRINTFORMW 『一起来吃饭吧！』
;実際に二人昼食をとっている時です
CASE "一緒にお昼ご飯：地の文前"
	PRINTFORMW 「啊！　%CNAME("二人称")%！」
	PRINTFORMW 「嘿嘿、这样在早餐时看见你总感觉有点不可思议呢！」
	PRINTFORM %CALLNAME:TARGET%坐在%CALLNAME:MASTER%旁边
	IF COND("種族：吸血鬼")
		PRINTFORM 拿出了装着看起来像是血液的液体的塑料袋
	ELSE
		PRINTFORM 拿出了%TEXTR("有着显眼的葡萄酒炖菜的/看起来很平衡的营养的/放着面包和惠灵顿牛排的")%便当
	ENDIF
	PRINTFORMW 取り出した
	PRINTFORMW 「那么，一起吃吧！」
	SIF COND("合意：便当係")
		PRINTFORMW 「为了%CNAME("二人称")%而努力做的，如果觉得好吃的话%CNAME("一人称")%会很開心的！」
	PRINTFORMW 「那么，%CNAME("一人称")%開动了！」	
	TFLAG:地の文スキップ = 1
CASE "坐在旁邊"
	IF AIZOU()
		PRINTFORMW 「…………没什么、讨厌的话就算了」
		PRINTFORMW 「………………%CNAME("一人称")%也只是一时兴起而已」
	ELSEIF TALENT:相思相愛 && RAND:3 == 0
		PRINTFORMW 「…………%NAME:MASTER%」
		PRINTFORMW 「…………………………」
		PRINTFORMW 「…………啊！　好、好害羞ー！！」
		PRINTFORMW %CALLNAME:TARGET%红着脸把脸埋在%CALLNAME:MASTER%的肩膀上……
	ELSEIF COND("種族：吸血鬼")
		PRINTFORMW 「嘿嘿、%CNAME("二人称")%好暖和啊ー」
		PRINTFORMW 「为什么呢？　%CNAME("二人称")%很温柔……温……？　不，也不是啊……」
		PRINTFORMW 「……不是啦、虽然是因为%CNAME("一人称")%变成了吸血鬼，但这样很不梦幻啊很不梦幻」
	ELSE
		PRINTFORMW 「嘿嘿、在%CNAME("二人称")%身边感觉很安心……」
		PRINTFORMW 「…………………………」
		PRINTFORMW 「……不、不行，不行！　刚才那个绝对不行！！！」
	ENDIF
;部室で二人きりの時にＨに邀请際のセリフです
CASE "Ｈに邀请"
	PRINTFORMW 「……呐、呐—……」
	PRINTFORMW 「……那、那个……不做吗？」
	PRINTFORMW 「……………………色色的事」
CASE "二人きり：Ｈの誘いに胖次条件で回应"
CASE "二人きり：Ｈの誘いに回应"
CASE "二人きり：Ｈの誘いを断った"
	IF AIZOU()
		PRINTFORMW 「……」
	ELSEIF TALENT:相思相愛
		PRINTFORMW 「むー。%CNAME("一人称")%とそんなにしたくないのかー？」
		PRINTFORMW 「……それなら、%CNAME("一人称")%にだって考えがあるんだからな」
	ELSEIF CFLAG:メス堕ち度 >= 3
		PRINTFORMW 「……呜」
	ELSE
		PRINTFORMW 「……是、是是是、是这样啊！！！」
		PRINTFORMW 「那个……那么，再见！」
	ENDIF
;检查阴部後の派生イベントセリフです
;覗き込んでいる相手はPARTNER()で参照できます
CASE "阴部見せつけ"
	;相手の学年や性別で態度を変えるのも良いでしょう
	IF CFLAG:Ｖ已中出
		PRINTFORMW 「……啊！　忘、忘记了……」
		SELECTCASE CONDS("学年", PARTNER())
		CASE "初等部"
			PRINTFORMW 「……让初等部的大家看到这个，不是很不妙吗？　各种意义上……」
		CASE "中等部"
			PRINTFORMW 「啊，明天可能还会在课堂上见面……」
		CASE "１年生", "２年生", "３年生"
			PRINTFORMW 「就、就算是前辈们，被看到中出后的小穴也太尴尬了……」
		CASE "教員", "研究生"
			PRINTFORMW 「这、这个……呃……！」
		CASEELSE
			PRINTFORMW 「……不、不觉得、这样更像变态吗……？！」
		ENDSELECT
	ELSE
		SELECTCASE CONDS("学年", PARTNER() )
		CASE "初等部", "中等部"

		CASE "１年生", "２年生"

		CASE "３年生"

		CASE "教員", "研究生"
			PRINTFORMW 「等……！被老师们\@PENIS(TARGET) ? 看到鸡鸡 # 看到这里\@会很害羞的……」
			CALL PRINT_STRW, @"「…………快、快点停下吧……_H_」"
		CASEELSE

		ENDSELECT
	ENDIF

;他の人の检查阴部後に、股間を覗き込んでいる派生イベントセリフです
;检查阴部されている相手はPARTNER()で参照できます
CASE "大人の阴部に興味津々"
	PRINTFORMW 「え、お、オマンコってこんな感じになるの……？！」
	IF VAGINA(TARGET)
		PRINTFORMW 「那、那么，%CNAME("一人称")%的这里将来也会变成这样吗……」
	ELSE
		PRINTFORMW 「虽然很色，但有点恶心……」
	ENDIF
CASE "阴部に興味津々"
CASE "阴茎に興味津々"
	SELECTCASE CONDS("阴茎尺寸", PARTNER())
	CASE "短小"
		PRINTFORMW 「啊，和%CNAME("一人称")%差不多大……」
	CASE "通常"
		PRINTFORMW 「呜……比%CNAME("一人称")%大……」
	CASE "巨根"
		PRINTFORMW 「等等、好、好大…」
	CASEELSE
		PRINTFORMW 「这、这也太大了吧……？」
	ENDSELECT
CASE "性器の違いに興味津々"
	IF VAGINA(TARGET)
		PRINTFORMW 「那个，怎么说呢……」
		PRINTFORMW 「就是，突然长出小穴来，所以不由得有点在意……」
	ELSE
		PRINTFORMW 「才、才不感兴趣……！」
		PRINTFORMW 「……这、这也没办法啊。在眼前发生这么色情的事情……」
	ENDIF
ENDSELECT


;-------------------------------------------------
;自撮りにメッセージを添えます　一言くらい
;加筆の際には RETURN 0 を消去し、MAIL_BODY 请好好使用
;地の文も必要であれば適宜変更してください
;-------------------------------------------------
@SELFY_MAIL_K57, ARGS
#DIMS MAIL_BODY

MAIL_BODY =
;メッセージ本文
SELECTCASE ARGS
CASE "ヌード自撮り"
	RETURN 0
	MAIL_BODY =
CASE "阴部自撮り", "阴茎自撮り"
	RETURN 0
	MAIL_BODY =
CASE "胸部自撮り"
	RETURN 0
	MAIL_BODY =
CASE "今年の泳装自撮り"
	RETURN 0
	MAIL_BODY =
CASE "学校指定の泳装自撮り"
	RETURN 0
	MAIL_BODY =
CASE "体操服自撮り"
	RETURN 0
	MAIL_BODY =
CASE "胸罩自撮り" ,"胖次自撮り"
	RETURN 0
	MAIL_BODY =
CASEELSE
	RETURN 0
	MAIL_BODY =
ENDSELECT

;地の文
PRINTFORMW 照片边上还加上「%MAIL_BODY%」这样的信息…


;-------------------------------------------------
;约会の際のセリフ
;システム側の地の文や反応を出力させたくない場合には TFLAG:地の文スキップ = 1 としてください
;约会回数は EXP:约会経験 が+1ずつされます。初回のセリフは IF EXP:约会経験 == 0 で分岐するのが良いでしょう
;素質で分岐させる場合にはTALENT:恋慕での分岐がおすすめです
;-------------------------------------------------
@KOJO_DATE_K57, ARGS

SELECTCASE ARGS
;你を週末约会に誘った
CASE "约会のお誘い"
	PRINTFORMW 「呐……那个……」
	PRINTFORMW 「……周末、要一起出去约个会吗？」
CASE "约会のお誘い：結果"
	;约会決定！
	;自発的に约会の做便当给よ！って場合はCALL SET_CEVENT, "约会の便当"としてください。
	IF COND("约会的约定")
		PRINTFORMW 「诶，可以吗！？」
		PRINTFORMW 「……太好了！　%CNAME("一人称")%会努力准备便当的，敬请期待！」
		CALL SET_CEVENT, "约会の便当"
	;你に保留されてしまった
	ELSE
		PRINTFORMW 「啊，那天你很忙吗？　对不起啊ー」	
	ENDIF
;你から週末约会に誘われた
;自発的に约会の做便当给よ！って場合はCALL SET_CEVENT, "约会の便当"としてください。
CASE "约会に誘われた"
	PRINTFORMW 「周末吗？」
	PRINTFORMW 「行！　要去要去！」
	IF EXP:约会経験 == 0
		PRINTFORMW 「嘿嘿、第一次约会、真期待啊」
	ELSE
		PRINTFORMW 「嘿嘿、%CNAME("二人称")%居然又来邀请%CNAME("一人称")%、真是期待呢」
	ENDIF
;你に便当を作ってきてと頼まれた
CASE "便当を頼まれた"
	PRINTFORMW 「哦、想让%CNAME("一人称")%帮忙做便当吗？」
	PRINTFORMW 「好啊！　%CNAME("一人称")%会努力做出又好看又美味的便当给你的！」
	;これのコメントアウトを取下と、便当を作ってあげません
	;CALL DEL_CEVENT, "约会の便当"
;你から约会当日にいきなり誘われた
;自発的に约会の做便当给よ！って場合はCALL SET_CEVENT, "约会の便当"としてください。
CASE "邀请去约会"
	;同居していない相手を誘った時
	IF COND("同居中") == 0
		PRINTFORMW 『诶！？　现在去约会！？』
		PRINTFORMW 『%CNAME("二人称")%真强硬啊……好吧』
		PRINTFORMW 『在哪儿碰面？』
	ELSE
		PRINTFORMW 「诶！？　现在去约会！？」
		PRINTFORMW 「又是这么突然……算了，好吧」
		PRINTFORMW 「什么时候出发？」
	ENDIF

;约会するにあたり、特殊な条件で着替えたりしたい時に使ってください。台詞没有で換装操作のみするのが推奨です
CASE "约会衣装に更衣"

;地の文はpartnerが遅れて現れる展開になっています
;地の文が用意されているので、轻轻地１行程度の反応で良いと思います
CASE "待ち合わせ"
	IF COND("同居中") == 0
		PRINTFORMW 「啊！　%CNAME("二人称")%！」
	ELSE
		PRINTFORMW 「%CNAME("二人称")%！　お待たせ！」	PRINTFORMW 「%CNAME("二人称")%！　久等了！」	PRINTFORMW 「%CNAME("二人称")%！　お待たせ！」
	ENDIF
	;地の文を自己書きたい場合にはコメントアウトを外してください
	;TFLAG:地の文スキップ = 1

;地の文が用意されているので、轻轻地１行程度の反応で良いと思います
CASE "约会本番"
	SELECTCASE SAVESTR:约会
	CASE "去买泳衣"
		PRINTFORMW 「今天要去买泳衣吗？」
		PRINTFORMW 「知道了！　%CNAME("二人称")%的泳衣……诶、%CNAME("一人称")%」
		PRINTFORMW 「……嘿嘿、那么、选件\@TALENT:伪娘 ? 可爱 # 帅气\@的泳衣吧！」
	CASE "散歩"
		PRINTFORMW 「这样看来，虽然是看惯了的风景，但还是有很多没注意到的地方啊」
		PRINTFORMW 「和%CNAME("二人称")%在一起会有很多新发现！」
	CASE "尋訪美食"
		PRINTFORMW 「哦！要去买各种吃的啊！」
		PRINTFORMW 「嘿嘿嘿，要大吃特吃贵贵的东西了」
	CASE "逛街"
		PRINTFORMW 「这样啊！」
		PRINTFORMW 「嗯嗯ー、那么这个……还有这个……」
	CASE "去水族馆"
		IF RAND:2
			PRINTFORMW 「要去水族馆吗？」
			PRINTFORMW 「……那、那么，能不能一起去看海狸？」
		ELSE
			PRINTFORMW 「哦！去水族馆啊！」
			PRINTFORMW 「那我们去哪里呢！？海豚也不错，但鲨鱼和逆戟鲸也……」
			PRINTFORMW 「……诶，大王具足虫？……难道是那种，像鼠妇一样的……」
		ENDIF
	CASE "去游乐园"
		PRINTFORMW 「哦！去游乐园啊！」
		SELECTCASE RAND:3
		CASE 0
			PRINTFORMW 「那么，去坐过山车吧！」
			PRINTFORMW 「嘿嘿——既然来了，就尽情享受吧！」
		CASE 1
			PRINTFORMW 「……那个，我们一起去鬼屋怎么样？」
			PRINTFORMW 「那个，想去是想去，但是……」
			PRINTFORMW 「…那个，听说超级恐怖」
		CASE 2
			PRINTFORMW 「呵呵呵，那我们去哪里玩呢♪」
		ENDSELECT
	CASE "去电影院"
		PRINTFORMW 「要去电影院对吧！」
		SELECTCASE RAND:3
		CASE 0
			PRINTFORMW 「那、%CNAME("一人称")%就好好期待一下%CNAME("二人称")%会选择看什么电影吧！」
		CASE 1
			PRINTFORMW 「那个、让%CNAME("一人称")%看看……那么、就看那个吧！」
			PRINTFORMW %CALLNAME:TARGET%指着的是、很有冲击力的一张电影海报……
		CASE 2
			PRINTFORMW 「呃、让%CNAME("一人称")%看看……那个、就看最近很火的那个……」
			PRINTFORMW %CALLNAME:TARGET%有点羞涩地、指着一部超人气的动画电影……
		ENDSELECT
	CASE "去图书馆"
		SELECTCASE RAND:2
		CASE 0
			PRINTFORMW 「图书馆啊ー」
			PRINTFORMW 「没関系，%CNAME("一人称")%并不讨厌书。……不过看书会很容易犯困」
		CASE 1
			PRINTFORMW 「呜诶……难道要去学习……诶，不是吗？」
			PRINTFORMW 「……这、这样啊！　那就快点走吧！　走吧！」
		ENDSELECT
	CASE "赏花"
		PRINTFORMW 
	CASE "去游泳"
		PRINTFORMW 
	CASE "爬山"
		PRINTFORMW 
	CASE "赏红叶"
		PRINTFORMW 「去看红叶……？　那个……」
		PRINTFORMW 「……诶……！　%CNAME("二人称")%还挺有品味的嘛！」
	CASE "滑雪"
		PRINTFORMW 「哦，要去滑雪啊！」
		PRINTFORMW 「嘿嘿、别把%CNAME("一人称")%甩在后面啊！」	
	CASEELSE
		PRINTFORMW 
	ENDSELECT

	;地の文を自己書きたい場合にはコメントアウトを外してください
	;TFLAG:地の文スキップ = 1

CASE "手をつなぐ"
	IF AIZOU()
		PRINTFORMW 「……不要」
		PRINTFORMW 「会让人以为、是情侣的……」
	ELSEIF TALENT:恋慕
		CALL PRINT_STRW, @"「……这样做、就像一对恋人一样呢……_H_」"
		SIF TALENT:相思相愛 == 0
			PRINTFORMW 「……什、什么的！　啊哈哈……」
	ELSE
		PRINTFORMW 「等下，吓我一跳！」
		PRINTFORMW 「真是的——想牵手的话直接说就好嘛——」
	ENDIF
CASE "手をつながない"
	PRINTFORMW 
;泳装を買いに行った時です
CASE "泳装選び開始"
	;Micro比基尼とかもＯＫ
	IF COND("Ｈ的泳装選択可能") && RAND:2
		PRINTFORMW 
	ELSEIF RAND:2
		PRINTFORMW 
	ELSE
		PRINTFORMW 
	ENDIF
;泳装を買いに行って、結果的に選んだ泳装に対するセリフです
;もしも去年も泳装を選んでいたなら、CSTR:今年の泳装 に記録されているので比較する事が出来る
CASE "泳装決定"
	SELECTCASE SWIM(STR:選んだ泳装, "種類")
	CASE "Micro比基尼"
		IF VAGINA(TARGET)
			PRINTFORMW 「唔、唔哇、这、这真的是泳装吗……？」
		ELSEIF CEVENT("女装")
			CALL PRINT_STRW, @"「怎、怎么样……_／／／_」"
		ELSE
			PRINTFORMW 「诶、诶诶——……」
		ENDIF
	CASE "比基尼"
		IF VAGINA(TARGET) || CEVENT("女装")
			CALL PRINT_STRW, @"「真、真的穿上了……_／／／_」"
		ELSE
			CALL PRINT_STRW, @"「呜呜……感觉凉飕飕的……_／／／_」"
		ENDIF
	CASE "競泳泳装"
		IF VAGINA(TARGET)
			PRINTFORMW 「感、感觉很合身，心情有点复杂……」
		ELSE
			PRINTFORMW 「总、总觉得胯部那边很显眼……」
		ENDIF
	CASE "高開衩連衣裙"
		IF TALENT:男性
			PRINTFORMW 「这、这不会露出来吗？！」
		ELSE
			CALL PRINT_STRW, @"「总、总觉得胯部勒得好紧……_H_」"
		ENDIF
	CASE "連体泳装"
		IF CEVENT("女装")
			PRINTFORMW 「怎么样？　……可、可爱吗……？」
		ELSEIF VAGINA(TARGET)
			PRINTFORMW 「感觉很适合，心情复杂……」
		ELSE
			PRINTFORMW 「唔哇……感觉有点花哨……」
		ENDIF
	CASE "衝浪胖次"
		PRINTFORMW 「哦——，真帅……！」
		PRINTFORMW 「穿这种去海里冲浪一定很棒！」
	;其他はだいたいエロ泳装です
	CASEELSE
		PRINTFORMW 
	ENDSELECT

;泳池などで泳装姿に着替え、待ち合わせ場所に集合した時です
CASE "泳装に着替えた"
	;どの泳装に着替えたか？
	SELECTCASE SWIM(CSTR:今年の泳装, "種類")
	CASE "比基尼"
		PRINTFORMW 
	CASE "Micro比基尼"
		PRINTFORMW 
	CASE "連体泳装"
		PRINTFORMW 
	CASE "競泳泳装"
		PRINTFORMW 
	;其他はだいたいエロ泳装です
	CASEELSE
		PRINTFORMW 
	ENDSELECT

;草丛口交です。地の文が用意されているので、轻轻地１行程度の反応でも良いと思います
CASE "到暗处去……"
	IF TALENT:相思相愛
		PRINTFORMW 「…………%CNAME("二人称")%真色」
	ELSE
		PRINTFORMW 「诶、诶、等等……！」
	ENDIF
	;地の文を自己書きたい場合にはコメントアウトを外してください
	;TFLAG:地の文スキップ = 1

;映画館などで横並びに座った状態での手交です。地の文が用意されているので、轻轻地１行程度の反応でも良いと思います
CASE "请求偷偷手交"

CASE "接吻"

CASE "摸屁股"
	IF TALENT:恋慕
		PRINTFORMW 
	ELSE
		PRINTFORMW 
	ENDIF
;你が草丛口交や接吻や性騷擾をしない紳士な場合はここに来ます
CASE "下次去哪里呢？询问"
	PRINTDATAW
		DATA 「唔嗯，确实……」
		DATA 「哪里都很不错，反而不知道该选哪了……」
		DATA 「嗯、这样的话……」
	ENDDATA

CASE "专心看电影"
	SIF TALENT:相思相愛
		PRINTFORMW %CALLNAME:TARGET%保持着沉默，慢慢地用手指滑过%CALLNAME:MASTER%的手背……

	;地の文を自己書きたい場合にはコメントアウトを外してください
	;TFLAG:地の文スキップ = 1

;文化祭イベント
;ここでは"约会相手ではなく出し物をしている人"が喋ります。
;本来の约会相手はPARTNER()に角色番号が入ってます。呼びかける場合にはCNAME("partner")を使ってください
CASE "女仆咖啡厅", "執事咖啡厅", "西式料理店"
	IF AIZOU()
		PRINTFORMW 「啊！　%CNAME("partner")%和……」
		PRINTFORMW 「………………%CNAME("二人称")%、啊」
		PRINTFORMW 「……那！　有什么事吗？」
	ELSE
		PRINTFORMW 「啊、欢迎光临——！」
		PRINTFORMW 「嘿嘿、%CNAME("二人称")%们想要什么呢？」
	ENDIF

;帰り際のセリフです。不动声色地エッチに邀请のもいいでしょう
;STR:Ｈする場所 で場所を情人旅館以外にする事も出来ます。（例 STR:Ｈする場所 = 部室
CASE "帰り際"
	IF AIZOU()
		PRINTFORMW 「……真是的、别再邀请了……」
	ELSEIF TALENT:恋慕 || (TALENT:相思相愛 && RAND:2)
		CALL PRINT_STRW, @"「……请、再来邀请%CNAME("一人称")%啊……_H_」"
	ELSE
		PRINTFORMW 「今天很尽兴啊」
		PRINTFORMW 「%CNAME("二人称")%、谢谢了！」
	ENDIF
CASE "约会終了"
	;エッチをする場合
	IF TFLAG:床イン
		IF TALENT:恋慕
			PRINTFORMW 
		ELSE
			PRINTFORMW 
		ENDIF
	ELSE
		IF TALENT:恋慕
			PRINTFORMW 
		ELSE
			PRINTFORMW 
		ENDIF
	ENDIF
ENDSELECT

