@K15_StoryEvents(シナリオ)
	#DIMS シナリオ
	#DIM Lcount

	#DIM CHOICE100 = 0
	#DIM CHOICE200 = 0
	#DIM CHOICE201 = 0
	#DIM CHOICE202 = 0
	#DIM CHOICE203 = 0
	#DIM CHOICE204 = 0
	#DIM CHOICE300 = 0
	#DIM ENDFLAG = 0

	#DIMS DYNAMIC InputName
	CALL PRINT_TUI_WindowRefresh

	SELECTCASE シナリオ
		CASE "テスト"
			CALL LIBT_地の文(@"１")
			CALL LIBT_地の文(@"２")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","",TachieClass("槞彁",2,"",90,2000,0))
			CALL LIBT_地の文(@"３")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",2,"",90,2000,0))
			CALL LIBT_地の文(@"４")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",2,"",90,2000,0))
			CALL LIBT_地の文(@"５")
			CALL LIBT_地の文(@"")
			CALL LIBT_地の文(@"７")
			CALL LIBT_地の文(@"８")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",2,"",90,2000,0))
			CALL LIBT_地の文(@"９")
			CALL LIBT_地の文(@"１０")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",2,"",90,2000,0))
			CALL LIBT_地の文(@"１１")
			CALL LIBT_地の文(@"１２")
			CALL LIBT_地の文(@"１３")
			CALL LIBT_地の文(@"１４")
			CALL LIBT_地の文(@"１５")
			CALL LIBT_地の文(@"１６")
			CALL LIBT_地の文(@"１７")
			CALL LIBT_地の文(@"１８")
			CALL LIBT_地の文(@"１９")
			CALL LIBT_地の文(@"２０")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",2,"",90,2000,0))
		CASE "テスト２"
			CALL LIBT_選択肢(@"NOBUTTON_#FF0000_テ接吻ト/#FFFFFF_選択肢テスト/選択肢２/NOBUTTON_テ接吻ト２/選択肢３/#000000_選択肢４")
			CALL LIBT_地の文(@"Hoge")
			CALL PRINT_TUIQR("BG住宅街+0x30000000","",TachieClass("槞彁",0,"△/困扰眉/しょんぼり呆毛/飘忽/",90,2000,0))
			
			PRINTFORMW RESULT = {RESULT}

			CALL LIBT_地の文(@"...有一个可能是与她一同前来的肩挎包")
			CALL LIBT_地の文(@"或许其中的物品能帮助确认少女的身份。虽然乱翻她的东西不太好、但还是确认一下吧。")
			CALL LIBT_PopUp(PopupClass("K15_鞄"),PopupClass("K15_鞄"))
			CALL PRINT_TUIWR("BG住宅街+0x30000000","",TachieClass("槞彁",0,"△/困扰眉/しょんぼり呆毛/飘忽/",90,2000,0))
			
			CALL LIBT_PopUp(PopupClass("K15_鞄"))
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"△/困扰眉/しょんぼり呆毛/飘忽/",90,2000,0))

			CALL LIBT_PopUp(PopupClass("K15_鞄","K15_家族写真"),PopupClass("K15_家族写真","K15_鞄"),PopupClass("K15_鞄","22まぐろう1"))
			CALL PRINT_TUIQRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"△/困扰眉/しょんぼり呆毛/飘忽/",90,2000,0))
		CASE "出会い"
			SAVESTR:現在位置 = 住宅街
			CALL LIBT_地の文(@"%CALLNAME:MASTER%直觉到事态可能非同小可、向那名少女奔去。")
			CALL PRINT_TUIWR("CG出会いシーン+0x00000000")
			
			CALL LIBT_地の文(@"頭顶一对羽翼、两根尖角、背部和腰部各有一对翅膀、还有楔形的尖尾。")
			CALL PRINT_TUIWRA("CG出会いシーン+0x00000000")

			CALL LIBT_地の文(@"%CALLNAME:MASTER%当然不可能知晓世界上所有的服装种类")
			CALL PRINT_TUIWRA("CG出会いシーン+0x00000000")

			CALL LIBT_地の文(@"但她服饰布料的华贵质感与独特设计、尤其是为翅膀预留的特殊构造、显然不属于世界上任何已知的民族服饰...")
			CALL PRINT_TUIWRA("CG出会いシーン+0x00000000")

			CALL LIBT_地の文(@"也就是说应该是异世界的产物。")
			CALL PRINT_TUIWRA("CG出会いシーン+0x00000000")
			
			CALL LIBT_セリフ(@"「嗯...」")
			CALL PRINT_TUIWR("CG出会いシーン+0x00000000","？？？")

			CALL LIBT_セリフ(@"「Kot'...Kokokova...？」")
			CALL PRINT_TUIWRA("CG出会いシーン2+0x00000000","？？？")

			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"她似乎恢复了意识...")
			CALL PRINT_TUIWRA("CG出会いシーン2+0x00000000")

			CALL LIBT_地の文(@"遍体鳞伤的少女艰难支起身体、惶然四顾的目光与你骤然交汇。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"小口３/困扰眉/しょんぼり呆毛/斜眼５/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"在看到%CALLNAME:MASTER%的瞬间、她的表情因恐惧而扭曲。")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/小口３/困扰眉/惊嚇呆毛/睁開/惊嚇尾巴/",90,2000,0))
		
			CALL LIBT_セリフ(@"「Hit'...!Nat'! Nany!?」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"惊嚇頭翼/半開４/困扰眉/呆毛/睁開/惊嚇尾巴/",90,2000,0))
			
			CALL LIBT_セリフ(@"「Dockor Kockor!?」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/呀哒/困扰眉/惊嚇呆毛/＞＜/ふりふり尾巴/",90,2000,0))

			CALL LIBT_選択肢(@"冷、冷静点/你、你好？")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/呀哒/困扰眉/惊嚇呆毛/＞＜/ふりふり尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「Nany!?」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/半開４/困扰眉/惊嚇呆毛/睁開/惊嚇尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「Nany!? Massar kar... <b><i>Gish!?</i></b>」")
			CALL PRINT_TUIWRO("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/混乱/ハテナ尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「Collor sarrel!! O'ckar sarrel!!」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"しょんぼり頭翼/呀哒/困扰眉/しょんぼり呆毛/涙目＞＜/通常尾巴２/",90,2000,0))
			
			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"少女正用%CALLNAME:MASTER%从未听过的语言急促地说着什么。")
			CALL LIBT_地の文(@"若非亲眼看见她開口说话、甚至难以辨识这些音节是属于语言的————简直是陌生得令人頭皮发麻的异界之语。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/呀哒/困扰眉/しょんぼり呆毛/涙目＞＜/通常尾巴２/",90,2000,0))

			CALL LIBT_選択肢(@"要是发出那么大的声音...")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/呀哒/困扰眉/しょんぼり呆毛/涙目＞＜/通常尾巴２/",90,2000,0))

			CALL LIBT_地の文(@"<b>「吵死了！！！！！！！！！」</b>")
			CALL LIBT_地の文(@"　")
			CALL LIBT_セリフ(@"「咿呀啊啊啊啊啊！！！」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","附近的居民和？？？",TachieClass("槞彁",2,"惊嚇頭翼/呀哒/困扰眉/惊嚇呆毛/涙目〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「啊哇哇哇...哈...哈...」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/栗口２/困扰眉/惊嚇呆毛/涙目＞＜/通常尾巴２/",90,2000,0))

			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"噗通")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000")

			CALL LIBT_地の文(@"...又晕了过去。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000")

			CALL LIBT_地の文(@"深夜时分、总不能把昏迷的少女丢在外面")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000")

			CALL LIBT_地の文(@"%CALLNAME:MASTER%决定将她抱到附近公园的长椅上。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000")

			CALL LIBT_地の文(@"...")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))

			CALL LIBT_地の文(@"...有一个可能是与她一同前来的肩挎包")
			CALL LIBT_地の文(@"或许其中的物品能帮助确认少女的身份。虽然乱翻她的东西不太好、但还是确认一下吧。")
			CALL LIBT_PopUp(PopupClass("K15_鞄"))
			CALL PRINT_TUIWRO("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))

			CHOICE100 = 0
			CHOICE200 = 0
			CHOICE201 = 0
			CHOICE202 = 0
			CHOICE203 = 0
			CHOICE204 = 0
			$INPUT_LOOP
			CALL LIBT_地の文(@"要调查什么？")
			LOCALS = 

			SIF CHOICE100
				LOCALS += @"#101010_"
			LOCALS += @"杂物/"
			
			IF CHOICE200 != 1
				LOCALS += @"钱包/"
			ELSE
				SIF CHOICE201
					LOCALS += @"#101010_"
				LOCALS += @"金钱/"
				SIF CHOICE202
					LOCALS += @"#101010_"
				LOCALS += @"照片/"
				SIF CHOICE203
					LOCALS += @"#101010_"
				LOCALS += @"信件/"
				SIF CHOICE204
					LOCALS += @"#101010_"
				LOCALS += @"药物？/"
			ENDIF
			CALL LIBT_選択肢(@"%LOCALS%")
			CALL PRINT_TUIQR("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))

			SELECTCASE RESULT
				CASE 0
					CHOICE100 = 1
					CALL LIBT_地の文(@"→[杂物]")
					CALL LIBT_地の文(@"附近散落的收音机状装置遭受过强烈冲击、部分位置凹陷变形。")
					CALL LIBT_地の文(@"看起来已经停止运作了...")
					CALL PRINT_TUIWRO("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))
				CASE 1
					IF CHOICE200 == 0
						CHOICE200 = 1
						CALL LIBT_地の文(@"→[钱包]")
						CALL LIBT_地の文(@"皮质钱包泛着奇异光泽、表面覆盖着某种柔软绒毛。")
						CALL LIBT_地の文(@"尽管沾染泥污、依然能看出皮革上精细的鳞状纹理。")
						CALL LIBT_地の文(@"%CALLNAME:MASTER%将其打開确认里面的东西。")
						CALL PRINT_TUIWR("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))
					ELSE
						CHOICE201 = 1
						CALL LIBT_地の文(@"→[金钱]")
						CALL LIBT_地の文(@"里面装着多张从未见过的纸币和硬币...")
						CALL LIBT_地の文(@"看起来也不像是美元、这到底是哪里的货币？")
						CALL PRINT_TUIWRO("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))

						CALL LIBT_地の文(@"...不对、仔细看发现有几张皱巴巴的美元纸币和大量硬币...")
						CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))
					ENDIF

				CASE 2
					CHOICE202 = 1
					CALL LIBT_PopUp(PopupClass("K15_家族写真"))
					CALL LIBT_地の文(@"→[照片]")
					CALL LIBT_地の文(@"...")
					CALL PRINT_TUIWRO("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))
				CASE 3
					CHOICE203 = 1
					CALL LIBT_地の文(@"→[信件]")
					CALL LIBT_地の文(@"%CALLNAME:MASTER%打開了钱包中的信件")
					CALL LIBT_地の文(@"...不过、上面写满了未知的语言、索性放弃阅读了")
					CALL PRINT_TUIWRO("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))
				CASE 4
					CHOICE204 = 1
					CALL LIBT_地の文(@"→[药物？]")
					CALL LIBT_地の文(@"塑料盒里装着几粒药片")
					CALL LIBT_地の文(@"上面的文字看不懂...究竟是什么药呢？")
					CALL PRINT_TUIWRO("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))
				CASE 999
					CHOICE100 = 1
					CHOICE200 = 1
					CHOICE201 = 1
					CHOICE202 = 1
					CHOICE203 = 1
					CHOICE204 = 1
				CASEELSE
					GOTO INPUT_LOOP
			ENDSELECT 
			IF CHOICE100 && CHOICE200 && CHOICE201 && CHOICE202 && CHOICE203 && CHOICE204
			ELSE
				GOTO INPUT_LOOP
			ENDIF
			CALL LIBT_セリフ(@"「嗯呜...Kokor var...？」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"しょんぼり頭翼/小口３/困扰眉/呆毛/斜眼５/飘忽/随机通常尾巴/",90,2000,0))
			CALL LIBT_地の文(@"正犹豫是否该让少女继续躺在公园长椅上时、她突然睁開了眼睛。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/困扰眉/呆毛/斜眼５/随机通常尾巴/",90,2000,0))
			CALL LIBT_選択肢(@"急忙放回挎包")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/困扰眉/呆毛/斜眼５/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_セリフ(@"「咿！啊哇哇哇哇...」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/半開４/困扰眉/惊嚇呆毛/混乱/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「Mor Vatashi var dame deshch!」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"半開４/困扰眉/しょんぼり呆毛/涙目＞＜/ふりふり尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「Kollor sarrelng der''～！」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"しょんぼり頭翼/半開４/困扰眉/しょんぼり呆毛/涙目＞＜/ふりふり尾巴/",90,2000,0))
			
			CALL LIBT_セリフ(@"「...」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"しょんぼり頭翼/小口３/困扰眉/呆毛/飘忽/ハテナ尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「咿！啊哇哇哇哇...」")
			CALL LIBT_セリフ(@"「Mor Vatashi var dame deshch!」")
			CALL LIBT_セリフ(@"「Kollor sarrelng dar''～！」")
			CALL LIBT_セリフ(@"「...Ale？」")
			CFLAG:好感度 += 2
			CALL PRINT_TUIWRO("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"しょんぼり頭翼/小口３/困扰眉/呆毛/混乱/ハテナ尾巴/",90,2000,0))

			CALL LIBT_地の文(@"少女仔细检查自己的身体，带着不安与困惑的表情看向%CALLNAME:MASTER%")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"しょんぼり頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/ハテナ尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「・・・」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴２/",90,2000,0))

			CALL LIBT_セリフ(@"「(Tabung... Osorvale tye nayi toyiu kot var...)」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/へ字３/蹙眉/しょんぼり呆毛/飘忽/通常尾巴２/",90,2000,0))

			CALL LIBT_セリフ(@"「・・・咳咳」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/一文字/蹙眉/呆毛/闭眼/通常尾巴２/",90,2000,0))

			CALL LIBT_セリフ(@"「Sonnor... Hazhime mashitye. Vatashi var Gorzok Rempor nor...")
			CALL LIBT_セリフ("　Gozok Rempor collor  yat'ye kimasstar. <i><b>⊥лыъвьыкцлр</i></b> tor yii mass.」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/呆毛/笑颜/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"　")
			CALL LIBT_セリフ(@"「Kyogi kayi nivar yeet''... Kankor tor Shakay benkyor nyi kimash tar.」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/呆毛/笑颜/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_セリフ(@"「Saki hod var Oohki nar koye vor dashtye shimay morshivake gozay maseng. shor shor , kong rang shitye imash tyar.」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「Ki't, Vatashi vor tassketye kurretar nor deshch yor nye? Arrygator gozay mass.」")
			CALL LIBT_選択肢(@"那个...")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/ヮ/困扰眉/呆毛/笑颜/随机通常尾巴/",90,2000,0))
			CALL LIBT_地の文(@"[那个]")
			CALL LIBT_セリフ(@"「Vatashi nor tenyimotsu var dochirar deshor kar? Kaeshitye itadake mass kar?」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/ヮ/困扰眉/呆毛/笑颜/通常尾巴/",90,2000,0))

			CALL LIBT_選択肢(@"那个...你好")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",0,"通常頭翼/ヮ/困扰眉/呆毛/笑颜/通常尾巴/",90,2000,0))

			CALL LIBT_地の文(@"[那个...你好]")
			CALL LIBT_セリフ(@"「ni hao?」")
			CFLAG:好感度 += 2
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/微笑４/困扰眉/ハテナ呆毛/垂眼５/通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"她结结巴巴地模仿着你的发音。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/微笑４/困扰眉/ハテナ呆毛/垂眼５/通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「・・・」")
			CALL LIBT_地の文(@"「・・・」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/微笑４/困扰眉/ハテナ呆毛/垂眼５/通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"　")
			CALL LIBT_セリフ(@"「...Arre!? Moshikashitye, Vatashi nor kotbar tsuzhityenay!?」")
			CFLAG:好感度 += 2
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"虽然听不懂她的语言...却能明白她想表达的意思。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_選択肢(@"语言...不通啊")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_地の文(@"[语言...不通啊]")
			CALL LIBT_セリフ(@"「Songner ～～～ !!」")
			CFLAG:好感度 += 10
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/半開４/困扰眉/呆毛/＞＜/ふりふり尾巴/",90,2000,0))

			CALL K15_StoryEvents("出会い2");長くなってきたので
		CASE "出会い2"
			CALL LIBT_セリフ(@"「...」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/半開４/困扰眉/呆毛/＞＜/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「... ...」")
			CALL PRINT_TUIWRO("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/半開４/困扰眉/呆毛/飘忽/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「... ... ...」")
			CALL PRINT_TUIWRO("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/一文字/困扰眉/呆毛/闭眼/随机通常尾巴",90,2000,0))

			;槞彁は英語話せます
			;元英領植民地王家だぞ！
			;読んだら分かるけどKing's Englishだ
			CALL LIBT_地の文(@"<font color='#%K15_VOICE_COLOR%'>「Greetings, I am ⊥лыъвьыкцлр.」</font>")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/呆毛/混乱/随机通常尾巴/",90,2000,0))
			CALL LIBT_地の文(@"<font color='#%K15_VOICE_COLOR%'>「I come from the Five Species Federation in the eastern part of the Ishtar continent, within the Truth Realm.」</font>")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/呆毛/混乱/随机通常尾巴/",90,2000,0))
			CALL LIBT_地の文(@"<font color='#%K15_VOICE_COLOR%'>「It is an honor and a privilege to make your acquaintance.」</font>")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/呆毛/混乱/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"接下来是英语啊...")
			CALL LIBT_選択肢(@"可以的话能说日语吗...")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/微笑４/困扰眉/ハテナ呆毛/混乱/通常尾巴２/",90,2000,0))
			
			CALL LIBT_地の文(@"[可以的话能说日语吗...]")
			CALL LIBT_セリフ(@"「霓虹欲？」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/微笑４/困扰眉/ハテナ呆毛/混乱/通常尾巴２/",90,2000,0))
			
			CALL LIBT_セリフ(@"「...」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/微笑４/困扰眉/ハテナ呆毛/混乱/通常尾巴２/",90,2000,0))

			CALL LIBT_地の文(@"　")
			CALL LIBT_セリフ(@"(Yeee!!?? Cokor, Nihong!? Otor-sang var gish var Eyigor naller vacarl t'tye it'tye tar nor nyi!)")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/半開４/困扰眉/呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			;CALL LIBT_セリフ(@"「...」")
			;CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"/",90,2000,0))

			CALL LIBT_セリフ(@"「... ...」")
			CALL PRINT_TUIWRO("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/半開４/困扰眉/呆毛/＞＜/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「... ... ...」")
			CALL PRINT_TUIWRO("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/栗口２/蹙眉/呆毛/＞＜/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「你！ni 好...」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/しょんぼり呆毛/斜眼５/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「日语 我 稍微 懂 一点。」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/しょんぼり呆毛/笑颜/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"她结结巴巴地说出了%CALLNAME:MASTER%能理解的第一个完整句子")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",0,"通常頭翼/会話口/困扰眉/しょんぼり呆毛/笑颜/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「窝  ⊥лыъвьыкцлр 窝 似。」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("槞彁",2,"通常頭翼/会話口/通常眉３/呆毛/笑颜/随机通常尾巴/",90,2000,0))

			;CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"虽然存在语法错误还把『我是』说成了『窝 似』、但勉强能理解她的意思。")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/会話口/通常眉３/呆毛/笑颜/随机通常尾巴/",90,2000,0))

			CALL LIBT_地の文(@"她似乎正在尝试自我介绍。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/会話口/通常眉３/呆毛/笑颜/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"『我是 ... 』但是、那本该代表她名字的单词...自己却完全无法理解辨认。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/会話口/通常眉３/呆毛/笑颜/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_セリフ(@"「⊥ л ы ъ в ь ы к ц л р」")
			CFLAG:好感度 += 2
			CALL PRINT_TUIWR("BG住宅街+0x30000000","⊥лыъвьыкцлр",TachieClass("槞彁",2,"通常頭翼/微笑４/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))

			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"少女的笑容显得很勉强。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/微笑４/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"是在玩repeat after me的游戏吗？")
			CALL LIBT_地の文(@"她应该是在期待得到回应。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/微笑４/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))

			CALL LIBT_地の文(@"但是、即便她放慢语速重复了两次、仍然无法听清她的名字。")
			CALL LIBT_地の文(@"不过发现了関键线索")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/微笑４/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"她的名字里...似乎含有普通人发不出的音素")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/微笑４/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_セリフ(@"「E'tt''... Sonnor...」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","⊥лыъвьыкцлр",TachieClass("槞彁",2,"通常頭翼/ヮ/困扰眉/ハテナ呆毛/笑颜/ハテナ尾巴/",90,2000,0))

			CALL LIBT_地の文(@"正当你不知所措时、少女的神情逐渐变得焦虑。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","⊥лыъвьыкцлр",TachieClass("槞彁",2,"通常頭翼/ヮ/困扰眉/ハテナ呆毛/笑颜/ハテナ尾巴/",90,2000,0))

			CALL LIBT_イェニェル(@"「槞彁」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","？？？",TachieClass("槞彁",0,"通常頭翼/ヮ/困扰眉/ハテナ呆毛/笑颜/ハテナ尾巴/",90,2000,0))

			CALL LIBT_地の文(@"身后突然传来人声")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/一文字/蹙眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))

			CALL SET_CEVENT("名前公開")
			CALL LIBT_無訛りイェ(@"「称呼这孩子为槞彁就好。本名⊥лыъвьыкцлр对你们人类来说根本没法发音。」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","？？？",TachieClass("イェニェル",2,"目陰/",90,2000,0))
			
			CALL LIBT_地の文(@"回頭看见带着奇特口音的天使站在那里")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/無口系/憤怒眉/呆毛/斜眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"目陰/",90,1000,0))

			CALL LIBT_無訛りイェ(@"「呀、初次见面。与恶魔相遇的可怜少年、我是耶涅尔、她的监护人。」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/無口系/憤怒眉/呆毛/斜眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))
			
			CALL LIBT_セリフ(@"「Yenyel!! Nazhe anner ter gar kokor nyi...」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","槞彁",TachieClass("槞彁",2,"通常頭翼/栗口２/憤怒眉/惊嚇呆毛/斜眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",0,"/",90,1000,0))

			CALL LIBT_地の文(@"槞彁显然认识天使耶涅尔、此刻正用毫不掩饰的嫌恶眼神瞪视对方。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",2,"通常頭翼/栗口２/憤怒眉/惊嚇呆毛/斜眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",1,"/",90,1000,0))

			CALL LIBT_魔界語イェ(@"「Igay kar? Omayellar gar Bormey nyi tayorell yatsu nantye boku kuray dallor?」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/栗口２/憤怒眉/惊嚇呆毛/斜眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))

			CALL LIBT_セリフ(@"「Sonner... Sonner hazz nay deshch!」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","槞彁",TachieClass("槞彁",2,"通常頭翼/半開４/憤怒眉/惊嚇呆毛/垂眼５/惊嚇尾巴/",90,3000,0),TachieClass("イェニェル",0,"/",90,1000,0))

			CALL LIBT_魔界語イェ(@"「Omaye gar dor shinzylu kar nantye dor dyemor ii''」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))

			CALL LIBT_地の文(@"糟糕、完全听不懂两人的对话内容...")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"通常頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴/",90,3000,0),TachieClass("イェニェル",0,"/",90,1000,0))

			CALL LIBT_魔界語イェ(@"「Zhar dor sullng der? Konnor Sekay nyi var omaye nor shirry ayi'' nang tye inay dallor?」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))

			CALL LIBT_魔界語イェ(@"「Sar, kot'chi nyi kullng der!」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/半開４/困扰眉/しょんぼり呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))

			CALL LIBT_セリフ(@"「Iyear! Yenyel! Anner tar nyi dakie var IYAR DESHCH!」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/半開４/困扰眉/しょんぼり呆毛/＞＜/ふりふり尾巴/",90,3000,0),TachieClass("イェニェル",0,"/",90,1000,0))

			CALL LIBT_地の文(@"甩開耶涅尔的手、槞彁躲到了你背后。虽然不明就里、但能看出她在强烈抗拒什么。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/へ字３/困扰眉/しょんぼり呆毛/斜眼５/通常尾巴２/",90,3000,0),TachieClass("イェニェル",0,"/",90,1000,0))

			CALL LIBT_無訛りイェ(@"「哎呀呀、小哥。抱歉抱歉、让你见笑了。」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"しょんぼり頭翼/へ字３/困扰眉/しょんぼり呆毛/斜眼５/通常尾巴２/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))
			
			CALL LIBT_無訛りイェ(@"「麻烦把这孩子交给我吧？毕竟这是监护人的职责所在呐。」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",1,"しょんぼり頭翼/へ字３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴２/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))

			;CALL LIBT_セリフ(@"　")
			CALL LIBT_セリフ(@"「Tassketye... kudasay... 」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴２/",90,3000,0),TachieClass("イェニェル",0,"/",90,1000,0))

			CALL LIBT_地の文(@"躲在%CALLNAME:MASTER%身后的槞彁发出微颤的声音")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴２/",90,3000,0),TachieClass("イェニェル",0,"/",90,1000,0))

			CALL LIBT_地の文(@"虽然无法理解她的语言...但透过背后传来的颤抖。就能明白...")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000",@"%CALLNAME:MASTER%",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴２/",90,3000,0),TachieClass("イェニェル",0,"/",90,1000,0))

			CALL LIBT_選択肢(@"她明显在抗拒吧？/天使老师真是监护人吗？/凭槞彁的反应、我无法信任你")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000",@"%CALLNAME:MASTER%",TachieClass("槞彁",1,"しょんぼり頭翼/小口３/困扰眉/しょんぼり呆毛/垂眼５/通常尾巴２/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))
			
			CFLAG:好感度 += 50
			CALL LIBT_無訛りイェ(@"「哈啊？」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/通常眉３/しょんぼり呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))
			
			CALL LIBT_地の文(@"耶涅尔那僵硬的笑容瞬间消失了")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/通常眉３/しょんぼり呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))

			CALL LIBT_無訛りイェ(@"「少年、跟恶魔厮混可没好下场。这里交给天使大人处理。现在把人交出来怎样？」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/通常眉３/しょんぼり呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))

			CALL LIBT_選択肢(@"已经习惯和恶魔一起生活了/抱歉、但不能把槞彁交给你")
			CALL PRINT_TUIQRA("BG住宅街+0x30000000",@"%CALLNAME:MASTER%",TachieClass("槞彁",1,"しょんぼり頭翼/小口３/通常眉３/しょんぼり呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))

			CALL LIBT_無訛りイェ(@"「...」")
			CFLAG:好感度 += 200
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/ヮ/通常眉３/爱心呆毛/垂眼５/ふりふり尾巴/",90,3000,0),TachieClass("イェニェル",2,"/",90,1000,0))

			CALL LIBT_イェニェル(@"「你这混蛋、知道自己他妈的在说什么吗？相信一个连语言和来历都不清楚的恶魔、脑子进水了吗？」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/ヮ/通常眉３/爱心呆毛/笑颜/爱心尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))
			
			CALL LIBT_地の文(@"他的口音比刚才更重、几乎难以听清。但勉强通过脑内重新拼读音节、还是能理解意思。")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/ヮ/通常眉３/爱心呆毛/笑颜/爱心尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))
			
			CALL LIBT_イェニェル(@"「要是敢抵抗的话、我可要采取相应的措施了...」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/ヮ/通常眉３/爱心呆毛/笑颜/通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))

			CALL LIBT_地の文(@"先前那种虚伪恭敬的礼貌氛围骤然转变、气氛瞬间紧张起来。")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))

			CALL LIBT_地の文(@"他将手伸入怀中的动作、简直像美国枪战动作电影里的场景...")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))
			
			
			CALL PRINT_MAIDFACE, FINDCHARA(NO, 1)
			HTML_GETPRINTEDSTR 8
			CLEARLINE 9
			CALL D20XX_NO_NOBR(RESULTS)
			CALL D20XX_OS_SpriteYposReverse(RESULTS)
			CALL D20XX_OS_WindowInput_Constructor
			LOCALS = %RESULTS%
			CALL LIBT_地の文(@"「啊啦、这么晚过来有什么事吗？」")
			CALL LIBT_颜绘(@"%LOCALS%")
			CALL PRINT_TUIWR("BG住宅街+0x30000000",@"%CALLNAME:FINDCHARA(NO, 1)%",TachieClass("槞彁",0,"通常頭翼/小口３/困扰眉/呆毛/垂眼５/ハテナ尾巴/",90,3000,0),TachieClass("イェニェル",0,"ムッ/",90,1000,0))

			CALL LIBT_イェニェル(@"「...」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/無口系/困扰眉/呆毛/垂眼５/ハテナ尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))

			CALL LIBT_イェニェル(@"「... 我可没打算把事情闹大。今天就先放过你吧。」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/無口系/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))

			CALL LIBT_イェニェル(@"「不过、作为食禁果者的 <i>监护人</i> 我要给你个忠告————绝对别伤害那姑娘。」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/無口系/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))

			CALL LIBT_イェニェル(@"「要是真做了错事可别妄想能够逃掉、老子绝对会宰了你。」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/小口３/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"ムッ/",90,1000,0))

			CALL LIBT_魔界語イェ(@"「Zhar nar. Matar atodye. 你也是、再见 <i>%CALLNAME:MASTER%</i>」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",0,"通常頭翼/一文字/憤怒眉/呆毛/垂眼５/随机通常尾巴/",90,3000,0),TachieClass("イェニェル",2,"通常/",90,1000,0))

			CALL LIBT_セリフ(@"「Nidor tor allar varenay dye kudasay!」")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",2,"通常頭翼/半開４/憤怒眉/呆毛/垂眼５/随机通常尾巴/",90,2500,0))
		
			CALL K15_StoryEvents("出会い3")
		CASE "出会い3"
			CALL PRINT_MAIDFACE, FINDCHARA(NO, 1)
			HTML_GETPRINTEDSTR 8
			CLEARLINE 9
			CALL D20XX_NO_NOBR(RESULTS)
			CALL D20XX_OS_SpriteYposReverse(RESULTS)
			CALL D20XX_OS_WindowInput_Constructor
			LOCALS = %RESULTS%
			CALL LIBT_セリフ(@"「...」")
			CALL LIBT_地の文(@"「...」")
			CALL LIBT_地の文(@"「...」")
			CALL LIBT_颜绘(@"%LOCALS%")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","三人",TachieClass("槞彁",2,"通常頭翼/△/困扰眉/呆毛/飘忽/随机通常尾巴/",90,2000,0))

			
			CALL LIBT_セリフ(@"「腻 豪... Sonnor...Hazhime massy tye...」")
			;CALL LIBT_颜绘(@"%LOCALS%")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","イェニェル",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/呆毛/笑颜/随机通常尾巴/",90,2000,0))


			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"「啊、你好...就是说、又捡了个新女孩回来？」")
			CALL LIBT_颜绘(@"%LOCALS%")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000",@"%CALLNAME:FINDCHARA(NO, 1)%",TachieClass("槞彁",0,"通常頭翼/無口系/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「腻 豪... Sonnor...Hazhime massy tye...」")
			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"「啊、你好...就是说、又捡了个新女孩回来？我会做好相应准备的。」")
			CALL LIBT_颜绘(@"%LOCALS%")
			CALL PRINT_TUIWRO("BG住宅街+0x30000000",@"%CALLNAME:FINDCHARA(NO, 1)%",TachieClass("槞彁",0,"通常頭翼/無口系/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))
			
			CALL LIBT_地の文(@"就这样、与不会日语的少女槞彁的同居生活拉開了帷幕...")
			;CALL LIBT_颜绘(@"%LOCALS%")
			CALL PRINT_TUIWRA("BG住宅街+0x30000000","",TachieClass("槞彁",2,"通常頭翼/無口系/困扰眉/呆毛/垂眼５/随机通常尾巴/",90,2000,0))
			;再表示
				;CALL SET_CEVENT, "情報開示：基本"
				;
				CALL SET_CEVENT("情報開示：基本")
				CALL SET_CEVENT, "情報開示：能力"
				CALL SET_CEVENT, "情報開示：性格"
				CALL NEW_PRINT_STATE, TARGET, "角色メイク"
				CFLAG:夜型 = 1
				CFLAG:加入日 = DAY
				[IF_DEBUG]
					CALL SETFLAG, "同居：一直", TARGET
				[ENDIF]
				;CALL NEW_PRINT_STATE, TARGET, "通常"

				PRINTFORMW [100] 欢迎光临、槞彁
				$INPUT_LOOP999
				INPUT 
				CLEARLINE 1
				SIF RESULT != 100
					GOTO INPUT_LOOP999
			;

			
		CASE "出会い4"
			CALL LIBT_地の文(@"...")
			CALL PRINT_TUIWR("BGリビング+0x30000000","")

			CALL LIBT_地の文(@"...")
			CALL PRINT_TUIWRO("BG自室+0x30000000","")

			CALL PRINT_MAIDFACE, FINDCHARA(NO, 1)
			HTML_GETPRINTEDSTR 8
			CLEARLINE 9
			CALL D20XX_NO_NOBR(RESULTS)
			CALL D20XX_OS_SpriteYposReverse(RESULTS)
			CALL D20XX_OS_WindowInput_Constructor
			LOCALS = %RESULTS%
			CALL LIBT_地の文(@"「...所以、这里就是为<i>槞彁</i>小姐？准备的房间。」")
			CALL LIBT_地の文(@"「那么、请好好休息」")
			CALL LIBT_颜绘(@"%LOCALS%")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"%CALLNAME:FINDCHARA(NO, 1)%",TachieClass("槞彁",0,"通常頭翼/小口３/通常眉３/呆毛/混乱/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"「E’ttor... Sonnor... Yollor sick onegay shimass...」")
			CFLAG:好感度 += 50
			CALL PRINT_TUIWR("BG自室+0x30000000",@"%CALLNAME:FINDCHARA(NO, 1)%",TachieClass("槞彁",2,"通常頭翼/会話口/困扰眉/しょんぼり呆毛/笑颜/爱心尾巴/",90,2000,0))
			CALL K15_シナリオ進行管理("ようこそ、槞彁")
		CASE "自己紹介"

			CALL LIBT_セリフ(@"「E't...Sonnor...」")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/通常眉３/小口３/",90,2000,0))
			
			CALL LIBT_セリフ(@"「Vatash var ⊥лыъвьыкцлр deshch」")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/通常眉３/会話口/",90,2000,0))
			CALL LIBT_セリフ(@"「窝 窝叫 ⊥лыъвьыкцлр...槞彁 名 字。」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/困扰眉/会話口/",90,2000,0))
			

			CALL LIBT_セリフ(@"「Anata nor namaye var nany deshch kar?」")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/ハテナ尾巴/通常眉３/小口３/",90,2000,0))
			CALL LIBT_セリフ(@"「腻 您 叫 什么 名字？」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/ハテナ尾巴/困扰眉/小口３/",90,2000,0))

			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"说起来还没告诉槞彁自己的名字")
			CALL LIBT_地の文(@"慢慢说出名字教给她吧")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"重置/ハテナ尾巴/通常眉３/無口系/",90,2000,0))
			
			$NAME_Teach_Loop
			IF 1
				CALL LIBT_地の文(@"请用<font color='Yellow'>平假名</font>输入名字 不输入将默认为%CALLNAME:MASTER%")
				CALL PRINT_TUIW("BG自室+0x30000000","系统信息",TachieClass("槞彁",2,"重置/ハテナ尾巴/通常眉３/無口系/",90,2000,0))
			ELSEIF 0
				$NAME_Teach_Loop_3
				;PRINTFORMW Debug103 こっち来了よ
				CALL LIBT_地の文(@"请用<font color='Yellow'>平假名</font>输入名字 不输入将默认为%CALLNAME:MASTER%")
				CALL PRINT_TUIO("BG自室+0x30000000","系统信息",TachieClass("槞彁",2,"重置/ハテナ尾巴/通常眉３/無口系/",90,2000,0))
				;PRINTFORML 入力どうぞ
			ELSE 
				$NAME_Teach_Loop_2
				;PRINTFORMW Debug103 こっち来了よ
				CALL LIBT_地の文(@"请用<font color='Yellow'>平假名</font>输入名字 不输入将默认为%CALLNAME:MASTER%")
				CALL LIBT_地の文("<font color='Yellow'>这里仅限使用 <b>ひらがな</b> ！</font>")
				CALL PRINT_TUIO("BG自室+0x30000000","系统信息",TachieClass("槞彁",2,"重置/ハテナ尾巴/通常眉３/無口系/",90,2000,0))
				;PRINTFORML 入力どうぞ
			ENDIF
			RESULTS = 
			
			CALL INPUTS_SELECT(40)
			;PRINTFORMW Debug101 RESULTS = %RESULTS%

			SELECTCASE RESULTS
				CASE ""
					RESULTS = %CALLNAME:MASTER%
				CASEELSE
					FOR Lcount,0,STRLENSU(K15_HiraganaConverter(RESULTS))
						IF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "a" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "A" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "b" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "B" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "c" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "C" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "d" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "D" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "e" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "E" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "f" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "F" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "g" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "G" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "h" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "H" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "i" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "I" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "j" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "J" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "k" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "K" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "l" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "L" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "m" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "M" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "n" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "N" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "o" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "O" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "p" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "P"
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "q" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "Q" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "r" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "R" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "s" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "S" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "t" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "T" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "u" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "U" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "v" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "V" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "w" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "W" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "x" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "X" 
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "y" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "Y"
						ELSEIF SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "z" || SUBSTRING(K15_HiraganaConverter(RESULTS), Lcount, 1) == "Z"
						ELSE
							;PRINTFORMW Debug102 ダメな文字が来たよ
							GOTO NAME_Teach_Loop_2
						ENDIF 
					NEXT
			ENDSELECT 
			InputName = %RESULTS%
			
			CLEARLINE 1
			CALL PRINT_TUI_WindowRefresh
			CALL LIBT_セリフ(@"「%InputName%？」")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/ハテナ尾巴/通常眉３/小口３/",90,2000,0))
			CALL LIBT_選択肢("正确/不对")
			CALL PRINT_TUIQRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"重置/ハテナ尾巴/通常眉３/小口３/",90,2000,0))
			SIF RESULT != 0
				GOTO NAME_Teach_Loop_3
			
			日本語PlayerName = %InputName%
			魔界語PlayerName = %K15_CyrillicConverter(K15_HiraganaConverter(InputName))%
			
			CALL LIBT_セリフ(@"「%CNAME("二人称日本語")%！%CNAME("二人称日本語")%！」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",2,"重置/惊嚇頭翼/惊嚇呆毛/通常眉３/会話口/",90,2000,0))

			CALL LIBT_セリフ(@"「%CNAME("二人称日本語")% 您 用 窝的 语言 %CNAME("二人称")% 这样 称呼。」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",2,"重置/笑颜/通常眉３/会話口/",90,2000,0))
	
			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"也就是说...%CNAME("二人称日本語")%在槞彁的语言中发音为%CNAME("二人称")%。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"重置/笑颜/通常眉３/微笑４/",90,2000,0))

			CALL LIBT_地の文(@"像这样逐个记住能理解的词汇、或许终有一天能明白槞彁在说什么。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",2,"重置/笑颜/通常眉３/微笑４/",90,2000,0))
			
			;これは特殊なので直接CEVENTに入れる
			CALL SET_CEVENT(@"U二人称")
			CALL SET_CEVENT(@"⊥лыъвьыкцлр")

			CALL LIBT_セリフ(@"「Oboye massy tar! %CNAME("二人称")%！」")
			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"～系统消息～")
			CALL LIBT_地の文(@"此后、已知词汇将以<button value = '-1' title = '【品詞】単語の意味'><font color='#%KnownWordColor%' bcolor='#%KnownWordSelectingColor%'><u><i>这种样式</i></u></font></button>显示")
			CALL LIBT_地の文(@"<i><font color='Yellow'>鼠标悬停即可查看单词含义</font></i>")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/惊嚇頭翼/笑颜/通常眉３/会話口/",90,2000,0))

			CALL LIBT_セリフ(@"「%CNAME("二人称")%, Arrygator」")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/笑颜/会話口/",90,2000,0))
			
			CALL LIBT_セリフ(@"「%CNAME("二人称日本語")%、 谢、谢谢您」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/笑颜/会話口/",90,2000,0))

			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"现在明白了、槞彁在用她的语言和日语分别陈述相同的内容。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"重置/笑颜/微笑４/",90,2000,0))
			
			CALL LIBT_地の文(@"也就是说...")
			CALL LIBT_選択肢(@"「槞彁 教会了我 %K15_CyrillicConverter("Arrygator")%」")
			CALL PRINT_TUIQRA("BG自室+0x30000000","",TachieClass("槞彁",0,"重置/惊嚇頭翼/通常眉３/小口３/",90,2000,0))

			CALL LIBT_セリフ(@"「・・・」")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/惊嚇頭翼/通常眉３/小口３/",90,2000,0))

			CALL LIBT_辞書登録("Arrygator")
			CALL LIBT_セリフ(@"「・・・Hay！Arrygator Gozaymass！ %CNAME("二人称")%！」")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"重置/笑颜/通常眉３/会話口/",90,2000,0))
			
			CALL LIBT_地の文(@"虽然不懂槞彁的语言、但她的心意却随着语言传递过来。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"重置/笑颜/通常眉３/微笑４/",90,2000,0))
			
			CALL LIBT_地の文(@"纵有语言隔阂、也要彼此靠近相互扶持。%CALLNAME:MASTER%暗自下定决心。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"重置/笑颜/通常眉３/微笑４/",90,2000,0))
			
			
			CALL LIBT_地の文(@"　")
			CALL LIBT_地の文(@"槞彁突然在异乡听到母语时欣喜的声音、似乎带着微微的颤抖。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",2,"/",90,2000,0))
		;
		CASE "靴"
			CALL LIBT_地の文("和槞彁交谈了几次")
			CALL PRINT_TUIWR("BG自室+0x30000000","",TachieClass("槞彁",2,"ヮ/通常眉３/笑颜/",90,2000,0))

			CALL LIBT_地の文("虽然还无法完全理解她的语言。但通过手势和表情、互相猜测对方想说什么的过程莫名有趣。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",2,"微笑４/通常眉３/笑颜/",90,2000,0))

			CALL LIBT_セリフ(@"「Konnor fuku var, Vatashi nor kunny nor dentor teck nar fuku nang deshch yor!」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",2,"会話口/通常眉３/垂眼５/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ("「Sava'tye mimass kar?」")
			CALL LIBT_地の文("她大概在说明衣服的来历吧。獲准触摸了她的衣服。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"会話口/通常眉３/笑颜/ふりふり尾巴/",270,000,-700))
			CALL LIBT_地の文("光滑轻薄的材质、却与丝绸或人造纤维不同。这到底是什么材料呢？")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",2,"会話口/通常眉３/笑颜/ふりふり尾巴/",270,000,-700))
			CALL LIBT_地の文("虽然有些地方沾着污渍、但仍能看出原本应该是相当奢侈的高级品。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",2,"会話口/通常眉３/笑颜/ふりふり尾巴/",270,000,-700))
			
			CALL LIBT_地の文("...好大")
			CALL LIBT_セリフ(@"<font color='%K15_VOICE_COLOR_F1%'>「Deemo, Kochirar nor fuku mor motchi long uttye imass yor.」</font>")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"<font color='%K15_VOICE_COLOR_F1%'>槞彁</font>",TachieClass("槞彁",2,"ヮ/通常眉３/しいたけ/随机通常尾巴/",270,000,-2500))
			
			CALL LIBT_地の文(@"{BASE:TARGET:身高}cmの小只的体躯に、分厚い高級感ある生地であるにも関わらず服越しに分かる不釣り合いな胸。")
			CALL LIBT_セリフ(@"<font color='%K15_VOICE_COLOR_F2%'>「Sayking var <i>Ｕｎｉｑｌｏ</i> tor yivu Kyogyi-kay foo nor mishe gar deckimassy tar shiy.」</font>")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"<font color='%K15_VOICE_COLOR_F2%'>槞彁</font>",TachieClass("槞彁",2,"微笑４/通常眉３/垂眼５/随机通常尾巴/",270,000,-2500))

			CALL LIBT_地の文("披风和翅膀让她的躯体轮廓显得宽大如酒桶、但腰间系着的腰带证明她的身材绝非肥胖")
			CALL LIBT_セリフ(@"<font color='%K15_VOICE_COLOR_F3%'>「Cho’t takay sor deshch gar, tok nyi hadagyi gar yoy sor deshch yor」</font>")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"<font color='%K15_VOICE_COLOR_F3%'>槞彁</font>",TachieClass("槞彁",2,"会話口/困扰眉/しょんぼり呆毛/笑颜/通常尾巴２/",270,000,-4000))

			CALL LIBT_地の文("・・・")
			CALL LIBT_セリフ(@"<font color='%K15_VOICE_COLOR_F3%'>「Dor shimashi tar kar?」</font>")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"<font color='%K15_VOICE_COLOR_F3%'>槞彁</font>",TachieClass("槞彁",2,"微笑４/困扰眉/ハテナ呆毛/斜眼５/ハテナ尾巴/",270,000,-8000))

			CALL LIBT_地の文(@"「鞋子就这么穿着不脱吗————！！」")
			CALL LIBT_セリフ(@"「Ee't!?!?」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁＆%CALLNAME:MASTER%",TachieClass("槞彁",2,"惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))
			
			CALL LIBT_地の文("说来也是、听说世界上很多国家没有进屋脱鞋的文化。")
			CALL PRINT_TUIWR("BG自室+0x30000000","",TachieClass("槞彁",0,"惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_地の文("虽然不知道槞彁祖国的文化如何、但看她这个反应应该完全没有恶意。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_地の文("嘛、算了、地板脏了擦一擦就好...")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_地の文("正想着这就是所谓的文化冲击吗、低頭看向地板时、")
			CALL PRINT_TUIWR("BG自室+0x30000000","",TachieClass("槞彁",0,"惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_地の文("正想着这就是所谓的文化冲击吗、低頭看向地板时、发现地板根本没有脏到需要擦拭。")
			CALL PRINT_TUIWRO("BG自室+0x30000000","",TachieClass("槞彁",0,"惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_地の文("当然生活产生的灰尘污渍还是有的、但预想中被她穿鞋带进来的沙土等脏污完全不存在。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_セリフ("「Sonnor... Nany kar shchay masy tar kar...?」")
			CALL LIBT_地の文("正忐忑不安地询问着什么。")
			CALL PRINT_TUIWR("BG自室+0x30000000","",TachieClass("槞彁",0,"小口３/困扰眉/ハテナ呆毛/垂眼５/ハテナ尾巴/",90,2000,0))
			
			CALL LIBT_地の文("仔细看会发现、槞彁的长靴虽然确实被穿得很柔软了、但奇怪的是上面几乎没有污渍。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"小口３/困扰眉/ハテナ呆毛/垂眼５/ハテナ尾巴/",90,2000,0))

			CALL LIBT_地の文("或许是因为一直被直勾勾地盯着看感到尴尬、槞彁扑扇着翅膀轻轻飘浮起来。")
			CALL PRINT_TUIWRA("BG自室+0x30000000","",TachieClass("槞彁",0,"小口３/困扰眉/ハテナ呆毛/飘忽/ハテナ尾巴/",90,2000,0))

			CALL LIBT_選択肢("飘起来了！？")
			CALL PRINT_TUIQRA("BG自室+0x30000000","",TachieClass("槞彁",0,"小口３/困扰眉/ハテナ呆毛/飘忽/ハテナ尾巴/",90,2000,0))

			CALL LIBT_地の文("靠近脚边观察、发现她的双脚离地面约3cm微微悬空")
			CALL PRINT_TUIWR("BG自室+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/ヮ/困扰眉/しょんぼり呆毛/笑颜/ハテナ尾巴/",90,2000,0))

			CALL LIBT_地の文("试着抓住槞彁纤细的腰肢、竟像气球般几乎没感受到多少重量就提了起来。")
			CALL LIBT_セリフ(@"<font color='%K15_VOICE_COLOR_F2%'>「呀啊啊啊！！」</font>")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"惊嚇頭翼/半開４/通常眉３/惊嚇呆毛/睁開/惊嚇尾巴/赤面２/",90,2000,0))
			
			CALL LIBT_地の文(@"いくら槞彁が{BASE:TARGET:身高}cmの娇小とは言え、風船のような体重が、圆圈で現実感を伴わない。")
			CALL LIBT_セリフ(@"「Hyah! nat' nany sullung deshch kar！！！！」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"惊嚇頭翼/半開４/通常眉３/惊嚇呆毛/睁開/惊嚇尾巴/赤面２/",90,2000,0))
			
			CALL LIBT_地の文("突然被抓住腰部、像给小孩\"举高高\"一般举起来的槞彁、正手忙脚乱地挣扎着。")
			CALL LIBT_セリフ(@"「Hanarsh tye～!!」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"惊嚇頭翼/半開４/通常眉３/惊嚇呆毛/睁開/惊嚇尾巴/赤面２/",90,2000,0))
			
			CALL LIBT_地の文("放開手中惊慌失措的槞彁、她就像棉花般轻轻飘回原位。")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"惊嚇頭翼/半開４/通常眉３/惊嚇呆毛/睁開/惊嚇尾巴/赤面２/",90,2000,0))
			
			CALL LIBT_セリフ(@"「Sonnor... Na' nany deshch kar...?」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"しょんぼり頭翼/半目/困扰眉/会話口/赤面２/",90,2000,0))

			CALL LIBT_選択肢("槞彁是...会飞的呢")
			CALL PRINT_TUIQRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"しょんぼり頭翼/笑颜/困扰眉/無口系/赤面２/",90,2000,0))

			CALL LIBT_セリフ(@"「会 飞？」")
			CALL PRINT_TUIWR("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"ハテナ尾巴/通常眉３/小口３/",90,2000,0))

			CALL LIBT_セリフ(@"「飞 飞！Tobu！Tobel！」")
			CALL LIBT_地の文("通过轻轻跳跃和拍打翅膀的肢体语言、终于让槞彁理解了\"飞\"为何意。")
			CALL PRINT_TUIWRO("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"惊嚇頭翼/通常眉３/会話口/",90,2000,0))

			CALL LIBT_辞書登録(@"Tobel")
			CALL LIBT_セリフ(@"「是！窝 窝会 飞！」")
			CALL LIBT_セリフ(@"「Hay! Vatash var tobelng deshch yor！」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"惊嚇頭翼/ふりふり尾巴/笑颜/通常眉３/会話口/",90,2000,0))

			;CALL LIBT_地の文("轻轻地ジャンプしたり羽ばたくようなジェスチャーをすると、何とか槞彁に\"飛ぶ\"を伝える事が出来た。")
			;CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"惊嚇頭翼/ふりふり尾巴/笑颜/通常眉３/微笑４/",90,2000,0))
			
			CALL LIBT_セリフ(@"「Nanor dye, Kutsu gar yogorell koto var amarry naing deshch yor.」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"笑颜/通常眉３/会話口/",90,2000,0))

			CALL LIBT_セリフ(@"「At' sakky nor var kutsu nor hanasy?」")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",2,"通常眉３/小口３/",90,2000,0))
			
			CALL LIBT_地の文("槞彁独自沉浸在某种顿悟中...")
			CALL PRINT_TUIWRA("BG自室+0x30000000","槞彁",TachieClass("槞彁",0,"闭眼/通常眉３/無口系/",90,2000,0))
			
		CASE "フラッシュバック"
			CALL LIBT_地の文(@"哐啷！！！")
			CALL PRINT_TUIWR("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"尖锐的声响、玻璃破碎声。紧接着迟来的爆鸣、枪声。")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"车窗外、那些为看我们一眼而聚集的人群中、正向他们挥手的父亲胸口正蔓延開暗红色血渍。")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			
			CALL LIBT_地の文(@"「%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%！」")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"父亲在呼喊着什么。但是、我的大脑却因紧张而一片空白。")
			CALL PRINT_TUIWR("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"整个世界仿佛在缓慢扭曲、眼前的现实逐渐模糊。")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			
			CALL LIBT_セリフ(@"父亲猛地把我拽进怀里、重重摔倒在地。")
			CALL PRINT_TUIWR("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"血腥味直冲鼻腔。卫兵们显然在叫喊着什么、可那些声音却传不进耳朵。视野被雾气笼罩、声音、声响、一切都渐行渐远。")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			CALL LIBT_地の文(@"「⊥лыъвьыкцлр、%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%。%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%、%UNICODE(0x2588)%%UNICODE(0x2588)%%UNICODE(0x2588)%。」")
			CALL PRINT_TUIWR("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"父亲在呼唤我的名字。明知他即将死去、明明想听清遗言、可紧绷的神经让所有声音都化为虚无。")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"温热粘稠的血液正在我的腹部扩散")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"爸爸到底在说什么？我该怎么办？")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"再告诉我一次、我该怎么做？要怎样做才对？")
			CALL PRINT_TUIWRA("BGお召列車+0x30000000","")
			CALL LIBT_セリフ(@"爸爸。")
			CALL PRINT_TUIWR("","")


			CALL LIBT_地の文(@"「槞彁！」")
			CALL PRINT_TUIWR("","")

			CALL LIBT_地の文(@"反复呼唤了她许久、槞彁的瞳孔终于重新聚焦。")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","",TachieClass("槞彁",2,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/睁開/通常尾巴２/",90,2000,0))

			CALL LIBT_セリフ(@"「%CNAME("二人称")%」")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/睁開/通常尾巴２/",90,2000,0))

			CALL LIBT_地の文(@"反应过来的她呼唤着你的名字、但是声音带着颤抖。")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/睁開/通常尾巴２/",90,2000,0))
			CALL LIBT_地の文(@"在漫长的深呼吸之后、逐渐平复了紊乱的喘息。")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/睁開/通常尾巴２/",90,2000,0))

			CALL LIBT_地の文(@"槞彁脚边散落着摔碎的餐盘残片")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/睁開/通常尾巴２/",90,2000,0))

			CALL LIBT_地の文(@"她那副剧烈动摇的神情...绝非单纯被碎碟声惊吓能够解释。")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/睁開/通常尾巴２/",90,2000,0))

			CALL LIBT_地の文(@"虽然不清楚槞彁经历了什么、但是...")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/無口系/困扰眉/しょんぼり呆毛/睁開/通常尾巴２/",90,2000,0))

			CALL LIBT_セリフ(@"「咿呀啊啊啊啊啊！！！」")
			CALL PRINT_TUIWR("BG住宅街+0x30000000","近く的家の人＆槞彁",TachieClass("槞彁",2,"惊嚇頭翼/呀哒/困扰眉/惊嚇呆毛/涙目〇〇/惊嚇尾巴/",90,2000,0))

			CALL LIBT_地の文(@"就像上次那样、巨大的声响似乎触发了槞彁的某种创伤记忆。")
			CALL PRINT_TUIWR("BGリビング+0x30000000","",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))

			CALL LIBT_セリフ(@"「Da't...Dayzhorb deshch...」")
			CALL PRINT_TUIWR("BGリビング+0x30000000","槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/ヮ/困扰眉/しょんぼり呆毛/笑颜/通常尾巴２/对话框汗３/",90,2000,0))

			;CALL LIBT_辞書登録("Dayzhorb")
			;CALL PRINT_TUIWRA("BGリビング+0x30000000","槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/ヮ/困扰眉/しょんぼり呆毛/笑颜/通常尾巴２/对话框汗３/",90,2000,0))
			
			CALL LIBT_地の文(@"看起来、她大概在说\"不用担心\"")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/ヮ/困扰眉/しょんぼり呆毛/笑颜/通常尾巴２/对话框汗３/",90,2000,0))
			
			CALL PRINT_MAIDFACE, FINDCHARA(NO, 1)
			HTML_GETPRINTEDSTR 8
			CLEARLINE 9
			CALL D20XX_NO_NOBR(RESULTS)
			CALL D20XX_OS_SpriteYposReverse(RESULTS)
			CALL D20XX_OS_WindowInput_Constructor
			LOCALS = %RESULTS%
			CALL LIBT_颜绘(@"%LOCALS%")
			CALL LIBT_地の文(@"「啊啦、摔碎了呢。」")
			CALL PRINT_TUIWR("BGリビング+0x30000000",@"%CALLNAME:FINDCHARA(NO, 1)%",TachieClass("槞彁",2,"しょんぼり頭翼/ヮ/困扰眉/しょんぼり呆毛/笑颜/通常尾巴２/对话框汗３/",90,2000,0))

			CALL LIBT_地の文(@"「没関系的、请离远些当心碎片。」")
			CALL LIBT_颜绘(@"%LOCALS%")
			CALL PRINT_TUIWR("BGリビング+0x30000000",@"%CALLNAME:FINDCHARA(NO, 1)%",TachieClass("槞彁",2,"しょんぼり頭翼/ヮ/困扰眉/しょんぼり呆毛/笑颜/通常尾巴２/对话框汗３/",90,2000,0))

			CALL LIBT_セリフ(@"「Arrygator gozaymass...」")
			CALL PRINT_TUIWR("BGリビング+0x30000000","槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/ヮ/困扰眉/しょんぼり呆毛/笑颜/通常尾巴２/对话框汗３/",90,2000,0))

			CALL LIBT_地の文(@"虽然强装出一副不要紧的模样、但槞彁的脸色依然苍白。")
			CALL LIBT_地の文(@"真的没问题吗...")
			CALL PRINT_TUIWRA("BGリビング+0x30000000","",TachieClass("槞彁",2,"しょんぼり頭翼/ヮ/困扰眉/しょんぼり呆毛/笑颜/通常尾巴２/对话框汗３/",90,2000,0))
		CASE "初めての添い寝"
			;イベント呼び出し位置的にここはPRINTFORMWを使う方が誰来たか分からなくて良いかも？
			CALL LIBT_地の文(@"咚咚")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"")
			
			CALL LIBT_地の文(@"正当%CALLNAME:MASTER%即将入睡时、房門外传来小心翼翼的敲門声")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"")
			
			CALL LIBT_地の文(@"%CALLNAME:MASTER%还没来得及从床上起身、房門就被推開了")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"")
			
			CALL LIBT_セリフ(@"「...maddar, okitye imass kar?」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"重置/しょんぼり頭翼/困扰眉/小口３/",90,2000,0))
			
			CALL LIBT_地の文(@"槞彁怯生生地一点点挪进房间。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",0,"重置/しょんぼり頭翼/困扰眉/無口系/",90,2000,0))
			
			CALL LIBT_セリフ(@"「Sonnor... Isshro nyi netye kurre massen kar...?」")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"重置/しょんぼり頭翼/半目/困扰眉/小口３/",90,2000,0))
			
			CALL LIBT_地の文(@"是还在为晚餐时摔碎盘子的事忧心吗？")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",0,"重置/しょんぼり頭翼/半目/困扰眉/無口系/",90,2000,0))
			
			CALL LIBT_地の文(@"虽然无法完全理解槞彁的具体话语...")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",0,"重置/しょんぼり頭翼/しょんぼり呆毛/半目/困扰眉/無口系//",90,2000,0))
			
			CALL LIBT_選択肢(@"好啊/过来吧")
			CALL PRINT_TUIQRA("BG自室+0x30000000",@"",TachieClass("槞彁",0,"重置/しょんぼり頭翼/しょんぼり呆毛/半目/困扰眉/無口系//",90,2000,0))
			
			CALL LIBT_セリフ(@"「Un''...」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"重置/半目/困扰眉/小口３/",90,2000,0))
			
			CALL LIBT_地の文(@"掀開被角示意她过来、槞彁便顺从地钻进了%CALLNAME:MASTER%的被窝。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",0,"重置/半目/困扰眉/無口系/",270,000,-700))
			
			CALL LIBT_セリフ(@"「E't... sonnor... Arrygator gozaymass...」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"重置/吊帯衫/半目/困扰眉/小口３/",270,000,-700))
			
			CALL K15_添い寝チュートリアル
		CASE "添い寝をもう一度" ;急いで作って魔界語の単語ガタガタなので後で修正する
			CALL LIBT_セリフ(@"「Kinor var ... Arrygator gozaymass...」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/小口３/困扰眉/半目/通常尾巴２/赤面２/",90,2000,0))
			
			CALL LIBT_地の文(@"是为了之前陪睡的事吗？槞彁有些害羞地向你传达谢意。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",0,"しょんぼり頭翼/小口３/困扰眉/半目/通常尾巴２/赤面２/",90,2000,0))

			CALL LIBT_セリフ(@"「To'tye mor... Angshing deky massy tar...」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/微笑４/困扰眉/笑颜/通常尾巴２/赤面２/",90,2000,0))

			CALL LIBT_セリフ(@"「Hysassy burry nyi... Zuksuy dekytye...」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/微笑４/困扰眉/垂眼５/通常尾巴２/赤面２/",90,2000,0))

			CALL LIBT_セリフ(@"「Mossy, yoka'ta rar... Mattar, Onegay sytye mor ... iyi deshch kar...?」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/会話口/困扰眉/垂眼５/通常尾巴２/赤面２/对话框汗３/",90,2000,0))
			
			CALL LIBT_地の文(@"虽然还有挺多单词搞不明白含义...但对槞彁的回复果然只有这个呢。")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",0,"しょんぼり頭翼/会話口/困扰眉/垂眼５/通常尾巴２/赤面２/对话框汗３/",90,2000,0))

			CALL LIBT_選択肢(@"没问题哦")
			CALL PRINT_TUIQRA("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/会話口/困扰眉/垂眼５/通常尾巴２/赤面２/对话框汗３/",90,2000,0))

			CALL LIBT_セリフ(@"「诶嘿嘿... Arrygator_UH_」")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"槞彁",TachieClass("槞彁",2,"しょんぼり頭翼/会話口/困扰眉/爱心呆毛/笑颜/ふりふり尾巴/赤面２/",90,2000,0))

			CALL LIBT_選択肢(@"NOBUTTON_今后可以邀请槞彁陪睡了/NOBUTTON_可以在给予标签中选择/明白了")
			CALL PRINT_TUIQRA("BG自室+0x30000000",@"",TachieClass("槞彁",0,"しょんぼり頭翼/会話口/困扰眉/爱心呆毛/笑颜/ふりふり尾巴/赤面２/",90,2000,0))
			CALL SET_CEVENT("添い寝解禁")
		CASE "子宮の勘違い"
			CALL LIBT_セリフ(@"昨晚是%CALLNAME:MASTER%陪在身边哄我入睡的。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"多亏如此、久违地没有被<i>那个</i>侵扰、得以安眠。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"...但取而代之的是、腹部深处正隐隐作痛。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"身体阵阵酸楚、膝盖忸怩地磨蹭着。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			
			CALL LIBT_地の文(@"最近、始终无法得到休息的槞彁、遇到了会主动守护保护自己的年轻雄性。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_地の文(@"对于仅度过44萌岁月的少女那稚嫩身体而言、对于正从未成熟转向成熟身体的性征期少女而言、实在是过于强烈的刺激。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"性欲")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"仿佛要将自我意识吞噬殆尽般、侵蚀我理性的本能冲动。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"越是试图转移对这种感觉的注意、就越是会不断想起、下腹沉甸甸地发胀。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"为稍许逃离这种感觉、将被子夹在腿间")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"隔着内褲感受到柔软的触感。即便如此、酸楚感仍未消散、只能默默忍耐。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"虽说不会被任何人看见、但在好心收留自己的这户人家里独自做这种事...实在..不妥...")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"作为理性主义者的槞彁、必须战胜子宫里躁动的渴望。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"「呜..._UH_ 呼呜..._UH_」")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"稍等片刻定能恢复原状、一会儿、再坚持一会儿就好")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_地の文(@"虽然这样想着蜷缩在被窝角落的槞彁、却因本能无意识地撅起了臀部。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_地の文(@"然而、现在没有可供挺腰求爱的对象、空荡的房间里只弥漫着甜腻的发情气息。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_地の文(@"槞彁为拼命抵抗而采取的双腿夹被抑制刺激的战术，反而因微弱的布料摩擦这种隔靴搔痒的行为、被高涨的性欲持续折磨着自己。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"「呜～..._UH_ %CNAME("二人称")%''..._UH_」")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

		CASE "ステルス洗濯";一番お気に入りのイベントかも
			CALL LIBT_セリフ(@"麻烦了。")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"")
			
			CALL LIBT_セリフ(@"我只穿着身上这套衣服来到这个世界。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"")

			CALL LIBT_セリフ(@"逃跑时勉强带出的挎包根本塞不下换洗衣物、只能勉强塞进几件内衣。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"")
			
			CALL LIBT_セリフ(@"平常穿的彁衣虽然基本不用洗、但毕竟连续穿了好几沙了、还是想清洗一下。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/へ字３/困扰眉/闭眼/",90,2000,0))

			CALL LIBT_セリフ(@"再加上换洗内衣还是都穿过了。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/へ字３/困扰眉/闭眼/",90,2000,0))
			
			CALL LIBT_セリフ(@"或许可以拜托这家的女仆弗理希艾尔小姐...")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/へ字３/困扰眉/垂眼５/",90,2000,0))
			
			CALL LIBT_セリフ(@"但毕竟是寄人篱下...開口向对方要内衣实在是有点难以启齿。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/へ字３/困扰眉/垂眼５/",90,2000,0))
			
			CALL LIBT_セリフ(@"事已至此、只能自己来洗了。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/へ字３/憤怒眉/垂眼５/",90,2000,0))
			
			CALL LIBT_セリフ(@"虽然这样下定了决心、但难関却接踵而至。")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/困扰眉/闭眼/",90,2000,0))
			
			CALL LIBT_セリフ(@"洗衣机按键上写着我不认识的文字、而且我根本没洗过衣服。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/困扰眉/しょんぼり呆毛/闭眼/",90,2000,0))
			
			CALL LIBT_セリフ(@"只能边看边学尝试自己手洗了。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/困扰眉/しょんぼり呆毛/闭眼/通常尾巴２/",90,2000,0))
			
			CALL LIBT_セリフ(@"而且还要抱着衣物走出房间...实在不想以这副模样带着这种东西遇见他人。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/小口３/困扰眉/しょんぼり呆毛/半目/随机通常尾巴/赤面２/",90,2000,0))
			
			CALL LIBT_セリフ(@"但顾不得体面了、先行动起来吧。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/へ字３/困扰眉/しょんぼり呆毛/＞＜/ふりふり尾巴/赤面２/",90,2000,0))
			
			CALL LIBT_セリフ(@"我用手按住犄角避免碰到什么发出声响、把耳朵贴在門上。")
			CALL PRINT_TUIWRA("BG黒背景+0x30000000",@"")

			CALL LIBT_地の文(@"咔啦咔啦咔啦...哗啦...咔哒...")
			CALL PRINT_TUIWR("BG黒背景+0x30000000",@"")

			CALL LIBT_セリフ(@"好像有人从厕所出来了。")
			CALL PRINT_TUIWRA("BG黒背景+0x30000000",@"")
			
			CALL LIBT_セリフ(@"好险、要是刚才贸然出去、就要抱着穿过的内衣和人撞个正着了。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/△/通常眉３/しょんぼり呆毛/闭眼/ふりふり尾巴/",90,2000,0))


			CALL LIBT_セリフ(@"屏息等待、直到外面没有他人的气息...")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/△/通常眉３/しょんぼり呆毛/闭眼/ふりふり尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"缓缓下压門把、小心翼翼避免声响地将門推開条缝。")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/へ字３/憤怒眉/惊嚇呆毛/半目/ふりふり尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"从門缝探出单侧頭翼去感知气流。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/惊嚇頭翼/へ字３/憤怒眉/惊嚇呆毛/闭眼/ふりふり尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"虽然这个世界的低气压让感知迟钝、但除了穿堂风暂无异常。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/惊嚇頭翼/へ字３/憤怒眉/惊嚇呆毛/闭眼/ふりふり尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"全身倚住門板、以不会触发声响的极慢速度、小心翼翼地挪向走廊。")
			CALL PRINT_TUIWR("BGリビング+0x60000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/蹙眉/飘忽/ふりふり尾巴/",90,2000,0))
			
			CALL LIBT_セリフ(@"咚咚的心跳声清晰可闻。")
			CALL PRINT_TUIWRA("BGリビング+0x60000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/蹙眉/半目/随机通常尾巴/",90,2000,0))
			CALL LIBT_セリフ(@"被发现了该怎么办")
			CALL PRINT_TUIWRA("BGリビング+0x60000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/蹙眉/半目/随机通常尾巴/",90,2000,0))
			CALL LIBT_セリフ(@"强压着焦躁的心情、蹑手蹑脚地摸到盥洗室跟前")
			CALL PRINT_TUIWRA("BGリビング+0x60000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/蹙眉/半目/随机通常尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"・・・")
			CALL PRINT_TUIWR("BG黒背景+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/蹙眉/半目/随机通常尾巴/",90,2000,0))
			CALL LIBT_地の文(@"・・・")
			CALL PRINT_TUIWRO("BG黒背景+0x30000000",@"")

			CALL LIBT_地の文(@"%CALLNAME:MASTER%正在浴室沐浴。")
			CALL PRINT_TUIWRA("BG浴室場+0x30000000",@"")

			CALL LIBT_選択肢(@"果然、洗完澡最清爽啦！")
			CALL PRINT_TUIQRA("BG浴室場+0x30000000",@"")
			
			CALL LIBT_地の文(@"正神清气爽地用浴巾擦拭身体")
			CALL PRINT_TUIWRA("BG浴室場+0x30000000",@"")

			CALL LIBT_地の文(@"身上的肌肉似乎增长了些？")
			CALL PRINT_TUIWRA("BG浴室場+0x30000000",@"")
			
			CALL LIBT_地の文(@"咔哒")
			CALL LIBT_地の文(@"盥洗室門突然被打開")
			CALL PRINT_TUIWR("BG浴室場+0x30000000",@"")
			
			CALL LIBT_セリフ(@"「・・・」")
			CALL LIBT_地の文(@"「・・・」")
			CALL PRINT_TUIWR("BG浴室場+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/小口３/",90,2000,0))

			CALL LIBT_セリフ(@"「！」")
			CALL PRINT_TUIWR("BG浴室場+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/惊嚇頭翼/半開４/困扰眉/惊嚇呆毛/〇〇/惊嚇尾巴/赤面２/对话框惊讶/",90,2000,0))

			CALL LIBT_セリフ(@"<b>「呀啊啊啊啊！！！！！！！」</b>")
			CALL PRINT_TUIWRO("BG浴室場+0x30000000",@"槞彁",TachieClass("槞彁",2,"吊帯衫/惊嚇頭翼/呀哒/困扰眉/惊嚇呆毛/＞＜/惊嚇尾巴/赤面２/对话框汗３//",90,2000,0))
	
			CALL LIBT_地の文(@"明明是自己打開的門却惊声尖叫起来、槞彁扭过頭去慌不择路地逃往某处。")
			CALL PRINT_TUIWR("BG浴室場+0x30000000",@"")
	
			CALL LIBT_地の文(@"(好歹帮忙関下門啊...)")
			CALL PRINT_TUIWRA("BG浴室場+0x30000000",@"")

			CALL LIBT_地の文(@"正要関門时、发现脚边散落着槞彁的衣物...")
			CALL PRINT_TUIWRA("BG浴室場+0x30000000",@"")
			
			CALL LIBT_選択肢(@"放进洗衣篮/偷偷拿走内褲")
			CALL PRINT_TUIQRA("BG浴室場+0x30000000",@"")

			SELECTCASE RESULT
				CASE 0
					
				CASE 1
					CALL LIBT_地の文(@"其他衣物都替她收进洗衣篮里面了...")
					CALL PRINT_TUIWRA("BG浴室場+0x30000000",@"")
					CALL COLLECT_PANTU, PANTIES(TARGET)
			ENDSELECT
			CALL LIBT_地の文(@"做了件好事呢！")
			CALL PRINT_TUIWR("BG黒背景+0x30000000",@"")

			CALL LIBT_セリフ(@"这还是第一次、看到家人以外的男性裸体、那样失态地尖叫着逃回来了。")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/しょんぼり頭翼/半開４/困扰眉/呆毛/闭眼/ふりふり尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"震惊让那个瞬间的画面在脑海不断闪回...")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/半開４/困扰眉/しょんぼり呆毛/混乱/ふりふり尾巴/",90,2000,0))

			CALL LIBT_セリフ(@"%CALLNAME:MASTER%的裸体...")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/一文字/困扰眉/しょんぼり呆毛/混乱/ふりふり尾巴/",90,2000,0))
			
			CALL LIBT_セリフ(@"・・・")
			CALL PRINT_TUIWR("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/通常頭翼/微笑４/困扰眉/惊嚇呆毛/斜眼５/爱心尾巴/赤面２/",90,2000,0))

			CALL LIBT_セリフ(@"・・・！")
			CALL PRINT_TUIWRO("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/通常頭翼/栗口２/困扰眉/惊嚇呆毛/〇〇/随机通常尾巴/对话框惊讶/",90,2000,0))

			CALL LIBT_セリフ(@"而且衣物还堆在那里没拿回来啊！")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",2,"吊帯衫/呀哒/困扰眉/涙目＞＜/对话框汗３/",90,2000,0))

			CALL LIBT_セリフ(@"　")
			CALL LIBT_セリフ(@"※后来衣物被弗理希艾尔小姐洗干净后归还了。")
			CALL PRINT_TUIWRA("BG自室+0x30000000",@"",TachieClass("槞彁",0,"吊帯衫/呀哒/困扰眉/涙目＞＜/对话框汗３/",90,2000,0))
		CASE "産卵障害"
			CALL LIBT_地の文(@"这天、槞彁直到中午仍独自蜷缩在被窝中。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_地の文(@"不同于魔界1沙66小时周期的人间界24小时昼夜规律、使槞彁的内分泌系统持续紊乱、遭受着永无止境的时差折磨。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_地の文(@"但认真的槞彁、始终努力配合%CALLNAME:MASTER%家的生活节奏。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_地の文(@"(虽说、难免会有睡过頭或失眠的日子。)")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_地の文(@"然而、这天卧床不起的原因、并非是单纯的赖床。不如说恰恰相反、她根本无法入眠。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"「嗯...呜呜...！」")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"槞彁")
			CALL LIBT_セリフ(@"我将毛毯蒙过頭顶、蜷缩成胎儿的姿势独自发出隐忍的呻吟。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"我那可憎的动物本能正在下腹部积蓄力量、钝痛支配着腹腔深处。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"内脏不断收缩、试图通过狭窄的子宫口将异物旋转挤出。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"卵")
			CALL PRINT_TUIW("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"苍白浑圆的夭折生命")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"我那繁殖本能的结晶")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"来到这个世界已有些时日。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"好不容易适应了环境和生活、为何偏偏此时。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"不、或许正是因为适应期结束、激素水平開始趋于稳定、排卵才得以重启。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"长期未经历产卵的子宫仿佛忘记了运作方式、像初次产卵般疼痛难忍。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"「呀、嗯！......っ！」")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"卵块開始往宫口下坠、钝痛如浪潮般阵阵袭来。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"每当体内的异物移动、身体便僵硬得渗出冷汗。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"此刻、只能祈祷这阵痛楚浪潮尽快退去。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"「呜呜...」")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"浪潮退却后、疲惫的身躯彻底瘫软。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"但这意味着卵块只是有一次暂时缩回子宫、漫长的煎熬仍将持续。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"渴望被拯救。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"不安与孤寂催生出泪水。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"混沌交融的欲望在体内翻涌、早已分不清是本能作祟还是理性渴求。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"渴望十指相扣、期盼后背的轻抚、渴求结实的拥抱、贪恋温热的体温、希冀守护的安心、亟欲用尾梢缠绕")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"蜷缩在毛毯里独自垂泪的无助模样实在可悲。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"占据九成的钝痛中混杂着一成快感的感觉实在令人作呕。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"究竟是机体在钝痛中自发生成的镇痛剂、还是为产卵而分泌的润滑剂")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"滑腻体液顺着大腿流淌、仿佛这副躯体在抗拒我作为高等智慧种族的神智。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"毛毯里充盈着蜜液的腥甜、连我自己都被这气息熏得晕眩。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"自体分泌的雌性费洛蒙犹如毒素、诱使我陷入渴求\"配偶\"的自体中毒状态。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"比如说...")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"前日偶然窥见的%CALLNAME:MASTER%的裸体在脑海浮现")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"生平首次目睹父亲之外的雄性躯体、那与我的纤弱截然不同的精壮体格、不依赖浮力却能稳健直立的双腿。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"回忆间、小腹深处又涌起一阵热流。不、这不可能")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"「唔嗯..」")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"卵块突然在狭窄的宫口再度躁动。为何？明明钝痛的间隔从来不曾如此短暂。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"身体较之前更剧烈地痉挛、本能告诉我在这波阵痛过后将完成产卵。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"明明只是想着%CALLNAME:MASTER%的事而已...")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"「嗯啊！哈...！哈...！」")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"子宫剧烈收缩试图将卵从中排出。能清晰感受到宫颈正在逐渐扩张。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"撕裂般的扩张感中、卵块顺着产道缓缓下移。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"「～～～～っ_UH_UH_！」")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"当异物滑过子宫口的瞬间、痛苦骤然转化为解脱的快意。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"空虚的脑髓被汹涌快感填满、最终在颅内轰然炸裂。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"违背意志的强烈快感炸碎理智、迷离的视野中闪过晕眩的光斑。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"随着黏滑触感、掌心大小的卵体滑出产道滚落在腿间。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"理性明知这只是未受精卵、却仍抑制不住胸中充斥的怜爱之情。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"凝视着蜷在胸前的这团生命雏形、%CALLNAME:MASTER%的面容在脑海中莫名浮现。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"为什么？难道这副躯体在渴求那个人吗？？")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"若真如此、我的本能恐怕比想象中更愚不可及。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"与异种族的他结合也绝无可能诞下子嗣。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"作为理性主义者、我应当用理智而非本能选择伴侣。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"我乃高贵的统治种、绝非受原始程序驱使的低等生物、岂容本能支配。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")
			CALL LIBT_セリフ(@"实在是、厌恶这具身体、强加于我无法满足的欲求、无法实现的心愿。")
			CALL PRINT_TUIWRA("BG自室+0x60000000",@"")

			CALL LIBT_セリフ(@"怀抱着思念%CALLNAME:MASTER%产下的卵、我沉入排卵后的昏沉睡梦。")
			CALL PRINT_TUIWR("BG自室+0x60000000",@"")
			
			CALL LIBT_セリフ(@"<font color='Yellow'>※槞彁的生理期重启了 以后她的生理周期将正常显示</font>")
			TALENT:TARGET:Ｖ妊娠不能 = 0
			BASE:TARGET:バイオリズム = 17411
			CALL PRINT_TUIWRA("BG黒背景+0x60000000",@"")

			CALL SET_CEVENT("情報開示：経験")
			CALL SET_CEVENT("情報開示：特技")
	ENDSELECT

@K15_StoryEventDebug
	
	$SEDLoop
	PRINTFORML [100]出会い
	PRINTFORML [101]出会い2
	PRINTFORML [102]出会い3
	PRINTFORML [103]出会い4
	PRINTFORML [104]自己紹介
	PRINTFORML [105]靴
	PRINTFORML [106]フラッシュバック
	PRINTFORML [107]添い寝解禁イベ
	PRINTFORML [111]添い寝をもう一度
	PRINTFORML [108]子宮の勘違い
	PRINTFORML [109]ステルス洗濯
	PRINTFORML [110]産卵障害

	INPUT

	SELECTCASE RESULT
		CASE 100
			CALL K15_StoryEvents("出会い")
		CASE 101
			CALL K15_StoryEvents("出会い2")
		CASE 102
			CALL K15_StoryEvents("出会い3")
		CASE 103
			CALL K15_StoryEvents("出会い4")
		CASE 104
			CALL K15_StoryEvents("自己紹介")
		CASE 105
			CALL K15_StoryEvents("靴")
		CASE 106
			CALL K15_StoryEvents("フラッシュバック")
		CASE 107
			CALL K15_StoryEvents("添い寝解禁イベ")
		CASE 108
			CALL K15_StoryEvents("子宮の勘違い")
		CASE 109
			CALL K15_StoryEvents("ステルス洗濯")
		CASE 110 
			CALL K15_StoryEvents("産卵障害")
		CASE 111
			CALL K15_StoryEvents("添い寝をもう一度")
		CASEELSE
			GOTO SEDLoop
	ENDSELECT