

@マップ紹介_15
;とりあえず5行
PRINTFORML ※介绍文案征集中※
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORML 


@MAP_RESORT_0_15(AA)
#DIMS REF AA, 0

AA:00 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
AA:01 = 　┌───────┐　　　　＿＿＿＿　　　　　　＿＿＿＿＿＿＿＿　　　　　┃
AA:02 = 　│三三三三三三三│　　　／三三三 │ 　　　　／三三三三三三三三＼　　　　┃
AA:03 = 　│三三三三三三三│　　 /三三三三 │ 　　　 /三三三三三三三三三 │ 　　　┃
AA:04 = 　│三三三三三三三│　　/ 三三三三 │ 　　　│三三 /￣￣￣ヽ三三 │ 　　　┃
AA:05 = 　│三三三三三三三│　 /三三三三三 │ 　　　│三三│　　　│三三 │ 　　　┃
AA:06 = 　│三三三三三三三│　│三三05三三 /　　　　━━━━　　　━━━━━　　　┃
AA:07 = 　│三三三三三三三│　│三三三三三/ 　　　　　　　　　　　　　　　　　　　┃
AA:08 = 　│三三三三三三三│　│三三三三_/　　　　　━━━━　　　━━━━━　　　┃
AA:09 = 　│三三三三三三三│　　￣￣￣￣　　　　　　│三三│　　　│三三 │ 　　　┃
AA:10 = 　│三三三04三三三│　　　　　　　　　　　　│三三│　　　│三三 │ 　　　┃
AA:11 = 　│三三三三三三三│　　　　　　　　　　　　│三三│　　　│三三 │ 　　　┃
AA:12 = 　│三三三三三三三│　　　　　　　　　　　　/ 三三ヽ＿＿＿/ 三三 │ 　　　■
AA:13 = 　│三三三三三三三│　　　　　　　　　　　 /三三三三三三三三三三 /　　　　■
AA:14 = 　│三三三三三三三│　　　　　　　　　　　/ 三三三三三三三三三三/ 　　　　■
AA:15 = 　│三三三三三三三│　　　　＿＿＿＿＿＿／三三三06三三三三三三／　　　　　■
AA:16 = 　│三三三三三三三│　　　／三三三三三三三三三三三三三三三三／　　　　　　■
AA:17 = 　│三三三三三三三│　　 /三三三三三三三三三三三三三 /￣￣￣　　　　　　　■
AA:18 = 　│三三三三三三三│　　│三三 /￣￣￣￣￣＼三三三三/ 　　　　　　　　　　■
AA:19 = 　└───────┘　　│三三/ 　　　　＿／三三三／　　　　　　　　　　　■
AA:20 = 　　　　　　　　　　　　│三三ヽ＿＿＿／三三三三／　　　　　　　03　　　　■
AA:21 = 　　　　　　　　　　　　ヽ三三三三三三三三三／￣　　　　　　　　　　　　　■
AA:22 = 　　　　　　　　　　　　　ヽ三三三三三三三／　　　　　　　　　　　　　　　■
AA:23 = 　　　　　　　　　　　　　　￣￣￣￣￣￣￣　　　　　　　　　　　　　　　　■
AA:24 = ━━━━━━━━━━━━━━━━━━━━━■■■■■■■■■■■■■13■14■
AA:25 = 　　　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　↓　↓
AA:26 = 
AA:27 = ミ：泳池休息区　　　　　四：主泳池　　　　　　　五：球池区　　　
AA:28 = 六：漂流池　　　　　　　オ：男更衣室　　　　　　エ：女更衣室

@GETPLACENAME_0_15(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1503
		TSTR:場所名受渡 = 泳池休息区
	CASE 1504
		TSTR:場所名受渡 = 主泳池
	CASE 1505
		TSTR:場所名受渡 = 球池区
	CASE 1506
		TSTR:場所名受渡 = 漂流池
	CASE 1513
		TSTR:場所名受渡 = 男更衣室
	CASE 1514
		TSTR:場所名受渡 = 女更衣室
ENDSELECT


@DRAW_MAP_BG_0_15(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;色つけたいときはこんな感じ
CASE "三", "─", "┘", "└", "┌", "┐", "│", "/", "／", "＿", "ヽ", "￣", "＼"
	表示文字列 += @"<font color='#0067C0'>%SLICED%</font>"
;違う文字を表示させる例
;下部一覧の数字を表示しつつボタン化させる
CASE "ミ"
	表示文字列 += @"<button value='1503'>1503</button>"
CASE "四"
	表示文字列 += @"<button value='1504'>1504</button>"
CASE "五"
	表示文字列 += @"<button value='1505'>1505</button>"
CASE "六"
	表示文字列 += @"<button value='1506'>1506</button>"
CASE "オ"
	表示文字列 += @"<button value='1513'>1513</button>"
CASE "エ"
	表示文字列 += @"<button value='1514'>1514</button>"
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT

@プール系列改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 改造度假村连接的泳池区域。<br><br>
IF 施設改造度:15:0 < 1
	LOCALS += @"■<button value='200'>[泳池改造]</button> Lv{施設改造度:15:0}>{施設改造度:15:0 + 1} （需要:200,000卢比）<br>"
ELSE
	LOCALS += @"■[泳池改造] Lv{施設改造度:15:0}：上限<br>"
ENDIF

RETURNF LOCALS

@プール系列改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 泳池将新增以下设施：
		PRINTBUTTON "■解锁泳池专属地图", 1500
		PRINTL 
		PRINTBUTTON "■建造泳池休息区", 1501
		PRINTL 
		PRINTBUTTON "■扩建主泳池", 1502
		PRINTL 
		PRINTBUTTON "■搭建球池区", 1503
		PRINTL 
		PRINTBUTTON "■建造漂流池", 1504
		PRINTL 
		PRINTL 
		PRINTL 是否改造泳池？（需要:200,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 200000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				施設改造度:15:0 = 1
				MONEY -= 200000
				PRINTL 泳池改造完成！
				PRINTW (可停留角色上限＋５)
				CALL 滞在可能キャラ数再計算
				CALL RESET_GRAPH_0
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"将游泳池改造为Lv1","実績")
				FOR LOCAL, 1, CHARANUM
					SIF 現在仕事:LOCAL:1 == 15
						現在仕事:LOCAL:1 = 1503
				NEXT
				RETURN
			CASE 1
				RETURN
			CASE 1500
				DRAWLINE
				PRINTL 解锁地图后，进入泳池时将切换至独立场景。
				PRINTL 后续改造可扩展地图并强化内部设施。（暂未实装）
				PRINTW
			CASE 1501
				DRAWLINE
				PRINTL 提供日光浴与休憩功能的岸边区域。
				PRINTL 满足条件后可开放临时摊位。（暂未实装）
				PRINTW
			CASE 1502
				DRAWLINE
				PRINTL 长达100米的标准泳池。
				PRINTL 支持自由游泳与浮圈娱乐活动。
				PRINTW
			CASE 1503
				DRAWLINE
				PRINTL 漂浮大量软球的浅水娱乐池。
				PRINTL 水深适配哈文族站立需求，确保游玩安全。
				PRINTL 配备水枪等戏水道具。
				PRINTW
			CASE 1504
				DRAWLINE
				PRINTL 通过魔法维持水流循环的动态泳池。
				PRINTL 提供与传统泳池不同的漂流体验。
				PRINTL 与女性角色互动时可能触发意外走光事件。
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT
