

@マップ紹介_5
;とりあえず5行
PRINTFORML ※介绍文案征集中※
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORML 


@MAP_RESORT_0_5(AA)
#DIMS REF AA, 0

AA:00 = ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
AA:01 = ■　　　　　　　　　　　　　　　■　　　　　└┘　└┘　└┘　■　　　　　■
AA:02 = ■　　○　○　　│　　○　○　　■　　　　　　　　　　　　　　■　　キ　　■
AA:03 = ■　┌───┐　│　┌───┐　■　　　　　　　　　　　　　　■　　ッ　　■
AA:04 = ■　│　　　│　│　│　　　│　■　　　　　　　　　　　　　　■　　チ　　■
AA:05 = ■　└───┘　│　└───┘　■　　　　　　　　　　　　　　■　　ン　　■
AA:06 = ■　　○　○　　　　　○　○　　■　　┌──┐　　　○／＼　　■　　　　　■
AA:07 = ■　　　　　　　04　　　　　　　■　　│　　│　　　　＼／○　■■■■　　■
AA:08 = ■　　○　○　　　　　○　○　　■　　└──┘　　　　　　　　　○││　　■
AA:09 = ■　┌───┐　│　┌───┐　■　　　　　　　　　○／＼　　　　││　　■
AA:10 = ■　│　　　│　│　│　　　│　■　　　　　　　　03　＼／○　　○││　　■
AA:11 = ■　└───┘　│　└───┘　■　　┌──┐　　　　　　　　　　││　　■
AA:12 = ■　　○　○　　│　　○　○　　■　　│　　│　　　○／＼　　　○││　　■
AA:13 = ■　　　　　　　　　　　　　　　■　　└──┘　　　　＼／○　　　││　　■
AA:14 = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　○│└┐　■
AA:15 = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　└─┘　■
AA:16 = ■■■■■■■■■■■■■■■■■　　　　　　　　　　　　　　　　　○　　■
AA:17 = ■　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　　　　　■
AA:18 = ■　┏━┓　　┏━┓　　┏━┓　■　　　　　　　　　　　　　　　　　　　　■
AA:19 = ■　┃　┃　　┃　┃　　┃　┃　■　　　　　　　　　　　　　　　　　　　　
AA:20 = ■　┃　┃　　┃　┃　　┃　┃　■　　　　　　　　　　　　　　　　　　　　
AA:21 = ■　┗━┛　　┗━┛　　┗━┛　■　　　　　　　　　　　　　　　　　　　　
AA:22 = ■　　　　　　　05　　　　　　　　　　　　　　　　　　　　　　　　　　　　■
AA:23 = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　■
AA:24 = ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■　　↓　　■■■■
AA:25 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　02
AA:26 = 
AA:27 = 二：前往大厅　　　　　三：酒吧区　　　　　　四：桌游区　　　　　　
AA:28 = 五：乒乓球场　　　　　　

IF 施設改造度:5:6
	AA:19 += "　"
	AA:20 += "　→06"
	AA:21 += "　"
	AA:28 += "六：图书室"
ELSE
	AA:19 += "■"
	AA:20 += "■"
	AA:21 += "■"
ENDIF

@GETPLACENAME_0_5(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 502
		TSTR:場所名受渡 = 大厅
	CASE 503
		TSTR:場所名受渡 = 酒吧区
	CASE 504
		TSTR:場所名受渡 = 桌游区
	CASE 505
		TSTR:場所名受渡 = 乒乓球场
	CASE 506
		SIF 施設改造度:5:6
			TSTR:場所名受渡 = 图书室
ENDSELECT


@DRAW_MAP_BG_0_5(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;色つけたいときはこんな感じ
CASE "○", "│", "└", "┐", "─", "┘", "┌", "＼", "／"
	表示文字列 += @"<font color='#B47142'>%SLICED%</font>"
CASE "┗", "━", "┛", "┏", "┓", "┃"
	表示文字列 += @"<font color='#02489D'>%SLICED%</font>"
;下部一覧の数字を三桁表示しつつボタン化させる
CASE "二"
	表示文字列 += @"<button value='502'>502</button>"
CASE "三"
	表示文字列 += @"<button value='503'>503</button>"
CASE "四"
	表示文字列 += @"<button value='504'>504</button>"
CASE "五"
	表示文字列 += @"<button value='505'>505</button>"
CASE "六"
	表示文字列 += @"<button value='506'>506</button>"
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT

@遊戯室系列改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 改造度假村内的游戏室。<br><br>
IF 施設改造度:5:0 < 1
	LOCALS += @"■<button value='200'>[游戏室改造]</button> Lv{施設改造度:5:0}>{施設改造度:5:0 + 1} （需要:100,000卢比）<br>"
ELSE
	LOCALS += @"■[游戏室改造] Lv{施設改造度:5:0}：上限<br>"
ENDIF
IF 施設改造度:5:0 > 0 && 施設改造度:5:6 < 1
	LOCALS += @"└■<button value='201'>[扩建图书室]</button> （需要:70,000卢比）<br>"
ELSEIF 施設改造度:5:6 > 0
	LOCALS += @"└■[图书室扩建] 已完成<br>"
ENDIF

RETURNF LOCALS

@遊戯室系列改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 游戏室将新增以下设施：
		PRINTBUTTON "■解锁游戏室专属地图", 500
		PRINTL 
		PRINTBUTTON "■建造酒吧休闲区", 501
		PRINTL 
		PRINTBUTTON "■设置桌游专区", 502
		PRINTL 
		PRINTBUTTON "■搭建乒乓球室", 503
		PRINTL 
		PRINTL 
		PRINTL 是否改造游戏室？（需要:100,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 100000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				施設改造度:5:0 = 1
				MONEY -= 100000
				PRINTL 游戏室改造完成！
				PRINTW (可停留角色上限＋５)
				CALL 滞在可能キャラ数再計算
				CALL RESET_GRAPH_0
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号,@"将游戏室改造为Lv1","実績")
				RETURN
			CASE 1
				RETURN
			CASE 500
				DRAWLINE
				PRINTL 解锁地图后，进入游戏室时将切换至独立场景。
				PRINTL 后续改造可扩展地图并强化内部设施。（暂未实装）
				PRINTW
			CASE 501
				DRAWLINE
				PRINTL 提供轻食酒饮的酒吧区，配备飞镖与台球等成人向娱乐设施。
				PRINTL 可与友人共度悠闲时光增进感情。
				PRINTW
			CASE 502
				DRAWLINE
				PRINTL 配置多种桌面游戏的专区。
				PRINTL 可体验TRPG类角色扮演游戏，或进行瓦姆杜斯最喜欢的双六游戏。（部分内容暂未实装）
				PRINTW
			CASE 503
				DRAWLINE
				PRINTL 配备专业乒乓球台及运动器材。
				PRINTL 可进行休闲运动或好友对决。
				PRINTL 与身着浴袍装扮的女性角色互动时，可能触发意外走光事件。
				PRINTW
		ENDSELECT
		RESTART
	CASE 201
		DRAWLINE
		PRINTL 将新增图书室设施。
		PRINTL 情色书籍相关系统将会解锁，你可以赋予任意角色特定的性癖好。
		PRINTL 此外，通过使用健康与体育教科书，可以增加性知识能力低于1的角色的性知识能力。
		PRINTL 
		PRINTL 是否扩建图书室？（需要:70,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 70000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				施設改造度:5:6 = 1
				MONEY -= 70000
				PRINTL 图书室扩建完成！
				PRINTW (可停留角色上限＋５)
				CALL 滞在可能キャラ数再計算
				CALL RESET_GRAPH_0
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"为游戏室增建图书室","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
ENDSELECT
