

@MAP_RESORT_0_8(AA)
#DIMS REF AA, 0


AA:00 = ┏━━━━━━━━━━━━━━━━━━━━━━━┓　　　　　　　　　　　　　
AA:01 = ←09　　　　　　　　　　　　　　　　　　10　　　┃┌───────────┐
AA:02 = ┣━━━━━━━━━┯━━━━━━━━━┳━━━┛│　　　　　　　　　　　│
AA:03 = ┃□　　　　　　　　│　　　　　　　　　┃◯　　　│　　　　　　　　　　　│
AA:04 = ┃　　　　　　　　　│　　　　　　　　　┃　　　　│　　　　　　　　　　　│
AA:05 = ┃□　　　　　　　　│　　　　　　　　　┃◯　　　│　　　　　07　　　　　│
AA:06 = ┃　　　　　　　　　│　　　　　　　　　┃08　　　│　　　　　　　　　　　│
AA:07 = ┃□　03　　　　　　│　　　　04　　　　┃◯　　　│　　　　　　　　　　　│
AA:08 = ┃　　　　　　　　　│　　　　　　　　　┃　　　　│　　　　　　　　　　　│
AA:09 = ┃□　　　　　　　　│　　　　　　　　　┃◯　　　└───────────┘
AA:10 = ┃　　　　　　　　　│　　　　　　　　　┃
AA:11 = ┃□　　　　　　　　│　　　　　　　　　┃
AA:12 = ┃　　　　　　　　　└─────────┨
AA:13 = ┣━━　━━┓　　　　　　　　　　　　　┃
AA:14 = ┃┤　　　├┃　　　　　　　　　　　　　┗━━━　　　━━━━━━━━━━┓
AA:15 = ┃┤　　　├┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
AA:16 = ┃┤　　　├┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
AA:17 = ┃┤　02　├┣━━━━━━━━━┓　　　　　　　　　　　　┌───────┨
AA:18 = ┃┤　　　├┃　　　　　　　　　┃　　　　　　　　　　　　│　　　　　　　┃
AA:19 = ┃┤　　　├┃　　　　　　　　　┣━　━━━━━┓　　　　│　　　　　　　┃
AA:20 = ┃┤　　　├┃　　　　　　　　　┃　　　　　　　┃　　　　│　　　　　　　┃
AA:21 = ┗━━　━━┫　　　　11　　　　┃　　　　　　　┃　　　　│　　　05　　　┃
AA:22 = 　　　　　　┃　　　　　　　　　┃　　　06　　　┃　　　　│　　　　　　　┃
AA:23 = 　　　　　　　　　　　　　　　　┃　　　　　　　┃　　　　│　　　　　　　┃
AA:24 = 　　　01　　┃　　　　　　　　　┃　　　　　　　┃　　　　│　　　　　　　┃
AA:25 = 　　　↓　　┗━━━━━━━━━┻━━━━━━━┻━━━━┷━━━━━━━┛
AA:26 = 
AA:27 = 一：返回大厅　　　　　二：更衣室　　　　　　三：淋浴区
AA:28 = 四：室内浴池　　　　　五：特色汤池　　　　　六：桑拿房
AA:29 = 七：露天温泉　　　　　八：小型浴池　　　　　九：前往男浴池
AA:30 = 十：偷窥密道　　　　　什：按摩室


@GETPLACENAME_0_8(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 801
		TSTR:場所名受渡 = 大厅
	CASE 802
		TSTR:場所名受渡 = 更衣室
	CASE 803
		TSTR:場所名受渡 = 淋浴区
	CASE 804
		TSTR:場所名受渡 = 室内浴池
	CASE 805
		TSTR:場所名受渡 = 特色汤池
	CASE 806
		TSTR:場所名受渡 = 桑拿房
	CASE 807
		TSTR:場所名受渡 = 露天浴池
	CASE 808
		TSTR:場所名受渡 = 小型浴池
	CASE 809
		TSTR:場所名受渡 = 男浴池
	CASE 810
		TSTR:場所名受渡 = 偷窥密道
	CASE 811
		TSTR:場所名受渡 = 按摩室
ENDSELECT

;サウナにいる場合の特殊イベント
@COM_END_PLACEEVENT_0_806
CALL COM_END_PLACEEVENT_0_306
SIF RESULT == 1
	CFLAG:MASTER:現在位置 = 803
RETURN RESULT

@DRAW_MAP_BG_0_8(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;違う文字を表示させる例
;下部一覧の数字を三桁表示しつつボタン化させる
CASE "一"
	表示文字列 += @"<button value='801'>801</button>"
CASE "二"
	表示文字列 += @"<button value='802'>802</button>"
CASE "三"
	表示文字列 += @"<button value='803'>803</button>"
CASE "四"
	表示文字列 += @"<button value='804'>804</button>"
CASE "五"
	表示文字列 += @"<button value='805'>805</button>"
CASE "六"
	表示文字列 += @"<button value='806'>806</button>"
CASE "七"
	表示文字列 += @"<button value='807'>807</button>"
CASE "八"
	表示文字列 += @"<button value='808'>808</button>"
CASE "九"
	表示文字列 += @"<button value='809'>809</button>"
CASE "十"
	表示文字列 += @"<button value='810'>810</button>"
CASE "什"
	表示文字列 += @"<button value='811'>811</button>"
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT

