

@マップ紹介_20
;とりあえず5行
PRINTFORML ※介绍文案征集中※
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORML 


@MAP_RESORT_0_20(AA)
#DIMS REF AA, 0
#DIM MAP
VARSET LOCALS

MAP = 0
IF 施設改造度:20:0 == 2
	AA:(MAP++) = １Ｆ　　　　　　　　　　　　　　　　　　　　　　　　　　　２Ｆ
	AA:(MAP++) = ┌─────────┬──┬───┬───────┐　　　┌─────────┬──┬───┬───────┐
	AA:(MAP++) = │　　　　　　　　　│　　├──↑┤　　　　　　　│　　　│　　　　　　　　　│　　├──↓┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│03　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│13　├─┼─┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│　　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│　　├─┼─┤シャワールーム│
	AA:(MAP++) = │　　　　04　　　　├　　┴─┘　│　　　　　　　　　　　│　　　　　　　　　├　　┘　└─┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　01　　　10→　　│　　　　11　　　　│　　　　　　├─────　─┤
	AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　　　　　　　　　│　　　　　　　　　│　　　　　　│　　　　　　　│
	AA:(MAP++) = ├─────　　　─┴───　　─┼───────┤　　　│　　　　　　　　　　　　　┌──┘　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　　│　　　│　　　　　　　　　│　　　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　07　　　│　　　├─────────┤　　　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　┌─┐　　　├　　─────┤　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　05　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　20　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　12　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　06　│　　　08　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　┌──────┴─┴──┬┴───────┤　　　├─────────┴　┬　┴──────────┤
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　│　　　　　16　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　17　　　│　　　│　　　　14　　　　　　│　　　　　15　　　　　　│
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　└　──────────┤　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = └──　　　　　─────────────────┘　　　└───────────┴────────────┘
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　09　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
ELSE
	AA:(MAP++) = １Ｆ　　　　　　　　　　　　　　　　　　　　　　　　　　　２Ｆ
	AA:(MAP++) = ┌─────────┬──┬───┬───────┐　　　┌─────────┬──┬───┬───────┐
	AA:(MAP++) = │　　　　　　　　　│　　├──↑┤　　　　　　　│　　　│　　　　　　　　　│　　├──↓┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│03　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│13　├─┼─┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│　　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│　　├─┼─┤シャワールーム│
	AA:(MAP++) = │　　　　04　　　　├　　┴─┘　│　　　　　　　　　　　│　　　　　　　　　├　　┘　└─┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　01　　　10→　　│　　　　11　　　　│　　　　　　├─────　─┤
	AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　　　　　　　　　│　　　　　　　　　│　　　　　　│　　　　　　　│
	AA:(MAP++) = ├─────　　　─┴───　　─┼───────┤　　　│　　　　　　　　　　　　　┌──┘　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　　│　　　│　　　　　　　　　│　　　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　07　　　│　　　├─────────┤　　　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　┌─┐　　　├　　─────┤　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　05　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　20　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　12　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　06　│　　　08　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = └───　　　　───┴─┴───┴───────┘　　　└─────────┴───┴──────────┘
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　09　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
ENDIF
AA:(MAP++) = ∀：自宅玄关　　　　∪：卫生间　　　　　⊆：和室　　　　　　⊇：客厅
AA:(MAP++) = ∋：厨房　　　　　　∈：更衣间　　　　　∽：浴室　　　　　　⊂：自宅庭院
AA:(MAP++) = 十：前往度假区
AA:(MAP++) = 　
IF 同棲部屋割り配列:0 > 0
	LOCALS:0 = %CALLNAME:(同棲部屋割り配列:0)%的房间
ELSE
	LOCALS:0 = 空闲房间
ENDIF
IF 同棲部屋割り配列:1 > 0
	LOCALS:1 = %CALLNAME:(同棲部屋割り配列:1)%的房间
ELSE
	LOCALS:1 = 空闲房间
ENDIF
IF 同棲部屋割り配列:2 > 0
	LOCALS:2 = %CALLNAME:(同棲部屋割り配列:2)%的房间
ELSE
	LOCALS:2 = 空闲房间
ENDIF
IF 同棲部屋割り配列:3 > 0
	LOCALS:3 = %CALLNAME:(同棲部屋割り配列:3)%的房间
ELSE
	LOCALS:3 = 空闲房间
ENDIF
IF 同棲部屋割り配列:4 > 0
	LOCALS:4 = %CALLNAME:(同棲部屋割り配列:4)%的房间
ELSE
	LOCALS:4 = 空闲房间
ENDIF
IF 同棲部屋割り配列:5 > 0
	LOCALS:5 = %CALLNAME:(同棲部屋割り配列:5)%的房间
ELSE
	LOCALS:5 = 空闲房间
ENDIF
AA:(MAP++) = ≪：%LOCALS:0%　　　　≫：%LOCALS:1%　　　　≦：２楼厕所
AA:(MAP++) = †：%LOCALS:2%　　　　‡：%LOCALS:3%　　　　‰：%LOCALS:4%　　　　′：%LOCALS:5%
AA:(MAP++) = ≧：%CALLNAME:MASTER%的房间



@GETPLACENAME_0_20(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 2000
		TSTR:場所名受渡 = %STR:イベントうふふ場所名%
	CASE 2001
		TSTR:場所名受渡 = 自宅玄关
	CASE 2003
		TSTR:場所名受渡 = 卫生间
	CASE 2004
		TSTR:場所名受渡 = 和室
	CASE 2005
		TSTR:場所名受渡 = 客厅
	CASE 2006
		TSTR:場所名受渡 = 厨房
	CASE 2007
		TSTR:場所名受渡 = 更衣室
	CASE 2008
		TSTR:場所名受渡 = 浴室
	CASE 2009
		TSTR:場所名受渡 = 自宅庭院
	CASE 2010
		TSTR:場所名受渡 = 前往度假区
	CASE 2011
		IF 同棲部屋割り配列:0 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:0)%的房间
		ELSE
			TSTR:場所名受渡 = 空闲房间
		ENDIF
	CASE 2012
		IF 同棲部屋割り配列:1 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:1)%的房间
		ELSE
			TSTR:場所名受渡 = 空闲房间
		ENDIF
	CASE 2013
		TSTR:場所名受渡 = ２楼厕所
	CASE 2014
		IF 同棲部屋割り配列:2 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:2)%的房间
		ELSE
			TSTR:場所名受渡 = 空闲房间
		ENDIF
	CASE 2015
		IF 同棲部屋割り配列:3 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:3)%的房间
		ELSE
			TSTR:場所名受渡 = 空闲房间
		ENDIF
	CASE 2016
		IF 同棲部屋割り配列:4 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:4)%的房间
		ELSE
			TSTR:場所名受渡 = 空闲房间
		ENDIF
	CASE 2017
		IF 同棲部屋割り配列:5 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:5)%的房间
		ELSE
			TSTR:場所名受渡 = 空闲房间
		ENDIF
	CASE 2020
		TSTR:場所名受渡 = %CALLNAME:MASTER%的房间
ENDSELECT


@DRAW_MAP_BG_0_20(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;下部一覧の数字を表示しつつボタン化させる
CASE "∀"
	表示文字列 += @"<button value='2001'>2001</button>"
CASE "∪"
	表示文字列 += @"<button value='2003'>2003</button>"
CASE "⊆"
	表示文字列 += @"<button value='2004'>2004</button>"
CASE "⊇"
	表示文字列 += @"<button value='2005'>2005</button>"
CASE "∋"
	表示文字列 += @"<button value='2006'>2006</button>"
CASE "∈"
	表示文字列 += @"<button value='2007'>2007</button>"
CASE "∽"
	表示文字列 += @"<button value='2008'>2008</button>"
CASE "⊂"
	表示文字列 += @"<button value='2009'>2009</button>"
CASE "十"
	表示文字列 += @"<button value='2010'>2010</button>"
CASE "≪"
	表示文字列 += @"<button value='2011'>2011</button>"
CASE "≫"
	表示文字列 += @"<button value='2012'>2012</button>"
CASE "≦"
	表示文字列 += @"<button value='2013'>2013</button>"
CASE "†"
	表示文字列 += @"<button value='2014'>2014</button>"
CASE "‡"
	表示文字列 += @"<button value='2015'>2015</button>"
CASE "‰"
	表示文字列 += @"<button value='2016'>2016</button>"
CASE "′"
	表示文字列 += @"<button value='2017'>2017</button>"
CASE "≧"
	表示文字列 += @"<button value='2020'>2020</button>"
CASE "＊"
	表示文字列 += @"<font color='#90EE90'>%SLICED%</font>"
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT

@自宅改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 正在建设与改造%CALLNAME:MASTER%居住的自宅<br><br>
IF 施設改造度:20:0 < 1
	LOCALS += @"■<button value='200'>[自宅建设]</button>（需要:100,000卢比）<br>"
ELSEIF 施設改造度:20:0 < 2
	LOCALS += @"■<button value='201'>[自宅扩建]</button>（需要:150,000卢比）<br>"
ELSE
	LOCALS += @"■[自宅] Lv{施設改造度:20:0}：上限<br>"
ENDIF

RETURNF LOCALS

@自宅改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 将建造包含以下设施的自宅。
		PRINTBUTTON "■解锁宅邸专属地图", 2000
		PRINTL 
		PRINTBUTTON "■变更就寝位置", 2001
		PRINTL 
		PRINTBUTTON "■解锁【伴侣】缔结资质", 2002
		PRINTL 
		PRINTBUTTON "■解锁宅邸专属家具", 2003
		PRINTL 
		PRINTL 
		PRINTL 是否建造自宅？（需要:100,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 100000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				施設改造度:20:0 = 1
				MONEY -= 100000
				PRINTW 自宅建造完成！
				CFLAG:MASTER:自室位置 = 2020
				IF CFLAG:MASTER:現在位置 == 20 && CFLAG:MASTER:現在マップ種別 == 0
					CFLAG:MASTER:現在位置 = 2020
				ENDIF
				CALL RESET_GRAPH_0
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号,@"已建造自宅","実績")
				RETURN
			CASE 1
				RETURN
			CASE 2000
				DRAWLINE
				PRINTL 解锁地图后，个人房间将升级为宅邸，进入时加载独立场景。
				PRINTL 后续改造可扩展地图并强化内部设施。（暂未实装）
				PRINTW
			CASE 2001
				DRAWLINE
				PRINTFORML 自宅建成后，%CALLNAME:MASTER%的就寝位置将变更为二楼卧室。
				PRINTL 处于【伴侣】状态的角色也会同步变更就寝位置。
				PRINTW
			CASE 2002
				DRAWLINE
				PRINTL 缔结【伴侣】关系需满足以下三个条件：
				PRINTL ・完成自宅建设
				PRINTL ・升级居住区并解锁「教堂」设施（暂未实装）
				PRINTL ・可制作「永恒戒指」系列道具（暂未实装）
				PRINTW 满足上述条件后，可与「爱慕」状态角色缔结永久伴侣关系。
			CASE 2003
				DRAWLINE
				PRINTL 邮购目录中将新增宅邸专属家具。
				PRINTL 主要提供解锁宅邸特殊互动的功能性物品。
				PRINTL 如支持按摩功能的电动床垫、可进行扑克对战的定制牌桌等。
				PRINTW
		ENDSELECT
		RESTART
	CASE 201
		DRAWLINE
		PRINTL 扩建自宅，将带来以下变化。
		PRINTBUTTON "■新增自宅空房间", 2000
		PRINTL 
		PRINTL 
		PRINTL 是否扩建自宅？（需要:150,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 150000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				施設改造度:20:0 = 2
				MONEY -= 150000
				PRINTW 自宅已扩建！
				CALL RESET_GRAPH_0
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"扩建了自宅","実績")
				RETURN
			CASE 1
				RETURN
			CASE 2000
				DRAWLINE
				PRINTL 将新增４间空房间。
				PRINTL 由此可同居角色数量将增加４名。
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT
