;;;
;;;古いバージョン現在は使用しません
@D20XX_Shop
	#DIMS DYNAMIC SelectTab
	#DIMS DYNAMIC ShopMenu,4,20
	#DIMS DYNAMIC MainText,38
	#DIM DYNAMIC LCount
	#DIMS DYNAMIC NewFace
	#DIMS DYNAMIC INDENT_TEXT
	#DIM DYNAMIC FSIZE 

	;#region
		SelectTab = Test
	;#endregion
	PRINTFORML %HUNI("Demol")%
	$ShopLoop
		DRAWLINE
				HTML_PRINT @"<nobr>┏━━━┳━━━┳━━━┳━━━┳━━━┓"
		HTML_PRINT @"<nobr><nonbutton>┃</nonbutton><button value = '10000'> 編制 </button><nonbutton>┃</nonbutton><button value = '10001'> 銃器 </button><nonbutton>┃</nonbutton><button value = '10002'> 火砲 </button><nonbutton>┃</nonbutton><button value = '10003'> 車両 </button><nonbutton>┃</nonbutton><button value = '10004'>其他</button><nonbutton>┃</nonbutton><nonbutton pos='3000'>所持軍資金{CFLAG:MASTER:槞彁所持金,19}%HUNI("demol")%</nonbutton></nobr>"
		SELECTCASE SelectTab
			CASE "編制"
				PRINTFORML ┃　　　┗━━━┻━━━┻━━━┻━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASE "銃器"
				PRINTFORML ┣━━━┛　　　┗━━━┻━━━┻━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASE "火砲"
				PRINTFORML ┣━━━┻━━━┛　　　┗━━━┻━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASE "車両"
				PRINTFORML ┣━━━┻━━━┻━━━┛　　　┗━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASE "其他"
				PRINTFORML ┣━━━┻━━━┻━━━┻━━━┛　　　┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASEELSE 
				PRINTFORML ┣━━━┻━━━┻━━━┻━━━┻━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
		ENDSELECT
		SELECTCASE SelectTab
			CASE "Test"

				CALL D20XX_Face_RandomFcsv("イヴァ阴蒂ナ")
				CALL D20XX_FACE_FcsvToSprite(RESULTS)
				CALL D20XX_FACE_Packaging(RESULTS)
				RESULTS = %CONVERTSTR(RESULTS)%
				CALL D20XX_NO_NOBR(RESULTS)
				NewFace = RESULTS
				FSIZE = MAIDFACESIZE()
				INDENT_TEXT = %BL(FSIZE/50 + 1)%
				MainText:0 += @"ユ针织を雇用する"
				MainText:1 += @""
				MainText:2 += @""
				MainText:3 += @""
				MainText:4 += @""
				MainText:5 += @""
				MainText:6 += @""
				MainText:7 += @""
				MainText:8 += @""
				MainText:9 += @""
				MainText:10 += @""
				MainText:11 += @""
				MainText:12 += @""
				MainText:13 += @""
				MainText:14 += @""
				MainText:15 += @""
				MainText:16 += @""
				MainText:17 += @""
				MainText:18 += @""
				MainText:19 += @""
				MainText:20 += @""
				MainText:21 += @""
				MainText:22 += @""
				MainText:23 += @""
				MainText:24 += @""
				MainText:25 += @""
				MainText:26 += @""
				MainText:27 += @""
				MainText:28 += @""
				MainText:29 += @"%RESULTS% 名前：%HUNI("亜漢字4")%%HUNI("亜漢字3")% (かな：%HUNI("そそ")%ら%HUNI("逆あ")%%HUNI("まふ")%)"
				MainText:30 += @"%INDENT_TEXT% 種族：イヴァ阴蒂ナ　　制圧力 +1　指揮統制 -1" 
				MainText:31 += @"%INDENT_TEXT% タグ：【地形無視】【重装不可】"
				MainText:32 += @"%INDENT_TEXT% 槞彁の種族たるは、イヴァ阴蒂ナはダエモスラビヤの最も心の芯な物の一つな。"
				MainText:33 += @"%INDENT_TEXT% 頭と対応する一つの、背負う対応した两个、六つは羽がそれぞれの役割の異なる。"
				MainText:34 += @"%INDENT_TEXT% それぞれの、一つの統制する、一つの浮かぶ、一つの風知るなる。"
				MainText:35 += @"%INDENT_TEXT% はイヴァ阴蒂ナ族、とっての壁は容易なである。代償の返済が骨密度の貰ったが、可能ではない重量なる。"
				MainText:36 += @"%INDENT_TEXT% 故の、歩く場合には軽い持ち物が限定する。しかし、空の飛ぶするはかけがえのない。"
				MainText:37 += @"%INDENT_TEXT% <font color='#7fff00'>[この子を雇用する!] [他の子を尋找...]</font>"
			CASE "編制"
			CASE "銃器"
			CASE "火砲"
			CASE "車両"
			CASE "其他"
		ENDSELECT
		FOR LCount,0,38
			HTML_PRINT @"<nobr><nonbutton>┃</nonbutton> <nonbutton pos='100'>%MainText:LCount%</nonbutton> <nonbutton pos='5900'>┃</nonbutton></nobr>"
		NEXT

		PRINTFORML ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
		PRINTFORML [999]イェニェル兵器廠社を出る
		
		INPUT
		SELECTCASE RESULT
			CASE 183
				PRINTFORML そうそう、そんな感じで色々試してみると良いぞ。
				PRINTFORMW でもな？流石にマニュアルの中にはボタンは無いから安心してくれ。
			CASE 10000
				SelectTab = 編制
			CASE 10001
				SelectTab = 銃器
			CASE 10002
				SelectTab = 火砲
			CASE 10003
				SelectTab = 車両
			CASE 10004
				SelectTab = 其他
			CASE 999
				RETURN
		ENDSELECT
		GOTO ShopLoop

@D20XX_UnitRace
