@オススメセット処理_主角团队组合(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■主角团队组合<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "《碧蓝幻想》原作中处于核心地位的四名角色。<br>"
		RSTR:コマンド結果受渡し文字列 += "古兰、姬塔、露莉亚持有[生命链接]特质，可高效获取ZP，适合新手使用。<br>"
		RSTR:コマンド結果受渡し文字列 += "由于角色性别不同，这个组合不适合用来构建后宫。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[逐梦者]古兰") + 1000}'>[逐梦者]古兰</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[碧蓝丽影的十天辉星]姬塔") + 1000}'>[碧蓝丽影的十天辉星]姬塔</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[苍之少女]露莉亚") + 1000}'>[苍之少女]露莉亚</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[赤红幼龙]碧") + 1000}'>[赤红幼龙]碧</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[逐梦者]古兰")
		追加候補:1 = キャラ検索("[碧蓝丽影的十天辉星]姬塔")
		追加候補:2 = キャラ検索("[苍之少女]露莉亚")
		追加候補:3 = キャラ検索("[赤红幼龙]碧")
ENDSELECT


@オススメセット処理_十二神将・樱之阵(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■十二神将・樱之阵<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "集结未、申、酉、戌四位地支守护神的角色组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "有大量台词和探索技能，攻略起来也很轻松，非常适合初学者。<br>"
		RSTR:コマンド結果受渡し文字列 += "度假村开局阶段即可将这四位守护神尽数纳入麾下的组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[南南西的守护神]阿妮拉") + 1000}'>[南南西的守护神]阿妮拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[西南西的守护神]安琪拉") + 1000}'>[西南西的守护神]安琪拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[西之守护神]玛琪拉") + 1000}'>[西之守护神]玛琪拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[西北西的守护神]瓦姬拉") + 1000}'>[西北西的守护神]瓦姬拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[南南西的守护神]阿妮拉")
		追加候補:1 = キャラ検索("[西南西的守护神]安琪拉")
		追加候補:2 = キャラ検索("[西之守护神]玛琪拉")
		追加候補:3 = キャラ検索("[西北西的守护神]瓦姬拉")
ENDSELECT


@オススメセット処理_十二神将・黄桃之阵(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■十二神将・黄桃之阵<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "集结亥、子、丑、寅四位地支守护神的角色组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "虽多数成员具有令人惊奇的一面，但是攻略起来非常轻松。<br>"
		RSTR:コマンド結果受渡し文字列 += "专为让这群女孩子体验心动时刻的组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "※注意※本组合不包含辛妲拉・白！<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北北西的守护神]库碧拉") + 1000}'>[北北西的守护神]库碧拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北之守护神]碧卡拉") + 1000}'>[北之守护神]碧卡拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北北东的守护神]夏托拉") + 1000}'>[北北东的守护神]夏托拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[东北东的守护神]辛妲拉・黄") + 1000}'>[东北东的守护神]辛妲拉·黄</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[北北西的守护神]库碧拉")
		追加候補:1 = キャラ検索("[北之守护神]碧卡拉")
		追加候補:2 = キャラ検索("[北北东的守护神]夏托拉")
		追加候補:3 = キャラ検索("[东北东的守护神]辛妲拉・黄")
ENDSELECT


@オススメセット処理_十二神将・白桃之阵(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■十二神将・白桃之阵<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "集结亥、子、丑、寅四位地支守护神的角色组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "虽多数成员具有令人惊奇的一面，但是攻略起来非常轻松。<br>"
		RSTR:コマンド結果受渡し文字列 += "专为让这群女孩子体验心动时刻的组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "※注意※本组合不包含辛妲拉・黄！<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北北西的守护神]库碧拉") + 1000}'>[北北西的守护神]库碧拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北之守护神]碧卡拉") + 1000}'>[北之守护神]碧卡拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北北东的守护神]夏托拉") + 1000}'>[北北东的守护神]夏托拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[东北东的守护神]辛妲拉・白") + 1000}'>[东北东的守护神]辛妲拉・白</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[北北西的守护神]库碧拉")
		追加候補:1 = キャラ検索("[北之守护神]碧卡拉")
		追加候補:2 = キャラ検索("[北北东的守护神]夏托拉")
		追加候補:3 = キャラ検索("[东北东的守护神]辛妲拉・白")
ENDSELECT


@オススメセット処理_十二神将・梅之阵(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■十二神将・梅之阵<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "集结卯、辰、巳三位地支守护神的角色组合。<br>"
		;RSTR:コマンド結果受渡し文字列 += "卯、辰、巳、午の十二神将４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "多数成员具有一定的怪癖和攻略难度，推荐中阶玩家使用。<br>"
		RSTR:コマンド結果受渡し文字列 += "专为实现深度情感羁绊的阵容。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[东之守护神]玛蔻拉") + 1000}'>[东之守护神]玛蔻拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[东南东的守护神]哈伊拉") + 1000}'>[东南东的守护神]哈伊拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[南南东的守护神]茵妲拉") + 1000}'>[南南东的守护神]茵妲拉</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[东之守护神]玛蔻拉")
		追加候補:1 = キャラ検索("[东南东的守护神]哈伊拉")
		追加候補:2 = キャラ検索("[南南东的守护神]茵妲拉")
ENDSELECT


@オススメセット処理_『组织』之女组合(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■『组织』之女组合<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "隶属于『组织』的四位女性角色组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "四名成员攻略难度呈阶梯式递增，适合新手至中阶玩家。<br>"
		RSTR:コマンド結果受渡し文字列 += "能否将这些战士重新变成女人就取决于你了。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[真红的穿光]泽塔") + 1000}'>[真红的穿光]泽塔</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[不灭的群青]贝阿朵丽丝") + 1000}'>[不灭的群青]贝阿朵丽丝</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[严格的鬼教官]伊尔莎") + 1000}'>[严格的鬼教官]伊尔莎</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[流于月空之间]格温") + 1000}'>[流于月空之间]格温</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[真红的穿光]泽塔")
		追加候補:1 = キャラ検索("[不灭的群青]贝阿朵丽丝")
		追加候補:2 = キャラ検索("[严格的鬼教官]伊尔莎")
		追加候補:3 = キャラ検索("[流于月空之间]格温")
ENDSELECT


@オススメセット処理_四圣组合(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■四圣组合<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "集结四位四圣少女的角色组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "成员擅长性行为，但在正常互动方面有困难，属中阶玩家推荐配置。<br>"
		RSTR:コマンド結果受渡し文字列 += "旨在为背负宿命的四圣少女提供情感疗愈的配置。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[四圣朱帝]琪琪莉") + 1000}'>[四圣朱帝]琪琪莉</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[四圣玄帝]乌露琪") + 1000}'>[四圣玄帝]乌露琪</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[四圣白帝]秀秀珂") + 1000}'>[四圣白帝]秀秀珂</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[四圣青帝]阿弥") + 1000}'>[四圣青帝]阿弥</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[四圣朱帝]琪琪莉")
		追加候補:1 = キャラ検索("[四圣玄帝]乌露琪")
		追加候補:2 = キャラ検索("[四圣白帝]秀秀珂")
		追加候補:3 = キャラ検索("[四圣青帝]阿弥")
ENDSELECT


@オススメセット処理_雷维翁姐妹阵容组合(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■雷维翁姐妹阵容组合<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "雷维翁王国骑士团三姐妹角色组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "仅长女性格严谨拘束，整体适合新手入门。<br>"
		RSTR:コマンド結果受渡し文字列 += "体验让效忠对象发生转移的背德快感的配置。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[雷维翁姐妹长女]麦姆") + 1000}'>[雷维翁姐妹长女]麦姆</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[雷维翁姐妹次女]米姆") + 1000}'>[雷维翁姐妹次女]米姆</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[雷维翁姐妹三女]梅姆") + 1000}'>[雷维翁姐妹三女]梅姆</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[雷维翁姐妹长女]麦姆")
		追加候補:1 = キャラ検索("[雷维翁姐妹次女]米姆")
		追加候補:2 = キャラ検索("[雷维翁姐妹三女]梅姆")
ENDSELECT


@オススメセット処理_枪械工房三姐妹组合(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■枪械工房三姐妹组合<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "枪械工坊所属的三位姐妹角色。<br>"
		RSTR:コマンド結果受渡し文字列 += "虽性格坚毅但存在可乘之机，适合新手至中阶玩家。<br>"
		RSTR:コマンド結果受渡し文字列 += "帮助亲密姐妹在床上更加亲密的配置。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[奋进俊才]席尔瓦") + 1000}'>[奋进俊才]席尔瓦</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[清新枪械设计师]库库鲁") + 1000}'>[清新枪械设计师]库库鲁</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[[火药调配师]库姆尤") + 1000}'>[火药调配师]库姆尤</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[奋进俊才]席尔瓦")
		追加候補:1 = キャラ検索("[清新枪械设计师]库库鲁")
		追加候補:2 = キャラ検索("[火药调配师]库姆尤")
ENDSELECT


@オススメセット処理_四骑士组合(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■四骑士组合<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "菲德拉赫王国四位骑士角色组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "全员都对性问题非常严格，推荐中高阶玩家。<br>"
		RSTR:コマンド結果受渡し文字列 += "谁不想被四位骑士像公主一样对待呢？<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[英俊的双剑士]兰斯洛特") + 1000}'>[英俊的双剑士]兰斯洛特</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[不屈不挠的骑士]维恩") + 1000}'>[不屈不挠的骑士]维恩</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[炎帝]帕西瓦尔") + 1000}'>[炎帝]帕西瓦尔</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[屠龙骑士]齐格飞") + 1000}'>[屠龙骑士]齐格飞</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[英俊的双剑士]兰斯洛特")
		追加候補:1 = キャラ検索("[不屈不挠的骑士]维恩")
		追加候補:2 = キャラ検索("[炎帝]帕西瓦尔")
		追加候補:3 = キャラ検索("[屠龙骑士]齐格飞")
ENDSELECT

@オススメセット処理_人类组合・超大碗(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■人类组合・超大碗<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "集结席尔瓦、玛姬莎、希格、库皮坦四位人类角色。<br>"
		RSTR:コマンド結果受渡し文字列 += "何为超大碗，体验后自然明了。<br>"
		RSTR:コマンド結果受渡し文字列 += "专为崇尚丰盈美学的玩家打造的极致组合。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[奋进俊才]席尔瓦") + 1000}'>[奋进俊才]席尔瓦</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[极魔女]玛姬莎") + 1000}'>[极魔女]玛姬莎</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[虹色纯情]库皮坦") + 1000}'>[虹色纯情]库皮坦</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[云海渔夫]希格") + 1000}'>[云海渔夫]希格</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[奋进俊才]席尔瓦")
		追加候補:1 = キャラ検索("[极魔女]玛姬莎")
		追加候補:2 = キャラ検索("[虹色纯情]库皮坦")
		追加候補:3 = キャラ検索("[云海渔夫]希格")		
ENDSELECT

@オススメセット処理_成熟人妻组合(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■成熟人妻组合<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "空之世界中四位已婚女性角色配置。<br>"
		RSTR:コマンド結果受渡し文字列 += "全员恪守妇道且对丈夫忠贞不渝，属中高阶玩家挑战向。<br>"
		RSTR:コマンド結果受渡し文字列 += "专为渴望将孕育过生命的母性之躯重新唤醒，使其从『人妻』彻底堕为『女人』的玩家设计的禁忌配置。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入角色<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[传承的炼金术师]普罗米西娅") + 1000}'>[传承的炼金术师]普罗米西娅</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[斩姬的慈母]拉露娜") + 1000}'>[斩姬的慈母]拉露娜</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[前代丑神]夏托拉的妈妈") + 1000}'>[前代丑神]夏托拉的妈妈</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[炎姬生母]艾莉西娅") + 1000}'>[炎姬生母]艾莉西娅</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 应用此阵容组合</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[传承的炼金术师]普罗米西娅")
		追加候補:1 = キャラ検索("[斩姬的慈母]拉露娜")
		追加候補:2 = キャラ検索("[前代丑神]夏托拉的妈妈")
		追加候補:3 = キャラ検索("[炎姬生母]艾莉西娅")
ENDSELECT

