;@BANGZU(HELPNUM_ID)
;#FUNCTIONS
;#DIM DYNAMIC HELPNUM_ID
;	CLIENT_ID:CLIENT_CNT = LOCAL:0
;	CLIENT_CNT ++
;HELPNUM_ID_S:HELPNUM_ID_S_A = LOCAL
;RETURNF CALLNAME:HELPNUM_ID

@UPDATE_TONGKUAN_GUOLV(WORK_MODE)
;先试着作出页数
;#FDF5E6 木偶不知道的啦
#DIMS DYNAMIC WORK_MODE ;传入
#DIM DYNAMIC PAGE_NUM ;定义一个循环角色的函数，给页数循环上，大概一页20人
#DIM DYNAMIC MY_PAGE
#DIM DYNAMIC MY_MAXPAGE
#DIM DYNAMIC C_ID ;记录下LOCAL角色清单
#DIM DYNAMIC CHOOSE_COMMAND
;能不能用result:1来储存有多少角色
#DIM DYNAMIC LINE_RECORD
#DIMS DYNAMIC HTML
#DIMS DYNAMIC COLOR
VARSET RESULT:1

LINE_RECORD = LINECOUNT
$MUOU_TESHUJIEMIAN
WHILE 1
;循环
    DRAWLINE
    alignment center
    IF CFLAG:11:K11_已经启动木偶 == 0
    ELSE
        HTML_PRINT @"<button value = '999'><font color = '#FFFF00' >　　［与木偶交互］　　</font></button>"
    ENDIF
    alignment LEFT
        MY_MAXPAGE = (CHARANUM-1) / 20+1
        ;记录最大页数为总角色数量的....
        IF MY_PAGE >= MY_MAXPAGE
            MY_PAGE = MY_MAXPAGE
        ELSEIF MY_PAGE < 0
            MY_PAGE = 0
        ENDIF
    
    FOR LOCAL, MY_PAGE*20, (MY_PAGE+1)*20
        VARSET C_ID
        VARSET HTML
        VARSET RESULT
        VARSET RESULTS

        SIF LOCAL > CHARANUM - 1
            BREAK

        C_ID = LOCAL
        IF WORK_MODE == "SELECTION"
            ;RESETCOLOR
            ;PRINTFORML [{LOCAL}] - %NAME_OUTPUT_TRANSLATION("CALLNAME", C_ID), 16, LEFT%
            VARSET RESULT
            IF CFLAG:C_ID:口上セレクタ
                TRYCALLFORM M_KOJO_K{C_ID}_{CFLAG:C_ID:口上セレクタ}
            ELSE
                TRYCALLFORM M_KOJO_K{C_ID}
            ENDIF
        ENDIF
            RESETCOLOR
            VARSET COLOR
            TRYCALLFORM M_KOJO%RESULTS%_COLOR_K{C_ID}
			COLOR '= "0x" + hex_to_str(GETCOLOR())
			HTML += @"<button value='{C_ID}'><font color='#%COLOR%'>[{LOCAL, 4, LEFT}"
			HTML += @"]  -  %NAME_OUTPUT_TRANSLATION("CALLNAME", C_ID), 16, LEFT%    %CSVCSTR(C_ID, 10), 100, LEFT%"
            HTML += @"</font></button>"
			HTML_PRINT HTML
			RESETCOLOR
        PRINTL
    NEXT

    IF WORK_MODE == "SELECTION"
        IF MY_PAGE == 0
            PRINTPLAINFORM %UNICODE(0x3000) * 2%［跳转首页］%UNICODE(0x3000) * 2%
            PRINTPLAINFORM %UNICODE(0x3000) * 2%［上一页］%UNICODE(0x3000) * 2%
            PRINTBUTTON @"%UNICODE(0x3000) * 2%［下一页］%UNICODE(0x3000) * 2%", 1002
            PRINTBUTTON @"%UNICODE(0x3000) * 2%［跳转尾页］%UNICODE(0x3000) * 2%", 1003
        ELSEIF MY_PAGE == MY_MAXPAGE - 1
            PRINTBUTTON @"%UNICODE(0x3000) * 2%［跳转首页］", 1000
            PRINTBUTTON	@"%UNICODE(0x3000) * 2%［上一页］%UNICODE(0x3000) * 2%", 1001
            PRINTPLAINFORM %UNICODE(0x3000) * 2%［下一页］%UNICODE(0x3000) * 2%
            PRINTPLAINFORM %UNICODE(0x3000) * 2%［跳转尾页］%UNICODE(0x3000) * 2%
        ELSEIF INRANGE(MY_PAGE, 0, MY_MAXPAGE - 2)
            PRINTBUTTON @"%UNICODE(0x3000) * 2%［跳转首页］%UNICODE(0x3000) * 2%", 1000
            PRINTBUTTON	@"%UNICODE(0x3000) * 2%［上一页］%UNICODE(0x3000) * 2%", 1001
            PRINTBUTTON @"%UNICODE(0x3000) * 2%［下一页］%UNICODE(0x3000) * 2%", 1002
            PRINTBUTTON @"%UNICODE(0x3000) * 2%［跳转尾页］%UNICODE(0x3000) * 2%", 1003
        ENDIF
    ; ELSE
	; 	IF MY_PAGE == 0
	; 		{
	; 		HTML_PRINT @"<nonbutton title = '跳转至首页'>　　［　＜＜　］　　</nonbutton>
	; 		<nonbutton title = '上一页'>　　［　＜　］　　</nonbutton>
	; 		<button value = '1002' title = '下一页'>　　［　＞　］　　</button>
	; 		<button value = '1003' title = '跳转至尾页'>　　［　＞＞　］　　</button>"
	; 		}
	; 	ELSEIF MY_PAGE == MY_MAXPAGE - 1
	; 		{
	; 		HTML_PRINT @"<button value = '1000' title = '跳转至首页'>　　［　＜＜　］　　</button>
	; 		<button value = '1001' title = '上一页'>　　［　＜　］　　</button>	
	; 		<nonbutton title = '下一页'>　　［　＞　］　　</nonbutton>
	; 		<nonbutton title = '跳转至尾页'>　　［　＞＞　］　　</nonbutton>"
	; 		}
	; 	ELSEIF INRANGE(MY_PAGE, 0, MY_MAXPAGE - 2)
	; 		{
	; 		HTML_PRINT @"<button value = '1000' title = '跳转至首页'>　　［　＜＜　］　　</button>
	; 		<button value = '1001' title = '上一页'>　　［　＜　］　　</button>
	; 		<button value = '1002' title = '下一页'>　　［　＞　］　　</button>
	; 		<button value = '1003' title = '跳转至尾页'>　　［　＞＞　］　　</button>"
	; 		}
		; ENDIF
    ENDIF
    HTML_PRINT @"<button value = '1100'>　　［退出］　　</button>"
    VARSET RESULT
    INPUT
    CHOOSE_COMMAND = RESULT
        SELECTCASE CHOOSE_COMMAND
            CASE 0
                SETCOLOR 0XFDF5E6
                    PRINTFORMW 「先生自己的事，自己才知道的啦！」
                RESETCOLOR
            CASE 11
                SETCOLOR 0XFDF5E6
                    PRINTFORMW 「魔理沙小姐很可爱！是修好木偶的恩人DA☆ZE！伟大的魔法使ZE！」
                    PRINTFORMW 「先生要了解魔理沙什么呢！」
                    IF CFLAG:11:K11_已经启动木偶 != 2 && CFLAG:11:K11_第一次使用木偶并使用魔理沙 == 999
                    ELSE
                        PRINTFORML 「下面的选项，第一个就是木偶对魔理沙小姐的片面介绍哦！」
                        PRINTFORMW 「第二个就是对魔理沙小姐可能会发生的特殊事件告诉先生，请先生记住哦！」
                        PRINTFORMW 「另外，介绍是，免费的噢！但是另一个，因为要满足魔理沙，小姐，所以要收费，DA☆ZE！」
                    ENDIF
                    $TESHUSHIJIAN_MLS_1
                    PRINTL [0]-介绍魔理沙
                    PRINTL [1]-本口上特殊事件大全
                    INPUT
                    SELECTCASE RESULT
                        CASE 0
                            PRINTFORML 「魔理沙小姐很可爱DA☆ZE！」
                            PRINTFORMW 「超喜欢魔理沙小姐的，真期待有一天魔理沙小姐能带上木偶去飞ZE！」
                        CASE 1
                            IF FIRSTTIME("DIYICIKANMOLISHA_SHIJIAN_111")
                            ELSE
                                IF TALENT:11:恋人 && TALENT:11:恋慕
                                    PRINTFORMW 「今天是，先生和魔理沙小姐在一起的第N天！」
                                    PRINTFORMW 「只要，%金額表示(5000)%的啦！」
                                ELSEIF TALENT:11:恋慕
                                    PRINTFORML 「先生，魔理沙小姐，把，价格变成了%金額表示(10000)%，呢」
                                    PRINTFORMW 「好像说什么，你，很好，什么什么的」
                                    PRINTFORMW 「反正木偶觉得，小姐她好喜欢你，的啦！」
                                ELSEIF TALENT:11:思慕
                                    PRINTFORMW 「先生，这次，要%金額表示(15000)%了噢」
                                    PRINTFORMW 「魔理沙小姐，说，你是，常客，便宜点，DA☆ZE！」
                                    IF MONEY < 15000
                                        PRINTFORML 「先生好像钱，已经不够了噢」
                                        PRINTFORMW 「那就不能，和木偶一起看特殊事件了，呢....」
                                        PRINTFORMW 「好可惜.....」
                                    ELSEIF MONEY-15000 <= 5000
                                        PRINTFORML 「先生钱刚刚好够哦！」
                                        PRINTFORMW 「但是如果和木偶一起看了...钱就会剩好少，daze」
                                        PRINTFORMW 「我还是，觉得，先生留着好！」
                                        PRINTFORMW 「就连，魔理沙小姐，也会认为，先生要有自己的钱，才能活的好好的哦！」
                                    ELSE
                                       PRINTFORMW 「先生，好有钱！」
                                    ENDIF
                                ELSE
                                    IF CFLAG:11:2 > 500 && CFLAG:11:4 > 200 && !TALENT:11:思慕
                                        PRINTFORML 「唔....一次要%金額表示(18000)%呢，我算算...」
                                        PRINTFORMW 「唔？便宜，了？」
                                        PRINTFORMW 「没有！的事，DAze！」
                                    ELSE
                                        PRINTFORML 「唔....一次要%金額表示(20000)%呢，我算算...」
                                    ENDIF
                                    IF MONEY < 20000
                                        PRINTFORML 「先生好像钱，已经不够了噢」
                                        PRINTFORMW 「那就不能，和木偶一起看特殊事件了，呢....」
                                        GOTO MUOU_TESHUJIEMIAN
                                    ELSEIF MONEY - 20000 <= 5000
                                        PRINTFORML 「先生钱刚刚好够哦！」
                                        PRINTFORMW 「但是如果和木偶一起看了...钱就会剩好少，daze」
                                        PRINTFORMW 「先生还是，留钱照顾自己，更好哦！」
                                    ELSE
                                        PRINTFORML 「先生是！大富豪！DA☆ZE！」
                                        PRINTFORMW 「有好充裕的，钱财呢！」
                                    ENDIF
                                ENDIF 
                            ENDIF
                            PRINTFORMW 「先生确定，要看嘛？」
                            PRINTL [0]-确定
                            PRINTL [1]-算了
                            INPUT
                            SELECTCASE RESULT
                                CASE 0
                                    IF TALENT:11:恋人 && TALENT:11:恋慕
                                        CALL PAY_MONEY_YEN(5000, 2)
                                        IF MONEY < 5000
                                            PRINTFORMW 先生钱不够啦！
                                            GOTO MUOU_TESHUJIEMIAN
                                        ENDIF
                                    ELSEIF TALENT:11:恋慕
                                        CALL PAY_MONEY_YEN(10000, 2)
                                        IF MONEY < 10000
                                            PRINTFORMW 先生钱不够啦！
                                            GOTO MUOU_TESHUJIEMIAN
                                        ENDIF
                                    ELSEIF TALENT:11:思慕
                                        CALL PAY_MONEY_YEN(15000, 2)
                                            IF MONEY < 15000
                                                PRINTFORMW 先生钱不够啦！
                                                GOTO MUOU_TESHUJIEMIAN
                                            ENDIF
                                    ELSE
                                        IF CFLAG:11:2 > 500 && CFLAG:11:4 > 200 && !TALENT:11:思慕
                                            CALL PAY_MONEY_YEN(19000, 2)
                                            IF MONEY < 19000
                                                PRINTFORMW 先生钱不够啦！
                                                GOTO MUOU_TESHUJIEMIAN
                                            ENDIF
                                        ELSE
                                            CALL PAY_MONEY_YEN(20000, 2)
                                            IF MONEY < 20000
                                                PRINTFORMW 先生钱不够啦！
                                                GOTO MUOU_TESHUJIEMIAN
                                            ENDIF
                                        ENDIF
                                    ENDIF
                                    PRINTFORML
                                    TWAIT 100,1
                                    PRINTL [0]-与魔理沙进行身体接触下，有其他角色出现的情况
                                    PRINTL [1]-膝枕特殊事件
                                    PRINTL [2]-抚摸魔理沙肚子情况下，有其他角色出现的情况
                                    PRINTL [3]-一起做事下的特殊事件
                                    PRINTL [4]-弹幕胜负半线性剧情
                                    PRINTL [5]-裸体围裙事件
                                    PRINTL [6]-一起泡澡事件
                                    PRINTL [7]-偷内裤与检查内裤事件
                                    HTML_PRINT  "<button value='8' title='绝不推荐触发'><font color='#EE2C2C' bcolor='#EE2C2C'>[8]-无意识怀孕</font></button>"
                                    PRINTL [9]-千年杀
                                    PRINTL [520]-一周目以上“情书”彩蛋
                                    INPUT
                                    SELECTCASE RESULT
                                        CASE 0
                                            PRINTFORMDW 当与魔理沙是恋人/恋慕/思慕状态,且魔理沙与灵梦同时在博丽神社出现,此时身体接触则会有特殊口上
                                            PRINTFORML
                                            PRINTFORMDW 当与魔理沙是恋慕/思慕状态,且魔理沙与咲夜同时在红魔馆出现,此时身体接触则会有特殊口上
                                            PRINTFORML
                                            PRINTFORMDW 与魔理沙是恋慕/思慕状态,且魔理沙与灵梦同时在博丽神社出现,此时身体接触则会有特殊口上
                                            PRINTFORML
                                            PRINTFORMDW 与魔理沙是恋慕/思慕状态,且魔理沙与帕秋莉同时在红魔馆的大图书馆出现,此时身体接触则会有特殊口上
                                            PRINTFORML
                                            PRINTFORMDW 与魔理沙是恋慕/思慕状态,且与魔理沙同行时与爱丽丝同时在同一个地方出现,此时身体接触则会有特殊口上
                                            PRINTFORML
                                        CASE 1
                                            PRINTFORMDW 恋人情况下,让魔理沙膝枕过后,以玩家视角给魔理沙膝枕有百分之25概率触发特殊膝枕事件
                                        CASE 2
                                            PRINTFORMDW 任何情况下，,魔理沙与灵梦同时在博丽神社出现,此时抚摸肚子则会有特殊口上
                                            PRINTFORMDW (有灵梦特殊陷落差分)
                                        CASE 3
                                            PRINTFORMDW 在肚子饿时和魔理沙一起吃饭，一天可触发一次特殊事件
                                            PRINTFORML
                                            PRINTFORMDW 恋人时与魔理沙一起读书，有概率触发特殊口上
                                            PRINTFORML
                                            PRINTFORMDW 在与恋人的魔理沙一起做料理时，魔理沙处于发情时，有概率每日一次特殊事件触发
                                            PRINTFORML
                                            PRINTFORMDW 在魔理沙亲密等级与欲望等级各大于5之后,并且自身采集等级大于1,在魔法之森一起采集触发特殊口上
                                        CASE 4
                                            PRINTFORMDW 弹幕胜负与一起训练也同时触发第一次时间，之后在恋慕时与魔理沙一起训练可触发下一段”首次触发“（无前后顺序，甚至恋慕了可以先触发一起训练的）
                                            PRINTFORMDW 战胜魔理沙有首次口上
                                        CASE 5
                                            PRINTFORMDW 魔理沙欲望大于10，露出癖大于3，顺从大于5，并且独自与先生在厨房做料理时，触发裸体围裙事件
                                        CASE 6
                                            PRINTFORMDW 达到恋人关系时，先生泡澡时若魔理沙突然闯进申请一起泡澡时会有特殊口上
                                        CASE 7
                                            PRINTFORMDW 偷内裤次数增多到一定次数会触发特殊口上，尤其是恋人时，并且有可能会触发魔理沙进入先生房间查收内裤事件
                                        CASE 8
                                            PRINTFORMDW 触发无意中怀孕很简单，就是时停，内射，怀孕，如此，只是在这里告知玩家，在无意识怀孕后，一些指令会有特殊的事件出现
                                        CASE 9
                                            PRINTFORMDW 趁魔理沙睡觉摸她屁股
                                        CASE 520
                                            PRINTFORMW 在大于一周目，以下几种情况
                                            PRINTFORML
                                            PRINTFORMDW 在思慕时，亲密等级大于9，欲望等级大于8，且在曾经周目与现在周目的恋人与恋慕取得次数分别大于或等于1，触发第一阶段
                                            PRINTFORML
                                            PRINTFORMDW 在恋慕时，亲密等级大于15，欲望等级大于15，且在曾经周目与现在周目的恋人取得次数为大于或等于1，恋慕取得次数为大于1以上，触发第二阶段
                                            PRINTFORML
                                            PRINTFORMDW 在恋人时，亲密等级大于20，欲望等级大于20，且在曾经周目与现在周目的恋人取得次数为大于1以上，恋慕取得次数为大于1以上，触发第三阶段
                                    ENDSELECT
                                CASE 1
                                    PRINTFORMW 「那,好吧.....」
                                CASEELSE
                                    GOTO TESHUSHIJIAN_MLS_1
                            ENDSELECT
                        CASEELSE
                            GOTO TESHUSHIJIAN_MLS_1
                    ENDSELECT
                RESETCOLOR
                CFLAG:11:K11_第一次使用木偶并使用魔理沙 = 999
            CASE 999
                $YUMUOU_JIAOHU
                SETCOLOR 0XFDF5E6
                    CALL ASK_M("只是和木偶玩",1,"想了解更多特殊功能",1,"回到特殊界面",1)
                    SELECTCASE RESULT
                        CASE 0
                            PRINTFORML
                            PRINTDATA
                                DATAFORM 用一只手拉着木偶在桌上快速走动
                                DATAFORM 木偶挂在%CALLNAME:MASTER%脖颈后，让%CALLNAME:MASTER%带着走
                                DATAFORM %CALLNAME:MASTER%攥紧拳头，让木偶双手击打
                            ENDDATA
                            PRINTFORMW
                            GOTO YUMUOU_JIAOHU
                        CASE 1
                            PRINTFORML 「唔....我也没办法解释，为什么，只有先生，能看到这些啦」
                            PRINTFORMW 「总之就是，钱够了，就可以看各个，角色的，特殊情况啦」
                            PRINTFORML
                            PRINTFORMW 「还有很多，角色，看不了？」
                            PRINTFORMW 「木偶笨笨，可能没存有她们的，信息，太多东西啦！」
                            PRINTFORML
                            PRINTFORMDW 旁白：
                            PRINTFORMDW 必须要有作者收集到的口上的内容，才会有这个口上的特殊内容产生哦！
                            PRINTFORMDW 因为打算是与其他作者直接沟通，所以很可能会拿不到，很抱歉
                            GOTO YUMUOU_JIAOHU
                        CASE 2
                            GOTO MUOU_TESHUJIEMIAN
                    ENDSELECT
                RESETCOLOR
            CASE 1000
                MY_PAGE = 0
            CASE 1001
                MY_PAGE -= 1
            CASE 1002
                MY_PAGE += 1
            CASE 1003
                MY_PAGE = MY_MAXPAGE - 1
            CASE 1100
                $DIYICI_TUICHU_MUOUSHIYONG
                IF FIRSTTIME("TUICHU_MUOU_ZHUANGTAI")
                    SETCOLOR 0XFDF5E6
                    PRINTFORMW 「先生！看见了！吧！」
                    PRINTFORMW 「很神奇哒咯！」
                    RESETCOLOR
                    PRINTFORML
                    PRINTFORML 「什么东西，给我看看给我看看」
                    PRINTFORMDW 十分好奇，魔理沙立刻也将两手放在木偶身体两旁
                    PRINTFORMDW 可除了感知到一点莫名的体温，就什么也没发生
                    PRINTFORML
                    PRINTFORMW 「怎么什么都没有哇！」
                    PRINTFORML
                    SETCOLOR 0XFDF5E6
                    PRINTFORML 「抱歉！呐！魔理沙小姐！」
                    PRINTFORMW 「好像现在只能有先生看见，DAZE---」
                    RESETCOLOR
                    PRINTFORML
                    PRINTFORML 「嘛-嘛~算了算了」
                    PRINTFORMW 「不过这次就当免费给你玩好东西了，下次再体验，要付钱噢！」
                    PRINTFORMW 「木偶没意见吧☆！~」
                    PRINTFORML
                    SETCOLOR 0XFDF5E6
                    PRINTFORMW 「小姐，是恩人，说了算！」
                    RESETCOLOR
                    PRINTFORMW 「嘻嘻~！」
                    PRINTFORMW 「那么，%CALLNAME:MASTER%还要我帮忙什么呢？」
                ELSE
                ENDIF
                CFLAG:11:K11_已经启动木偶 = 2
                CLEARLINE LINECOUNT - LINE_RECORD
                BREAK
            CASEELSE
                IF CFLAG:11:K11_已经启动木偶 != 2 && CFLAG:11:K11_第一次使用木偶并使用魔理沙 == 999
                    SETCOLOR 0XFDF5E6
                        PRINTFORMDW 木偶呆住了，无法回应
                        PRINTFORML
                        PRINTFORML 「嘻嘻~看来还没准备好desu~」
                        PRINTFORMW 「尽情期待那家伙DA☆ZE~」
                    RESETCOLOR
                ELSE
                    SETCOLOR 0XFDF5E6
                        PRINTFORMW 「先生！」
                        PRINTFORMW 「第一次使用木偶，要选择魔理沙小姐了啦！」
                    RESETCOLOR
                ENDIF
        ENDSELECT
DRAWLINE
DRAWLINE
PRINTL
PRINTL
PRINTL
PRINTL
WEND






@SHAONVRIJI_1

SELECTCASE RESULT
CASE 11
PRINTFORML
CASEELSE
    PRINTFORML 「嘻嘻~我的设计还没弄好呢，有些东西看不了desu~」
    PRINTFORMW 「尽情期待DA☆ZE~」
ENDSELECT
