
@MAP_VIEWING_1(AA)
#DIMS REF AA, 0
TRYCALLFORM MAP_RESORT_1_{TFLAG:マップ種別}(AA)


@エリア情報登録_1(ARGS)
SELECTCASE ARGS
	CASE "エリア名"
		IF ダンジョンクリアフラグ_沿岸部の森
			;沿岸部の森クリアで解放
			TSTR:場所名受渡 = 空艇港区
		ENDIF
	CASE "エリア移動可能場所"
		RETURN 1
ENDSELECT



@MAP_RESORT_1_0(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
IF イベント完了フラグ確認("大拡張！空艇港") < 1
	AA:00 = 木木木木木木木木木木木　　01　　木木木木木木木木木木木
	AA:01 = 木┌─────┐木木　　　　　　　木木┌─────┐木
	AA:02 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:03 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:04 = 木│　　03　　│　　　　　　　　　　　│　　06　　│木
	AA:05 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:06 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:07 = 木└─────┘　　　　　　　　　　　└─────┘木
	AA:08 = 木┌─────┐　　　　　　　　　　　┌─────┐木
	AA:09 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:10 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:11 = 木│　　04　　│　　　　　02　　　　　│　　07　　│木
	AA:12 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:13 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:14 = 木└─────┘　　　　　　　　　　　└─────┘木
	AA:15 = 木┌─────┐　　　　　　　　　　　┌─────┐木
	AA:16 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:17 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:18 = 木│　　05　　│　　　　　　　　　　　│　　08　　│木
	AA:19 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:20 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:21 = 木└─────┘　　　　　　　　　　　└─────┘木
	AA:22 = 木　　　　　　　　　　　　　　　　　　　　　　　　　木
	AA:23 = 木　　　　　　　　　　　　　　　　　　　　　　　　　木
	AA:24 = 木　　　　　　　　　　　　　　　　　　　　　　　　　木
	AA:25 = 木　　　　　　　　　　　　09　　　　　　　　　　　　木
	AA:26 = ┗━━━━━━━━━━┓━━━┏━━━━━━━━━━┛
	AA:27 = 　　　　　　　　　　　┃━━━┃
	AA:28 = 　　　　　　　　　　　┃━━━┃
	AA:29 = 　　　　　　　　　　　┃━━━┃
	AA:30 = 　　　　　　　　　　　┗━━━┛
	AA:31 = 
	AA:32 = 01：前往其他区域　　02：港口广场
	AA:33 = 03：三04：四05：五
	AA:34 = 06：六07：七08：八
	AA:35 = 09：空艇港
	IF イベント完了フラグ確認("渡りに船の定期便") > 0 && 渡りに船の定期便_受諾日付 + 3 > DAY
		AA:35 += @"　（目前施工中！　剩余%TOFULL(TOSTR(3 - (DAY - 渡りに船の定期便_受諾日付)))%天）"
	ENDIF
ELSEIF 港改造度:11:0 == 0
	AA:00 = 木木木木木木木木木木木　　01　　木木木木木木木木木木木┌───────┐木木木木木木┃
	AA:01 = 木┌─────┐木木　　　　　　　木木┌─────┐木│　　　　　　　│　　　　　　┗━━━━━━━━━━━
	AA:02 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:03 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:04 = 木│　　03　　│　　　　　　　　　　　│　　06　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:05 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┏━━━━━━━━━━━
	AA:06 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┃
	AA:07 = 木└─────┘　　　　　　　　　　　└─────┘木│　　　　　　　│　　　　　　┃
	AA:08 = 木┌─────┐　　　　　　　　　　　┌─────┐木│　　　　　　　│　　　　　　┃
	AA:09 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　10　　　│　　　　　　┃
	AA:10 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┗━━━━━━━━━━━
	AA:11 = 木│　　04　　│　　　　　02　　　　　│　　07　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:12 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:13 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　└┐　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:14 = 木└─────┘　　　　┌─┐　　　　└─────┘木│　　　　　　　　│　　　　　┏━━━━━━━━━━━
	AA:15 = 木┌─────┐　　　┌┘≡└┐　　　┌─────┐木│　　　　　　　　│　　　　　┃
	AA:16 = 木│　　　　　│　　　│≡≡≡│　　　│　　　　　│木│　　　　　　　　│　　　　　┃
	AA:17 = 木│　　　　　│　　　└┐≡┌┘　　　│　　　　　│木│　　　　　　　┌┘　　　　　┃
	AA:18 = 木│　　05　　│　　　　└─┘　　　　│　　08　　│木└───────┘　　　　　　┃
	AA:19 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木　　　　　　　　　　　　　　　┗━━━━━━━━━━━
	AA:20 = 木│　　　　　│　　　　　　　　　　　│　　　　　│　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:21 = 木└─────┘　　　　　　　　　　　└─────┘　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:22 = 木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:23 = 木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┏━━━━━━━━━━━
	AA:24 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	IF 港改造度:0:0
		AA:25 = ←　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　09　　　　　　┃
		AA:26 = ←　商业区　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┗━┓
		AA:27 = ←　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	ELSE
		AA:25 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　09　　　　　　┃
		AA:26 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┗━┓
		AA:27 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	ENDIF
	AA:28 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	AA:29 = 　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・┃
	AA:30 = ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
	AA:31 = 
	AA:32 = 01：前往其他区域　　02：港口广场
	AA:33 = 03：三04：四05：五
	AA:34 = 06：六07：七08：八
	AA:35 = 09：空艇港　　　　　10：万事屋分店
ELSE
	AA:(MAP++) = 木木木木木木木木木木木　　01　　木木木木木木木木木木木木木木木木木木　　　　　木木木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木┌───────────────　　　　　─┐木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木│　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木│　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
	IF 港改造度:0:0
		AA:(MAP++) = ←　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
		AA:(MAP++) = ←　商业区　　　　　　　　　　　　　　　　　　　　　　　　11　　　　　　　　　　│木┃
		AA:(MAP++) = ←　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
	ELSE
		AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
		AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　11　　　　　　　　　　│木┃
		AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
	ENDIF
	AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木│　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木│　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木└─────────────────────┘木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木木木木木木木木木木┌───────┐木木木木木木┃
	AA:(MAP++) = 木┌─────┐木木　　　　　　　木木┌─────┐木│　　　　　　　│　　　　　　┗━━━━━━━━━━━
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　03　　│　　　　　　　　　　　│　　06　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┏━━━━━━━━━━━
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┃
	AA:(MAP++) = 木└─────┘　　　　　　　　　　　└─────┘木│　　　　　　　│　　　　　　┃
	AA:(MAP++) = 木┌─────┐　　　　　　　　　　　┌─────┐木│　　　　　　　│　　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　10　　　│　　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┗━━━━━━━━━━━
	AA:(MAP++) = 木│　　04　　│　　　　　02　　　　　│　　07　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　└┐　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木└─────┘　　　　┌─┐　　　　└─────┘木│　　　　　　　　│　　　　　┏━━━━━━━━━━━
	AA:(MAP++) = 木┌─────┐　　　┌┘≡└┐　　　┌─────┐木│　　　　　　　　│　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　│≡≡≡│　　　│　　　　　│木│　　　　　　　　│　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　└┐≡┌┘　　　│　　　　　│木│　　　　　　　┌┘　　　　　┃
	AA:(MAP++) = 木│　　05　　│　　　　└─┘　　　　│　　08　　│木└───────┘　　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木　　　　　　　　　　　　　　　┗━━━━━━━━━━━
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木└─────┘　　　　　　　　　　　└─────┘　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┏━━━━━━━━━━━
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	IF 港改造度:0:0
		AA:(MAP++) = ←　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　09　　　　　　┃
		AA:(MAP++) = ←　商业区　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┗━┓
		AA:(MAP++) = ←　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	ELSE
		AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　09　　　　　　┃
		AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┗━┓
		AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	ENDIF
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	AA:(MAP++) = 　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・┃
	AA:(MAP++) = ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
	AA:(MAP++) = 
	AA:(MAP++) = 01：前往其他区域　　02：港口广场
	AA:(MAP++) = 03：三04：四05：五
	AA:(MAP++) = 06：六07：七08：八
	AA:(MAP++) = 09：空艇港　　　　　10：万事屋分店　　　11：锻造设施
ENDIF



@GETPLACENAME_1_0(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 空艇港区入口
	CASE 2
		TSTR:場所名受渡 = 空艇港广场
	CASE 3
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:3:0}(3)
	CASE 4
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:4:0}(4)
	CASE 5
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:5:0}(5)
	CASE 6
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:6:0}(6)
	CASE 7
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:7:0}(7)
	CASE 8
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:8:0}(8)
	CASE 9
		TSTR:場所名受渡 = 空艇港
	CASE 10
		TSTR:場所名受渡 = 万事屋分店
	CASE 11
		TSTR:場所名受渡 = 锻造设施
ENDSELECT

@GETPLACENAME_1_10(ARG)
#FUNCTION
#DIMS 配列分解文字列, 2

IF 商業区店割り配列:(ARG - 1000):店員配列 == ""
	TSTR:場所名受渡 = 商业区{ARG}号地：空置店铺
	RETURNF 
ELSE
	VARSET 配列分解文字列
	SPLIT 商業区店割り配列:(ARG - 1000):店員配列, "_", 配列分解文字列
	IF TOINT(配列分解文字列:0) > 0
		LOCALS = %CALLNAME:(TOINT(配列分解文字列:0))%
	ELSE
		SELECTCASE TOINT(配列分解文字列:0)
			CASE -1
				LOCALS = モブおじ
			CASE -2
				LOCALS = モブおばさん
			CASE -3
				LOCALS = モブ青年
			CASE -4
				LOCALS = モブ女性
		ENDSELECT
	ENDIF
ENDIF
TSTR:場所名受渡 = 商业区{ARG}号地：%LOCALS%の%商業区店割り配列:(ARG - 1000):店舗名%


@DRAW_MAP_BG_1_0(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
	CASE "三"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:3:0}(3)
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "四"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:4:0}(4)
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "五"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:5:0}(5)
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "六"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:6:0}(6)
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "七"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:7:0}(7)
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "八"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:8:0}(8)
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "木"
		表示文字列 += @"<font color='#90EE90'>%SLICED%</font>"
	CASE "┏","━","┛","┗","┓","┃"
		表示文字列 += @"<font color='#734e30'>%SLICED%</font>"
	CASE "≡"
		表示文字列 += @"<font color='#0067C0'>%SLICED%</font>"
	CASE "商","業","区"
		IF CFLAG:PLAYER:現在位置 >= 1000
			表示文字列 += @"<font color='#%カラーパレット_HTML("真っ赤")%'>%SLICED%</font>"
		ELSE
			表示文字列 += @"%SLICED%"
		ENDIF
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT





@エリア来訪時イベント_1

IF 空艇港初来訪イベントフラグ == 0
	DRAWLINE
	PRINTL ［初次造访：空艇港区］
	DRAWLINE
	PRINTW
	PRINTFORMW 成功讨伐噬石兽的%CALLNAME:PLAYER%立即前往飞艇港安排商家入驻事宜
	PRINTFORMW 现在可以进行度假屋的扩建和改造了
	PRINTFORMW 露营地、游戏室、泳池的大型化……随着度假区扩大规模，一个人可能忙不过来吧
	PRINTFORMW 考虑雇佣新员工来分担部分工作吧
	PRINTL 
	PRINTFORMW 再者，闲置空艇港周边的土地实在可惜
	PRINTFORM 将空置房屋改造成
	SETCOLOR カラーパレット("真っ赤")
	PRINT 各类特色商铺
	RESETCOLOR
	PRINTW 或许是个好主意
	PRINTFORMW 道具店、特产店、餐馆等都是不错的选项
	PRINTL 
	PRINTFORMW 店铺增加能带来更多卢比收入，也许还能回收ZP
	PRINTFORMW 与其任其空置，不如尽可能改造成各种商铺
	空艇港初来訪イベントフラグ = 1
ENDIF


@空艇港改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 发展空艇港，增加・强化设施<br><br>
IF 港改造度:11:0 < 1
	LOCALS += @"■<button value='200'>[创建锻造设施]</button> Lv{港改造度:11:0}>{港改造度:11:0 + 1} （需要:100,000卢比）<br>"
ELSE
	LOCALS += @"■[建造锻造设施] Lv{港改造度:11:0}：上限<br>"
ENDIF
IF イベント完了フラグ確認("商業区建設解禁") > 0
	IF 港改造度:0:0 < 1
		LOCALS += @"■<button value='210'>[建设商业区]</button> Lv{港改造度:0:0}>{港改造度:0:0 + 1} （需要:3,500,000卢比）<br>"
	ELSE
		LOCALS += @"■[建设商业区] Lv{港改造度:0:0}：上限<br>"
	ENDIF
ENDIF

RETURNF LOCALS

@空艇港改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 建造锻造设施后即可制作机体与搭载武器
		PRINTBUTTON "■机体说明", 300
		PRINTL 
		PRINTBUTTON "■搭载武器说明", 301
		PRINTL 
		PRINTL 
		PRINTL 是否创建锻造设施？（需要:100,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 100000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				港改造度:11:0 = 1
				MONEY -= 100000
				CALL RESET_GRAPH_1
				CALL 乗機取得処理_設計図("战斗暴走机车")
				CALL 乗機取得処理_設計図("边三轮暴走机车")
				CALL 乗機取得処理_設計図("通用型陆行艇")
				CALL 乗機取得処理_設計図("战斗拖拉机")
				CALL 汎用搭載兵器取得処理_設計図("土之宝石")
				CALL 汎用搭載兵器取得処理_設計図("风之宝石")
				CALL 汎用搭載兵器取得処理_設計図("水之宝石")
				CALL 汎用搭載兵器取得処理_設計図("火之宝石")
				CALL 汎用搭載兵器取得処理_設計図("雷达部件")
				CALL 汎用搭載兵器取得処理_設計図("治愈部件")
				CALL 汎用搭載兵器取得処理_設計図("探测部件")
				CALL 汎用搭載兵器取得処理_設計図("近战用长枪")
				CALL 汎用搭載兵器取得処理_設計図("9mm机枪")
				CALL 汎用搭載兵器取得処理_設計図("20mm掷弹筒")
				PRINTL 锻造设施已创建！
				PRINTL 获得多份初始设计图
				PRINTW （将出现在空艇港地图）
				RETURN
			CASE 1
				RETURN
			CASE 300
				DRAWLINE
				PRINTL ■机体说明
				PRINTL 这是您在迷宫探索时参与战斗的专用机体
				PRINTL 拥有专属武装槽位和武器搭载槽，可在战斗中执行各种指令
				PRINTL 每台机体都有独立的攻击力与命中率设定，伤害量将根据这些数值计算
				PRINTL
				PRINTL 武器系统设有「战斗中◯次」「探索中◯次」「冷却◯回合」使用限制
				PRINTL 一般来说，探索时受到限制的武器往往是最强的，而战斗时受到限制的武器往往是最弱的
				PRINTW
			CASE 301
				DRAWLINE
				PRINTL ■搭载武器说明
				PRINTL 可装备在机体武器槽中的特殊兵器
				PRINTL 每种武器都有类别（机械系・魔法系等）和射程适性（近距离・远距离等）设定
				PRINTL 必须匹配槽位属性才能装备
				PRINTL 
				PRINTL 武器参数包含：攻击修正・攻击波动・命中修正・命中波动・发动技能
				PRINTL 攻击修正・命中修正在使用武器时临时生效
				PRINTL 攻击波动・命中波动将永久影响机体的基础性能
				PRINTL 发动技能则与普通技能一样具有各种特殊效果
				PRINTL
				PRINTL 武器系统设有「战斗中◯次」「探索中◯次」「冷却◯回合」使用限制
				PRINTL 一般来说，探索时受到限制的武器往往是最强的，而战斗时受到限制的武器往往是最弱的
				PRINTW
		ENDSELECT
		RESTART
	CASE 210
		DRAWLINE
		PRINTL 通过建设大量店铺形成商业区开放
		PRINTBUTTON "■店铺说明", 300
		PRINTL 
		PRINTBUTTON "■店铺增加方式", 301
		PRINTL 
		PRINTL 
		PRINTL 是否建设商业区？（需要:3,500,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 3500000
					PRINTW 卢比不足。
					RETURN
				ENDIF
				港改造度:0:0 = 1
				MONEY -= 3500000
				PRINTL 商业区建造完成！
				PRINTW （可从空艇港地图移动）
				RETURN
			CASE 1
				RETURN
			CASE 300
				DRAWLINE
				PRINTL ■店铺说明
				PRINTL 建设商业区后，定居角色或NPC可能开设店铺
				PRINTL 店铺存在即可提升度假区的人气上限
				PRINTL 通过特殊剧情设定可能生成特殊店铺（未实装）
				PRINTL 特殊店铺除人气外可能拥有特殊效果或专属指令（未实装）
				PRINTW
			CASE 301
				DRAWLINE
				PRINTL ■店铺增加方式
				PRINTL NPC店铺会在每日开始时自动增加
				PRINTL 定居角色在特定知识等级达到２或更高时可能自动开设通用店铺
				PRINTL 店铺栏位满员时若定居角色开店，将随机覆盖NPC店铺
				PRINTL 定居角色的店铺不会被覆盖
				PRINTL 当店铺栏位全被定居角色占满时不再新增店铺
				PRINTL 
				PRINTL 特殊剧情设定的店铺可能有专属建设条件（未实装）
				PRINTL 达成条件后自动建设，每日开始时进入候选队列（未实装）
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT







