
@大規模エリア建設条件_居住区エリア(建築位置)
#DIM 建築位置
;一個まで
SIF MATCH(開拓エリア開発番号, 大規模番号_居住区エリア) > 0
	RETURN 0
;イベント見ること
SIF イベント完了フラグ確認("居住区エリア建設解禁") < 1
	RETURN 0

RETURN 1

@大規模エリア解説文章_居住区エリア
LOCALS = 
LOCALS += "使度假岛能够容纳居民定居的区域。<br>"
LOCALS += "常住居民不占用度假村住宿名额，但也不会产生当日卢比收入。<br>"
LOCALS += "初次造访时获得普通服装「幼儿园服」「护士服」。ZP商店追加「在托儿所培养孩子」功能。<br>"
LOCALS += "<br>"
LOCALS += "・特殊设施一览<br>"
LOCALS += "　■住宅区<br>"
LOCALS += "　　常住居民居住的场所。每个角色拥有独立房间。<br>"
LOCALS += "　　亲密度达到一定值的角色可能同住一间房。<br>"
LOCALS += "<br>"
LOCALS += "　■托儿所<br>"
LOCALS += "　　保护和养育儿童的场所。可观察在度假村出生儿童的情况。<br>"

詳細文文字列受け渡し変数 = %LOCALS%

;建設値段を返す
RETURN 2000000

@MAP_VIEWING_2(AA)
#DIMS REF AA, 0
TRYCALLFORM MAP_RESORT_2_{TFLAG:マップ種別}(AA)

@エリア情報登録_2(ARGS)
SELECTCASE ARGS
	CASE "エリア名"
		TSTR:場所名受渡 = 居住区エリア
	CASE "エリア移動可能場所"
		RETURN 1
ENDSELECT



@MAP_RESORT_2_0(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
IF 居住区改造度:0:0
	AA:(MAP++) = ┏━┓　　　┏━━┓┏━━┓┏━━┓┏┓│　│　　　┏━┓│　│　　　‖川　‖
	AA:(MAP++) = ┗━┛┏━┓┗━┓┃┗━━┛┗━━┛┗┛│　│　　　┃　┃│　│　　　‖川川‖
	AA:(MAP++) = ┏━┓┃　┃┏━┛┃┏━┓┏━━┓┏━┓│　│┏━┓┃　┃│　│　　　‖　川‖
	AA:(MAP++) = ┃　┃┗━┛┗━━┛┗━┛┗━━┛┗━┛│　│┃10┃┃　┃│　│　　　‖　　‖
	AA:(MAP++) = ┗━┛┏━━┓┏━┓┏━━┓┏━┓┏━┓│　│┗━┛┃　┃│　│　　　‖川　‖
	AA:(MAP++) = ┏┓　┗━━┛┗━┛┗━━┛┗━┛┃　┃│　│┏━┓┃02┃│　│　　　‖川川‖
	AA:(MAP++) = ┃┗┓┏━┓┏━━┓┏━┓┏━━┓┗━┛│　│┃　┃┃　┃│　│　　　‖　川‖
	AA:(MAP++) = ┗━┛┗━┛┃┏━┛┗━┛┗━━┛┏━┓│　│┃　┃┃　┃│　│　　　‖　　‖
	AA:(MAP++) = ┏━┓┏━┓┗┛　　　　　　┏━┓┃　┃│　│┃03┃┃　┃│　│　12　‖川　‖
	AA:(MAP++) = ┗┓┃┃　┃┏━┓　住宅区　┗━┛┃　┃│　│┃　┃┗━┛│　│　　　‖川川‖
	AA:(MAP++) = 　┗┛┃　┃┗━┛　　　　　　┏┓┗━┛│　│┃　┃┏━┓│　│　　　‖　川‖
	AA:(MAP++) = ┏━┓┗━┛┏━━┓┏━┓┏━┛┃┏━┓│　│┗━┛┃　┃│　│　　　‖　　‖
	AA:(MAP++) = ┗━┛┏━┓┗━━┛┗━┛┗━━┛┗━┛│　│┏━┓┃　┃│　│　　　‖川　‖
	AA:(MAP++) = ┏━┓┃　┃┏━┓┏━━┓┏━┓┏━━┓│　│┃　┃┃11┃│　│　　　‖川川‖
	AA:(MAP++) = ┃　┃┗━┛┗━┛┗━━┛┗━┛┗━━┛│　│┃04┃┃　┃│　│　　　‖　川‖
	AA:(MAP++) = ┃　┃┏━┓┏━━┓┏━┓┏━━┓┏━┓│　│┃　┃┃　┃│　│　　　‖　　‖
	AA:(MAP++) = ┗━┛┗━┛┗━━┛┗━┛┗━━┛┗━┛│　│┗━┛┗━┛│　│　　　‖川　‖
	AA:(MAP++) = ────────────────────┘　└──────┘　└───────
	IF 居住区改造度:14:0
		AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　01　　　　　　　　　　　　　　　14→
	ELSE
		AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　01
	ENDIF
	AA:(MAP++) = ────────────────────┐　┌────────────────
	AA:(MAP++) = 　┏━┓┏━━━━━━━┓┏━━━━━┓│　│　　　　　　　┏━━━┓‖川　‖
	AA:(MAP++) = 　┃　┃┃　　　05　　　┃┃　　06　　┃│　│　　　　　　　┃　　　┃‖川川‖
	AA:(MAP++) = 　┃　┃┗━━━━━━━┛┗━━━━━┛│　│　　　　　　　┃　13　┃‖　川‖
	AA:(MAP++) = 　┃07┃　08┏━━━┓┏━━┓┏━━━┓│　│　　　　　　　┃　　　┃‖　　‖
	AA:(MAP++) = 　┃　┗━┓┃　　　┃┃　　┃┃　09　┃│　│　　　　　　　┗━━━┛‖川　‖
	AA:(MAP++) = 　┃　　　┃┗━━━┛┗━━┛┃　　　┃│　│　　　　　　　　　　　　‖川川‖
	AA:(MAP++) = 　┗━━━┛┏━━━━━━━┓┗━━━┛│　│　　　　　　　　　　　　‖　川‖
	AA:(MAP++) = 
	AA:(MAP++) = 01：住宅区路口　　14：二丁目
	AA:(MAP++) = 02：公园　　　　　03：本地商店　　　04：托儿所　　　　05：诊所
	AA:(MAP++) = 06：邮局　　　　　07：居酒屋　　　　08：小巷深处　　　09：村公所
	AA:(MAP++) = 10：传统咖啡厅　　11：自卫团驻所　　12：河滩地　　13：学校
ELSE
	AA:(MAP++) = ┏━┓┏━━┓┏━┓┏━━┓┏━┓│　│┏━┓
	AA:(MAP++) = ┗━┛┗━━┛┗━┛┗━━┛┗━┛│　│┃02┃
	AA:(MAP++) = ┏━━┓┏━┓┏━━┓┏━┓┏━┓│　│┗━┛
	AA:(MAP++) = ┗━━┛┗━┛┗━━┛┗━┛┃　┃│　│┏━┓
	AA:(MAP++) = ┏━┓┏━━┓┏━┓┏━━┓┗━┛│　│┃　┃
	AA:(MAP++) = ┗━┛┃┏━┛┗━┛┗━━┛┏━┓│　│┃　┃
	AA:(MAP++) = ┏━┓┗┛　　　　　　┏━┓┃　┃│　│┃03┃
	AA:(MAP++) = ┃　┃┏━┓　住宅区　┗━┛┃　┃│　│┃　┃
	AA:(MAP++) = ┃　┃┗━┛　　　　　　┏┓┗━┛│　│┃　┃
	AA:(MAP++) = ┗━┛┏━━┓┏━┓┏━┛┃┏━┓│　│┗━┛
	AA:(MAP++) = ┏━┓┗━━┛┗━┛┗━━┛┗━┛│　│┏━┓
	AA:(MAP++) = ┃　┃┏━┓┏━━┓┏━┓┏━━┓│　│┃　┃
	AA:(MAP++) = ┗━┛┗━┛┗━━┛┗━┛┗━━┛│　│┃04┃
	AA:(MAP++) = ┏━┓┏━━┓┏━┓┏━━┓┏━┓│　│┃　┃
	AA:(MAP++) = ┗━┛┗━━┛┗━┛┗━━┛┗━┛│　│┗━┛
	AA:(MAP++) = ─────────────────┘　└───
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　01
	AA:(MAP++) = ─────────────────┐　┌───
	AA:(MAP++) = 　┏━━━━━━━┓┏━━━━━┓│　│
	AA:(MAP++) = 　┃　　　05　　　┃┃　　06　　┃│　│
	AA:(MAP++) = 　┗━━━━━━━┛┗━━━━━┛│　│
	AA:(MAP++) = 
	AA:(MAP++) = 01：住宅区路口
	AA:(MAP++) = 02：公园　　　　　03：本地商店　　　04：托儿所
	AA:(MAP++) = 05：诊所　　　　　06：邮局
ENDIF



@GETPLACENAME_2_0(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 住宅街前交差点
	CASE 2
		TSTR:場所名受渡 = 公园
	CASE 3
		TSTR:場所名受渡 = 本地商店
	CASE 4
		TSTR:場所名受渡 = 托儿所
	CASE 5
		TSTR:場所名受渡 = 诊所
	CASE 6
		TSTR:場所名受渡 = 邮局
	CASE 7
		TSTR:場所名受渡 = 居酒屋
	CASE 8
		TSTR:場所名受渡 = 小巷深处
	CASE 9
		TSTR:場所名受渡 = 村公所
	CASE 10
		TSTR:場所名受渡 = 传统咖啡厅
	CASE 11
		TSTR:場所名受渡 = 自卫团驻所
	CASE 12
		TSTR:場所名受渡 = 河滩地
	CASE 13
		TSTR:場所名受渡 = 学校
	CASE 14
		TSTR:場所名受渡 = 二丁目
ENDSELECT

@GETPLACENAME_2_10(ARG)
#FUNCTION
#DIMS 配列分解文字列, 2

IF 定住者部屋割り配列:(ARG - 1000) == ""
	LOCALS = 居住者なし
ELSE
	VARSET 配列分解文字列
	SPLIT 定住者部屋割り配列:(ARG - 1000), "_", 配列分解文字列
	IF STRCOUNT(定住者部屋割り配列:(ARG - 1000), "_") > 1
		LOCALS = %CALLNAME:(TOINT(配列分解文字列:0))%他
	ELSE
		LOCALS = %CALLNAME:(TOINT(配列分解文字列:0))%
	ENDIF
ENDIF
TSTR:場所名受渡 = 住宅区{ARG}号地：%LOCALS%

@GETPLACENAME_2_11(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_12(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_13(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_14(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_15(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_16(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_17(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_18(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_19(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)


@DRAW_MAP_BG_2_0(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
	CASE "ア"
		表示文字列 += "住宅街前交差点"
	CASE "イ"
		表示文字列 += "河滩地"
	CASE "住","宅","街"
		IF CFLAG:PLAYER:現在位置 >= 1000
			表示文字列 += @"<font color='#%カラーパレット_HTML("真っ赤")%'>%SLICED%</font>"
		ELSE
			表示文字列 += @"%SLICED%"
		ENDIF
	CASE "川","‖"
		表示文字列 += @"<font color='#0067C0'>%SLICED%</font>"
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT



@エリア来訪時イベント_2

IF 居住区初来訪イベントフラグ == 0
	DRAWLINE
	PRINTL ［初次造访：居住区域］
	DRAWLINE
	PRINTW
	PRINTFORMW %CALLNAME:PLAYER%开拓了岛屿，造访在空地新建的居住区。
	PRINTFORMW 已有数名定居申请者迁入，从公园传来孩童嬉戏声。
	PRINTFORMW 要发展度假村规模，培育本土产业至关重要。
	PRINTFORMW 若长期依赖外部进口，再多卢比也不够消耗。
	PRINTL 
	PRINTFORMW 目前虽只是小村落，发展下去终将成为可称之为城镇的规模。
	PRINTL 
	PRINTFORMW 人口增长将激活商业，商业繁荣又会吸引更多人口。
	PRINTFORMW 若加强空艇港商店街，常住居民可能会开设店铺。
	PRINTFORMW 若有资源余裕也应推进该区域开发。
	PRINTL
	SETCOLOR カラーパレット("黄")
	PRINTFORMW 托儿所建成获得普通服装「幼儿园服」。
	PRINTFORMW 诊所建成获得普通服装「护士服」。
	RESETCOLOR
	CALL 制服登録処理("幼儿园服")
	CALL 制服登録処理("护士服")
	居住区初来訪イベントフラグ = 1
ENDIF

IF 居住区二丁目初来訪イベントフラグ == 0 && 居住区改造度:14:0
	DRAWLINE
	PRINTL ［初次造访：居住区・二丁目］
	DRAWLINE
	PRINTW
	PRINTFORMW %CALLNAME:PLAYER%来到扩建后的居住区。
	PRINTFORMW 随着近期移民申请者持续增加，规模已逐渐超越普通村落。
	PRINTFORMW 人口增长必将推动度假村进一步发展。
	PRINTL 
	PRINTFORMW 本次扩建区域新建了婚礼会场与美术馆。
	PRINTFORMW 今后居民可在岛上举办婚礼，还能以「度假婚礼」名义吸引游客。
	PRINTFORMW 当然，若您有心仪对象，亦可在此举办自己的婚礼。
	PRINTL 
	PRINTFORMW 美术馆目前展品尚不丰富。
	PRINTFORMW 待有余力时，既可收集历史悠久的艺术珍品，
	PRINTFORMW 也可向游客和居民征集展品，想必会很有趣。（暂未实装）
	PRINTL 
	PRINTFORMW 需要留意的是人口增长可能引发的纠纷……
	PRINTFORM 此前一直交由居民自治管理，
	SETCOLOR カラーパレット("黄")
	PRINTFORM 或许该考虑在村公所制定并颁布条例
	RESETCOLOR
	PRINTFORMW 更为妥当。
	PRINTL 
	PRINTFORMW 无论如何，发展已步入正轨确是不争事实。
	PRINTFORMW 请继续保持这种势头推进开发吧。
	PRINTL
	SETCOLOR カラーパレット("黄")
	PRINTFORMW 因婚礼会场竣工，已获得普通服装「婚纱」。
	PRINTFORMW 因婚礼会场竣工，已获得普通服装「白色无尾礼服」。
	RESETCOLOR
	CALL 制服登録処理("婚纱")
	CALL 制服登録処理("白色无尾礼服")
	居住区二丁目初来訪イベントフラグ = 1
ENDIF

@居住区改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 发展居住区域，增加可容纳人数与设施。<br><br>
IF 居住区改造度:0:0 < 1
	LOCALS += @"■<button value='200'>[居住区发展]</button> Lv{居住区改造度:0:0}>{居住区改造度:0:0 + 1} （需要:2,000,000卢比）<br>"
ELSE
	LOCALS += @"■[居住区发展] Lv{居住区改造度:0:0}：上限<br>"
	IF 居住区改造度:14:0 < 1
		LOCALS += @"■<button value='201'>[居住区扩建：二丁目]</button> Lv{居住区改造度:14:0}>{居住区改造度:14:0 + 1} （需要:2,000,000卢比）<br>"
	ELSE
		LOCALS += @"■[居住区扩建：二丁目] Lv{居住区改造度:14:0}：上限<br>"
	ENDIF
ENDIF

RETURNF LOCALS

@居住区改造実行関数(コマンド数値)
#DIM コマンド数値

SELECTCASE コマンド数値
	CASE 200
		DRAWLINE
		PRINTL 居住区区域将实施以下变更：
		PRINTBUTTON "■扩展居住区域容量", 500
		PRINTL 
		PRINTBUTTON "■追加设施", 501
		PRINTL 
		PRINTL 
		PRINTL 要发展居住区域吗？（需要:2,000,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 2000000
					PRINTW 卢比不足
					RETURN
				ENDIF
				ARRAYSHIFT 定住者部屋割り配列, 住宅街広さ(), "", 住宅街広さ() + 30
				居住区改造度:0:0 = 1
				MONEY -= 2000000
				PRINTL 已发展居住区域！
				CALL RESET_GRAPH_2
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @" 居住区域发展到Lv1","実績")
				RETURN
			CASE 1
				RETURN
			CASE 500
				DRAWLINE
				PRINTL 居住区容量从50单位扩展至80单位。
				PRINTL 现在可容纳更多角色定居。
				PRINTW
			CASE 501
				DRAWLINE
				PRINTL  新增7项设施：
				PRINTL  (居酒屋、小巷深处、村公所、传统咖啡厅、自卫团驻所、河滩地、学校)
				PRINTL 当前这些设施暂无特殊功能，未来可能实装。
				PRINTW
		ENDSELECT
		RESTART
	CASE 201
		DRAWLINE
		PRINTL 居住区区域将实施以下变更：
		PRINTBUTTON "■开放二丁目专属地图", 500
		PRINTL 
		PRINTBUTTON "■追加设施", 501
		PRINTL 
		PRINTL 
		PRINTL 是否在居住区创建二丁目？（需要:2,000,000卢比）
		PRINTBUTTONLC "[0] 确定", 0
		PRINTBUTTONLC "[1] 取消", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 2000000
					PRINTW 卢比不足
					RETURN
				ENDIF
				ARRAYSHIFT 定住者部屋割り配列, 住宅街広さ(), "", 住宅街広さ() + 20
				居住区改造度:14:0 = 1
				MONEY -= 2000000
				PRINTL 已在居住区创建二丁目！
				CALL RESET_GRAPH_2
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @" 于居住区新建二丁目区域","実績")
				RETURN
			CASE 1
				RETURN
			CASE 500
				DRAWLINE
				PRINTL 居住区容量将额外增加20个单位。
				PRINTL 现在可容纳更多角色定居。
				PRINTW
			CASE 501
				DRAWLINE
				PRINTL 新增两项设施。
				PRINTL （婚礼会场、美术馆）
				PRINTL 婚礼会场是举办结婚仪式的前置设施，美术馆则可鉴赏各类美术藏品。
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT



