@D20XX_Manual
	#DIMS DYNAMIC SelectTab
	#DIMS DYNAMIC ShopMenu,4,20
	#DIMS DYNAMIC ManualText,39;行は20行
	#DIM DYNAMIC LCount

	;#region
		SelectTab = 始めに
	;#endregion
	$ManualLoop
		DRAWLINE
				PRINTFORML ┏━━━┳━━━┳━━━┳━━━┳━━━┓
		HTML_PRINT "<nonbutton>┃</nonbutton><button value = '10000'>始めに</button><nonbutton>┃</nonbutton><button value = '10001'> 移動 </button><nonbutton>┃</nonbutton><button value = '10002'>攻撃１</button><nonbutton>┃</nonbutton><button value = '10003'>攻撃２</button><nonbutton>┃</nonbutton><button value = '10004'> 購入 </button><nonbutton>┃</nonbutton>"
		SELECTCASE SelectTab
			CASE "始めに"
				PRINTFORML ┃　　　┗━━━┻━━━┻━━━┻━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASE "移動"
				PRINTFORML ┣━━━┛　　　┗━━━┻━━━┻━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASE "攻撃１"
				PRINTFORML ┣━━━┻━━━┛　　　┗━━━┻━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASE "攻撃２"
				PRINTFORML ┣━━━┻━━━┻━━━┛　　　┗━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
			CASE "購入"
				PRINTFORML ┣━━━┻━━━┻━━━┻━━━┛　　　┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
		ENDSELECT
	
		SELECTCASE SelectTab
			CASE "始めに"
				ManualText:0 = <i>やぁ、悪魔に魂を売った正義の使者様、ご心情いかが？</i>
				ManualText:1 = 知っているとは思うけど、僕は<font color = 'Yellow'>イェニェル(Yenyel)</font>、偉大なる主の使い<b>天使</b>だ。
				ManualText:2 = これは、<font color = 'Yellow'>ダエモスラビヤ</font>で生き拔出ためのマニュアルだ。秘書官殿の言葉では分からないだろう？
				ManualText:3 = 文章で書いた方が訛っていなくて理解しやすいし、何度でも読み返せて便利だしな
				ManualText:4 = あぁ、このマニュアルの代金はサービスしておくよ。これから、僕のお得意様になるはずだからナ
				ManualText:5 = 
				ManualText:6 = 君に説明する必要はないと思うが、一応現時点の状況を説明してやろう
				ManualText:7 = 　この<font color = 'Yellow'>ダエモスラビヤ(ダエモスラビヤ評価主義王国連邦)</font>は、
				ManualText:8 = 　第82次十字軍で支配されていた魔界の小国が<font color = 'Yellow'>%NAME:TARGET%</font>の父、<font color = 'Yellow'>赤彁</font>によって纏められ
				ManualText:9 = 　十字軍を魔界から逐出、連邦を組んだことで成立した多種族国家だ。
				ManualText:10 = 　ただ、元々<font color = 'Yellow'>種族間、国家間は非常に仲が悪かった。</font>
				ManualText:11 = 　一応、<font color = 'Yellow'>赤彁</font>の筹码によって連邦としては纏まっていたんだがね。
				ManualText:12 = 　しかし先日、その<font color = 'Yellow'>赤彁</font>国王が何者かによって<font color = 'Yellow'>暗殺</font>された。
				ManualText:13 = 　その数時間後、<font color = 'Yellow'>連邦加盟国のボルシャ国が離脱を宣言</font>、それを認めない<font color = 'Yellow'>連邦政府が軍を派遣</font>
				ManualText:14 = 
				ManualText:15 = これがこの紛争勃発の大まかな流れだ
				ManualText:16 = 悪魔同士で殺しあってくれるなんて、僕たち天使には願ったり叶ったりだね。
				ManualText:17 = 
				ManualText:18 = あぁそうだ、この游戏は<font color = 'Yellow'>マウスを使う事を前提</font>に作られている。
				ManualText:19 = </nonbutton><nonbutton title = 'そうそう...そんな感じで...\nただな？ここでやっても特に追加情報は出ないぜ？\n\nよく、こんな所の解説を見つけたなぁ\nマニュアルの他の場所には、こういうテ接吻トは付いてないから探さなくて良いぞ' pos = '100'>マウスカーソルを合わせると、追加で情報が表示されたりするから色々見てみると良いぜ。
				ManualText:20 = </nonbutton><nonbutton title = 'そうそう...そんな感じで...\nただな？ここでやっても特に追加情報は出ないぜ？\n\nよく、こんな所の解説を見つけたなぁ\nマニュアルの他の場所には、こういうテ接吻トは付いてないから探さなくて良いぞ' pos = '100'>ユ针织の細かいパラメータや武器の解説とかな。
				ManualText:21 = 
				ManualText:22 = 操作は大体直感的に動かせるようにしてあるつもりだ、分からなかったら 
				ManualText:23 = </nonbutton><button value = '183' pos = '100'><font color = 'Yellow'>随意それっぽい所を阴蒂ック</font></button><nonbutton>したら出来るかもしれないナ
				ManualText:24 = 
				ManualText:25 = あぁ、そうだ<font color = 'Yellow'>大切</font>な事を言い忘れていた。
				ManualText:26 = <font color = 'red'><b><u>EmueraのConfigを弄っている場合描画が崩れる事が有る。</u></b></font>
				ManualText:27 = ここを弄って表示おかしいって言われても作者は対応できないとよ
				ManualText:28 = 
				ManualText:29 = <font color = 'Yellow'>(この游戏はまだβ版だからバグとか未実装の部分が数多く有るから很多に見てね！)</font>
				ManualText:30 = <font color = 'Yellow'>(武器とかユ针织案有ったらスレに書いてくれたら嬉しいな！)</font>
				ManualText:31 = <font color = 'Yellow'>(ERB\\EVENT_K\\槞彁\\D20XX\\DATA フォルダを見れば何となく追加方法分かると思うよ！)</font>
			CASE "移動"
				ManualText:0 = この游戏には两个移動が有る。ユ针织の移動とMAP描画範囲の移動だ。
				ManualText:1 = この页ではその两个解説をするぞ。
				ManualText:2 = 
				ManualText:3 = <font color = 'Yellow'><b>☆MAP描画範囲の移動☆</b></font>
				ManualText:4 = ...と言ってもこれは特に説明する事は無いな。
				ManualText:5 = Mapの右に十字キーが有るだろう？それを押したらMAPがグリグリ動くぜ
				ManualText:6 = でも、動かし過ぎて<font color = 'Yellow'>迷子</font>になっても知らねぇぞ？僕は君のお母桑じゃあ無いからナ
				ManualText:7 = (...まぁ、迷子になっても左上を目指して動けば戻れると思うぞ)
				ManualText:8 = 
				ManualText:9 = 
				ManualText:10 = <font color = 'Yellow'><b>☆ユ针织の移動☆</b></font>
				ManualText:11 = さて、これが出来なきゃ戦えねぇ。酱と覚えろよ？
				ManualText:12 = 移動をするにはMAP移動キーの下に有る<b>現在的指示モード</b>が
				ManualText:13 = 『<font color = 'blue'><b>移動モード</b></font>』になっている必要が有る
				ManualText:14 = この状態でユ针织を阴蒂ックするとMAPに<font color = 'Cyan'>水色の領帯ル</font>が出るだろう。<font color = 'Yellow'>それが移動可能範囲</font>だ。
				ManualText:15 = もちろん、各ユ针织には<font color = 'Yellow'>行動力</font>って数値が有って、この分だけ移動できる。
				ManualText:16 = 基本的には移動に<font color = 'Yellow'>必要な行動力は移動先に地形によって変わってくる</font>ぞ。
				ManualText:17 = 簡単に言うと<font color = 'Yellow'><i>「騎兵は歩兵よりも動ける。道路は早い、森は遅い。」</i></font>みたいな感じだ。
				ManualText:18 = 
				ManualText:19 = 後、空を飛べるユ针织なんかは<font color = 'Yellow'>移動コストを全て1にする能力</font>を持ってたりする。
				ManualText:20 = 空を飛ぶユ针织は森とか川を無視して、こっちの横っ腹を狙ってきたりするからな。
				ManualText:21 = こういう奴には、十分警戒するべきだ。最近は鉄の塊の癖に飛ぶ乗り物が出てきたりして、
				ManualText:22 = 飛べる＝<font color = 'Yellow'>軽装有翼兵とは限らなくなってきた。</font>
				ManualText:23 = ...といっても下界には飛べる知性体は居ないんだったな。
				ManualText:24 = とにかく、警戒する事に越したことは無い。
				ManualText:25 = 
				ManualText:26 = 
				ManualText:27 = ちなみに、領帯ルにカーソルを合わせると必要なコストが表示されたりするぞ。
				ManualText:28 = まぁ、青い範囲を見て移動すれば間違いは無い。
				ManualText:29 = 
				ManualText:30 = <font color = 'Yellow'>(未実装機能だよ！)</font>
				ManualText:31 = <font color = 'Yellow'>(そのターン中に行動力消費を行わなかったユ针织は指揮統制率が1回復するよ)</font>
			CASE "攻撃１"
				ManualText:0 = さて、お待ちかねの戦闘だ。圧倒的火力で敵を蹂躙しよう。
				ManualText:1 = 攻撃について説明する事はかなりあるから、2页使うことにした。
				ManualText:2 = 
				ManualText:3 = <font color = 'Yellow'><b>☆攻撃指示の出し方☆</b></font>
				ManualText:4 = まァー、移動の页を読んだなら大体察しは付いていると思うが、攻撃するには
				ManualText:5 = 移動をするにはMAP移動キーの下に有る<b>現在的指示モード</b>が
				ManualText:6 = 『<font color = 'red'><b>攻撃モード</b></font>』になっている必要が有る
				ManualText:7 = その状態でユ针织を選択して、<font color = 'Yellow'>攻撃に使用する武器</font>を選べばMAP上に<font color = 'red'>红色領帯ル</font>が出てくるはずだ
				ManualText:8 = そして、その<font color = 'red'>红色領帯ル</font>を阴蒂ックすれば射撃指示完了だ。簡単だろう？
				ManualText:9 = ちなみに、敵ユ针织アイコンを阴蒂ックしても同じ効果があるぞ。
				ManualText:10 = 
				ManualText:11 = ...と、ここまで書いて気が付いたが、
				ManualText:12 = 敵ユ针织と自軍ユ针织の見分け方が分からないとか言わないよな？
				ManualText:13 = <font color = 'red'>背景が红色ユ针织は敵</font>
				ManualText:14 = <font color = 'DeepSkyBlue'>明るい青は行動していない自軍</font>
				ManualText:15 = <font color = 'DodgerBlue'>暗い青は行動した自軍</font>だ。
				ManualText:16 = 分かってるとは思うが一応な。
				ManualText:17 = 
				ManualText:18 = <font color = 'Yellow'><b>☆命中判定について☆</b></font>
				ManualText:19 = 当たり前だが、全部の武器が<font color = 'Yellow'>100％命中するような世界じゃあない。</font>
				ManualText:20 = 武器には<font color = 'Yellow'>基礎命中率</font>というパラメータが有る。基本的にこの<font color = 'Yellow'>基礎命中率に補正がかけられるぞ。</font>
				ManualText:21 = 
				ManualText:22 = <font color = 'Yellow'>攻撃対象の地形によって、命中率が下がる。</font>
				ManualText:23 = 例えば森林だったら、遮蔽率20％　つまり、基礎命中率から20％減少する。
				ManualText:24 = もし、<font color = 'Yellow'>基礎命中率50％の武器で森林に居る敵に射撃</font>した場合、<font color = 'Yellow'>40％の確率で命中</font>するな。
				ManualText:25 = 
				ManualText:26 = また、各ユ针织には<font color = 'Yellow'><b>指揮統制率</b></font>というパラメータが有る。
				ManualText:27 = このパラメータも、命中率に影響を与える
				ManualText:28 = 攻撃対象の指揮統制率が、<font color = 'Yellow'>現在地/最大％分だけ命中率が上昇する。</font>
				ManualText:29 = ただ、この倍率補正は<font color = 'Yellow'>地形補正を受けた後にかけられる。</font>
				ManualText:30 = だから、上の例で<font color = 'Yellow'>攻撃対象のユ针织</font>の指揮統制率が50％の場合、命中率は60％に上昇する。
				ManualText:31 = 指揮統制率についての詳しい事は察看下一頁で解説するぞ。
			CASE "攻撃２"
				ManualText:0 = <font color = 'Yellow'><b>☆指揮統制率について☆</b></font>
				ManualText:1 = 前页でも触れたが、指揮統制率というパラメータが有る。
				ManualText:2 = これは、<font color = 'Yellow'>ユ针织の混乱度や圧抑度みたいな物</font>だな。
				ManualText:3 = 指揮統制率は、攻撃を受けた<font color = 'Yellow'>武器の制圧力によって減少する。</font>
				ManualText:4 = 更に、<font color = 'Yellow'>命中して無かった場合でも指揮統制率は下がる。</font>
				ManualText:5 = だから、たとえ命中率が低い武器でも、制圧力が高い武器で撃ち続ける事で、
				ManualText:6 = 敵の指揮統制率を下げる事が出来るぞ。
				ManualText:7 = 敵に弾が命中しない場合は指揮統制率を下げる事をしてみると良いかもしれないな。
				ManualText:8 = 
				ManualText:9 = <font color = 'Yellow'>(未実装情報だよ)</font>
				ManualText:10 = <font color = 'Yellow'>(ただ、この指揮統制率はHPと違って行動をしなかったら毎ターン１回復する事が出来る。)</font>
				ManualText:11 = <font color = 'Yellow'>(もし指揮統制率が下がってしまったユ针织が居れば、一旦後方へ下げると良いぞ。)</font>
				ManualText:12 = <font color = 'Yellow'>(そうそう、指揮統制率が0变成了ら士気崩壊という状態異常になる。)</font>
				ManualText:13 = <font color = 'Yellow'>(こうなると、もうユ针织に指示する事は出来ない。)</font>
				ManualText:14 = <font color = 'Yellow'>(敵味方関係なく近くに発砲したり、移動したりする。こうならないように注意しような)</font>
				ManualText:15 = 
				ManualText:16 = 
				ManualText:17 = <font color = 'Yellow'><b>☆装甲について☆</b></font>
				ManualText:18 = 装甲には二種類ある。普通の「<b>装甲</b>」と最近新しく作られた「<b>era</b>」だ
				ManualText:19 = 普通の「装甲」は文字街道、ダメージを減少させる。
				ManualText:20 = だから、<font color = 'Yellow'>3の装甲を持つ敵に2のダメージの攻撃を何度してもHPを減らす事は出来ない。</font>
				ManualText:21 = まぁ、すごく単純だ。巷では<font color = 'Yellow'>アルテリオス式って呼ばれている計算式だな。</font>
				ManualText:22 = 
				ManualText:23 = もう一つの装甲「era」正式名称：<i><font color = 'Yellow'><b>E</b></font>xplosive <font color = 'Yellow'><b>R</b></font>eactive <font color = 'Yellow'><b>A</b></font>rmour</i>
				ManualText:24 = 持っているユ针织は少ないが、非常に強力だぜ？
				ManualText:25 = 装甲が貫通された時に、「era」を一つ消費してダメージを完全無効化する。
				ManualText:26 = 要するに<font color = 'Yellow'>使い捨て式、最強の装甲</font>だ。
				ManualText:27 = こいつを持っているユ针织一体で複数の敵と数ターンは殴り合える、敵に居たら要注意だ
				ManualText:28 = 
				ManualText:29 = eraへの対策？大量のユ针织による飽和攻撃でeraを削り切るしかないだろうな。
				ManualText:30 = お望みとあらば、資金さえ有れば僕も提供できるよ。もちろん、値は張るがね。
				ManualText:31 = <i>文胸から核兵器まで、お客様がお求めなら何でも販売するよ。</i>；）
			CASE "購入"
				ManualText:0 = ごめんね、ユ针织購入周りの処理はまだ全く出来ていないんだ。
				ManualText:1 = 次の更新を待ってねー
				ManualText:2 = 
				ManualText:3 = 
				ManualText:4 = ～予定～
				ManualText:5 = 魔界の大国のどの陣営に付いたかで購入可能な武器が変わるようにしたいわね。
				ManualText:6 = でも、テクノロジーツリー系も捨てがたい...どっちが良いかしら？
				ManualText:7 = 
				ManualText:8 = 
				ManualText:9 = </nonbutton><nonbutton pos = '1750'><font color = 'DarkSlateGray'>核弾頭</font></nonbutton><nonbutton pos = '100'>あ、大金を払えば一瞬で勝利できる<b>道具</b>を、イェニェルから
				ManualText:10 = 購入できるようにする予定だから、こういう游戏苦手な人でも大丈夫よ。<font color = '#0F0F0F'>ただ、もれなくルート分岐するので可能なら使わないほうが良いんじゃないかな</font>
				ManualText:11 = 
				ManualText:12 =
				ManualText:13 =
				ManualText:14 = 平衡調整とか全然分からない...調整案とか追加案有ったらスレに書いてくれたら嬉しいな。
				ManualText:15 = ファンタジーには詳しくないので詳しい人ファンタジーユ针织考えて。
				ManualText:16 = あ、間違えた。
				ManualText:17 = この迷你游戏に登場するユ针织や武器は全部ファンタジーだよ！
				ManualText:18 = だから実在する兵器は一切登場していない、いいね？
				ManualText:19 =
				ManualText:20 = 
				ManualText:21 = <s>ファイアーエムブレムみたいに、</s>各ユ针织一体一体に武器を割り振る事も出来るように...
				ManualText:22 = って事も計画中よー
				ManualText:23 = でも、次の更新も結構大きいなぁ...早めに公開出来たらいいのだけども...
				ManualText:24 =
				ManualText:25 = 
				ManualText:26 = 
				ManualText:27 =
				ManualText:28 =
				ManualText:29 =
				ManualText:30 =
				ManualText:31 = ご存知の街道絵は描けないので許して...(誰か描いて)
		ENDSELECT 
			
		FOR LCount,0,39
			HTML_PRINT @"<nobr><nonbutton>┃</nonbutton> <nonbutton pos='100'>%ManualText:LCount%</nonbutton><nonbutton pos='5900'>┃</nonbutton></nobr>"
		NEXT

		PRINTFORML ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
		PRINTFORML [999]操作説明を終える
		
		
		
		
		INPUT
		SELECTCASE RESULT
			CASE 183
				PRINTFORML そうそう、そんな感じで色々試してみると良いぞ。
				PRINTFORMW でもな？流石にマニュアルの中にはボタンは無いから安心してくれ。
			CASE 10000
				SelectTab = 始めに
			CASE 10001
				SelectTab = 移動
			CASE 10002
				SelectTab = 攻撃１
			CASE 10003
				SelectTab = 攻撃２
			CASE 10004
				SelectTab = 購入
			CASE 999
				RETURN
		ENDSELECT
		GOTO ManualLoop
