;=========================
;通常画面HTML統合メソッド
;ARG:0 = 描画範囲内左隅X座標
;ARG:1 = 描画範囲Y座標
;=========================
@D20XX_GenerateHTML(X_ViewPoint,Y_ViewPoint)
	#DIM DYNAMIC LCOUNT
	#DIM DYNAMIC X_ViewPoint
	#DIM DYNAMIC Y_ViewPoint
	#DIMS DYNAMIC HEX_HTML
	#DIMS DYNAMIC UNIT_HTML
	#DIMS DYNAMIC MovableRangeHTML
	#DIMS DYNAMIC AttackRangeHTML
	#DIMS DYNAMIC AstarRouteHTML
	#DIMS DYNAMIC MapButtonHTML
	#DIMS DYNAMIC CommandBttonHTML

	[IF_NDEBUG]
		CLEARLINE LINECOUNT
	[ENDIF]
	;初期化するよ
	CALL D20XX_HTML_Constructor
	CALL D20XX_MoveCostMap_Constructor
	CALL D20XX_MoveRoute_Constructor
	CALL D20XX_AttackRangeMap_Constructor
	CALL D20XX_AttackRoute_Constructor
	
	FOR LCOUNT, 0, 16
		CALL D20XX_GenerateHTML_Hex(X_ViewPoint,(Y_ViewPoint + LCOUNT),LCOUNT,HEX_HTML)
		CALL D20XX_GenerateHTML_Unit(X_ViewPoint,(Y_ViewPoint + LCOUNT),LCOUNT,UNIT_HTML)
		CALL D20XX_GenerateHTML_MapButton(X_ViewPoint,(Y_ViewPoint + LCOUNT),LCOUNT,MapButtonHTML)
		MovableRangeHTML = 
		AttackRangeHTML = 
		AstarRouteHTML = 
		CALL D20XX_GenerateHTML_CommandButton(LCOUNT,CommandBttonHTML)
		IF D20XX_SelectCommandMode == "移動" && TOINT(D20XX_Unit:D20XX_SelectUnit:3) > 0
		;	IF Demoslaviya20SXX_EnemyTargetMode == "True"
		;		PRINTFORML 【Debug】GHTML31
		;		CALL D20XX_GenerateHTML_EnemyMoveHexSelect(ARG:0,(ARG:1 + LCOUNT),LCOUNT,MovableRangeHTML)
		;	ELSE
		;		PRINTFORML 【Debug】GHTML34
				CALL D20XX_GenerateHTML_MovableRange(X_ViewPoint,(Y_ViewPoint + LCOUNT),LCOUNT,MovableRangeHTML)
		;	ENDIF
			D20XX_HTML:LCOUNT += @"<nobr>%HEX_HTML%%UNIT_HTML%%MovableRangeHTML%%MapButtonHTML%%CommandBttonHTML% </nobr>"
		ELSEIF D20XX_SelectCommandMode == "最短経路計算"
			;PRINTFORMW 【Debug！】GHTML40 X_ViewPoint ={X_ViewPoint} Y_ViewPoint = {Y_ViewPoint}
			CALL D20XX_GenerateHTML_MovableRange(X_ViewPoint,(Y_ViewPoint + LCOUNT),LCOUNT,MovableRangeHTML)
			CALL D20XX_GenerateHTML_AstarHexSelect(X_ViewPoint,(Y_ViewPoint + LCOUNT),LCOUNT,AstarRouteHTML)
			D20XX_HTML:LCOUNT += @"<nobr>%HEX_HTML%%UNIT_HTML%%MovableRangeHTML%%AstarRouteHTML%%MapButtonHTML%%CommandBttonHTML% </nobr>"
		ELSEIF D20XX_SelectCommandMode == "攻撃" && TOINT(D20XX_Unit:D20XX_SelectUnit:3) > 0
			;IF Demoslaviya20SXX_EnemyTargetMode == "True"
		;		CALL D20XX_GenerateHTML_EnemyTargetHexSelect(ARG:0,(ARG:1 + LCOUNT),LCOUNT,AttackRangeHTML)
		;	ELSE
				CALL D20XX_GenerateHTML_AttackRange(X_ViewPoint,(Y_ViewPoint + LCOUNT),LCOUNT,AttackRangeHTML)
		;	ENDIF
			D20XX_HTML:LCOUNT += @"<nobr>%HEX_HTML%%UNIT_HTML%%AttackRangeHTML%%MapButtonHTML%%CommandBttonHTML% </nobr>"
		ELSE
			D20XX_HTML:LCOUNT += @"<nobr>%HEX_HTML%%UNIT_HTML%%MapButtonHTML%%CommandBttonHTML% </nobr>"
		ENDIF

		;D20XX_HTML:LCOUNT += @"<nobr>%HEX_HTML%%UNIT_HTML%%MovableRangeHTML%%AstarRouteHTML%%AttackRangeHTML%%MapButtonHTML%%CommandBttonHTML%</nobr>"
		;PRINTFORML %D20XX_HTML:LCOUNT%
	NEXT
	;ここは余白なので何も入れたらだめなのだ！気を付けるのだ！
	FOR LCOUNT,16,28
		CALL D20XX_GenerateHTML_CommandButton(LCOUNT,CommandBttonHTML)
		D20XX_HTML:LCOUNT += @"<nobr>%CommandBttonHTML% </nobr><br>"
	NEXT

;;;ARG = 描画中Y座標行目
@D20XX_GenerateHTML_CommandButton(ARG,RESULT_DATA)
	#DIM DYNAMIC Y_Line
	#DIMS DYNAMIC temp,28
	#DIMS REF RESULT_DATA
	#DIM DYNAMIC Face
	Y_Line = ARG
	temp:0  += @""
	temp:1  += @"<nonbutton pos='4800'><font color='red'><b>Демославия20XX</b></font></nonbutton>"
	temp:2  += @"<nonbutton pos='5100'><font color='red'>(ダエモスラビヤ20XX)</font></nonbutton>"
	temp:3  += @"<nonbutton pos='5000'>～シナリオ～</nonbutton>"
	temp:4  += @"<nonbutton pos='5150'>%D20XX_StageName%</nonbutton>"
	temp:5  += @"<nonbutton pos='5000'>～目標～</nonbutton>"
	temp:6  += @"<nonbutton pos='5150' title = '敵を全滅させる'><font color='red'><b>殲滅</b></font></nonbutton>"
	temp:7  += @"<nonbutton pos='5000'>┏画面移動━━━━━┓</nonbutton>"
	temp:8  += @"<nonbutton pos='5000'>┃</nonbutton><button value='100' pos='5450'>[↑]</button><nonbutton pos='6000'>┃</nonbutton>"
	temp:9  += @"<nonbutton pos='5000'>┃</nonbutton><button value='101' pos='5250'>[←]</button><button value='102' pos='5650'>[→]</button><nonbutton pos='6000'>┃</nonbutton>"
	temp:10  += @"<nonbutton pos='5000'>┃</nonbutton><button value='103' pos='5450'>[↓]</button><nonbutton pos='6000'>┃</nonbutton>"
	temp:11 += @"<nonbutton pos='5000'>┗━━━━━━━━━┛</nonbutton>"
	temp:12 += @"<nonbutton pos='5000'>┏現在的指示モード━┓</nonbutton>"
	IF D20XX_SelectCommandMode == "移動"
		temp:13 += @"<nonbutton pos='5000'>┃</nonbutton><button value='200' pos='5250'><font color='blue'><b>移動モード</b></font></button><nonbutton pos='6000'>┃</nonbutton>"
	ELSEIF D20XX_SelectCommandMode == "攻撃"
		temp:13 += @"<nonbutton pos='5000'>┃</nonbutton><button value='200' pos='5250'><font color='red'><b>攻撃モード</b></font></button><nonbutton pos='6000'>┃</nonbutton>"
	ELSEIF D20XX_SelectCommandMode == "最短経路計算"
		temp:13 += @"<nonbutton pos='5000'>┃</nonbutton><button value='200' pos='5250'><font color='#7fff00'><b>最短経路計算中</b></font></button><nonbutton pos='6000'>┃</nonbutton>"
	ELSE 
		temp:13 += @"<nonbutton pos='5000'>┃</nonbutton><button value='200' pos='5250'><font color='#008080'><b>選択モード</b></font></button><nonbutton pos='6000'>┃</nonbutton>"
	ENDIF
	temp:14 += @"<nonbutton pos='5000'>┗━━━━━━━━━┛</nonbutton>"
	temp:15 += @"<nonbutton pos='5100'>所持軍資金：</nonbutton>"
	temp:16 += @"<nonbutton pos='5000'>{CFLAG:MASTER:槞彁所持金,19}<img src='Demol'></nonbutton>"
	temp:17 += @"<nonbutton pos='5150'><font color='#808080'>表示：大 [+] [-]</font></nonbutton>"
	;Debug! あとで本格的にする
	IF Y_Line == 18
		CALL D20XX_Generate_UniqueFcsv, "イェニェル"
		;CALL D20XX_Face_ToHTML(Face,5050,"本/BG=0魔界空")
		CALL D20XX_FACE_FcsvToSprite(RESULTS)
		CALL D20XX_FACE_Packaging(RESULTS)
		RESULTS = %CONVERTSTR(RESULTS)%
		CALL D20XX_NO_NOBR(RESULTS)
		temp:18 += @"<nonbutton pos='5000'>%RESULTS%</nonbutton>"
	ENDIF
	temp:19 += @" "
	temp:20 += @" "
	temp:21 += @" "
	temp:22 += @" "
	temp:23 += @" "
	temp:24 += @" "
	temp:25 += @" "
	temp:26 += @" "
	temp:27 += @"<button value='998' title='次のターンに移ります' pos='5600'>ターン終了</button>"
	RESULT_DATA = %temp:Y_Line%
;;;=========================
;;;Hex&Unitボタンバインディング用HTML作成メソッド
;;;ARG = 描画範囲内左隅X座標
;;;ARG:1 = 描画範囲Y座標
;;;ARG:2 = 描画中Y座標行目
;;;=========================
@D20XX_GenerateHTML_MapButton(ARG:0,ARG:1,ARG:2,RESULT_DATA)
	#DIM DYNAMIC X_VIEW
	#DIM DYNAMIC Y_View
	#DIM DYNAMIC X_Count
	#DIM DYNAMIC Y_LINE
	
	#DIMS DYNAMIC HexName
	#DIMS DYNAMIC HexText
	#DIM DYNAMIC HexButtonValue

	#DIMS DYNAMIC UnitID
	#DIMS DYNAMIC UnitName
	#DIMS DYNAMIC UnitText
	#DIMS DYNAMIC UnitDefaultSrc
	#DIM DYNAMIC UnitButtonValue


	#DIMS REF RESULT_DATA

	;#region 初期化
		X_VIEW = ARG
		Y_View = ARG:1
		Y_LINE = ARG:2
		RESULT_DATA = 
	;#endregion 

	FOR X_Count , X_VIEW , X_VIEW + 38
		SIF X_Count >= 200
			BREAK ;描画範囲突破してしまった場合はBreakするよ
		SIF Y_LINE >= 200
			BREAK ;上に同じく
		SIF Y_VIEW >= 200
			BREAK

		IF X_Count % 2 == Y_View % 2
			HexName = %D20XX_MAP:Y_View:X_Count:0%
			HexButtonValue = 1000000 + Y_View * 1000 + X_Count
			IF D20XX_GET_HEXDATA(D20XX_MAP:Y_View:X_Count:0,"領帯ル名") != "Error" && D20XX_GET_HEXDATA(D20XX_MAP:Y_View:X_Count:0,"領帯ル名") != "虚無" && D20XX_GET_HEXDATA(D20XX_MAP:Y_View:X_Count:0,"領帯ル名") != ""
				IF Y_View % 2 == 1
					RESULT_DATA += @"<button value='{HexButtonValue}' title='%D20XX_GET_HEXDATA(D20XX_MAP:Y_View:X_Count:0,"解説")%\n デバッグ ={D20XX_AttackRangeMap:Y_View:X_Count}' pos='{D20XX_LeftSpase + (X_COUNT-X_VIEW)*D20XX_HexSize/2}'>"
					RESULT_DATA += @"<img src = 'NoneHex' srcb = 'CursorHex' ypos = '{Y_LINE * 75 +50}' height = '{D20XX_HexSize}'>"
					RESULT_DATA += @"</button>"
				ELSE
					RESULT_DATA += @"<button value='{HexButtonValue}' title='%D20XX_GET_HEXDATA(D20XX_MAP:Y_View:X_Count:0,"解説")% \n デバッグ ={D20XX_AttackRangeMap:Y_View:X_Count}' pos='{D20XX_LeftSpase + (X_COUNT-X_VIEW)*D20XX_HexSize/2}'>"
					RESULT_DATA += @"<img src = 'NoneHex' srcb = 'CursorHex' ypos = '{Y_LINE * 75 +50}' height = '{D20XX_HexSize}'>"
					RESULT_DATA += @"</button>"
				ENDIF
			ENDIF

			UnitID = %D20XX_MAP:Y_View:X_Count:1%

			IF ISNUMERIC(UnitID) == 1
				UnitName = %D20XX_Unit:(TOINT(UnitID)):1%
				
				IF TOINT(UnitID) == D20XX_SelectUnit
					UnitDefaultSrc = SelectUnit
				ELSE
					UnitDefaultSrc = NoneUnit
				ENDIF

				UnitButtonValue = 2000000 + Y_View * 1000 + X_Count
				IF Y_View % 2 == 1
					RESULT_DATA += @"<button value='{UnitButtonValue}' title='%D20XX_GenerateUnitComment(TOINT(UnitID))%' pos='{D20XX_LeftSpase + D20XX_HexHalfSize + (X_COUNT-X_VIEW - 1)*D20XX_HexSize/2 + 50}'>"
					RESULT_DATA += @"<img src = '%UnitDefaultSrc%' srcb = 'CursorUnit' ypos = '{Y_LINE * 75 +100}' height = '{D20XX_UnitSize}'>"
					RESULT_DATA += @"</button>"
				ELSE
					RESULT_DATA += @"<button value='{UnitButtonValue}' title='%D20XX_GenerateUnitComment(TOINT(UnitID))%' pos='{D20XX_LeftSpase + D20XX_HexHalfSize + (X_COUNT-X_VIEW -1)*D20XX_HexSize/2 + 50}'>"
					RESULT_DATA += @"<img src = '%UnitDefaultSrc%' srcb = 'CursorUnit' ypos = '{Y_LINE * 75 +100}'  height = '{D20XX_UnitSize}'>"
					RESULT_DATA += @"</button>"
				ENDIF
			ENDIF
		ENDIF
	NEXT
	RETURN
;;;=========================
@D20XX_GenerateHTML_Hex(ARG,ARG:1,ARG:2,RESULT_DATA)
	#DIM DYNAMIC X_VIEW
	#DIM DYNAMIC Y_VIEW
	#DIM DYNAMIC X_COUNT
	#DIM DYNAMIC Y_LINE
	#DIMS DYNAMIC HEX_NAME
	#DIMS DYNAMIC TITLE_DATA
	#DIMS DYNAMIC SRC_DATA

	#DIMS REF RESULT_DATA

	;#region 初期化
		X_VIEW = ARG
		Y_VIEW = ARG:1
		Y_LINE = ARG:2
		RESULT_DATA = 
	;#endregion 
	FOR X_COUNT, X_VIEW, X_VIEW+38 ;表示画面は横幅12だよ！でもヘクス領帯ル方式なので数値が二倍になるのだ！
		SIF X_COUNT >= 200
			BREAK ;描画範囲突破してしまった場合はBreakするよ
		SIF Y_LINE >= 200
			BREAK ;上に同じく
		SIF Y_VIEW >= 200
			BREAK

		IF X_COUNT % 2 == Y_VIEW % 2
			HEX_NAME = %D20XX_GET_HEXDATA(D20XX_MAP:Y_VIEW:X_COUNT:0,"ファイル名")%
			TITLE_DATA = %D20XX_Generate_Hex_Comment(HEX_NAME)%
			SRC_DATA = %D20XX_GET_HEXDATA(HEX_NAME, "ファイル名")%
			
			IF HEX_NAME != "Error"
				IF Y_VIEW % 2 == 0
					RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + (X_COUNT-X_VIEW)*D20XX_HexSize/2}'>"
					RESULT_DATA += @"<img src='%HEX_NAME%' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
					RESULT_DATA += @"</nonbutton>"
				ELSE 
					RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + D20XX_HexHalfSize + (X_COUNT-X_VIEW-1)*D20XX_HexSize/2}'>"
					RESULT_DATA += @"<img src='%HEX_NAME%' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
					RESULT_DATA += @"</nonbutton>"
				ENDIF
			ENDIF
		ENDIF
	NEXT
	RETURN 

;;;=========================
;;;ユ针织描画HTML命令作成メソッド
;;;ARG = 描画範囲内左隅X座標
;;;ARG:1 = 描画範囲Y座標（要するにMAP全体で見たときのY座標　データ取得用）
;;;ARG:2 = 描画中Y座標行目（こっちは、表示画面内のY座標　表示するときの描画Y座標移動用）
;;;=========================
@D20XX_GenerateHTML_Unit(ARG,ARG:1,ARG:2,RESULT_DATA)
	#DIM DYNAMIC X_VIEW
	#DIM DYNAMIC Y_VIEW
	#DIM DYNAMIC X_COUNT
	#DIM DYNAMIC Y_LINE
	#DIM DYNAMIC UnitID
	#DIMS DYNAMIC UnitName
	#DIMS DYNAMIC UnitIFF
	#DIMS DYNAMIC UnitColor
	#DIMS DYNAMIC IsUnitMoved

	#DIMS REF RESULT_DATA

	;#region 初期化
		X_VIEW = ARG
		Y_VIEW = ARG:1
		Y_LINE = ARG:2
		RESULT_DATA = 
	;#endregion 
	FOR X_COUNT, X_VIEW, X_VIEW+38 ;表示画面は横幅12だよ！でもヘクス領帯ル方式なので数値が二倍になるのだ！
		SIF X_COUNT >= 200
			BREAK ;描画範囲突破してしまった場合はBreakするよ
		SIF Y_LINE >= 200
			BREAK ;上に同じく
		SIF Y_VIEW >= 200
			BREAK
		IF X_COUNT % 2 == Y_VIEW % 2
			UnitID = TOINT(D20XX_Map:Y_VIEW:X_COUNT:1)
			UnitName = %D20XX_Unit:UnitID:1%
			UnitIFF = %D20XX_Unit:UnitID:0%

			IF UnitName != "None" && UnitName != ""
				IF UnitIFF == "敵"
					UnitColor = Enemy
				ELSEIF UnitIFF == "自軍"
					IF D20XX_Unit:UnitID:3 < D20XX_GET_UNITDATA(UnitName,"行動力")
						UnitColor = Moved
					ELSE
						UnitColor = Wait
					ENDIF
				ELSEIF UnitIFF == "友軍"
					UnitColor = Friend
				ENDIF
				IF Y_VIEW % 2 == 0
					RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + (X_COUNT - X_VIEW)*D20XX_HexSize/2 + 50}'>"
					RESULT_DATA += @"<img src='%UnitColor%' height='{D20XX_UnitSize}' ypos='{Y_LINE*75 +100}'>"
					RESULT_DATA += @"</nonbutton>"
					RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + (X_COUNT - X_VIEW)*D20XX_HexSize/2 +50}'>"
					RESULT_DATA += @"<img src='%D20XX_GET_UNITDATA(UnitName,"ファイル名")%' height='{D20XX_UnitSize}' ypos='{Y_LINE*75 +100}'>"
					RESULT_DATA += @"</nonbutton>"
				ELSE 
					RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + D20XX_HexHalfSize + ((X_COUNT - X_VIEW)-1)*D20XX_HexSize/2 + 50}'>"
					RESULT_DATA += @"<img src='%UnitColor%' height='{D20XX_UnitSize}' ypos='{Y_LINE*75 +100}'>"
					RESULT_DATA += @"</nonbutton>"
					RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + D20XX_HexHalfSize + ((X_COUNT - X_VIEW)-1)*D20XX_HexSize/2 +50}'>"
					RESULT_DATA += @"<img src='%D20XX_GET_UNITDATA(UnitName,"ファイル名")%' height='{D20XX_UnitSize}' ypos='{Y_LINE*75 +100}'>"
					RESULT_DATA += @"</nonbutton>"
				ENDIF
			ENDIF
		ENDIF
	NEXT
	RETURN 
;;;=========================
;;;移動可能範囲表示HTML作成メソッド
;;;RESULT_DATA = 作成したHTMLを入れる所だよー これを戻り値として使うわよ！
;;;ARG:0 = 描画範囲内左隅X座標
;;;ARG:1 = 描画範囲Y座標（要するにMAP全体で見たときのY座標　データ取得用）
;;;ARG:2 = 描画中Y座標行目（こっちは、表示画面内のY座標　表示するときの描画Y座標移動用）
;;;=========================
@D20XX_GenerateHTML_MovableRange(ARG:0,ARG:1,ARG:2,RESULT_DATA)
	#DIMS DYNAMIC UnitType
	#DIM DYNAMIC UnitNowMovePower
	#DIM DYNAMIC X_Now
	#DIM DYNAMIC Y_Now

	#DIM DYNAMIC X_Count
	#DIM DYNAMIC X_View
	#DIM DYNAMIC Y_View
	#DIM DYNAMIC Y_Line

	#DIMS REF RESULT_DATA

	;#region 初期化
		X_View = ARG
		Y_View = ARG:1
		Y_Line = ARG:2
		UnitNowMovePower = 0
		RESULT_DATA = 
	;#endregion 

	IF D20XX_SelectUnit != 0
		UnitType = %D20XX_Unit:D20XX_SelectUnit:1%
		UnitNowMovePower = TOINT(D20XX_Unit:D20XX_SelectUnit:3)
		CALL D20XX_UnitSearch(D20XX_SelectUnit)
		IF RESULT:0 == 1
			Y_Now = RESULT:1
			X_Now = RESULT:2
			D20XX_MoveCostMap:Y_Now:X_Now = TOINT(D20XX_Unit:D20XX_SelectUnit:3)
			CALL D20XX_MoveCostCalc(UnitType,UnitNowMovePower,Y_Now,X_Now)
			;いつもの
			FOR X_Count, X_View, X_View+38 ;表示画面は横幅12だよ！でもヘクス領帯ル方式なので数値が二倍になるのだ！
				SIF X_Count >= 200
					BREAK ;描画範囲突破してしまった場合はBreakするよ
				SIF Y_Line >= 200
					BREAK ;上に同じく
				SIF Y_VIEW >= 200
					BREAK
				IF X_Count % 2 == Y_View % 2
					IF D20XX_MoveCostMap:Y_View:X_Count >= 0
						IF Y_VIEW % 2 == 0
							RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + (X_COUNT - X_View)*D20XX_HexSize/2}'>"
							RESULT_DATA += @"<img src='MoveHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
							RESULT_DATA += @"</nonbutton>"
						ELSE 
							RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + D20XX_HexHalfSize + ((X_COUNT - X_View)-1)*D20XX_HexSize/2}'>"
							RESULT_DATA += @"<img src='MoveHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
							RESULT_DATA += @"</nonbutton>"
						ENDIF
					ENDIF
				ENDIF
			NEXT
		ENDIF
	ENDIF
	RETURN

;;;=========================
;;;最短経路表示HTML作成メソッド
;;;RESULT_DATA = 作成したHTMLを入れる所だよー これを戻り値として使うわよ！
;;;ARG:0 = 描画範囲内左隅X座標
;;;ARG:1 = 描画範囲Y座標（要するにMAP全体で見たときのY座標　データ取得用）
;;;ARG:2 = 描画中Y座標行目（こっちは、表示画面内のY座標　表示するときの描画Y座標移動用）
;;;=========================
@D20XX_GenerateHTML_AstarHexSelect(X_View,Y_View,Y_Line,RESULT_DATA)
	#DIM DYNAMIC X_Count
	#DIM DYNAMIC X_View
	#DIM DYNAMIC Y_View
	#DIM DYNAMIC Y_Line

	#DIMS REF RESULT_DATA

	;#region 初期化
		RESULT_DATA = 
	;#endregion 

	IF D20XX_SelectUnit != 0
		;PRINTFORM D20XX_SelectUnit = {D20XX_SelectUnit} X_View = {X_View}  Y_View = {Y_View} Y_Line = {Y_Line}
		;いつもの
		FOR X_Count, X_View, X_View+38 ;表示画面は横幅12だよ！でもヘクス領帯ル方式なので数値が二倍になるのだ！
			SIF X_Count >= 200
				BREAK ;描画範囲突破してしまった場合はBreakするよ
			SIF Y_Line >= 200
				BREAK ;上に同じく
			SIF Y_VIEW >= 200
				BREAK
			;IF X_Count % 2 == Y_View % 2
				IF D20XX_AstarMap:Y_View:X_Count:0 == 3
					IF Y_VIEW % 2 == 0
						RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + (X_COUNT - X_View)*D20XX_HexSize/2}'>"
						;AstarHex
						RESULT_DATA += @"<img src='AstarHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
						RESULT_DATA += @"</nonbutton>"
					ELSE 
						RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + D20XX_HexHalfSize + ((X_COUNT - X_View)-1)*D20XX_HexSize/2}'>"
						RESULT_DATA += @"<img src='AstarHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
						RESULT_DATA += @"</nonbutton>"
					ENDIF
				ENDIF
			;ENDIF
		NEXT
	ENDIF
	;PRINTFORML D20XX_GenerateHTML_AstarHexSelect %RESULT_DATA%
	RETURN



;;;=========================
;;;攻撃可能範囲表示HTML作成メソッド
;;;RESULT_DATA = 作成したHTMLを入れる所だよー これを戻り値として使うわよ！
;;;X_View = 描画範囲内左隅X座標
;;;Y_View = 描画範囲Y座標（要するにMAP全体で見たときのY座標　データ取得用）
;;;ARG:2 = 描画中Y座標行目（こっちは、表示画面内のY座標　表示するときの描画Y座標移動用）
;;;=========================
@D20XX_GenerateHTML_AttackRange(X_View,Y_View,Y_Line,RESULT_DATA)
	#DIMS DYNAMIC UnitType
	#DIM DYNAMIC WeaponRange
	#DIM DYNAMIC X_Now
	#DIM DYNAMIC Y_Now

	#DIM DYNAMIC X_Count
	#DIM DYNAMIC X_View
	#DIM DYNAMIC Y_View
	#DIM DYNAMIC Y_Line

	#DIMS REF RESULT_DATA
	[IF_DEBUG]
		PRINTFORML 【Debug!】 D20XX_GenerateHTML_AttackRange X_View = {X_View}, Y_View = {Y_View}, Y_Line = {Y_Line}, 
	[ENDIF]
	IF D20XX_SelectUnit != 0
		UnitType = Demolaviya20XX_Unit:D20XX_SelectUnit:1
		WeaponRange = TOINT(D20XX_GET_WEAPONDATA(D20XX_SelectWeapon,"射程"))
		CALL D20XX_UnitSearch(D20XX_SelectUnit)
		IF RESULT:0 == 1
			Y_Now = RESULT:1
			X_Now = RESULT:2
			CALL D20XX_AttackRangeCalc(D20XX_SelectWeapon,WeaponRange,Y_Now,X_Now)
			;いつもの
			FOR X_Count, X_View, X_View+38 ;表示画面は横幅12だよ！でもヘクス領帯ル方式なので数値が二倍になるのだ！
				SIF X_Count >= 200
					BREAK ;描画範囲突破してしまった場合はBreakするよ
				SIF Y_Line >= 200
					BREAK ;上に同じく
				SIF Y_VIEW >= 200
					BREAK
				IF X_Count % 2 == Y_View % 2
					IF D20XX_AttackRangeMap:Y_View:X_Count >= 0
						IF Y_VIEW % 2 == 0
							RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + (X_Count - X_View)*D20XX_HexSize/2}'>"
							RESULT_DATA += @"<img src='AttackHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
							RESULT_DATA += @"</nonbutton>"
						ELSE 
							RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + D20XX_HexHalfSize + ((X_COUNT - X_View)-1)*D20XX_HexSize/2}'>"
							RESULT_DATA += @"<img src='AttackHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
							RESULT_DATA += @"</nonbutton>"
						ENDIF
					ENDIF
				ENDIF
			NEXT
		ENDIF
	ENDIF
	RETURN


;;;========================
;;;敵ターン時攻撃対象ヘクス表示HTML作成メソッド
;;;RESULT_DATA = 作成したHTMLを入れる所だよー これを戻り値として使うわよ！
;;;X_View = 描画範囲内左隅X座標
;;;Y_View = 描画範囲Y座標（要するにMAP全体で見たときのY座標　データ取得用）
;;;Y_Line = 描画中Y座標行目（こっちは、表示画面内のY座標　表示するときの描画Y座標移動用）
;;;=========================
@D20XX_GenerateHTML_EnemyTargetHexSelect(X_View,Y_View,Y_Line,RESULT_DATA)
	#DIMS DYNAMIC UnitType
	#DIM DYNAMIC WeaponRange
	#DIM DYNAMIC X_Now
	#DIM DYNAMIC Y_Now

	#DIM DYNAMIC X_Count
	#DIM DYNAMIC X_View
	#DIM DYNAMIC Y_View
	#DIM DYNAMIC Y_Line

	#DIMS REF RESULT_DATA

	IF D20XX_SelectUnit != 0
		UnitType = Demolaviya20XX_Unit:D20XX_SelectUnit:1
		WeaponRange = TOINT(D20XX_GET_WEAPONDATA(D20XX_SelectWeapon,"射程"))
		CALL D20XX_UnitSearch(D20XX_SelectUnit)
		;いつもの
		FOR X_Count, X_View, X_View+38 ;表示画面は横幅12だよ！でもヘクス領帯ル方式なので数値が二倍になるのだ！
			SIF X_Count >= 200
				BREAK ;描画範囲突破してしまった場合はBreakするよ
			SIF Y_Line >= 200
				BREAK ;上に同じく
			SIF Y_VIEW >= 200
				BREAK
			IF X_Count % 2 == Y_View % 2
				IF D20XX_EnemyTargetSelectMap:Y_View:X_Count >= 0
					IF Y_VIEW % 2 == 0
						RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + (X_Count - X_View)*D20XX_HexSize/2}'>"
						RESULT_DATA += @"<img src='AttackHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
						RESULT_DATA += @"</nonbutton>"
					ELSE 
						RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + D20XX_HexHalfSize + ((X_COUNT - X_View)-1)*D20XX_HexSize/2}'>"
						RESULT_DATA += @"<img src='AttackHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
						RESULT_DATA += @"</nonbutton>"
					ENDIF
				ENDIF
			ENDIF
		NEXT
	ENDIF
	RETURN

;;;=========================
;;;移動可能範囲表示HTML作成メソッド
;;;RESULT_DATA = 作成したHTMLを入れる所だよー これを戻り値として使うわよ！
;;;ARG:0 = 描画範囲内左隅X座標
;;;ARG:1 = 描画範囲Y座標（要するにMAP全体で見たときのY座標　データ取得用）
;;;ARG:2 = 描画中Y座標行目（こっちは、表示画面内のY座標　表示するときの描画Y座標移動用）
;;;=========================
@D20XX_GenerateHTML_EnemyMoveHexSelect(ARG:0,ARG:1,ARG:2,RESULT_DATA)
	#DIMS DYNAMIC UnitType
	#DIM DYNAMIC WeaponRange
	#DIM DYNAMIC X_Now
	#DIM DYNAMIC Y_Now

	#DIM DYNAMIC X_Count
	#DIM DYNAMIC X_View
	#DIM DYNAMIC Y_View
	#DIM DYNAMIC Y_Line

	#DIMS REF RESULT_DATA

	;IF D20XX_SelectUnit != 0
		CALL D20XX_UnitSearch(D20XX_SelectUnit)
		;いつもの
		FOR X_Count, X_View, X_View+38 ;表示画面は横幅12だよ！でもヘクス領帯ル方式なので数値が二倍になるのだ！
			SIF X_Count >= 200
				BREAK ;描画範囲突破してしまった場合はBreakするよ
			SIF Y_Line >= 200
				BREAK ;上に同じく
			SIF Y_VIEW >= 200
				BREAK
			IF X_Count % 2 == Y_View % 2
				IF D20XX_AstarMap:Y_View:X_Count:0 == 3
					IF Y_VIEW % 2 == 0
						RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + (X_Count - X_View)*D20XX_HexSize/2}'>"
						RESULT_DATA += @"<img src='MoveHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
						RESULT_DATA += @"</nonbutton>"
					ELSE 
						RESULT_DATA += @"<nonbutton pos='{D20XX_LeftSpase + D20XX_HexHalfSize + ((X_COUNT - X_View)-1)*D20XX_HexSize/2}'>"
						RESULT_DATA += @"<img src='MoveHex' height='{D20XX_HexSize}' ypos='{Y_LINE*75 +50}'>"
						RESULT_DATA += @"</nonbutton>"
					ENDIF
				ENDIF
			ENDIF
		NEXT
	;ENDIF
	RETURN
;
@D20XX_NO_NOBR(ARGS)
	#DIM LCOUNT
	#DIMS ResultHtml
	#DIM TagCount
	#DIMS DYNAMIC MEMO_RESULTS,100
	#DIM MEMO_REDRAW

	MEMO_REDRAW = CURRENTREDRAW()

	REDRAW 0
	ResultHtml = 
	;HTML_PRINT CONVERTSTR(ARGS)
	;HTML_PRINT ARGS
	;LOCALS = %HTML_GETPRINTEDSTR(0)%
	;CLEARLINE 1
	HTML_TAGSPLIT ARGS
	TagCount = RESULT
	
	FOR LCOUNT, 0, TagCount
		MEMO_RESULTS:LCOUNT = %RESULTS:LCOUNT%
	NEXT
	FOR LCOUNT, 0, TagCount
		IF SUBSTRING(MEMO_RESULTS:LCOUNT, 0, 5) == "<nobr"
		ELSEIF SUBSTRING(MEMO_RESULTS:LCOUNT, 0, 6) == "</nobr"
		ELSEIF SUBSTRING(RESULTS:LCOUNT, 0, 2) == "<p"
		ELSEIF SUBSTRING(RESULTS:LCOUNT, 0, 3) == "</p"
		ELSEIF SUBSTRING(MEMO_RESULTS:LCOUNT, 0, 7) == "<button"
		ELSEIF SUBSTRING(MEMO_RESULTS:LCOUNT, 0, 8) == "</button"
		ELSEIF SUBSTRING(MEMO_RESULTS:LCOUNT, 0, 10) == "<nonbutton"
		ELSEIF SUBSTRING(MEMO_RESULTS:LCOUNT, 0, 11) == "</nonbutton"
		ELSE
			ResultHtml += @"%MEMO_RESULTS:LCOUNT%"
		ENDIF
	NEXT
	RESULTS = %ResultHtml%
	REDRAW MEMO_REDRAW
;
