;-------------------------------------------------
;ここに記述する事で各指令の選択肢を増やすことができる
;X1は角色番号に置換してください
;-------------------------------------------------
;お願い・取引での選択肢を追加。番号は80～89を使ってよい
;ここで TFLAG:取引可能 = 1 とすると、Ｈの最中でもここの選択肢が出ます
@WISH_K15_ADDSELECT
SIF CEVENT("槞彁：Demsolaviya20XX呼び出し可", MASTER)
	STR:選択肢 = %STR:選択肢% [81] %TEXT_LJ(@"%NAME:TARGET%の母国へ行く", 16)% … ：Демославия20XXを開始します/
[IF_DEBUG]
;	STR:選択肢 = %STR:選択肢% [82] %TEXT_LJ(@"DEBUG用", 16)% /
[ENDIF]
	;IF TALENT:恋慕
;	STR:選択肢 = %STR:選択肢% [82] %TEXT_LJ("資金援助を行う", 16)% … %NAME:TARGET%にお金を渡します/
;	STR:選択肢 = %STR:選択肢% [83] %TEXT_LJ("魂を提供する", 16)% … %NAME:TARGET%に魂を１渡します/
;ENDIF

;STR:選択肢 = %STR:選択肢% [84] %TEXT_LJ("カツアゲする", 16)% … %NAME:TARGET%からカツアゲしてお金を貰います/

;お願い・取引で増やした選択肢の地の文と台詞
@KOJO_WISH_K15_ADDSELECT, ARGS
SELECTCASE ARGS
CASE "機械翻訳ＯＮ"
	CALL DEL_CEVENT, "槞彁：機械翻訳OFF", MASTER
	CALL PRINT_STRW, "機械翻訳变成_黄色_ＯＮ_了。"
CASE "機械翻訳ＯＦＦ"
	CALL SET_CEVENT, "槞彁：機械翻訳OFF", MASTER
	CALL PRINT_STRW, "機械翻訳变成_青_ＯＦＦ_了。"
;CASE @"%NAME:TARGET%の母国へ行く"
;	IF CEVENT("迷你游戏：初回イベ済")
;		CALL CALL_LIB("迷你游戏開始：通常")
;	ELSE
;		CALL CALL_LIB("迷你游戏開始：初")
;		CALL SET_CEVENT("迷你游戏：初回イベ済")
;	ENDIF
;	CALL D20XX_Start

;CASE "DEBUG用"
;	CALL CALL_LIBFW("魔界語講座：な")
ENDSELECT

;-------------------------------------------------
;Talk指令の選択肢を追加
@DAILY1_K15_ADDSELECT
SIF CEVENT("槞彁：Demsolaviya20XX呼び出し可", MASTER)
	STR:選択肢 += "電話/"
;STR:選択肢 += "追加選択肢その１/"
;STR:選択肢 += "追加選択肢之２/"

;Talk指令で増やした選択肢の地の文と台詞
@KOJO_DAILY1_K15_ADDSELECT, ARGS
SELECTCASE ARGS
CASE "電話"

	CALL D20XX_Generate_UniqueFcsv, "イェニェル"
	CALL D20XX_FACE_FcsvToSprite(RESULTS)
	CALL D20XX_FACE_Packaging(RESULTS)
	RESULTS = %CONVERTSTR(RESULTS)%
	CALL D20XX_NO_NOBR(RESULTS)
	CALL D20XX_OS_SpriteYposReverse(RESULTS)
	CALL D20XX_OS_WindowInput_Constructor

	RESULTS:1 = %RESULTS:0%

	;#region
		D20XX_OS_WindowInput:0 += @"<nonbutton pos='1100'>- <font color = 'Yellow'>イェニェル</font> -</nonbutton>"
		D20XX_OS_WindowInput:1 += @"<nonbutton pos='1100'>%PRINT_NamariF("おう、你かどうした？")%</nonbutton>"
		D20XX_OS_WindowInput:2 += @"<nonbutton pos='1100'></nonbutton>"
		D20XX_OS_WindowInput:3 += @"<nonbutton pos='1100'></nonbutton>"
		D20XX_OS_WindowInput:4 += @"<nonbutton pos='1100'></nonbutton>"
		D20XX_OS_WindowInput:5 += @"<nonbutton pos='1100'></nonbutton>"
		D20XX_OS_WindowInput:6 += @"<button pos='1100' value = '100'><font color = 'Yellow'>[魔界に行きたい]</font></button>"
		D20XX_OS_WindowInput:7 += @"<nonbutton pos='1100'></nonbutton>"
		D20XX_OS_WindowInput:8 += @"%RESULTS:1%<button pos='1100' value = '200'><font color = 'Yellow'>[何でもない]</font></button>"
	;#endregion


	CALL D20XX_OS_Window(500,12,4000,10)
	$PhoneLoop
		INPUT
		SELECTCASE RESULT
			CASE 100
				CALL D20XX_Generate_UniqueFcsv, "イェニェル"
				CALL D20XX_FACE_FcsvToSprite(RESULTS)
				CALL D20XX_FACE_Packaging(RESULTS)
				RESULTS = %CONVERTSTR(RESULTS)%
				CALL D20XX_NO_NOBR(RESULTS)
				CALL D20XX_OS_SpriteYposReverse(RESULTS)
				CALL D20XX_OS_WindowInput_Constructor
					RESULTS:1 = %RESULTS:0%
				;#region
					D20XX_OS_WindowInput:0 += @"<nonbutton pos='1100'>- <font color = 'Yellow'>イェニェル</font> -</nonbutton>"
					D20XX_OS_WindowInput:1 += @"<nonbutton pos='1100'>%PRINT_NamariF("分かった、今転送する")%</nonbutton>"
					D20XX_OS_WindowInput:2 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:3 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:4 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:5 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:6 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:7 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:8 += @"%RESULTS:1%<nonbutton pos='1100'></nonbutton>"
				;#endregion
				CALL D20XX_OS_Window(500,12,4000,10)
				WAIT
				CALL D20XX_Start
				RETURN
			CASE 200
				CALL D20XX_Generate_UniqueFcsv, "イェニェル"
				CALL D20XX_FACE_FcsvToSprite(RESULTS,"憤怒/本")
				CALL D20XX_FACE_Packaging(RESULTS)
				RESULTS = %CONVERTSTR(RESULTS)%
				CALL D20XX_NO_NOBR(RESULTS)
				CALL D20XX_OS_SpriteYposReverse(RESULTS)
				CALL D20XX_OS_WindowInput_Constructor
					RESULTS:1 = %RESULTS:0%
				;#region
					D20XX_OS_WindowInput:0 += @"<nonbutton pos='1100'>- <font color = 'Yellow'>イェニェル</font> -</nonbutton>"
					D20XX_OS_WindowInput:1 += @"<nonbutton pos='1100'>%PRINT_NamariF("用もないのに電話してくるな ボケ")%</nonbutton>"
					D20XX_OS_WindowInput:2 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:3 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:4 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:5 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:6 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:7 += @"<nonbutton pos='1100'></nonbutton>"
					D20XX_OS_WindowInput:8 += @"%RESULTS:1%<nonbutton pos='1000'></nonbutton>"
				;#endregion
				CALL D20XX_OS_Window(500,12,4000,10)
				WAIT
				RETURN
		ENDSELECT
		CLEARLINE 1
		GOTO PhoneLoop

CASE "表示テスト"
	CALL CALL_LIBFW("刺身")
CASE "追加選択肢之２"
	PRINTFORMW %CALLNAME:MASTER%は%ARGS%をした。
	PRINTL 
	PRINTFORMW 「台詞」
	PRINTL 
	PRINTFORMW %ARGS%を受けての%CALLNAME:TARGET%の反応
;直接Ｈしたい場合
CASE "追加選択肢からＨ：Talk"
	;前編
	IF CEVENTS("追加選択肢からＨ") == ""
		PRINTFORMW テ接吻ト
		PRINTL [0]選択肢１(これを選ぶとＨします)
		PRINTL [1]選択肢２(これを選ぶとＨしません)
		CALL SET_CEVENT, @"追加選択肢からＨ：%ARGS%"
		FLAG:SELECT_USERSHOP = 100
	ELSE
		IF TFLAG:床イン
			PRINTFORMW Ｈする場合の展開です
		ELSE
			PRINTFORMW こっちはＨしない場合の展開です
		ENDIF
	ENDIF
ENDSELECT

;-------------------------------------------------
;互动指令の選択肢を追加
@DAILY2_K15_ADDSELECT
;STR:選択肢 += "追加選択肢その１/"
;STR:選択肢 += "追加選択肢之２/"

;睡眠時の互动指令の選択肢を追加
@DAILY2_SLEEP_K15_ADDSELECT
;STR:選択肢 += "睡眠時追加選択肢その１/"
;STR:選択肢 += "睡眠時追加選択肢之２/"

;互动指令で増やした選択肢の地の文と台詞
@KOJO_DAILY2_K15_ADDSELECT, ARGS
SELECTCASE ARGS
CASE "追加選択肢その１"
	PRINTFORMW %CALLNAME:MASTER%は%ARGS%をした。
	PRINTL 
	PRINTFORMW 「台詞」
	PRINTL 
	PRINTFORMW %ARGS%を受けての%CALLNAME:TARGET%の反応
CASE "追加選択肢之２"
	PRINTFORMW %CALLNAME:MASTER%は%ARGS%をした。
	PRINTL 
	PRINTFORMW 「台詞」
	PRINTL 
	PRINTFORMW %ARGS%を受けての%CALLNAME:TARGET%の反応

;直接Ｈしたい場合
CASE "追加選択肢からＨ：もて无"
	;前編
	IF CEVENTS("追加選択肢からＨ") == ""
		PRINTFORMW テ接吻ト
		PRINTL [0]選択肢１(これを選ぶとＨします)
		PRINTL [1]選択肢２(これを選ぶとＨしません)
		CALL SET_CEVENT, @"追加選択肢からＨ：%ARGS%"
		FLAG:SELECT_USERSHOP = 100
	ELSE
		IF TFLAG:床イン
			PRINTFORMW Ｈする場合の展開です
		ELSE
			PRINTFORMW こっちはＨしない場合の展開です
		ENDIF
	ENDIF


CASE "睡眠時追加選択肢その１"
	PRINTFORMW %CALLNAME:MASTER%は%ARGS%をした。
	PRINTL 
	PRINTFORMW 「台詞」
	PRINTL 
	PRINTFORMW %ARGS%を受けての%CALLNAME:TARGET%の反応
CASE "睡眠時追加選択肢之２"
	PRINTFORMW %CALLNAME:MASTER%は%ARGS%をした。
	PRINTL 
	PRINTFORMW 「台詞」
	PRINTL 
	PRINTFORMW %ARGS%を受けての%CALLNAME:TARGET%の反応
ENDSELECT

;-------------------------------------------------
;约会行き先の選択肢を追加。
@DATE_K15_ADDSELECT
;ここで増やした選択肢を選ぶと、それがSAVESTR:约会 に代入される仕組みです
;STR:選択肢 += "追加選択肢その１/"
;STR:選択肢 += "追加選択肢之２/"

;増やした行先での地の文と台詞。起きうるイベントのフラグもここで決める
@KOJO_DATE_K15_ADDSELECT
SELECTCASE SAVESTR:约会
CASE "追加選択肢その１"
	PRINTFORMW 「台詞」
	;地の文
	PRINTFORMW %SAVESTR:约会%での%CALLNAME:TARGET%の反応
	;地の文を用意していない場合には汎用のものを使う
	;CALL DAILY_MESSAGE, "约会本番"
	PRINTL 
	;情緒BOUNSが高い場所でFLAG:情緒+60、普通ならFLAG:情緒+30、约会っぽくない場所だと修正无
	FLAG:情緒 += 30
	;それぞれ可能なもののコメントアウトを取下
	;TFLAG:约会中H可能 = 1
	;TFLAG:约会中牵手可能 = 1
	;TFLAG:偷瞄内衣可能 = 1
	;TFLAG:泳装约会 = 1
CASE "追加選択肢之２"
	PRINTFORMW 「台詞」
	;地の文
	PRINTFORMW %SAVESTR:约会%での%CALLNAME:TARGET%の反応
	;地の文を用意していない場合には汎用のものを使う
	;CALL DAILY_MESSAGE, "约会本番"
	PRINTL 
	;情緒BOUNSが高い場所でFLAG:情緒+60、普通ならFLAG:情緒+30、约会っぽくない場所だと修正无
	FLAG:情緒 += 30
	;それぞれ可能なもののコメントアウトを取下
	;TFLAG:约会中H可能 = 1
	;TFLAG:约会中牵手可能 = 1
	;TFLAG:偷瞄内衣可能 = 1
	;TFLAG:泳装约会 = 1
ENDSELECT

;-------------------------------------------------
;場所を変える指令の選択肢を追加
@MOVE_K15_ADDSELECT
;STR:選択肢 += "追加選択肢その１/"
;STR:選択肢 += "追加選択肢之２/"
