@K15_Tachietica_tutorial
	#DIM DYNAMIC LCount
	#DIM DYNAMIC CrntLine

	#DIM DYNAMIC X_RoomPos
	#DIM DYNAMIC Y_RoomPos
	#DIM DYNAMIC Img_SizePer

	#DIM DYNAMIC CHOICE

	;100行読めば行けるやろ
	#DIMS DYNAMIC LogTexts,101
	#DIMS DYNAMIC LogNormalUI,101
	#DIM DYNAMIC LastDoubleLine

	FOR Lcount,0,101
		LogTexts:Lcount = %HTML_GETPRINTEDSTR(100-Lcount)%
		CALL D20XX_NO_NOBR2(LogTexts:Lcount)
		LogTexts:Lcount = %RESULTS%
	NEXT

	;念のためのセーフティー機能
	SIF NAME:TARGET != "槞彁"
		RETURN 1
	
	$CBG_LOOP
	IF CFLAG:UUI != 1

		CLEARLINE 100
		FOR Lcount,0,101
			HTML_PRINT @"<nobr>%LogTexts:Lcount%</nobr>"
		NEXT

		;CLEARLINE 3
		FOR Lcount,0,10
			IF STR:Lcount != ""
				HTML_PRINT @"%STR:Lcount%"
			ENDIF
		NEXT 
		VARSET STR, "", 0 , 20
		PRINTFORML 
		CALL K15_Tachietica_ImgStamp(5500,3,"UI切替2",500,DAILY_SC+0)
		RETURN 0
	ENDIF

	;おまじない
	;(EVENT_K_DAILY.ERB ;特に台詞が無いなら表示した名前を消しておく)
	;対策の為に一行以上口上側で表示した事をシステム側に理解させる為に必要
	DRAWLINE 

	VARSET LogTexts

	;=============================================
	FOR Lcount,0,101
		LogTexts:Lcount = %HTML_GETPRINTEDSTR(100-Lcount)%
		CALL D20XX_NO_NOBR2(LogTexts:Lcount)
		LogTexts:Lcount = %RESULTS%
	NEXT
	FOR Lcount,0,101
		IF Lcount > 1
			IF LogTexts:(Lcount) == "-------------------------------------------------------------------------------------------------------------------------"&& LogTexts:(Lcount-1) == "-------------------------------------------------------------------------------------------------------------------------"
				LastDoubleLine = 100 - Lcount 
				BREAK
			ENDIF
		ENDIF
	NEXT
	;=============================================
	;PRINTFORMW Debug300 LastDoubleLine = {LastDoubleLine}
	;HTML_PRINT @"%LogTexts:Lcount%"
	;HTML_PRINT @"%LogTexts:(Lcount-1)%"
	;HTML_PRINT @"%LogTexts:(Lcount-2)%"
	;PRINTFORMW Debug301
	CLEARLINE LastDoubleLine

	

	CALL OVERLAY_GCREATE, 600, "BG自室+0x70000000", MIN(1100,CLIENTWIDTH()), 850
	CBGSETG 600, 0, 0, 5

	FOR Lcount, 0, 44
		[IF_DEBUG]
			PRINTFORML 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 Debug {Lcount}
		[ENDIF]
		[IF_NDEBUG]
			PRINTL
		[ENDIF]
		
	NEXT 
	
	
	;CALL K15_STR("「Kanny missor suckiy nang deshch kar_UH_？」")
	;CALL K15_VOCAB(RESULTS)
	;CALL D20XX_NO_NOBR2(RESULTS)
	;CALL K15_HTML_PRINT_STR(RESULTS)
	;D20XX_OS_WindowInput:0 += @"%RESULTS%"
	;PRINTFORML 
	CALL D20XX_OS_WindowInput_Constructor
	;FOR Lcount,0,10
	;	D20XX_OS_WindowInput:Lcount = %STR:Lcount%
	;NEXT
	;CALL D20XX_OS_WindowSTRFORM(600,38,4700,5,,,@"%K15_UUI_WindowColor%")


	PRINTL 
	CALL K15_Tachietica_ImgStamp(50,38,"他の角色へ",500,DAILY_SC+5)
	PRINTL 
	CALL K15_Tachietica_ImgStamp(5500,1,"UI切替",500,DAILY_SC+0)
	PRINTL 
	CALL K15_Tachietica_ImgStamp(5500,6,"データアイコン",500,DAILY_SC+7)
	
	CALL K15_Tachietica_Overhaul_HeadWindowUI

	;D20XX_OS_WindowInput:0 = 操作方法が書かれた画像を挿入
	D20XX_OS_WindowInput:27= <nonbutton pos='300'><img src='操作説明' height='2900' ypos='-2800'></nonbutton>
	D20XX_OS_WindowInput:28= <button value='1' pos='2000'><font color='#32CD32' bcolor='Yellow'><b>[わかった]</b></font></button>
	PRINTL 
	CALL D20XX_OS_WindowSTRFORM(800,10,4400,30,,,@"%K15_UUI_WindowColor%")

	INPUT

