;------------------------------------
;若欲拾花
;------------------------------------
@K44_Languag_of_Flowers
IF COND("夜")
	CALL BACKGROUND_GSC, "0裏路地夜+0x01000000"
ELSE
	CALL BACKGROUND_GSC, "0裏路地傍晚+0x01000000"
ENDIF
PRINTFORML 
PRINTFORMW 有一天、%CALLNAME:MASTER%把%CALLNAME:TARGET%叫出来了。
PRINTFORMW 虽然平时就天天这样叫她出来就是了。
PRINTFORMW 约好的地点、是与%CALLNAME:TARGET%第一次相遇时的小路。
PRINTFORMW 虽然相遇的时间与现在不同、但是确实是两人相遇的地方。
PRINTFORMW 那之后、被%CALLNAME:TARGET%杀了多少次呢。
PRINTFORMW 最少也有10次以上了。
PRINTFORMW 在心中自嘲自己竟然已经习惯了这种事情。
PRINTFORML 
PRINTFORMW 「久等了？」
PRINTFORMW 稍微等了一会、来迟的%CALLNAME:TARGET%走过来问道。
PRINTFORMW 手中握着与那时相同的匕首。
IF EXP:约会経験
	PRINTFORMW 「诶嘿嘿……就像是在约会、一样呢」
	PRINTFORM 她困扰地笑着，然后突然
ELSE
	PRINTFORM 对面的她突然、
ENDIF
PRINTFORMW 低下頭不说话了。
PRINTFORMW 「………%CNAME("二人称")%桑」
PRINTFORMW 断断续续地吐出声音。
PRINTFORMW 「我……变得很奇怪」
PRINTFORMW 她的声音在颤抖，小得好像马上就要消失了。
PRINTFORML 
PRINTFORMW %CALLNAME:TARGET%低着頭看不到她的表情。
PRINTFORMW 「我杀了人」
PRINTFORMW 「男的、女的、小孩、老人」
PRINTFORMW 「什么都没想就……杀死了他们」
PRINTFORMW 「一直、一直不停地杀」
PRINTFORML 
PRINTFORMW %CALLNAME:TARGET%握紧的手流下了猩红的血液。
PRINTFORMW 「自从和%CNAME("二人称")%桑相遇后、太阳就升起了」
PRINTFORMW 「自从被%CNAME("二人称")%桑发现后、月亮就沉落了」
PRINTFORMW 「我、学到了需多」
PRINTFORMW 「『高兴』，『快乐』，『美好』，『理所当然的事』这些全部」
PRINTFORMW 「我还知道了很多、『美丽的东西』」
PRINTFORML 
PRINTFORMW 「人被杀就会死」
PRINTFORMW 「人如果被杀就会死去」
PRINTFORML 
PRINTFORMW 「我、想起来了」
PRINTFORMW 「曾经杀死了和学校里的大家穿一样制服的人」
PRINTFORMW 「我把人杀死了」
PRINTFORMW 「但是这对我来说是『理所当然的事』的」
PRINTFORMW 「但是现在你又教给了我另一种的『理所当然的事』」
PRINTFORML 
PRINTFORMW 「我…」
PRINTFORMW 一直低着的頭抬了起来。
PRINTFORMW 「诶嘿、诶嘿嘿……我身上沾满了血呢」
PRINTFORMW 那总是笑容满面的脸庞，露出了勉强的笑容。
PRINTFORMW 泪珠从眼角滑落下来。
PRINTFORMW 像是要藏起来似的擦掉脸上的泪花。
PRINTFORML 
PRINTFORMW 「我杀过人了」
PRINTFORMW 「对从这里路过的人，什么也没考虑地。刺杀了、斬杀了、殴打了」
PRINTFORMW 「无数次，无论是谁，无论何时」
PRINTFORMW 「我不记得杀过多少人。他们的脸也不记得了。杀人时的感觉也不记得了」
PRINTFORMW 「我……什么都不记得了」
PRINTFORMW 「和%CNAME("二人称")%桑相遇后，我重新认识了人」
PRINTFORMW 「不只一人。有了脸，说过话，接触过了，那双手是温暖的」
PRINTFORMW 「他们喜欢什么，考虑什么，思考什么，怎样生活」
PRINTFORMW 「我遇到了各种各样的人。我知道了谁是谁」
PRINTFORMW 「我……那个……觉得，好羡慕啊」
PRINTFORMW 「曾经非常漂亮、闪闪发光的我……」
PRINTFORMW 「在注意到的时候已经被弄脏了」
PRINTFORMW 「我想起来了。杀人的时候」
PRINTFORMW 「捅刀时那柔软而坚硬的触感」
PRINTFORMW 「被温热的血淋得湿哒哒的让人恶心的感觉」
PRINTFORMW 「还不理解发生了什么事、却带着分明的怨恨的眼神」
PRINTFORMW 「让呼吸都变得困难的火辣辣的气味」
PRINTFORMW 「并不认为那有什么不对的我的感情」
PRINTFORMW 「为什么呢」
PRINTFORMW 「与%CNAME("二人称")%桑牵着的手明明很冷」
PRINTFORMW 「但是、却没办法真正獲得温暖」
PRINTFORMW 「我的手……，我……很肮脏」
PRINTFORML 
PRINTFORMW 「―――而且」
PRINTFORML 
PRINTFORMW 「―――大灰狼是不可能变成小红帽的」
PRINTFORML 
PRINTFORMW 虚幻的笑容。马上就要消失了似的。
PRINTFORMW 憧憬、自责、后悔、所有的一切都在煎熬着小小的少女。
PRINTFORMW 明明想变成那样，却不能变成那样。责备自己那样做是不对的。
PRINTFORMW 少女几乎要杀了自己。
PRINTFORML 
PRINTFORMW 「%CNAME("二人称")%桑……我是……肮脏的、大灰狼」
PRINTFORMW 「即便如此……即便如此、我也……」
PRINTFORMW 「一直、在思考……一直一直在思考」
PRINTFORMW 「想到肚子都饿了，想了又想，想了又想，然后……」
PRINTFORML 
PRINTFORMW 「我不可以待在你的身旁！」
PRINTFORMW 是悲鳴。
PRINTFORMW 「杀了你那么多次，事到如今怎么可能还有资格像普通的女孩子一样，对你说『喜欢你』！！」
PRINTFORMW 从野兽口中迸发出的是少女的悲鸣。
PRINTFORMW 「%CNAME("一人称")%喜欢你，我喜欢你啊」
PRINTFORMW 「喜欢……但是……我……」
PRINTFORML 
PRINTFORMW 「告诉我……我……」
PRINTFORMW %CALLNAME:TARGET%抬起頭、露出了狰狞的表情
PRINTFORMW 「我该，怎么做才好……、我可以喜欢你吗……？」
PRINTFORMW 她、给出了问题。
PRINTFORMW 你的回答…？
PRINTFORMW 曾几何时所读过的书。
PRINTFORMW 曾经所知晓的花语在脑海中闪过。
PRINTFORMW %CALLNAME:MASTER%脑海中浮现出的她的花语，是―――
PRINTFORML 
IF CEVENT("若欲拾花")
	IF CFLAG:花の意味 == 0
		CALL K44_Languag_of_Flowers_00
	ELSEIF CFLAG:花の意味 == 1
		CALL K44_Languag_of_Flowers_01
	ELSEIF CFLAG:花の意味 == 2
		CALL K44_Languag_of_Flowers_02
	ENDIF
ELSE
	CALL PRINT_SELECT, "　不负相思意/　鸾凤和鸣/　长相厮守"
	IF RESULT == 0
		CALL K44_Languag_of_Flowers_00
	ELSEIF RESULT == 1
		CALL K44_Languag_of_Flowers_01
	ELSEIF RESULT == 2
		CALL K44_Languag_of_Flowers_02
	ENDIF
ENDIF
IF CEVENT("若欲拾花") == 0
	TALENT:聰慧 = 1
	IF CFLAG:花の意味 == 0
		CSTR:眼形 = 垂眼３
		CSTR:眉形 = 斜眉
		CSTR:嘴形 = ワ
		CALL SET_DEVENT, "狂い咲く花"
	ELSEIF CFLAG:花の意味 == 1
		CSTR:眼形 = 垂眼３
		CSTR:眉形 = 斜眉
		CSTR:嘴形 = 微笑３
		CALL SET_DEVENT, "小さく咲く花"
	ELSEIF CFLAG:花の意味 == 2
		CSTR:眼形 = 垂眼３
		CSTR:眉形 = 斜眉
		CSTR:嘴形 = ヮ
		CALL SET_DEVENT, "夢惜しむ花"
	ENDIF
	CALL DEL_CEVENT, "合意禁止：便当"
	CALL SET_CEVENT, "若欲拾花"
ENDIF
RETURN 1

@K44_Languag_of_Flowers_00
PRINTFORML 欢迎。
PRINTFORMW %CALLNAME:MASTER%对着%CALLNAME:TARGET%说。
PRINTFORMW 以为%CALLNAME:TARGET%会对这个简单的答案感到高兴。
PRINTFORMW 所以、这样就好。这样就好。
PRINTFORML 
PRINTFORMW 「…呼呼！呼呼呼哈哈哈！」
PRINTFORMW 「啊哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈！」
PRINTFORMW 「是这様啊！我只要做我就可以了呢！」
PRINTFORMW 「根本没有迷惘的必要啊！」
PRINTFORMW 「简单、简单的话语啊！」
PRINTFORMW 「呼呼！啊哈！啊哈哈哈哈哈哈哈哈哈哈！」
PRINTFORMW %CALLNAME:TARGET%不断地发出狂气的笑声。
PRINTFORMW 大声的、狂气的、讥讽的绽放着。
PRINTFORML 
PRINTFORMW 「啊哈哈、咕呵呵、呼呼呼、哈啊……哈啊……」
PRINTFORMW 「……那么，请像往常一样让我杀了你」
PRINTFORMW 这样说着%CALLNAME:TARGET%在那一瞬间挥出了手中的匕首。
PRINTFORML 
PRINTFORMW %CALLNAME:TARGET%从今以后、将永远的杀着%CALLNAME:MASTER%、永远的、持续下去。
PRINTFORMW 因为、那是不用装饰就能拥有致命的美的花朵。
PRINTFORMW 这、就是%CALLNAME:MASTER%选择的她。
PRINTFORMW 
PRINTFORMW ＥＮＤ　「花语抉择：歓迎」
IF CEVENT("若欲拾花") == 0
	CSTR:称号 = 沉醉于杀戮中的殺人姫
	CFLAG:花の意味 = 0
ENDIF
RETURN 1

@K44_Languag_of_Flowers_01
PRINTFORML 陶醉在恋爱之中。
PRINTFORMW %CALLNAME:MASTER%对着%CALLNAME:TARGET%说。
PRINTFORMW %CALLNAME:TARGET%希望她能变成一名普通的女孩子。
PRINTFORMW 所以、不希望她再杀人了。
PRINTFORML 
PRINTFORMW 「这…样吗、…呼呼」
PRINTFORMW 「我……一直觉得杀人是很正常的事情」
PRINTFORMW 「但是、……我和你相遇了」
PRINTFORMW 「已经学到了需多何为普通的事情了」
PRINTFORMW 「只要是你说的、我就会照做」
PRINTFORMW 「我不会再杀人了」
PRINTFORMW %CALLNAME:TARGET%把手中的匕首扔到一旁。
PRINTFORMW 似乎已经抛弃了杀人这一想法。
PRINTFORML 
PRINTFORMW 「……我喜欢你」
PRINTFORMW 「请原谅这样子的我喜欢上了你」
PRINTFORMW 竭尽全力地踮起脚，与%CALLNAME:MASTER%相拥，亲吻。
PRINTFORMW %CALLNAME:MASTER%接受了这些。
PRINTFORMW 虽然接吻仅限于温柔的抚摸，但这样就可以了。
PRINTFORML 
PRINTFORMW 从现在開始、%CALLNAME:TARGET%将作为普通的女孩子陪伴在%CALLNAME:MASTER%的身旁。
PRINTFORMW 只不过、如同路边的野花一般。
PRINTFORMW 这、就是%CALLNAME:MASTER%选择的她。
PRINTFORMW 
PRINTFORMW ＥＮＤ　「花语抉择：陶醉在恋爱之中」
PRINTFORMW 【%CALLNAME:TARGET%变得像个害羞的普通少女的样子】
IF CEVENT("若欲拾花") == 0
	CSTR:喜欢的东西 = 安稳的每一天/……找到了自己的那个人
	CSTR:讨厌的东西 = 曾经的自己
	CSTR:称号 = 無垢的少女
	TALENT:不知羞恥 = 0
	TALENT:害羞 = 1
	CFLAG:花の意味 = 1
ENDIF
RETURN 1

@K44_Languag_of_Flowers_02
PRINTFORML 绝不分离。
PRINTFORMW %CALLNAME:MASTER%对着%CALLNAME:TARGET%说。
PRINTFORMW %CALLNAME:TARGET%是%CALLNAME:MASTER%的东西、所以%CALLNAME:MASTER%会允许%CALLNAME:TARGET%做的任何事情。
PRINTFORML 
PRINTFORMW 这样说着%CALLNAME:MASTER%强硬的抱住%CALLNAME:TARGET%夺走了她的唇。
PRINTFORMW 就算被匕首刺入内脏也无视的继续着亲吻。
PRINTFORMW 疼痛什么的、早已在无数次被%CALLNAME:TARGET%杀害的过程中习惯了。
PRINTFORMW 如同时间停滞了一般、两人不断地亲吻着。
PRINTFORML 
CALL PRINT_STRW,@"「噗哈！哈啊……_HH_哈啊……_HH_嗯……_HH_」"
PRINTFORMW 所以、视线不要离開我
PRINTFORMW 「我可以就这样普通地喜欢你吗…？」
PRINTFORMW 「这样的千纱，能够被原谅吗……？」
PRINTFORMW 别人是怎么想的并不知道、但%CALLNAME:TARGET%已经是%CALLNAME:MASTER%的女人了。
PRINTFORMW 所以、想杀人的时候就和我说。
PRINTFORMW 喜欢的时候、杀。
PRINTFORMW 不管多少次、杀。
PRINTFORMW 视线不要从我身上离開。%CALLNAME:TARGET%的眼中只能有我。
PRINTFORML 
PRINTFORMW 「啊……真的要哭出来了，太过分了」
PRINTFORMW 「已经、除了你以外什么也看不到了……」
PRINTFORMW 「我……、只会去杀%CALLNAME:MASTER%。不会杀你以外的人」
PRINTFORMW 「所以」
HTML_PRINT @"「<button value='100' title='愛します'>殺します</button>、你を」"
PRINTFORMW 说完之后、%CALLNAME:TARGET%拔出了插在%CALLNAME:MASTER%腹部的匕首、如同誓约一样的朝胸口刺下。
PRINTFORML 
PRINTFORMW 以后、%CALLNAME:TARGET%也会一直杀%CALLNAME:MASTER%的吧。但是、同时永远的爱着%CALLNAME:MASTER%吧。
PRINTFORMW 接受无知的杀人姬的所有、然后独占她所有的爱。
PRINTFORMW 这、就是%CALLNAME:MASTER%选择的她。
PRINTFORMW 
PRINTFORMW ＥＮＤ　「花语抉择：绝不分离」
PRINTFORMW 【%CALLNAME:TARGET%将不会再杀除你之外的人】
IF CEVENT("若欲拾花") == 0
	CSTR:喜欢的东西 = 你
	CSTR:讨厌的东西 = 孤独
	CSTR:称号 = 只属于你的殺人姫
	TALENT:贞操重视 = 1
	TALENT:不知羞恥 = 0
	CFLAG:花の意味 = 2
ENDIF
CALL EFFECT_ALLRESET
RETURN 1

;------------------------------------
;花语抉择
;------------------------------------
@K44_Languag_of_Choose
PRINTFORML 
$INPUT_LOOP_LoC0
PRINTFORMW 自从%CALLNAME:TARGET%杀了%CALLNAME:MASTER%以外的人的那天以来。
PRINTFORMW 感觉她的表情里似乎增加了一种忧郁的表情。
PRINTFORMW 那是既羡慕又悲伤的表情。
PRINTFORMW 到底怎么了？
PRINTFORML [0] 问问看
PRINTFORML [1] 不去问
INPUT
IF RESULT == 0
	$INPUT_LOOP_LoC1
	PRINTFORMW 结果、%CALLNAME:MASTER%还是正面询问了表情忧郁的%CALLNAME:TARGET%。
	PRINTFORMW 「………啊、%CNAME("二人称")%桑。怎么了？」
	PRINTFORMW 最近好像没什么精神，不要紧吗？
	PRINTFORMW 听到%CALLNAME:MASTER%这么问、%CALLNAME:TARGET%回答说、
	PRINTFORMW 「？、没事。%CNAME("一人称")%很好哦？也没有发烧」
	PRINTFORMW 若无其事地歪着小脑袋。
	PRINTFORMW 有什么烦恼的事情吗？
	PRINTFORMW 面对反复询问有没有身体状况外的问题的%CALLNAME:MASTER%、
	PRINTFORMW 「不、没有哦」
	PRINTFORMW %CALLNAME:TARGET%这样斩钉截铁地回答。
	PRINTFORML [0] 太刻意了
	PRINTFORML [1] 也是会有陷入沉思中的时候呢
	INPUT
	IF RESULT == 0
		PRINTFORML 
		$INPUT_LOOP_LoC2
		PRINTFORMW %CALLNAME:TARGET%直言不讳的时候，很多时候都是在掩饰什么。
		PRINTFORMW 说不定、是在说谎。
		PRINTFORMW 要追问一下吗？
		PRINTFORML [0] 要
		PRINTFORML [1] 算了吧
		INPUT
		IF RESULT == 0
			PRINTFORML 
			$INPUT_LOOP_LoC3
			PRINTFORMW 在和%CALLNAME:TARGET%的问答中，判断出她是在因为什么而闷闷不乐，郁积烦恼。
			PRINTFORMW 不让她倾述出来的话她会很痛苦，恐怕自己以后也会为此而后悔。
			PRINTFORMW 这样考虑的%CALLNAME:MASTER%，尽量用最温和的语气问%CALLNAME:TARGET%。
			PRINTFORMW 真的什么事都没有吗？
			PRINTFORMW 「是的、没有。还有什么事？」
			PRINTFORMW 或许是有点生气了吧，说的话開始带刺了。
			PRINTFORML [0] 先安抚一下吧
			PRINTFORML [1] 继续追问
			INPUT
			IF RESULT == 0
				PRINTFORML 
				PRINTFORMW 为了让她焦躁的心情平静下来，而抚摸着她的頭。
				PRINTFORMW 「……！…………对不起，我因为例假有点情绪」
				PRINTFORMW 于是，她脸上险恶的表情消失了，恢复了平时的样子。
				PRINTFORMW %CALLNAME:MASTER%向%CALLNAME:TARGET%为自己的话道歉。
				PRINTFORMW 这是一个既让人信服又不太希望被人提及的话题。
				PRINTFORMW 我不会再这么做了。
				PRINTFORMW 「不，%CNAME("一人称")%才是不好意思。说了这么严厉的话」
				PRINTFORMW 互相低頭致歉、%CALLNAME:MASTER%又陷入了沉思。
				PRINTFORMW 平时也没怎么注意过……
				PRINTFORMW 看来、%CALLNAME:TARGET%在生理期的时候负担很重的样子……
				CLEARLINE LINECOUNT
				GOTO INPUT_LOOP_LoC3
			ELSE
				PRINTFORML 
				$INPUT_LOOP_LoC4
				PRINTFORMW 但是事到如今、我已经不能放着这个只知道往心里藏事的少女不管了。
				PRINTFORMW 你到底隐瞒了什么？
				PRINTFORMW 不知不觉、%CALLNAME:MASTER%的语气也变得强硬了。
				PRINTFORMW 「在隐瞒什么？我的生理期到了。只是有点累而已」
				PRINTFORMW 明明刚刚还说自己很好、现在却说了相反的话。你指出这一点。
				PRINTFORMW 「那个………只是、想隐瞒而已。不想让你因为%CNAME("一人称")%的身体状况而担心」
				PRINTFORMW 不咸不淡的態度、%CALLNAME:TARGET%一副无精打采的样子。
				PRINTFORML [0] 继续追问
				PRINTFORML [1] 果然还是算了
				INPUT
				IF RESULT == 0
					PRINTFORML 
					$INPUT_LOOP_LoC5
					PRINTFORMW 在那个气氛中、%CALLNAME:MASTER%感觉到了谎言的味道。
					PRINTFORMW 但是，现在找不到说谎的理由。
					PRINTFORMW %CALLNAME:MASTER%晃了晃脑袋。
					PRINTFORMW 真的是身体不舒服吗？
					PRINTFORMW 那是骗人的。你的直觉告诉你。
					PRINTFORMW 是因为有什么烦恼不想说吗？
					PRINTFORMW 那不是重点。这也是从和她的交往中得到的直觉，所得出的结论。
					PRINTFORMW 这带着阴霾的表情是从什么时候出现的呢？
					PRINTFORMW 不停翻阅着过往记忆的%CALLNAME:MASTER%、回想起了一件事。
					PRINTFORMW 从%CALLNAME:TARGET%被带入废墟时開始。
					PRINTFORMW 除此之外什么也想不到，%CALLNAME:MASTER%确信那件事与此有関系。と%CALLNAME:MASTER%は確信する。
					PRINTFORMW 那么她，那个时候是怎么想的？
					PRINTFORML [0] 是在后悔在废墟的那件事里违背了约定吗
					PRINTFORML [1] 是想起了自己是什么人吗
					INPUT
					IF RESULT == 0
						PRINTFORML 
						PRINTFORMW 你是在后悔在废墟的那件事里违背了约定吗、%CALLNAME:MASTER%如此問道、
						PRINTFORMW 「………、是。无论如何都会回想起来」
						PRINTFORMW 「为什么，那么不小心呢」
						PRINTFORMW 「%CNAME("一人称")%如果更小心一点的话、」
						PRINTFORMW 「就不会发生那样的事，也不会违反和你的约定，呢……」
						PRINTFORMW 轻轻地，水珠滴落了下来。为她擦去簌簌落下的泪水。
						PRINTFORMW 「对不起……对不起……」
						PRINTFORMW 将静静地哭泣着的%CALLNAME:TARGET%紧紧抱住。
						PRINTFORMW 「那是不可抗力」之类的、温柔的话语只会更加傷害到她，所以不能说。
						PRINTFORMW 放心吧，我会和你一起一直背负到最后的。
						PRINTFORMW 「对不、起……对不起……」
						PRINTFORMW 照顾着一直哭着的%CALLNAME:TARGET%一会儿后，她就这様睡着了。
						PRINTFORMW 这样能够让她稍微好受一点就好了……
						CLEARLINE LINECOUNT
						GOTO INPUT_LOOP_LoC5
					ELSE
						PRINTFORML 
						$INPUT_LOOP_LoC6
						PRINTFORMW 是因为想起了自己是个杀人犯吗？
						PRINTFORMW 那样想了之后，对那个想法还是有一些疑问。
						PRINTFORMW 第一、%CALLNAME:MASTER%被杀的频率相当高。
						PRINTFORMW 其次、在小巷子那里听她倾述時已经说过了喜欢这样的她，就这様就好的话。
						PRINTFORMW 所以说、%CALLNAME:MASTER%还是有种无法释然的感觉。
						PRINTFORML [0] 回忆一下
						PRINTFORML [1] 思考一下
						INPUT
						IF RESULT == 0
							PRINTFORML 
							PRINTFORMW 在那个小巷子里呐喊的%CALLNAME:TARGET%到底说了什么。
							PRINTFORMW 这样回想的时候，记忆鲜明地复苏了。
							PRINTFORML 
							PRINTFORMW 对了、%CALLNAME:TARGET%想当小红帽。
							PRINTFORMW 成为像小红帽一样，受人喜爱的少女。
							PRINTFORMW 但是、她清楚身为狼的%CALLNAME:TARGET%是不可能成为小红帽的。
							PRINTFORMW 但是、还是那样竭尽全力地试图转变了。不停地试着改变。
							PRINTFORMW 因为杀了%CALLNAME:MASTER%以外的人，她还是回想起来了。
							PRINTFORMW 她是大灰狼。
							CALL PRINT_SELECT, "再说一边那时的话/继续思考"
							IF RESULT == 0
								CALL K44_Languag_of_Choose_Never_Leave
							ELSE
								PRINTFORML 
								PRINTFORMW %CALLNAME:MASTER%思考着对%CALLNAME:TARGET%来说狼意味着什么。
								PRINTFORMW 是%CALLNAME:TARGET%自身、是殺人的象徴、是%CALLNAME:TARGET%的罪的象徴。
								PRINTFORMW 罪有应得。虽然是陈腐不堪的俗语。但是，肯定会联系在一起。
								PRINTFORMW 但是、%CALLNAME:MASTER%却不记得有以杀人的罪名惩罚过%CALLNAME:TARGET%。
								PRINTFORMW 如果要给那个时候的%CALLNAME:TARGET%加上污点的话，除了不够小心以外%CALLNAME:MASTER%什么也想不到。
								PRINTFORMW 不幸，不可抗力，那是没办法的事。
								PRINTFORMW 但是、%CALLNAME:TARGET%是这样想的吗？是打从心底这么认为的吗？
								PRINTFORMW 没有亲手杀人过的%CALLNAME:MASTER%无法明确给出答案。
								PRINTFORMW 即使她有所掩饰与隐瞒，%CALLNAME:MASTER%也能清楚地看出%CALLNAME:TARGET%现在脆弱得像是一碰就会壊掉。
								PRINTFORMW 但是，还是应该说些什么。
								CALL K44_Languag_of_Choose_Never_Leave
							ENDIF
						ELSE
							PRINTFORML 
							PRINTFORMW 明明已经接近谜底了，却没办法真的找出来。
							PRINTFORMW 难以形容的焦躁感源源不断地袭来。
							PRINTFORMW 「%CNAME("二人称")%桑……？」
							PRINTFORMW 还有什么没注意到的地方。
							PRINTFORMW 思考过了的什么。
							PRINTFORMW 看过了的什么。
							PRINTFORMW 感到过了的什么。
							PRINTFORML 
							PRINTFORMW 无论怎么想，都找不到答案。
							PRINTFORMW %CALLNAME:MASTER%绞尽脑汁也没能得出答案，只有时间在流逝。
							PRINTFORMW 「是这样吗……不，是这样啊」
							PRINTFORMW 看到%CALLNAME:MASTER%思考的样子、
							PRINTFORMW %CALLNAME:TARGET%露出稍微放心了的表情，像在哭一样地笑了。
							PRINTFORMW 「对不起、真的为%CNAME("一人称")%认真考虑了」
							PRINTFORMW 「谢谢你。不过这是我的事情，不用担心」
							PRINTFORMW 但是，自己还是被难以忍受的感觉支配着。
							PRINTFORMW 明明只差一步，踏出这一步就结束了。但最终也没能找到。
							PRINTFORMW 尽管之后的日子不断重复、%CALLNAME:MASTER%最终也还是不知道。
							PRINTFORMW 只是平淡地度过着日常。
							PRINTFORMW 还是没有找到那个问题的答案。
							CLEARLINE LINECOUNT
							GOTO INPUT_LOOP_LoC6
						ENDIF
					ENDIF
				ELSE
					PRINTFORML 
					PRINTFORMW 相信了身体状况不佳的理由，将追问的话咽了下去。然后、她又道了一句歉。
					PRINTFORMW 「不，都是因为%CNAME("一人称")%隐瞒的错，请不要放在心上」
					PRINTFORMW 认为氛围不对是因为心情不好的%CALLNAME:MASTER%邀请%CALLNAME:TARGET%一起去玩。
					PRINTFORMW 「……好的、非常感谢。要去哪里呢？」
					PRINTFORMW 然后两个人聊了一会这次的计划……
					CLEARLINE LINECOUNT
					GOTO INPUT_LOOP_LoC4
				ENDIF
			ENDIF
		ELSE
			PRINTFORML 
			PRINTFORMW 还是算了吧。
			PRINTFORMW 谁都有不想被提起的事。
			PRINTFORMW 强行追问那个，毕竟还是太没礼貌了。
			CLEARLINE LINECOUNT
			GOTO INPUT_LOOP_LoC2
		ENDIF
	ELSE
		PRINTFORML 
		PRINTFORMW 嗯……是吗
		PRINTFORMW 看来只是%CALLNAME:MASTER%的错觉。
		PRINTFORMW 虽然还是有些在意，就当是错觉吧。
		CLEARLINE LINECOUNT
		GOTO INPUT_LOOP_LoC1
	ENDIF
ELSE
	PRINTFORMW 
	PRINTFORMW 恐怕是压力太大累了吧。
	PRINTFORMW 下次出去玩的时候叫上她吧……
	CLEARLINE LINECOUNT
	GOTO INPUT_LOOP_LoC0
ENDIF
RETURN 1

@K44_Languag_of_Choose_Never_Leave
PRINTFORML 
PRINTFORMW 把曾经说过的那句话再重复一遍。
PRINTFORML 
HTML_PRINT @"绝不<button value='100' title='放走你'>宽恕你</button>。"
PRINTFORML 
PRINTFORMW 「……！」
PRINTFORMW %CALLNAME:MASTER%不知道%CALLNAME:TARGET%到底选择了什么。
PRINTFORMW 但是、%CALLNAME:MASTER%已经做出了选择。
PRINTFORMW 绝不和这个少女分离。
PRINTFORML 
PRINTFORMW 「我决定了！」
PRINTFORMW 或许是%CALLNAME:MASTER%的话语越过了界线，%CALLNAME:TARGET%粗暴地发出了愤怒的声音。
PRINTFORMW 「我……、最后决定从你身边离開……」
PRINTFORMW 「那是……、我所应得的惩罚……」
PRINTFORMW 「无论，你怎么想，我做过的事情都不会消失……」
PRINTFORMW 「狼有与之相称的，狼所应有的结局……！」
PRINTFORMW 「所以……所以、不要妨碍我！」
PRINTFORML 
PRINTFORMW 才没有那回事。
PRINTFORMW %CALLNAME:TARGET%的憤怒被%CALLNAME:MASTER%无视了。
PRINTFORML 
PRINTFORMW 「欸……？啊……？」
PRINTFORMW 関于%CALLNAME:TARGET%的事只知道一件、那就是%CALLNAME:TARGET%已经是%CALLNAME:MASTER%的女人了。
PRINTFORMW 不容分说地抱着%CALLNAME:TARGET%接吻。
PRINTFORMW 「嗯…！？」
PRINTFORML 
PRINTFORML 
PRINTFORMW 那个人又和我接吻了。
PRINTFORMW 那是很甜，很温柔的吻。
PRINTFORMW 「请让我离開」
PRINTFORMW 过于甘甜，让我害怕地推開了。
PRINTFORMW 「我，最后必须要从你身边离開」
PRINTFORMW 但是
PRINTFORMW 「嗯唔……！？」
PRINTFORMW 又一次，和我接吻了。
PRINTFORMW 这次不再那么温和，而是像要征服我一样的激烈的吻。
PRINTFORMW 想要反抗，推開那个人的身体，但是，被紧紧地抱着没办法逃掉。
PRINTFORMW 总是用来杀那个人的小刀就在旁边。
PRINTFORMW 而且只要伸手，就可以强行拿到。
PRINTFORMW 我、把那个……
$INPUT_LOOP_LoC7
PRINTFORML [0] 拿到手里
PRINTFORML [1] 没拿到手
INPUT
IF RESULT == 0
	CALL K44_Languag_of_Choose_Wisteria
ELSE
	CALL K44_Languag_of_Choose_Mistletoe
	PRINTFORML 
	PRINTFORMW 【这个结局也不错吧】
	PRINTFORMW 【但是、少女搞错了你所选择的花语的含义】
	PRINTFORMW 【回去吧。这是最后的选择。少女还一个人站在那等着呢】
	CLEARLINE LINECOUNT
	GOTO INPUT_LOOP_LoC7
ENDIF
RETURN 1

@K44_Languag_of_Choose_Mistletoe
PRINTFORML 
PRINTFORMW 没能拿到手里。
PRINTFORMW 胳膊突然被推到上面，无法抵抗。
PRINTFORMW 穿着的内裤被错開，没有前戏就插入了。
PRINTFORMW 「咦、咕哼」
PRINTFORMW 虽然，非常痛。但痛的事情已经习惯了，所以还是变得越来越湿。
PRINTFORMW 那个人的像是要剜開我的阴道一样，全力耸动着
CALL PRINT_STRW, @"「哈唔_HH_啊_HH_咕呼_HH_」"
PRINTFORMW 那个人突刺的地方每一处都是自己的弱点，声音不受控制地泄漏出来。
CALL PRINT_STRW, @"「不要_HH_住手_HH_」"
PRINTFORMW 虽然在摇頭说着拒绝的话，身体却变得很舒服、
PRINTFORMW 从刚才開始就轻微地高潮了好几次。
PRINTFORMW 即便如此ずっと浅い所しか突いてこなくて、物足りなくて。
PRINTFORMW 我感觉到了子宮在咚咚地下降。
PRINTFORMW 因为欲求不满，子宫口急速地蠕动着。
PRINTFORMW 也许那个人也知道这一点，所以故意只做浅浅的抽插。
PRINTFORMW 实在忍不住了，试着活动一下腰部，但马上就被察觉到了。
PRINTFORMW 迎面投来了责备的目光。
PRINTFORMW 但是、我还是什么也没说。
PRINTFORMW 就像什么事都没有发生一样，抽插再次開始了。
PRINTFORML 想要
PRINTFORMW 但是、一直很浅。
PRINTFORML 想要
PRINTFORMW 深处舒服的地方完全碰不到。
PRINTFORML 想要
PRINTFORMW 只剩下像是要被舔融化了的甜蜜感觉。
PRINTFORMW 好想要好想要好想要好想要好想要
CALL PRINT_STRW, @"「我、我的小、穴、请、贯穿、它……_HH_」"
PRINTFORMW 说出来了。
PRINTFORMW 最后还是说了出来。
PRINTFORMW 像是要积攒起来一样把腰板拉紧、像是挑逗似的只在入口处搅拌
CALL PRINT_STRW, @"「快、快一，点、…嗯嘻_HH__HH__HH_」"
PRINTFORMW 在恳求的时候，被一口气被贯穿到最里面、立刻就失态地潮吹了。
PRINTFORMW 黄色的尿也稍微出来了，透明的尿也噗哧地出来了。
PRINTFORMW 但是、脑海里充满了幸福感。
PRINTFORMW 因为被那个人征服而高兴得不得了。
PRINTFORMW 然后像是要刻下印记一样，一次又一次地，被贯穿。
PRINTFORMW 我注意到那个人的那个比起之前更加膨胀。
PRINTFORMW 因为已经有过许多次经验所以知道。
PRINTFORMW 这是射精的预兆。
CALL PRINT_STRW, @"「想、要_HH_你的精液_HH_想要……_HH__HH_」"
PRINTFORMW 因为太过渴望了，所以为了得到而编织谄媚的语言。
PRINTFORMW 或许是满足于这句话吧，被比起之前的粗鲁还要更加暴力地贯穿了、
CALL PRINT_STRW, @"「啊哈阿_HH__HH__HH_」"
PRINTFORMW 以要敲击子宫深处的气势射精了。
PRINTFORMW 虽然已经在最后一次突刺中高潮了、但是精液每次撞击子宫壁时都还会不停地反复高潮。
PRINTFORMW 被无数次绝顶的幸福感所支配，我理解了。
PRINTFORML 
PRINTFORMW 我要是从一開始就跟着这个人就好了呢。
PRINTFORML 
PRINTFORMW 那之后什么都没变。
PRINTFORMW 像往常一样和%CNAME("二人称")%桑说话、和%CNAME("二人称")%桑H。
PRINTFORMW 像%CNAME("二人称")%桑的玩具一样被玩弄、像%CNAME("二人称")%桑的狗一样服从。
PRINTFORMW 只做%CNAME("二人称")%桑所希望的事。
PRINTFORMW 思考问题什么的，本来就是错误的。
PRINTFORMW 我就是我。
PRINTFORML 
PRINTFORMW ＩＦ　ＥＮＤ　「花语抉择：寄生木」
RETURN 1

@K44_Languag_of_Choose_Wisteria
PRINTFORML 
PRINTFORMW 拿到手上了。
PRINTFORMW 握紧，刺进去。
PRINTFORMW 把纤维一根一根地撕碎后贯穿血肉的触感。
PRINTFORMW 大量的血液和呛人的铁锈的气味。
PRINTFORMW 尽管如此。
PRINTFORMW 尽管如此，那个人还是没有停止接吻。
PRINTFORMW 为何？
PRINTFORMW 为什么？
PRINTFORMW 也许是意识到我的混乱，停止了接吻
PRINTFORMW 那个人一边痛得满頭大汗一边笑着说。
PRINTFORMW 绝不、放你离開。
PRINTFORMW 「我也……」
PRINTFORMW 不能说出来。
PRINTFORMW 「我、也想……」
PRINTFORMW 不能说出来。
PRINTFORMW 「我也、想要……っ」
PRINTFORMW 不能说出来。
PRINTFORMW 「和你在一起……！」
PRINTFORMW 明明不能说的、
PRINTFORMW 「好痛苦……！」
PRINTFORMW 还是、说了出来。
PRINTFORMW 「真的好想一直在一起、不想离開、想一直在你身边，想和你一起聊天、想和你一起吃饭，想和你一起玩，想和你一起过夜，想和你一起迎接早晨、但是我必须要为我做的事赎罪、不以我自己的意志从你的身边离開是不行的、实际上哪怕现在这一瞬间也不能在你身边、明明、是这样的……」
PRINTFORMW 话语像雪崩一样出现。心声開始溢出。我喜欢那个人。
PRINTFORMW 「为什么，不放我走……？」
PRINTFORML 
PRINTFORML 
PRINTFORMW 因为我是这样选择的、%CALLNAME:MASTER%说。
PRINTFORMW 「……！」
PRINTFORMW %CALLNAME:TARGET%无论是大灰狼还是小红帽都没有関系。
PRINTFORMW %CALLNAME:MASTER%把%CALLNAME:TARGET%比喻成花。
PRINTFORML 
PRINTFORMW 藤之花。
PRINTFORML 
PRINTFORMW 在此基础上、%CALLNAME:MASTER%问%CALLNAME:TARGET%。
PRINTFORMW 你想怎么做。
;　　　　　你はどう世界を祝福する？
PRINTFORMW 「我……」
CLEARLINE 1
PRINTFORMW 「我想……%CNAME("一人称")%想……」
CLEARLINE 1
PRINTFORMW 「我想……%CNAME("一人称")%想……想和你在一起……！」
PRINTFORMW 啊啊，绝对不会与你分离。
PRINTFORMW 「就连临终的那个时候也想和%CNAME("二人称")%桑在一起……！」
PRINTFORMW 无论是最后还是之后都是一样的。
PRINTFORMW 「吸库、啊、啊阿阿啊阿阿啊阿阿阿阿……」
PRINTFORMW 慈爱地抚摸着怀中哭泣着的%CALLNAME:TARGET%。
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORMW 「呜～……」
PRINTFORMW 是在感情百般发泄后，冷静下来后想起了羞耻吗、
PRINTFORMW 把脸埋在%CALLNAME:MASTER%怀里的%CALLNAME:TARGET%，用埋怨似的眼神盯着%CALLNAME:MASTER%。
PRINTFORMW 「我知道这不是%CNAME("二人称")%桑的错」
PRINTFORMW 「我知道这都是%CNAME("一人称")%不好」
PRINTFORMW 「但是、呜～………」
PRINTFORMW 什么都没说的%CALLNAME:TARGET%擅自决定从%CALLNAME:MASTER%的身边离開。
PRINTFORMW 但是、如果问了%CALLNAME:MASTER%会不会原谅她，这种事就不会发生了。
PRINTFORMW 因为%CALLNAME:MASTER%是一个充满強欲和贪婪的人。
PRINTFORMW 「……嗯、对。我知道。只是%CNAME("一人称")%擅自感到不安而已」
PRINTFORMW 摸了摸%CALLNAME:TARGET%的頭，让她别这么闹别扭。
PRINTFORMW 「哈啊……我喜欢的人是你真是太好了」
PRINTFORMW 这句话大概本来没有要嘟囔出来的意思吧。露出了一副糟糕了的样子、
PRINTFORMW 「什么都没有！刚刚我什么都没有说！」
PRINTFORMW 马后炮、吐出的唾沫不能重新咽下，覆水难收。没有办法装作没听到。
PRINTFORMW 「唔～！唔～！哈啊……」
PRINTFORMW 嘟嘴说着抗议的意见，紧接着却像放弃了一样叹了口气之后，紧紧地盯着%CALLNAME:MASTER%、
PRINTFORMW 「虽然我是这样的人，但请让我和你在一起」
PRINTFORMW 「呐~♪%CNAME("二人称")%桑~」
PRINTFORMW 带着如同绽放的花般的笑容那样说。
PRINTFORML 
PRINTFORMW 【狼最后淹死在河里，孤独地死去】
PRINTFORMW 【藤花虽小，却连在一起盛開】
PRINTFORMW 【也许没有人会看到花散落的瞬间】
PRINTFORMW 【即便如此，也还是会有人看到散落的花瓣】
PRINTFORMW 【花不是为了凋零而绽放的】
PRINTFORMW 【而是为了展示自己的存在而盛開】
PRINTFORML 
PRINTFORMW ＴＲＵＥ　ＥＮＤ　「花语抉择：白藤」
IF CEVENT("花语抉择：白藤")
	TALENT:小悪魔 = 1
ENDIF
CALL SET_CEVENT, "花语抉择：白藤"
RETURN 1

;------------------------------------
;殺され演出
;------------------------------------
@K44_KNIFE_DEATH
CFLAG:殺された数 += 1
BASE:MASTER:魂 -= 100
PRINTFORML 
CALL PRINT_STRL, "赤_　　　　　　　　*ｻﾞｸｯ!*"
CALL PRINT_STRL, "赤_　　　　　　　　.　　　　　　　 　 .;.;.;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　　　　.;;鑾㍊;;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　 　 　 '滯㌢'"
CALL PRINT_STRL, "赤_　　　　　　　　　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　　　　　　　,　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　 　 　 　 ;..;"
CALL PRINT_STRL, "赤_　 　 ''㍉ 絲㍊淡,,.〟"
CALL PRINT_STRL, "赤_　　　 .;鑾鑾徽㏍”"
CALL PRINT_STRL, "赤_　　 ㌦滯攣驂㌘”㌦,;"
CALL PRINT_STRL, "赤_　 　 ㌢”`　　 ”`"
IF RAND:100 == 0
	GETFONT
	CHKFONT "ＭＳ 哥特"
	SIF RESULT
		SETFONT "ＭＳ 哥特"
	IF RAND:2 == 0
		PRINTFORML
		CALL PRINT_STRL, "赤_"
		CALL PRINT_STRL, "赤_                                                  ,,,uuzzzzzz.,"
		CALL PRINT_STRL, "赤_                                           ..,,,uuzzzzzzzzuuzwXW"
		CALL PRINT_STRL, "赤_                                   ..,,,,uuzzzzzzzzuzzuzzzzzzzzzX"
		CALL PRINT_STRL, "赤_                           kXUUUUUuuzzzzzzuzzzzzzzuy'"
		CALL PRINT_STRL, "赤_                            kvzzzuzzzuuuzzy'''   yzv,"
		CALL PRINT_STRL, "赤_                             kzuykuzzzy'        zzzzzv,"
		CALL PRINT_STRL, "赤_                              ky' `uzzzx         zzzzzx"
		CALL PRINT_STRL, "赤_                                   zzzzz>        uzuzy"
		CALL PRINT_STRL, "赤_                                   zuzzy         uzzz"
		CALL PRINT_STRL, "赤_                                  zzzwyXkzzu     uzzz       ,zzzz"
		CALL PRINT_STRL, "赤_                                 uzuy  `Xzuvz    uzzu     ,yzzzzzy"
		CALL PRINT_STRL, "赤_                                zzwy     uzzy    uzzz  ,yuzuzuzzy"
		CALL PRINT_STRL, "赤_                              ,uwXy     yvvy     uzzu,yzuzzzy"
		CALL PRINT_STRL, "赤_                             ,kyXzx,   yzuy      zuzuykky"
		CALL PRINT_STRL, "赤_                           ,yy'  `vzzz,zuy       zzzu'"
		CALL PRINT_STRL, "赤_                         ,y'        ,zuzy        uzzX"
		CALL PRINT_STRL, "赤_                                   zzuzy         zuzX              z,"
		CALL PRINT_STRL, "赤_                                 ,zzzy           zzzw              Xzu,"
		CALL PRINT_STRL, "赤_                                ,zuzy            zzzXk            ,uzzz,"
		CALL PRINT_STRL, "赤_                              ,zzwy              kzuzzXx,,,,,,,,uvzzzuzzw"
		CALL PRINT_STRL, "赤_                            ,zzy'                `vzzzzuuzzzzuuzzzzuuzuXW"
		CALL PRINT_STRL, "赤_                          ,zy'                    `vkXuzzzzzzzzzuuwwXWXy"
		CALL PRINT_STRL, "赤_"
		CALL PRINT_STRL, "赤_                        DDDDD     EEEEEE       A       TTTTTTT   H    H"
		CALL PRINT_STRL, "赤_                         D   D    E           A A         T      H    H"
		CALL PRINT_STRL, "赤_                         D    D   EEEEE      AAAAA        T      HHHHHH"
		CALL PRINT_STRL, "赤_                         D   D    E         A     A       T      H    H"
		CALL PRINT_STRL, "赤_                        DDDDD     EEEEEE   A       A      T      H    H"
		CALL PRINT_STRL, "白_                ┌──┐                                         ┌──┐"
		CALL PRINT_STRL, "白_                │Ｌ１│就此死去                             │Ｒ１│  回生  "
		CALL PRINT_STRL, "白_                └──┘                                         └──┘"
		PRINTFORML 
	ELSE
		PRINTFORML
		CALL PRINT_STRL, "白_ ------------------------------------------------------------------------------------------------"
		CALL PRINT_STRL, "白_ ┌─────────────────┐"
		CALL PRINT_STRL, "白_ │ 死 的奖杯獲得了！     哔      │"
		IF CFLAG:殺された数 <= 9
			CALL PRINT_STRL,@"白_ │ 亡 被%CALLNAME:TARGET%杀死了{CFLAG:殺された数}次         ∽  │"
		ELSEIF CFLAG:殺された数 <= 99
			CALL PRINT_STRL,@"白_ │ 亡 被%CALLNAME:TARGET%杀死了{CFLAG:殺された数}次        ∽  │"
		ELSEIF CFLAG:殺された数 <= 999
			CALL PRINT_STRL,@"白_ │ 亡 被%CALLNAME:TARGET%杀死了{CFLAG:殺された数}次       ∽  │"
		ELSEIF CFLAG:殺された数 >= 1000
			CALL PRINT_STRL,@"白_ │ 亡 已经被%CALLNAME:TARGET%無数次地杀死了      ∽  │"
		ENDIF
		CALL PRINT_STRL, "白_ └─────────────────┘"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "暗灰色_------------------------------------------------------------------------------------------------"
		CALL PRINT_STRL, "灰色_================================================================================================"
		CALL PRINT_STRL, "赤_                            Y   Y  OOOO  U   U   DDDD  III EEEE DDDD "
		CALL PRINT_STRL, "赤_                             Y Y  O    O U   U    D  D  I  E     D  D "
		CALL PRINT_STRL, "赤_                              Y   O    O U   U    D   D I  EEE   D   D"
		CALL PRINT_STRL, "赤_                              Y   O    O U   U    D  D  I  E     D  D "
		CALL PRINT_STRL, "赤_                              Y    OOOO   UUU    DDDD  III EEEE DDDD "
		CALL PRINT_STRL, "灰色_================================================================================================"
		CALL PRINT_STRL, "暗灰色_------------------------------------------------------------------------------------------------"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_------------------------------------------------------------------------------------------------"
		PRINTFORML
	ENDIF
	SETFONT RESULTS
ENDIF
RETURN 1

;------------------------------------
;マザー石頭ス
;------------------------------------
@K44_Mother_Goose
IF CFLAG:花の意味 == 0
	CALL EMOTION_PLUS, "重置/ニッコリ/ワ/对话框兴奋"
ELSE
	CALL EMOTION_PLUS, "重置/闭眼/小口"
ENDIF
IF RAND:4 && CFLAG:花の意味 == 0
	PRINTFORMW 「――――蛋頭老师墙上坐」
	PRINTFORMW 「――――蛋頭老师跌下墙」
	PRINTFORMW 「――――所有国王的马儿和士兵」
	PRINTFORMW 「――――都没办法把他拼回去」
	PRINTFORMW %CALLNAME:TARGET%開心地哼着童谣。
	PRINTFORMW 她知道那个答案吗
ELSEIF RAND:3 && (CFLAG:花の意味 == 1 || CFLAG:花の意味 == 2)
	PRINTFORMW 「――――是谁杀死了知更鸟」
	PRINTFORMW 「――――是我 麻雀说」
	PRINTFORMW 「――――用我的弓和箭 」
	PRINTFORMW 「――――是我杀死了知更鸟」
	PRINTFORML 
	PRINTFORMW 和平常活泼的声音不同，%CALLNAME:TARGET%的歌声带着铃铛般淡淡的余韵。
	PRINTFORMW 像是在喃喃细语。
	PRINTFORML 
	PRINTFORMW 「――――空中所有的鸟」
	PRINTFORMW 「――――叹息并且悲哀」
	PRINTFORMW 「――――当他们听到丧钟响起」
	PRINTFORMW 「――――为了可怜的知更鸟」
	PRINTFORML 
	PRINTFORMW 唱完最后一句歌词的%CALLNAME:TARGET%注视着%CALLNAME:MASTER%，
	PRINTFORMW 又開口了。
	PRINTFORML 
	PRINTFORMW 「――――是谁杀死了知更鸟」
	PRINTFORMW 那还是第一节。
	PRINTFORML 
	PRINTFORMW 「――――是我 我说」
	PRINTFORMW 「――――用我的刀和心」
	PRINTFORMW 「――――是我杀死了知更鸟」
	PRINTFORML 
	PRINTFORMW 然后、
	CALL EMOTION_PLUS, "重置/微笑"
	PRINTFORMW 浮现出了如梦般虚幻的笑容。
ELSEIF RAND:2 && CEVENT("朝花夕拾")
	PRINTFORMW 「――――女孩拿起了小刀」
	PRINTFORMW 「――――刺穿爸爸了十下」
	PRINTFORMW 「――――没有意识到她做了什么」
	PRINTFORMW 「――――又刺穿妈妈十一下」
	PRINTFORML 
	PRINTFORMW 「――――女孩还是没有意识到她做了什么」
	CALL EMOTION_PLUS, "目陰/困扰眉/微笑"
	PRINTFORMW 轻轻地闭上双眼，像是自嘲般微微地笑了笑
ENDIF
RETURN 1

;------------------------------------
;花の旅路
;------------------------------------
;勧誘
@K44_Flower_rendezvous
IF COND("夜")
	CALL BACKGROUND_GSC, "0裏路地夜+0x01000000"
	PRINTFORMW 万籁俱寂的时刻、人们已经回到了自己的归处、准备迎接新的一天。。
	PRINTFORMW 就在这样的时候、%CALLNAME:MASTER%为了买点东西而走出家門前往便利店。
	PRINTFORMW 伴随着听惯了的欢迎音走进店内、果断的拿了想要的东西付完款之后离開了便利店。
ELSE
	CALL BACKGROUND_GSC, "0裏路地傍晚+0x01000000"
	PRINTFORMW 在冥眗亡见的黄昏之刻。
	PRINTFORMW 在人们都在忙于归家的时候、%CALLNAME:MASTER%今天在偶然的情况下只能独自回家。
ENDIF
PRINTFORMW 平淡无奇的每一天，一成不变的日常。
PRINTFORMW 即使在充满刺激的如今，对于这些一成不变的东西，也感到了些许的厌倦。
PRINTFORML 
PRINTFORMW 突然，视线落在了一条平时不常经过的小巷上
PRINTFORMW 虽然知道那里有条小巷，但完全不知道里面是什么样子。
PRINTFORMW 在对未知的好奇的驱使下，%CALLNAME:MASTER%走了进去。
PRINTFORML 
PRINTFORMW 东张西望地往前走。微弱的光映照出小巷的样貌。
PRINTFORMW 映入好奇的眼中的，只是大楼与大楼之间墙壁的夹缝的样子
PRINTFORMW 能听到的只有自己的脚步声和身后传来的喧闹声。
PRINTFORMW 稍微折返一点就会变得嘈杂，更突显了%CALLNAME:MASTER%现在是孤身一人。
PRINTFORMW 不只是在满足好奇心，更是在享受自己存在于这个世界上却不被人认识的透明感。
PRINTFORMW 走了一会儿，伴随着与%CALLNAME:MASTER%不同的脚步声，一个少女从巷子深处向这边走来。
PRINTFORMW 一个年幼的少女走在杳无人迹的小巷里，这让%CALLNAME:MASTER%感觉很不协调，但再这样下去会撞到，所以向旁边退了一点。
PRINTFORMW 然后、就在那个瞬间―――――――
PRINTFORML
CALL PRINT_STRL, "赤_　　　　　　　　*ｻﾞｸｯ!*"
CALL PRINT_STRL, "赤_　　　　　　　　.　　　　　　　 　 .;.;.;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　　　　.;;鑾㍊;;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　 　 　 '滯㌢'"
CALL PRINT_STRL, "赤_　　　　　　　　　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　　　　　　　,　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　 　 　 　 ;..;"
CALL PRINT_STRL, "赤_　 　 ''㍉ 絲㍊淡,,.〟"
CALL PRINT_STRL, "赤_　　　 .;鑾鑾徽㏍”"
CALL PRINT_STRL, "赤_　　 ㌦滯攣驂㌘”㌦,;"
CALL PRINT_STRL, "赤_　 　 ㌢”`　　 ”`"
PRINTFORMW 
PRINTFORMW 剧烈的痛楚从腹部传来。
PRINTFORMW 朝下看去、一把小刀刺入了腹部。
PRINTFORMW 思考被支离破碎的疑问所覆盖。为什么会被刀刺到，为什么会痛，为什么会这么热，为什么会流血?对疼痛有反应的肌肉不由自主地收紧与放松凸显了刺进肚子里的刀子的硬质感。刀尖划过内脏，伤口溢出的血顺着皮肤渗进衣服，感觉很不愉快。这种痛楚恐怕是从来没有经历过的。不，也许以前有过。好痛。我觉得我还有想做的事。想不起来那是什么了。好热。呼吸困难。说不出话来。明明只要说出一句话来，就能摆脱这种疼痛。啊，这样啊。是因为横膈膜被刺破而发不出声音吗?肺无法膨胀。就像溺水的金鱼一样张大嘴巴。对了，想起来了要做的事，即使要把灵魂献给恶魔，也想要做的事。咦，想不起来是什么了。明明都想起来了。
PRINTFORMW 然后，少女理所当然地拔出了插着的刀，从伤口涌出了前所未见的巨量鲜血。
PRINTFORMW 随着血液的流失，意识变得昏昏沉沉。支离破碎的思绪变得模糊，被猩红所涂满。
PRINTFORMW 在疼痛和意识的溃散中，把视线转向少女的脸。
PRINTFORML
PRINTFORMW 那是一张美得让人不寒而栗的、天真可爱的笑脸。
PRINTFORML
PRINTFORMW 就在意识快消失的时候、%CALLNAME:MASTER%已经习惯、或者是还没有习惯的感觉传来。
PRINTFORMW 本应失去的血被凭空生成，将肌肉和皮肤像堵住被刺的洞一样重新结合在一起。
PRINTFORMW 这些，就像是%CALLNAME:MASTER%把自己的灵魂当作柴火奉献给熊熊燃烧的火一样。
PRINTFORMW 于是，像在喊“我还活着”一样，把%CALLNAME:MASTER%连接起来，活了过来。
PRINTFORML 
PRINTFORMW 看到%CALLNAME:MASTER%从死亡中折返的样子，少女露出惊讶的表情。
PRINTFORMW 「哇！我、第一次见到！杀了也没有死的人！」
PRINTFORMW 伴随着雀跃的声音、少女天真无邪的在那一蹦一跳的。
PRINTFORMW 这边、%CALLNAME:MASTER%冷静的看着这个刚才杀了自己的少女。
PRINTFORML
PRINTFORMW 即使是这样阴暗的小路也能闪闪发光的漂亮长发。
PRINTFORMW 比%CALLNAME:MASTER%身上流出的血液还要猩红的眼眸。
PRINTFORMW 与使用的凶器相比充满了违和感的柔软而又婀娜的少女身姿。
PRINTFORMW 跳了一会儿的少女向着%CALLNAME:MASTER%靠近过来说道。
PRINTFORML
PRINTFORMW 「呐呐、我、叫做%CALLNAME:TARGET%。你的名字是什么？」
PRINTFORMW %CALLNAME:MASTER%有点困惑的报上了自己的名字。
PRINTFORMW 「啊，是那样的名字啊」
PRINTFORMW 少女%CALLNAME:TARGET%反复回味着，点了点頭，好像想到了什么。
PRINTFORMW 「……我、留在你身边吧！」
PRINTFORMW 「所以、能让我尽情的杀死的话、我什么都可以做！」
PRINTFORMW 什么都可以是真的吗？这样问了之后%CALLNAME:TARGET%点点頭回答「当然的！」。
PRINTFORMW 随后、%CALLNAME:MASTER%说明了自己的事情之后開始劝诱她缔结契约……
PRINTFORMW 
CALL EFFECT_ALLRESET
RETURN 1

;あかずきん：はじめ
@K44_Red_hood_1
PRINTFORMW 新的清晨到来了。
PRINTFORMW 早上和以前相比，变得有各种各样的声音了。
PRINTFORMW 啪嗒啪嗒的跑步声。
PRINTFORMW 咔嚓一声開門的声音。
PRINTFORMW 咔嚓咔嚓咕噜咕噜吃早饭的声音。
PRINTFORMW 砰的一声，把門関上的声音。
PRINTFORMW 在那之后，%CNAME("二人称")%的家就几乎没有声音了，只有从外面传来的喧嚣。
PRINTFORMW 我没事可做，就看看电视。或者读书什么的。
PRINTFORMW 因为还看不了有太难的文字的书，所以看的是绘本。
PRINTFORMW 今天拿到的是一本叫《小红帽》的绘本。
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 很久很久以前 在某个地方有个可爱的小姑娘。
	PRINTFORMW 那个女孩很喜欢奶奶送给她的红頭巾，
	PRINTFORMW 因为她总是戴着那顶红頭巾，所以大家都叫她『小红帽』。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 绘本上，小女孩戴着红頭巾很開心的样子。
PRINTFORMW 因为能遮住脸，看起来很方便，所以很羡慕啊。
PRINTFORMW 对了，我的衣服上也有兜帽。
PRINTFORMW 下次被警察追上来的时候就试试吧。
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 有一天 小女孩被妈妈拜托去办事。
	PRINTFORMW 「住在森林里面的奶奶生病了。
	PRINTFORMW 把这美味的点心和葡萄酒送过去吧」
	PRINTFORMW 小红帽非常喜欢给她这个红頭巾的奶奶。
	PRINTFORMW 所以她高兴地接受了妈妈的请求。
	PRINTFORMW 「你听好了，中途不要迷路。
	PRINTFORMW 还要小心大灰狼，不然会被狼吃掉的。
	PRINTFORMW 千万不要和它说话哦。能答应吗?」
	PRINTFORMW 小红帽和妈妈拉钩作了约定。
	PRINTFORMW 然后，
	PRINTFORMW 「我出发了！」
	PRINTFORMW 这样说着 精神抖擞地出发了。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 『约定』的时候要『拉钩』
PRINTFORMW 感觉拉钩是要剪掉手指，那么『约定』肯定很困难吧
PRINTFORMW 话说回来，大灰狼到底是什么东西？
PRINTFORMW 
PRINTFORML 
RETURN 1

;あかずきん：二回目
@K44_Red_hood_2
PRINTFORMW 早上起的比平时早了一点。
PRINTFORMW 因为离吃早饭还有一段时间，所以不知不觉地把之前的《小红帽》又读了一遍。
PRINTFORMW 总觉得想多读几遍。
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 奶奶的家在步行要花30分钟的树林里。
	PRINTFORMW 小红帽開心地走着，这时狼从阴影里出现了。
	PRINTFORMW 「呀呀、你好啊。可爱的小红帽」
	PRINTFORMW 大灰狼笑眯眯的，完全不像是妈妈所说的那样可怕的动物。
	PRINTFORMW 「你好呀 狼老师」
	PRINTFORMW 所以，小红帽也笑着回应。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 读了几遍也不明白。大灰狼真的有什么可怕的吗?
PRINTFORMW 我觉得大灰狼在做的事情很普通。
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 「你现在要去哪里?」
	PRINTFORMW 「去我的奶奶家。
	PRINTFORMW 奶奶她病了，我要带着点心和红酒去看望她。」
	PRINTFORMW 「哦呀哦呀，真是了不起啊小红帽。你的奶奶家离这远吗」
	PRINTFORMW 「从这里再走15分钟就到奶奶家了」
	PRINTFORMW 「这样啊 15分钟啊」
	PRINTFORMW 大灰狼稍微想了想，又笑眯眯地说道。
	PRINTFORMW 「对了，小红帽，你去奶奶家之前先去采一点花做礼物怎么样
	PRINTFORMW 那条路的前面有一片花田。
	PRINTFORMW 我想你的奶奶也会很高兴的」
	PRINTFORMW 「好主意呀！」
	PRINTFORMW 小红帽高兴地拍着手，朝着狼指的方向跑去。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 花田……从来没见过。像绘本里的一样漂亮吗?
PRINTFORMW 问了%CNAME("二人称")%桑之后会带我去吗?
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 大灰狼笑眯眯地送走了小红帽，向老奶奶家走去。
	PRINTFORMW 咚咚地敲着門。
	PRINTFORMW 「来了，是谁啊？」
	PRINTFORMW 传来了老婆婆的声音。
	PRINTFORMW 大灰狼用小女孩的声音回答道。
	PRINTFORMW 「是小红帽! 我来看望你了，奶奶!」
	PRINTFORMW 「哦呀，是小红帽啊，你来得正好。門没有锁。快进来吧」
	PRINTFORMW 「这样啊。没有锁着的话倒是方便了」
	PRINTFORMW 推開門的大灰狼向老奶奶跑去，发起了攻击。
	PRINTFORMW 把老婆婆整个吞下了的大灰狼，
	PRINTFORMW 穿上老太太剩下的衣服，钻进了床里。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 我觉得狼吞虎咽地吃掉老奶奶的大灰狼有点可爱
PRINTFORMW 这么说来，以前搭话的时候大多数人都不会觉得奇怪，所以小女孩的这种声音很厉害呢。
PRINTFORMW 
PRINTFORML 
RETURN 1

;木蓮との出会い
@K44_Flower_Magnolia
PRINTFORMW 被%CNAME("二人称")%桑这么一说，就去了学校这个地方!
PRINTFORMW 入学测试?我是在%CALLNAME:FINDCHARA(NO, 1)%小姐的教导下才通过的。
PRINTFORMW 我在教室前面等着，听到老师叫才进去，看见里面挤满了和我差不多的人，有点吃惊。
PRINTFORMW 自我介绍之后被问了各种各样的问题，然后坐在被安排好的座位上听课。
PRINTFORMW 多亏了%CALLNAME:FINDCHARA(NO, 1)%小姐的教导，没有听不懂的地方。
PRINTFORMW 叮铃铃，叮铃铃的声音一响，课就结束了。
PRINTFORMW 这似乎是下课的信号。
PRINTFORMW 回想起来，在遇到%CNAME("二人称")%桑之前，偶尔能听到的就是这个。
PRINTFORMW 弄清了一点之前不知道的疑问，产生了原来如此！的雀跃感。
PRINTFORMW 『嗨、転校生桑』
PRINTFORMW 正当我感动的时候，邻座的孩子跟我搭话了。
PRINTFORMW 「？？？那个、我叫%CALLNAME:TARGET%」
PRINTFORMW 『啊哈哈，知道啦。我叫冨路牟』
PRINTFORMW fu-lu-mou……完全不知道该怎么写！
PRINTFORMW 「那个，fulumou桑、请多関照!能教教我那个名字的汉字写法吗!」
PRINTFORMW 『嗯～、这样写的～』
PRINTFORMW 噢ー、嚯嚯。是这样写的啊ー。
PRINTFORMW 「谢谢你~♪冨路牟同学！」
PRINTFORMW 『哦ー真有精神啊、请多関照了，千紗酱』
PRINTFORMW 记住了这个人是不能杀的人!
PRINTFORML 
RETURN 1

;まっかなたね
@K44_Red_Seed
PRINTFORMW 「哼哼哼～♪」
PRINTFORMW 一边随意地哼着电视里听过的歌曲，一边走在夜晚的街道上。
PRINTFORMW 虽然有%CNAME("二人称")%桑能让我杀，但今天总觉得想换个不同的人，所以在这里游荡着。
PRINTFORMW 我像遇到%CNAME("二人称")%桑之前那样走在黑暗的地方，看到了一个摇摇晃晃的人。
PRINTFORML 
CALL PRINT_STRL, "赤_　　　　　　　　*ｻﾞｸｯ!*"
CALL PRINT_STRL, "赤_　　　　　　　　.　　　　　　　 　 .;.;.;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　　　　.;;鑾㍊;;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　 　 　 '滯㌢'"
CALL PRINT_STRL, "赤_　　　　　　　　　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　　　　　　　,　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　 　 　 　 ;..;"
CALL PRINT_STRL, "赤_　 　 ''㍉ 絲㍊淡,,.〟"
CALL PRINT_STRL, "赤_　　　 .;鑾鑾徽㏍”"
CALL PRINT_STRL, "赤_　　 ㌦滯攣驂㌘”㌦,;"
CALL PRINT_STRL, "赤_　 　 ㌢”`　　 ”`"
PRINTFORMW 
PRINTFORMW 「………？」
PRINTFORMW 杀人的时候，总觉得和以前不一样。
PRINTFORMW 「嗯～嗯——唔？」
PRINTFORMW 想也想不明白。
PRINTFORMW 到底哪里不一样呢?
PRINTFORMW 
RETURN 1

;花の意味を知る
@K44_Flower_meaning
PRINTFORMW 在读着书的%CALLNAME:TARGET%旁边，Ling也随便拿起了一本书。
PRINTFORMW 《花语大全》，好像是有関花语的书籍。
PRINTFORMW 细细地翻看着。
PRINTFORML 
PRINTFORMW 突然，映入眼帘的是作为%CALLNAME:TARGET%姓氏的藤花的花语。
PRINTFORMW 『歓迎』『沉醉于恋爱中』『绝不让你离開』
PRINTFORMW 都是些浪漫的话语。
PRINTFORML 
PRINTFORMW 突然看了眼%CALLNAME:TARGET%。
PRINTFORMW 会有对%CALLNAME:TARGET%说出这些话的一天吗?
PRINTFORMW %CALLNAME:MASTER%边想边合上了书。
PRINTFORMW 
PRINTFORML 
RETURN 1

;蕾が開く前
@K44_Flower_bud
PRINTFORMW 『千紗酱、有喜欢的人吗？』
PRINTFORMW 在课间的休息时间，富路牟同学这样跟我说。
PRINTFORMW 「喜欢的人吗?」
PRINTFORMW 喜欢的人、xihuan的人、xihuanderen。反问了一下。明明其实知道意思。
PRINTFORMW 「欸——多、%CNAME("二人称")%桑、%CALLNAME:FINDCHARA(NO, 1)%小姐……」
PRINTFORMW 先说出在社团活动中认识的人的名字，然后说出班上同学的名字。
PRINTFORMW 我、喜欢大家。
PRINTFORMW 『等下等下等下!』
PRINTFORMW 于是，被富路牟同学打断了。
PRINTFORMW 『欸ー多……很难解释啊～……、这样……有没有一想到那个人就会心跳加速、頭脑发麻的人？』
PRINTFORMW 心跳加速……、頭脑发麻……
PRINTFORMW 各种各样的人的脸浮现在脑海里……最后留下来的只有一个。
PRINTFORMW 「%CNAME("二人称")%桑……吧？」
PRINTFORMW 『记得那个是和千纱一起生活的人吧……？』
PRINTFORMW 『那么，你喜欢那个人的哪里？』
PRINTFORMW 喜欢？
CLEARLINE 1
PRINTFORMW 哪里？
CLEARLINE 1
PRINTFORMW 是谁？
CLEARLINE 1
PRINTFORMW 那个人？
CLEARLINE 1
CALL PRINT_STRW, @"赤_我喜欢、那个人的、什么、地方？"
CLEARLINE 1
PRINTFORMW 「我不知道呢」
CLEARLINE 1
PRINTFORMW 『欸，千紗酱？』
CALL PRINT_STRW, @"暗灰色_别碰我"
PRINTFORMW 富路牟桑一脸惊讶的表情
PRINTFORMW 我说了什么吗?
PRINTFORMW 「啊啊欸~多、嗯ー嗯～太难了我搞不懂！」
PRINTFORMW 是的，我觉得很难所以搞不明白。
PRINTFORMW 『啊哈哈……。不过，为什么会喜欢，我也没办法解释』
PRINTFORMW "不能明确为什么会喜欢"
PRINTFORMW 富路牟桑的话让我突然想到
PRINTFORMW 「是这样啊！」
PRINTFORMW 我到底『喜欢』什么?
PRINTFORMW 
PRINTFORML 
RETURN 1

;たねのめぶき
@K44_Red_Seed_sprouting
PRINTFORMW 「あっがふろーむへる♪」
PRINTFORMW 一边唱着学校教的歌，一边走在夜晚的街道上。
PRINTFORMW 今天不知道为什么。
PRINTFORMW 没来由地走着走着就来到了以前待过的地方。
PRINTFORMW 真是不可思议。
PRINTFORMW 因为正好带着刀，所以今天想在这里杀不认识的人。
PRINTFORMW 等了一会儿，来了一个摇摇晃晃地走着的人。
PRINTFORML 
CALL PRINT_STRW, "赤_　　　　　　　　*…"
CLEARLINE 1
CALL PRINT_STRL, "赤_　　　　　　　　*…ｻﾞｸｯ!*"
CALL PRINT_STRL, "赤_　　　　　　　　.　　　　　　　 　 .;.;.;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　　　　.;;鑾㍊;;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　 　 　 '滯㌢'"
CALL PRINT_STRL, "赤_　　　　　　　　　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　　　　　　　,　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　 　 　 　 ;..;"
CALL PRINT_STRL, "赤_　 　 ''㍉ 絲㍊淡,,.〟"
CALL PRINT_STRL, "赤_　　　 .;鑾鑾徽㏍”"
CALL PRINT_STRL, "赤_　　 ㌦滯攣驂㌘”㌦,;"
CALL PRINT_STRL, "赤_　 　 ㌢”`　　 ”`"
PRINTFORMW 
PRINTFORMW 为什么刺的时候手没有以前那么灵活呢?
PRINTFORMW 
RETURN 1

;あかずきん：三回目
@K44_Red_hood_3
PRINTFORMW 最近，我早上起得很早。就像遇到%CNAME("二人称")%桑之前一样。
PRINTFORMW 虽然提前准备去学校比较好，但我看到了《小红帽》，就拿在手里读了起来。
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 那个时候 小红帽采到了多到拿不动的花。
	PRINTFORMW 才终于想起了要去奶奶家的事。
	PRINTFORMW 「不行!老婆婆已经等了很久呢!」
	PRINTFORMW 她急忙跑到奶奶家，門是開着的。
	PRINTFORMW 进屋一看，奶奶躺在房间最里面的那张床上。
	PRINTFORMW 「您好 奶奶」
	PRINTFORMW 小红帽大声地打了招呼，但是没有得到任何回应。
	PRINTFORMW (是不是病得太厉害了?)
	PRINTFORMW 小红帽走近床铺问老奶奶。
	PRINTFORMW 「奶奶、奶奶你的耳朵变大了」
	PRINTFORMW 于是，假扮成奶奶的大灰狼回答道。
	PRINTFORMW 「是啊 因为希望能听到你的声音。」
	PRINTFORMW 「而且眼睛又大又亮。好吓人。」
	PRINTFORMW 「不用害怕。这是因为想看清可爱的小红帽。」
	PRINTFORMW 「奶奶 原来有那么大吗」
	PRINTFORMW 「没有这么大 就不能紧紧抱着你了吧?」
	PRINTFORMW 「还有就是 那张大嘴巴。吓了我一跳，因为太大了」
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 我是知道的。之后小红帽会变成什么样。
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 「当然了，如果嘴巴不够大，你的话……」
	PRINTFORMW 「我？」
	PRINTFORMW 「要怎么吃进去啊！！」
	PRINTFORMW 大灰狼这么说着 就把小红帽吞了下去。
	PRINTFORMW 「老东西和小女孩。啊啊 太饱了。」
	PRINTFORMW 大灰狼抚摸着已经被完全撑大了的肚子，
	PRINTFORMW 就这样打着呼噜睡着了。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 我想，当时小红帽是非常害怕的。
PRINTFORMW 因为以为是奶奶的人其实是可怕的大灰狼。
PRINTFORMW 不，或许连考虑这些的时间都没有。
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 过了一会儿，森林里的猎人经过了。
	PRINTFORMW 「哦呀，老奶奶的鼾声可真大啊。」
	PRINTFORMW 感到不可思议的猎户走进奶奶家。
	PRINTFORMW 看见一只肚子很大的狼正在睡觉。
	PRINTFORMW 「这不是狼吗?难道是把老奶奶吃掉了?」
	PRINTFORMW 虽然猎人身上带着枪，但他觉得老太太可能还活着。
	PRINTFORMW 所以他用剪刀慢慢地剪開了狼的肚子。
	PRINTFORMW 「啊啊，好黑啊！而且还很臭！」
	PRINTFORMW 首先迫不及待地从狼肚子里跳出来的是小红帽。
	PRINTFORMW 「呀嘞呀嘞 哎哟。真是倒霉」
	PRINTFORMW 接着，老奶奶走了出来。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 读到被猎人拯救了的小红帽
PRINTFORMW 我有一点羡慕。
PRINTFORMW 因为如果是我的话，谁也不会来救我的吧。
PRINTFORMW 但是、
PRINTFORML 
	GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 「小红帽，和猎人老师一起把院子里的石頭收集起来吧。
	PRINTFORMW 我要惩罚这只狼」
	PRINTFORMW 他们收集了很多石頭
	PRINTFORMW 老奶奶把石頭塞进狼的肚子里，用针线把肚子缝了起来。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 大灰狼被这样对待也可以吗?
PRINTFORMW 不，不对。这样做或许是理所当然的。
PRINTFORMW 因为是坏狼。
PRINTFORMW 
PRINTFORML 
RETURN 1

;つめたいあめ
@K44_Flower_cold_rain
PRINTFORMW 『関于此时登场人物的心情，前一段的……』
PRINTFORML 
PRINTFORMW xihuan【喜欢】［名・形動］
PRINTFORMW 心被吸引。中意的事。还是，那个样子。
PRINTFORML 
PRINTFORMW 上课的时候，我打開字典，盯着那个词看。
PRINTFORMW 这段时间，和富路牟同学的那次谈话一直在脑海中挥之不去。
PRINTFORMW 一直在打转，身上、胸口，全部。
PRINTFORMW ……其实我知道做和上课无関的事情是不对的。
PRINTFORMW 即便如此僕は、これを、この言葉を見ないといけないのだと思いました。
PRINTFORML 
PRINTFORMW 『这取决于下面的台词。也就是说，她是……』
PRINTFORML 
PRINTFORMW xihuan。suki。喜欢
PRINTFORMW 意思我明白。
PRINTFORMW 也知道在什么时候用。
PRINTFORMW 被吸引了。
PRINTFORMW 很中意。
PRINTFORMW 初次相遇的日子。我对那个人说了『我很中意你』。（上个版本确实说过这句话，但现在初遇文本改了，这句被单独删了）
PRINTFORMW 但那时候的我真的『喜欢』那个人吗?
PRINTFORML 
PRINTFORMW 『但是这里要注意辨别情绪的变化』
PRINTFORML 
PRINTFORMW 我觉得，不是那样的。
PRINTFORMW 要说为什么，现在的我……
PRINTFORML 
PRINTFORMW 『用英语来说就是Like和Love的区别』
PRINTFORML 
CALL PRINT_STRW, @"赤_怀念起了呛人的血的味道。"
CLEARLINE 1
PRINTFORMW 突然，听到咣当的一声。
PRINTFORMW 我能注意到那是自己站起来的声音，是因为我看到了瞪大眼睛看着我的老师
PRINTFORMW 『怎么了白藤』
PRINTFORMW 老师满脸的不可思议，但我无言以对。
PRINTFORMW 『……要不要去下、保健室？』
PRINTFORMW 这次老师一脸担心地用温柔的语调说。
PRINTFORMW 我……随波逐流地点了点頭。
PRINTFORMW 『那个，记得和白藤関系比较好的，是富路牟对吧……可以的话，就带她去吧』
PRINTFORMW 脑子里一片混沌，分辨不出自己到底在想些什么。
PRINTFORMW 『你没事吧?千紗酱？』
PRINTFORMW %CNAME("友人")%桑的声音让我意识到自己正被搀扶着在走廊上慢吞吞地走着。
PRINTFORMW 「冨路牟同学……」
PRINTFORMW 说不下去了。
PRINTFORMW 『什么？千紗酱』
PRINTFORMW 「富路牟同学……」
PRINTFORMW 明明有话想说。
PRINTFORMW 『……嗯。会不舒服的话，还是不要说出来比较好哦？』
PRINTFORML 
PRINTFORMW 我的『喜欢』，到底是为什么呢?
PRINTFORMW 已经，搞不懂了。
PRINTFORML 
PRINTFORMW 就算想说，也说不出口。
PRINTFORMW 尽管如此，富路牟同学还是支持着我。
PRINTFORMW 牵着的那只手很温暖。
PRINTFORMW 支撑着当时的我的，只有那只手的温暖。
PRINTFORMW 我。
PRINTFORMW 而我……。
PRINTFORMW 「……对、不起。对不、起……」
PRINTFORMW 注意到对那份温暖，除了哭泣之外做不出其他回应。
PRINTFORMW 
PRINTFORML 
RETURN 1

;まっかなあめ
@K44_Red_rain
PRINTFORMW 「あいむしんかー嘟嘟嘟……」
PRINTFORMW 在晚上的街上游荡已经没有意义了。
PRINTFORMW 周围明明很明亮，这里却一片漆黑。
PRINTFORMW 我知道现在不用来这里。
PRINTFORMW 但是、因为脑子里有什么在打转所以就来了。
PRINTFORMW 有谁在说着，不做不行，不做不行。
PRINTFORMW 有谁在说着，不能做，不能做。
PRINTFORMW 回过神来，一个满脸通红的人正说着莫名其妙的话朝我走来。
PRINTFORML 
CALL PRINT_STRL, "赤_　　　　　　　　*ｻﾞｸｯ!*"
CALL PRINT_STRL, "赤_　　　　　　　　.　　　　　　　 　 .;.;.;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　　　　.;;鑾㍊;;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　 　 　 '滯㌢'"
CALL PRINT_STRL, "赤_　　　　　　　　　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　　　　　　　,　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　 　 　 　 ;..;"
CALL PRINT_STRL, "赤_　 　 ''㍉ 絲㍊淡,,.〟"
CALL PRINT_STRL, "赤_　　　 .;鑾鑾徽㏍”"
CALL PRINT_STRL, "赤_　　 ㌦滯攣驂㌘”㌦,;"
CALL PRINT_STRL, "赤_　 　 ㌢”`　　 ”`"
PRINTFORMW 
PRINTFORMW 不由自主地，像往常一样用刀杀了他。
PRINTFORMW ……我为什么要杀人呢？
PRINTFORMW 人被杀了是会死的啊。
PRINTFORMW 
RETURN 1

;あかずきん：さいご
@K44_Red_hood_last
PRINTFORMW 今天我拿着的也是《小红帽》。
PRINTFORMW 对于已经能读汉字的我来说，想要读出这本稍微有点难读的书还是有点困难。
PRINTFORMW 尽管如此，我还是静静地读着这本从頭到尾读过无数遍，可以背出来的书，
PRINTFORMW 翻到了最后的部分，手停了下来。眼睛和手指一遍又一遍地扫过那个部分，
PRINTFORMW 注意到的时候，已经大声读了起来。
PRINTFORML 
GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 「啊啊，睡得真香」
	PRINTFORMW 醒过来的大灰狼口渴了。
	PRINTFORMW 「真奇怪 我的肚子有这么大吗？」
	PRINTFORMW 大灰狼觉得有点奇怪
	PRINTFORMW 但比起那个 还是更在意喉咙的干渴 所以去了河边。
	PRINTFORMW 「呀嘞呀嘞 吃饱了倒挺不错 可要喝水时也够呛」
	PRINTFORMW 就在它喋喋不休地想要去河边的时候
	PRINTFORMW 因为肚子里的石頭太重，大灰狼失去平衡滑倒了。
	PRINTFORMW 「哇！谁来救救我！」
	PRINTFORMW 就这样 掉进河里的大灰狼被河水冲走淹死了。
	PRINTFORMW 邪恶的狼不见了，大家都放心了。
	PRINTFORMW 小红帽决定和猎人和奶奶一起吃带来探望的点心。
	PRINTFORMW 「小红帽 你下次要好好遵守妈妈的吩咐哦」
	PRINTFORMW 「好的 奶奶 我那么害怕 下次一定会遵守约定的」
	PRINTFORMW 听了奶奶的话，小红帽很认真地回答了。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 违背约定的坏小红帽被狼吃掉了。
PRINTFORMW 但是，小红帽被猎人救了一命。
PRINTFORMW 而为了生存，吃了小红帽的恶狼却失去了一切，淹死在了河里。
PRINTFORMW 而且，没有人去救狼。
PRINTFORML 
PRINTFORMW 有什么不同呢。
PRINTFORMW 两边都是普通地、只是……理所当然地活着而已。
PRINTFORMW 既然如此，为什么。
PRINTFORML 
PRINTFORMW 小红帽被大灰狼吃掉了。
PRINTFORMW 当时，小红帽在想什么呢?
PRINTFORMW 对眼前的尖牙和深不见底的巨口的恐惧?
PRINTFORMW 当被吃掉的她被救出来的时候，又在想什么呢?
PRINTFORMW 从漆黑的地方重返光明的安心?
PRINTFORMW 最后，她应该看到了溺水的大灰狼。
PRINTFORMW 她看到它大喊救命的样子，又怎么想呢?
PRINTFORMW 真可怜。希望她是这么想的，难道是我有所偏袒吗?
PRINTFORML 
PRINTFORMW 大灰狼骗了小红帽。
PRINTFORMW 那个时候，大灰狼一定是在，
PRINTFORMW 因想象着即将吃掉的猎物的味道而兴奋吧。
PRINTFORMW 大灰狼吃了小红帽。
PRINTFORMW 那个时候，大灰狼一定是在，
PRINTFORMW 因为饥饿的肚子被填饱了，所以很高兴吧。
PRINTFORMW 大灰狼在河里淹死了。
PRINTFORMW 那个时候，大灰狼一定是在，
PRINTFORMW 怨恨没能保护好自己的自己吧，所以才会觉得独自死去的自己很可怜吧。
PRINTFORMW 我は……
PRINTFORML 
PRINTFORMW 不对，不会的。
PRINTFORMW 它的结局不可能是这样的。
PRINTFORMW 我知道的。我是知道的。
PRINTFORMW 它的最后什么都不会留下，什么都不会想。
PRINTFORMW 而且，恐怕就像小红帽一样，没有人会在意它的结局。
PRINTFORMW 因为狼是孤身一人。
PRINTFORMW 因为伤害过其他人的狼，是无法牵住谁的手的。
PRINTFORML 
GETFONT
	CHKFONT "游明朝"
	IF RESULT
		SETFONT "游明朝"
	ELSE
		CHKFONT "ＭＳ 明朝"
		SIF RESULT
		SETFONT "ＭＳ 明朝"
	ENDIF
	SETCOLOR 255,175,185
	PRINTFORMW 响起了翻动最后一页的声音，把硬硬的封底折起来，遮住封面上的狼。
	PRINTFORMW 取而代之的是小红帽、老婆婆和猎人三个人面带笑容围着桌子的图画。
	RESETCOLOR
	SETFONT RESULTS
PRINTFORML 
PRINTFORMW 人们『约定』了，不能杀害他人。
PRINTFORMW 哪怕是为了自己的生存而不得不杀害他人。
PRINTFORMW 而我杀掉了其他人。
PRINTFORMW 我知道我不能对那个人说『喜欢』的理由了。
PRINTFORMW 我一直故意对此视而不见。明明是这么简单的事情。
PRINTFORMW 僕，我。
PRINTFORMW 果然，是狼啊。
PRINTFORMW 
PRINTFORML 
RETURN 1

;はなのいみ
@K44_Languag_of_Flower
PRINTFORMW 我考虑了很多。
PRINTFORMW 考虑了很多之后明白了。
PRINTFORMW 为什么我……我会喜欢那个人。
PRINTFORMW 那个人找到了我。
PRINTFORMW 牵住了除了杀戮以外什么也不知道的我的手。
PRINTFORML 
PRINTFORMW 我是杀人犯。
PRINTFORMW 杀了无数的人。
PRINTFORMW 弄脏了无数次手。
PRINTFORMW 吞噬过无数人的生命。
PRINTFORML 
PRINTFORMW 尽管如此，还是把手伸到了我面前。牵起了……我的手。
PRINTFORMW 告诉了我牵手的温暖。
PRINTFORMW 想起了不用害怕什么就能安心的夜晚。
PRINTFORMW 学会了和人说话的方法。
PRINTFORMW 于是我明白了，我是一只吃人的狼。
PRINTFORML 
PRINTFORMW 我……是杀人凶手。是无论遇见谁都不假思索地吞吃的狼。
PRINTFORMW 吃掉了小红帽的大灰狼，真的会被小红帽喜欢吗?
PRINTFORMW 大灰狼该……我该怎么办呢?
PRINTFORMW 我……我可以喜欢上那个人吗?
PRINTFORMW 可以喜欢吗?
PRINTFORMW 我不知道。
PRINTFORMW 我不明白。
PRINTFORMW 我对那个人……
PRINTFORMW 
PRINTFORML 
RETURN 1

;どんなはな？
@K44_What_kind_of_Flower
PRINTFORMW 「……………」
PRINTFORMW 因为晚上醒来了，所以我摇摇晃晃地走着。
PRINTFORMW 拿着不用带着的刀。
PRINTFORMW 像做梦一样摇摇晃晃地走着。
PRINTFORMW 等回过神来，才发现到了以前的我游荡过的地方。
PRINTFORMW 回頭一看，有个人摇摇晃晃地向这边走来。
PRINTFORMW 我……
PRINTFORMW 
PRINTFORMW 我就像要逃跑一样跑了起来。
PRINTFORMW 一直跑，一直跑到全身都湿透为止。
PRINTFORMW 身上黏糊糊的液体，简直就像是杀人时流出来的血一样。
PRINTFORMW 感觉手掌看起来稍微有点脏得通红。
PRINTFORMW 但是、那是我的错觉。
PRINTFORMW 我现在。还没有在杀人。
PRINTFORMW 但是，我已经杀过人了。
PRINTFORMW 很多，很多。
PRINTFORMW 杀人是不可以的。
PRINTFORMW 但是，我只知道杀人。
PRINTFORMW 「%CNAME("二人称")%桑……、爸爸……妈妈……」
PRINTFORMW 僕、我……把别人……
PRINTFORMW 
PRINTFORML 
RETURN 1

;------------------------------------
;Ｖ系で使えまわせそうな辺り
;------------------------------------
@K44_V_TUKAIMAWASHI
IF CFLAG:花の意味 == 0
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「啊啊啊_HH_全部_HH_全部都_HH__HH_」"
		CALL PRINT_STRW, @"「嗯啾_HH_啊哈_HH_啊_HH_啊_HH_啊啊_HH_咕嘻_HH_」"
		CALL PRINT_STRW, @"「可以的_HH_啊_HH_嗯_HH_给我更多_HH_更多……_HH_全部射进来_HH__HH_」"
	ELSE
		CALL PRINT_STRW, @"「啊哈_HH_啊嗯_HH_啊_HH_嗯啊_HH_啊啊_HH__HH_」"
		CALL PRINT_STRW, @"「啊啊啊_HH_%CNAME("二人称")%桑的_HH_欧金金桑_HH_」"
		CALL PRINT_STRW, @"「把%CNAME("一人称")%的_HH_里面_HH_搅得_HH_乱七八糟吧_HH__HH_」"
	ENDIF
ELSEIF CFLAG:花の意味 == 1
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「_灰色_嘻呼_HH__HH__灰色_啊呜_HH__灰色_啊_HH__灰色_啊_HH__灰色_啊啊_HH_哈啊……_HH_哈啊_HH_哈啊_HH_」"
		CALL PRINT_STRW, @"「_灰色_噫_HH_啊_HH_咿_HH__灰色_嗯_HH__灰色_嗯嗯_HH__灰色_嗯嗯嗯_HH_嗯噫_HH_」"
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「_灰色_嗯……呼_HH_啊_HH__灰色_嗯嗯_HH_」"
		CALL PRINT_STRW, @"「」"
		CALL PRINT_STRW, @"「」"
	ENDIF
ELSEIF CFLAG:花の意味 == 2
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
		CALL PRINT_STRW, @"「」"
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
		CALL PRINT_STRW, @"「」"
		CALL PRINT_STRW, @"「」"
	ENDIF
ENDIF
RETURN 1
@K44_V_IKISOU
IF CFLAG:花の意味 == 0
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「啊哈_HH_啊啊啊_HH_啊啊啊_HH_啊_HH__HH_」"
	ENDIF
ELSEIF CFLAG:花の意味 == 1
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ELSEIF CFLAG:花の意味 == 2
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ENDIF
RETURN 1
@K44_V_IKISOU_PLAYER
IF CFLAG:花の意味 == 0
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「大鸡巴_HH_变大了_HH_在我的_HH_里面_HH_射出来_HH__HH_」"
	ENDIF
ELSEIF CFLAG:花の意味 == 1
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ELSEIF CFLAG:花の意味 == 2
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ENDIF
RETURN 1
@K44_V_40_1
IF CFLAG:花の意味 == 0
	IF RAND:3 == 0
		CALL PRINT_STRW, @"「」"
	ELSEIF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「哦咿_HH_啊_HH_啊_HH_哦゛_HH_哦゛_HH_啊゛_HH_」"
	ENDIF
ELSEIF CFLAG:花の意味 == 1
	IF RAND:3 == 0
		CALL PRINT_STRW, @"「」"
	ELSEIF RAND:2 == 0
		CALL PRINT_STRW, @"「_灰色_は──～～っ_HH__灰色_ひぐっ_HH__灰色_フーッ_HH__灰色_フーッ_HH_あ゛っ_HH_ん゛ひっ_HH_」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ELSEIF CFLAG:花の意味 == 2
	IF RAND:3 == 0
		CALL PRINT_STRW, @"「」"
	ELSEIF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ENDIF
RETURN 1
@K44_V_40_2
IF CFLAG:花の意味 == 0
	IF RAND:3 == 0
		CALL PRINT_STRW, @"「」"
	ELSEIF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ELSEIF CFLAG:花の意味 == 1
	IF RAND:3 == 0
		CALL PRINT_STRW, @"「」"
	ELSEIF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ELSEIF CFLAG:花の意味 == 2
	IF RAND:3 == 0
		CALL PRINT_STRW, @"「」"
	ELSEIF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ENDIF
RETURN 1
@K44_V_40_IKISOU
IF CFLAG:花の意味 == 0
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「哦゛哦゛哦゛_HH_啊゛啊啊_HH_啊咿_HH_啊_HH_啊啊゛_HH_啊゛_HH_啊゛_HH_啊゛_HH_」"
	ENDIF
ELSEIF CFLAG:花の意味 == 1
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ELSEIF CFLAG:花の意味 == 2
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ENDIF
RETURN 1
@K44_V_40_IKISOU_PLAYER
IF CFLAG:花の意味 == 0
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「用力_HH_用力_HH_插到_HH_最深处_HH_啊_HH_啊_HH_啊゛_HH_嗯啊啊_HH__HH_」"
	ENDIF
ELSEIF CFLAG:花の意味 == 1
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ELSEIF CFLAG:花の意味 == 2
	IF RAND:2 == 0
		CALL PRINT_STRW, @"「」"
	ELSE
		CALL PRINT_STRW, @"「」"
	ENDIF
ENDIF
RETURN 1
