@起床前メニュー上部分表示文章()
#FUNCTIONS

IF 起床前メニュー上部分表示フラグ
	RETURNF TIPS表示文章()
ELSE
	RETURNF かんたんチュートリアル表示文章()
ENDIF


@起床前メニュー上部分文章切り替え(入力番号)
#DIM 入力番号

IF 起床前メニュー上部分表示フラグ
	SELECTCASE 入力番号
		CASE 800
			起床前メニュー上部分表示番号 --
			SIF 起床前メニュー上部分表示番号 <= 0
				起床前メニュー上部分表示番号 = TIPS個数
		CASE 801
			起床前メニュー上部分表示番号 ++
			SIF 起床前メニュー上部分表示番号 > TIPS個数
				起床前メニュー上部分表示番号 = 1
		CASE 810
			起床前メニュー上部分表示番号 = 0
			起床前メニュー上部分表示フラグ = 0
		CASE 811
			起床前メニュー上部分表示番号 = 0
	ENDSELECT
ELSE
	SELECTCASE 入力番号
		CASE 800 TO 802
			起床前メニュー上部分表示番号 = 入力番号
		CASE 809
			起床前メニュー上部分表示番号 = 0
			起床前メニュー上部分表示フラグ = 1
		CASE 810
			起床前メニュー上部分表示番号 = 0
	ENDSELECT
ENDIF

@かんたんチュートリアル表示文章()
#FUNCTIONS
#DIMS 表示文章

;長さの目安：最初の全角空白と最後の<br>を除いて114まで

表示文章 '= ""
SELECTCASE 起床前メニュー上部分表示番号
	CASE 0
		表示文章 += "■简易教程<br>"
		表示文章 += "　显示基础操作指南。请选择项目。<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='800'>[800] 首先该做什么？</button><br>"
		表示文章 += "　<button value='801'>[801] 想快速进行性爱</button><br>"
		表示文章 += "　<button value='802'>[802] 这个角色有台词吗？</button><br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='809'>[809] 关闭简易教程</button><br>"
	CASE 800
		表示文章 += "■首先该做什么？<br>"
		表示文章 += "　请先选择[110] - 投放度假村广告，然后选择[1]发布常规广告。<br>"
		表示文章 += "　发布广告后角色才会开始造访度假村。<br>"
		表示文章 += "　之后选择[100]-起床即可进入度假村与角色互动。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] 返回简易教程</button><br>"
	CASE 801
		表示文章 += "■想快速进行性爱<br>"
		表示文章 += "　本版本需要一定步骤才能进行性爱。<br>"
		表示文章 += "　最快捷方式：通过[121]-能力展示选择目标角色，<br>"
		表示文章 += "　使用[110]设为爱慕对象，通过共同行动提升好感度。<br>"
		表示文章 += "　成功告白后，独处时选择[350]推倒即可进行性爱。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] 返回简易教程</button><br>"
	CASE 802
		表示文章 += "■这个角色有台词吗？<br>"
		表示文章 += "　通过[121]-能力展示选择[2000]过滤功能<br>"
		表示文章 += "　取消勾选[无台词]即可筛选有台词角色。<br>"
		表示文章 += "　注意：此筛选仅检测台词文件存在性，不保证内容质量。<br>"
		表示文章 += "　建议直接查看ERB文件确认台词完整度。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] 返回简易教程</button><br>"
ENDSELECT
RETURNF 表示文章


@TIPS表示文章
#FUNCTIONS
#DIMS 表示文章

;長さの目安：最初の全角空白と最後の<br>を除いて114まで

表示文章 = ■TIPS!<br>
SELECTCASE 起床前メニュー上部分表示番号
	CASE 0
		起床前メニュー上部分表示番号 = RAND(TIPS個数) + 1
		RESTART
	CASE 1
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　探索功能可通过起床前菜单或起床后前往玄关进行。<br>"
		表示文章 += "　内容上没有什么区别，但是如果从玄关离开的话会花费更多时间。<br>"
		表示文章 += "　推荐使用起床前菜单更有效率。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 2
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　本游戏版本主要在Discord进行开发交流。<br>"
		表示文章 += "　欢迎参与闲聊或潜水围观，请随时加入讨论。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 3
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　沿海森林深处的噬石兽击败后可重复挑战。<br>"
		表示文章 += "　可随机获取初级戒指与火之耳饰，建议每日讨伐至装备成型。<br>"
		表示文章 += "　其他迷宫BOSS多数也可通过再讨伐获取道具。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 4
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　度假村人气值直接影响每日收入。<br>"
		表示文章 += "　建议积极投放广告并合理分配员工避免积压杂务影响收益。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 5
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　人气度受度假村建设度影响存在上限。<br>"
		表示文章 += "　若广告投放后人气未提升，请优先开发新设施。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 6
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　射精目标选择繁琐时可使用自动设置功能。<br>"
		表示文章 += "　・OPTION > 功能切换 > 嘿咻 > 自动射精设置<br>"
		表示文章 += "　・日间行动界面[射精目标设置]<br>"
		表示文章 += "　均可进行相关配置。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 7
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += @"　本游戏存在<font color='#%カラーパレット_HTML("火属性")%'>火</font>、<font color='#%カラーパレット_HTML("水属性")%'>水</font>、<font color='#%カラーパレット_HTML("風属性")%'>风</font>、<font color='#%カラーパレット_HTML("土属性")%'>土</font>、<font color='#%カラーパレット_HTML("光属性")%'>光</font>、<font color='#%カラーパレット_HTML("闇属性")%'>暗</font>六属性及无属性。<br>"
		表示文章 += "　属性克制可提升伤害并减免受伤，战略意义重大。<br>"
		表示文章 += @"　克制链为<font color='#%カラーパレット_HTML("火属性")%'>火</font>＞<font color='#%カラーパレット_HTML("風属性")%'>风</font>＞<font color='#%カラーパレット_HTML("土属性")%'>土</font>＞<font color='#%カラーパレット_HTML("水属性")%'>水</font>＞<font color='#%カラーパレット_HTML("火属性")%'>火</font>的循环，<font color='#%カラーパレット_HTML("光属性")%'>光</font>与<font color='#%カラーパレット_HTML("闇属性")%'>暗</font>互相克制。<br>"
		表示文章 += "　请牢记克制关系。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 8
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　角色可装备戒指、耳饰、职业证。<br>"
		表示文章 += "　戒指提升基础属性。<br>"
		表示文章 += "　耳饰改变属性并强化奥义效果。<br>"
		表示文章 += "　职业证解锁特殊技能。<br>"
		表示文章 += "　部分稀有装备具有特殊效果。<br>"
		表示文章 += "<br>"
	CASE 9
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　属性克制时攻击力×1.3。<br>"
		表示文章 += "　属性被克制时攻击力×0.7。<br>"
		表示文章 += "　属性没有克制关系时攻击力不变。<br>"
		表示文章 += "　当角色属性与耳饰属性一致时，克制×1.4｜被克×0.75｜无克制×1.05。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 10
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　Ｖ・Ａ插入强度与速度影响快感和痛觉。<br>"
		表示文章 += "　Ｖ・Ａ感觉大于强度时增加快感，反之增加痛苦。<br>"
		表示文章 += "　速度需满足(润滑等级≥速度+3)才增加快感，反之增加痛苦。<br>"
		表示文章 += "　完全润滑时仅产生快感。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 11
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　道具强度影响快感获取。<br>"
		表示文章 += "　飞机杯、阴蒂夹、乳头夹直接增加快感。<br>"
		表示文章 += "　震动棒、肛塞、挤奶器需对应部位的感觉≥强度才能增加快感。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	;TIPSを増やしたら"起床前メニュー上部分.ERH"のTIPS個数も書き換えること
ENDSELECT
表示文章 += "　<button value='810'>[810] 显示简易教程</button>　　<button value='811'>[811] 更换提示</button>　　<button value='800'>[800] 上一个</button>　<button value='801'>[801] 下一个</button><br>"

RETURNF 表示文章
