
;-------------------------------------------------
;破旧装备再生
;-------------------------------------------------
@COMNAME_PLACE_383_1_11
#FUNCTION
TSTR:コマンド名受渡 = 破旧装备再生
RETURNF 1

;===================================================
;コマンドタイプ
;===================================================
@COMTYPE_383_1_11
#FUNCTION
TFLAG:コマンドタイプ受渡 = COMTYPE("単独可能")

@COM_TOOLTIP_383_1_11
LOCALS = <br>■破旧装备再生<br>
LOCALS += "对破旧戒指或耳饰进行再生的指令"
LOCALS += "<br>可随机获得新装备"
LOCALS += "<br>原装备品级越高越容易获得优质装备"
LOCALS += "<br>指令类型：可单独执行<br>获取来源：无"
LOCALS += "<br>专属经验值：无<br>"
TSTR:ツールチップ受渡 = %LOCALS%

@COM383_1_11

CALL 古ぼけた装備_再生処理

TIME += 60
RETURN 1

;-------------------------------------------------
;実行判定
;-------------------------------------------------
@COM_ABLE383_1_11
;条件に合う場合0（不許可）を返す
;どの条件にも引っかからないなら1（許可）を返す
;一括管理
SIF GLOBAL_COMABLE(383)
	RETURN RESULT
;隠密中はダメ
SIF CFLAG:PLAYER:隠密
	RETURN 0
RETURN 1

;-------------------------------------------------
;実行時メッセージ
;-------------------------------------------------
@MESSAGE_COM383_1_11



@古ぼけた装備_再生処理()
#DIMS HTML文字列
#DIM 改行数
#DIM 古指輪銅数
#DIM 古指輪銀数
#DIM 古指輪金数
#DIM 古耳飾り銅数
#DIM 古耳飾り銀数
#DIM 古耳飾り金数
#DIM CONST 銅ランク = 1
#DIM CONST 銀ランク = 3
#DIM CONST 金ランク = 5


古指輪銅数 = 素材アイテム数量算出("古旧戒指・铜")
古指輪銀数 = 素材アイテム数量算出("古旧戒指・银")
古指輪金数 = 素材アイテム数量算出("古旧戒指・金")
古耳飾り銅数 = 素材アイテム数量算出("古旧耳饰・铜")
古耳飾り銀数 = 素材アイテム数量算出("古旧耳饰・银")
古耳飾り金数 = 素材アイテム数量算出("古旧耳饰・金")


DRAWLINE
PRINTL 进行破旧装备再生，选择想要再生的破旧装备
PRINTL ※再生后的装备等级上限会随着故事的进展而提升
DRAWLINE

HTML文字列 = 
HTML文字列 += "<div rect='100,0,5662,1750' border='31' bcolor='#C0C0C0' padding='50,25,50'>"
HTML文字列 += "■戒指再生<br>"
IF 古指輪銅数 > 0
	HTML文字列 += @"　　<button value='0'>[0] 古旧戒指・铜　　　✕{古指輪銅数, 3}　进行再生</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[0] 古旧戒指・铜　　　✕{古指輪銅数, 3}　进行再生</font><br>"
ENDIF
IF 古指輪銀数 > 0
	HTML文字列 += @"　　<button value='1'>[1] 古旧戒指・银　　　✕{古指輪銀数, 3}　进行再生</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[1] 古旧戒指・银　　　✕{古指輪銀数, 3}　进行再生</font><br>"
ENDIF
IF 古指輪金数 > 0
	HTML文字列 += @"　　<button value='2'>[2] 古旧戒指・金　　　✕{古指輪金数, 3}　进行再生</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[2] 古旧戒指・金　　　✕{古指輪金数, 3}　进行再生</font><br>"
ENDIF
HTML文字列 += "<br>"
HTML文字列 += "■耳饰再生<br>"
IF 古耳飾り銅数 > 0
	HTML文字列 += @"　　<button value='10'>[10] 古旧耳饰・铜　　　✕{古耳飾り銅数, 3}　进行再生</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[10] 古旧耳饰・铜　　　✕{古耳飾り銅数, 3}　进行再生</font><br>"
ENDIF
IF 古耳飾り銀数 > 0
	HTML文字列 += @"　　<button value='11'>[11] 古旧耳饰・银　　　✕{古耳飾り銀数, 3}　进行再生</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[11] 古旧耳饰・银　　　✕{古耳飾り銀数, 3}　进行再生</font><br>"
ENDIF
IF 古耳飾り金数 > 0
	HTML文字列 += @"　　<button value='12'>[12] 古旧耳饰・金　　　✕{古耳飾り金数, 3}　进行再生</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[12] 古旧耳饰・金　　　✕{古耳飾り金数, 3}　进行再生</font><br>"
ENDIF
HTML文字列 += "<br>"
HTML文字列 += "<br>"
HTML文字列 += "<button value='999'>[999] 返回</button><br>"
HTML文字列 += "</div>"
HTML_PRINT HTML文字列
FOR 改行数, 0, 17
	PRINTL
NEXT

BINPUT
SELECTCASE RESULT
	CASE 0
		CALL 古ぼけた指輪抽選取得処理(銅ランク)
		CALL 素材消費処理("古旧戒指・铜")
		PRINTW 正在再生古旧戒指・铜…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML 获得了%RESULTS%！
		FORCEWAIT
		RESTART
	CASE 1
		CALL 古ぼけた指輪抽選取得処理(銀ランク)
		CALL 素材消費処理("古旧戒指・银")
		PRINTW 正在再生古旧戒指・银…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML 获得了%RESULTS%！
		FORCEWAIT
		RESTART
	CASE 2
		CALL 古ぼけた指輪抽選取得処理(金ランク)
		CALL 素材消費処理("古旧戒指・金")
		PRINTW 正在再生古旧戒指・金…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML 获得了%RESULTS%！
		FORCEWAIT
		RESTART
	CASE 10
		CALL 古ぼけた耳飾り抽選取得処理(銅ランク)
		CALL 素材消費処理("古旧耳饰・铜")
		PRINTW 正在再生古旧耳饰・铜…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML 获得了%RESULTS%！
		FORCEWAIT
		RESTART
	CASE 11
		CALL 古ぼけた耳飾り抽選取得処理(銀ランク)
		CALL 素材消費処理("古旧耳饰・银")
		PRINTW 正在再生古旧耳饰・银…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML 获得了%RESULTS%！
		FORCEWAIT
		RESTART
	CASE 12
		CALL 古ぼけた耳飾り抽選取得処理(金ランク)
		CALL 素材消費処理("古旧耳饰・金")
		PRINTW 正在再生古旧耳饰・金…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML 获得了%RESULTS%！
		FORCEWAIT
		RESTART
	CASE 999
		RETURN 0
ENDSELECT

